/* 
    Document   : custom1
    Created on : Jan 26, 2013, 10:48:41 PM
    Author     : amado
    Description:
        Purpose of the stylesheet follows.
*/


body#p-corporate   {background:#04243D url('/users/7/hub/bg-body_389.jpg') no-repeat top center fixed;}
#p-corporate .leftCol a   {color:#D54203;}
#p-corporate #rotator ul li .data h1 strong  {color:#D54203;}
#p-corporate .list-blog-posts ul li .info-line a  {color:#D54203;}
#p-corporate .comments ul li .author div  {color:#D54203;}
#p-corporate .comments ul li a  {color:#D54203;}
#p-corporate #filters ul li a.current  {color:#D54203;}
#p-corporate .infobox.blue  {border:1px solid #D54203;}
#p-corporate .table .data .rows span  {color:#D54203;}
#p-corporate #loginbox-panel div a  {color:#D54203;}
#p-corporate small  {color:#D54203;}
#p-corporate #top-menu .main li a:hover, #top-menu .main li a.current  {color:#D54203;}
#p-corporate #top-menu .main .current-dynamic > a  {color:#D54203;}
#p-corporate #header p  {color:#D54203;}
#p-corporate #path  {color:#D54203;}
#p-corporate .inner a  {color:#D54203;}
#p-corporate #bottom .column-220 .list li a  {color:#D54203;}
#p-corporate #twitter_update_list li a  {color:#D54203;}
#p-corporate .tags ul li a  {color:#D54203;}
#p-corporate #rotator ul li .data h1  {color:;}
#p-corporate #rotator ul li .data h1 strong  {color:#D54203;}
#p-corporate #rotator ul li .data p  {color:;}
/* button colors dropdowns */
#p-corporate .button.blue  {background:url(/hubs/themes/corporate/images/button-blue.png) no-repeat top left;}
#p-corporate #rotator .controls a  {background:url(/hubs/themes/corporate/images/rotator-controls.png) no-repeat 0 0;}
#p-corporate .project-list .work-slider .controls a  {background:url(/hubs/themes/corporate/images/rotator-controls.png) no-repeat 0 0;}
#p-corporate .sub-menu ul li a span  {background:url(/hubs/themes/corporate/images/arrow-blue.gif) no-repeat center left;}
#p-corporate .new ul li a  {background:url(/hubs/themes/corporate/images/arrow-blue.gif) no-repeat left 5px;}
#p-corporate .scrollmenu ul li a span  {background:url(/hubs/themes/corporate/images/arrow-blue.gif) no-repeat center left;}
#p-corporate .read-more.small  {background:url(/hubs/themes/corporate/images/read-more-small.png) no-repeat top left;}