@charset "utf-8";
/* CSS Document */

/* home form */
.home-form {}
.home-form .input-text {background:url(../images/home-form-input-text.jpg) no-repeat top left;width:290px;height:24px;line-height:24px;padding:0 10px;}
.home-form .input-textarea {background:url(../images/form-input-textarea.jpg) no-repeat top left;width:290px;height:63px;padding:10px;}


.home-form label {display:block;padding:6px 0;}
.home-form div {padding:0 0 15px 0;}
.home-form.reply div {padding:0 0 10px 0;}
.home-form .message {display:none;padding:0;margin:0;}
.home-form #alert ul {list-style:none;padding:20px 0 0 0;margin:0;}
.home-form #alert ul li {display:block;}
/* -- */


/* FORM, LIST, AND LABEL STYLES */
.custom-form fieldset {
	border: none;
}
.custom-form ul {
	list-style: none;
}
.custom-form ul li {
	clear: both;
	padding: 5px;
	background: none;
}
.custom-form ul li label {
	display: block;
	font-size: 15px;
	font-weight: bold;
	color: #000;
}
.custom-form ul li label span {
	font-size: 13px;
	font-weight: normal;
	color: #666;
}

/* INPUT STYLES */
.custom-form ul li input[type=submit] {background:url(../images/button-standard.png) no-repeat top left;width:126px;height:25px;line-height:27px;display:inline-block;padding:0;color:#656565;font-family:LucidaGrandeBold, Arial, sans-serif;font-size:12px;text-align:center;cursor:pointer;}
.custom-form ul li input[type=text] {background:url(../images/home-form-input-text.jpg) no-repeat top left;width:290px;height:24px;line-height:24px;padding:0 10px;}
.custom-form ul li input.small {
	width: 290px;
}
.custom-form ul li input.medium {
	width: 290px;
}
.custom-form ul li input.large {background:url(../images/form-input-text.jpg) no-repeat top left;width:440px;height:24px;line-height:24px;padding:0 10px;}

.custom-form ul li textarea {background:url(../images/form-input-textarea.jpg) no-repeat top left;width:290px;height:63px;padding:10px;}
.custom-form ul li textarea.small {background:url(../images/form-input-textarea.jpg) no-repeat top left;width:290px;height:63px;padding:10px;}
.custom-form ul li textarea.medium {background:url(../images/form-input-textarea.jpg) no-repeat top left;width:290px;height:63px;padding:10px;}
.custom-form ul li textarea.large {background:url(../images/form-input-textarea.jpg) no-repeat top left;width:439px;height:63px;padding:10px;}
.custom-form select {
	/* something here */
}
.custom-form ul li .checkboxDiv {
	/*margin:0;
	padding:0;*/
	display: inline-block;
}

/* SECTION HEADERS */
.custom-form ul h2 {
	margin-top: 20px;
	margin-bottom: 5px;
}

/* ERROR HIGHLIGHTING */
.custom-form .highlightError {
	border: 1px solid #ff0000;
}
.custom-form .checkboxDivHighlightError {
	padding: 1px;
	background-color: #ff0000;
}
