@font-face {font-family: 'LucidaGrandeRegular';src: url('lucida_grande-webfont.eot');src: local('☺'), url('lucida_grande-webfont.woff') format('woff'), url('lucida_grande-webfont.ttf') format('truetype');font-weight: bold;font-style: normal;}
@font-face {font-family: 'LucidaGrandeBold';src: url('lucida_grande_bold-webfont.eot');src: local('☺'), url('lucida_grande_bold-webfont.woff') format('woff'), url('lucida_grande_bold-webfont.ttf') format('truetype');font-weight: bold;font-style: normal;}
@font-face {font-family: 'HelveticaNeueMdCn';src: url('helveticaneueltpro-mdcn-webfont.eot');src: local('☺'), url('helveticaneueltpro-mdcn-webfont.woff') format('woff'), url('helveticaneueltpro-mdcn-webfont.ttf') format('truetype');font-weight: bold;font-style: normal;}
@font-face {font-family: 'HelveticaNeueLtCnO';src: url('helveticaneueltcom-ltcno-webfont.eot');src: local('☺'), url('helveticaneueltcom-ltcno-webfont.woff') format('woff'), url('helveticaneueltcom-ltcno-webfont.ttf') format('truetype');font-weight: bold;font-style: normal;}

* {margin:0;padding:0;}
html {height:100%;margin:0;padding:0;}
body {margin:0;padding:0;background:url(../images/bg-body.jpg) no-repeat top center #20101f;font-family:Arial, Helvetica, sans-serif;font-size:12px;height:100%;color:#808080;}
img{border:0;}
a, a:hover{text-decoration:none;outline:none;}
h1,h2,h3,h4,h5,h6 {padding:0;margin:0;font-weight:normal;}
p {line-height:17px;}
#content p {padding:10px 0;}
.clear{clear:both;font-size:0;line-height:0;display:block;}
form, fieldset {padding:0 !important;margin:0 !important;border:0 !important;}
input, textarea, select {border:0;font-family:Arial, Helvetica, sans-serif;font-size:12px;padding:0;margin:0;}
small, big {padding:0;margin:0;}
small {color:#666666;font-size:15px;font-family:HelveticaNeueLtCnO, Helvetica, sans-serif;}