body#hubeditor {
	background:url('http://pastephp.com/aquin/images/backgrounds/body.jpg');
	font-family: Arial, Helvetica, sans-serif;
}
#hubeditor a  {
	text-decoration: none;
	outline: none;
}
#hubeditor ul  {
	list-style: none;
}
#hubeditor fieldset  {
	border:0;
}

/****** Z-index CHART ***
	header/sidebars: 	199-201
	modal: 	 			400 - 410
	css code mirror 	700
*/

/* CSS OVERLAY */
#hubeditor #cssModalOverlay {
	position: absolute;
	top: 55px;
	left:0;
	right:0;
	bottom:0;
	background: #fff;
	z-index: 600;
	visibility:hidden;
}
/*
#hubeditor .CodeMirror {
	border: 1px solid #eee;
	height: auto;
}
#hubeditor .CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: auto;
}

#hubeditor .CodeMirror-scroll {
    height: 300px;
    outline: medium none;
    overflow: auto;
    position: relative;
}
*/
/* THEMES BAR */
#hubeditor #switchThemesCnt  {
	z-index: 210;
	overflow-y: hidden;
	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F8F8F8), to(#E8E8E8));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #F8F8F8, #E8E8E8);
  	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #F8F8F8, #E8E8E8);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #F8F8F8, #E8E8E8);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #F8F8F8, #E8E8E8);
  	padding: 10px;
  	border: 1px solid #333;
  	display: none;
  	-moz-box-shadow: 0 5px 5px #333;
	-webkit-box-shadow: 0px 5px 5px #333;
	box-shadow: 0px 5px 5px #333;
	color:#666;

}
#hubeditor #switchThemesCnt li  {
	float: left;
	padding: 10px;
}

#hubeditor #switchThemesCnt img  {
	width:150px;
	height: 150px;
	border:3px solid #333;
	cursor: pointer;
}

/* RIGHT SIDE MENU */
#hubeditor #rightSideBar {
	margin-left:15px;
	border-left:1px solid #ccc;
}
#hubeditor #tabs > ul {
	list-style: none;
	overflow: auto;
	background: #ccc;
    color: #636363;
	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F8F8F8), to(#E8E8E8));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #F8F8F8, #E8E8E8);
  	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #F8F8F8, #E8E8E8);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #F8F8F8, #E8E8E8);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #F8F8F8, #E8E8E8);
  	border-bottom: 1px solid #CDCDCD;
}
#hubeditor #tabs > ul > li  {
	float: left;

}
#hubeditor #tabs a  {
	padding: 10px;
	color:#636363;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
}
#hubeditor .tabContent  {
	font-size: 12px;
}
#hubeditor .propInputCnt  {
	font-size: 12px;
	border-top:1px solid #fff;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}
#hubeditor .propInputCnt > label  {
	display: block;
	color:#5F5F5F;
	padding: 5px;
}
#hubeditor .propInputCnt input  {
 	-moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FDFDFD;
    border: 1px solid #D7D7D7;
    box-shadow: 0 1px 0 #FFFFFF;
    color: #858585;
    display: inline-block;
    font-size: 11px;
    height: 26px;
    padding: 6px 7px;
    margin:0 5px;
    width: 95%;
}

/* LEFT SIDE MENU */
#hubeditor #leftSideBar  {
	background: url('http://pastephp.com/aquin//images/backgrounds/sidebar.jpg');
	border-top: 1px solid #666;
}
#hubeditor .leftSideSpan  {
	display: block;
    padding-top: 4px;
    text-shadow: 0 1px 0 #303030;
}
#hubeditor #header ul.right  {
	border-left:1px solid #2E2E2E;
	border-right: 1px solid #2E2E2E;
}
#hubeditor .leftLI  {
    border-left: 1px solid #555555;
    border-right: 1px solid #555555;
    position: relative;
    text-align: center;
    float: left;
}
#hubeditor .leftNavHyperlink  {
    background: -moz-linear-gradient(center top , rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.2) 100%) repeat scroll 0 0 transparent;
    color: #BABABA;
    display: block;
    font-size: 11px;
    padding: 6px 0 6px;
    width: 100px;
}

/* TOP MENU */
#hubeditor #header  {
	background: url('http://pastephp.com/aquin//images/backgrounds/top.jpg');
	border-bottom: 1px solid #fff;
	color:#ccc;
}

#hubeditor #header h1, #hubeditor .crumb.right {
    margin-top: 9px;
}

#hubeditor #header h1  {
    background-image: linear-gradient(#444444, #000000);
    border-bottom: 1px solid #202020;
    border-top: 1px solid #202020;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35) inset;
    color: #FFFFFF;
    float: left;
    font-size: 15px;
    padding: 7px 10px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid #202020;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #202020;
    border-top-right-radius: 5px;
    margin-left: 30px;
}

#hubeditor .logo  {
	float: left;
	margin-left: 10px;
    margin-top: 2px;
}

#hubeditor .crumb.right  {
    float: right;
    margin-left: 0;
    margin-right: 15px;

}
#hubeditor .crumb a.crumb-link.current, #hubeditor .crumb a.crumb-link.current:hover  {
    background-image: linear-gradient(#3E9CE3, #2A6999);
    box-shadow: 0 0 10px 5px rgba(11, 11, 11, 0.35) inset;
}
#hubeditor .crumb a.crumb-link:first-child  {
    border-bottom-left-radius: 5px;
    border-left: 1px solid #202020;
    border-top-left-radius: 5px;
}
#hubeditor .crumb a.crumb-link  {
    background-image: linear-gradient(#444444, #000000);
    border-bottom: 1px solid #202020;
    border-top: 1px solid #202020;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35) inset;
    color: #FFFFFF;
    float: left;
    font-size: 15px;
    padding: 7px 10px;
}
#hubeditor .crumb a.crumb-link:last-child  {
    border-bottom-right-radius: 5px;
    border-right: 1px solid #202020;
    border-top-right-radius: 5px;
}

/* TEMPLATE AREA */
#hubeditor .templateArea  {
	border:1px solid #666;
}

/* FOOTER */
#hubeditor #footer  {
	z-index: 98;
	display: none;
}

/*Drag and drop Icons */
#hubeditor ul.dragNDrop  {
    left: 5px;
    list-style: none outside none;
    overflow: visible;
    position: absolute;
    top: 0;
}

#hubeditor ul.dragNDrop > li  {
	float: left;
	width: 50px;
	margin:5px;
	position: relative;
}

#hubeditor ul.dragNDrop .iconDesc  {
	position: absolute;
	top:2px;
	left:35px;
	background-color:rgba(0,0,0,0.25);
	color:#fff;
	padding: 8px 20px;
	width: auto;
	font-size: 12px;
	display: none;
}

#hubeditor ul.dragNDrop:hover .iconDesc  {
	display: block;
}

#hubeditor .dragIcon  {
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width:32px;
	height:32px;
	display: block;
}

#hubeditor .dragIcon:hover  {
	background-position: 0px -120px;
}

#hubeditor .dragIcon:hover .iconDesc  {
	background-color:rgba(0,0,0,0.75);
}

#hubeditor .dragIcon.iconText  {
	background-image: url('../images/icon_text.png');
}
#hubeditor .dragIcon.iconBox  {
	background-image: url('../images/icon_box.png');
}
#hubeditor .dragIcon.iconButton  {
	background-image: url('../images/icon_button.png');
}
#hubeditor .dragIcon.iconForm  {
	background-image: url('../images/icon_form.png');
}
#hubeditor .dragIcon.iconHtml  {
	background-image: url('../images/icon_html.png');
}
#hubeditor .dragIcon.iconImage  {
	background-image: url('../images/icon_image.png');
}
#hubeditor .dragIcon.iconPageSection  {
	background-image: url('../images/icon_page-section.png');
}
#hubeditor .dragIcon.iconSocial  {
	background-image: url('../images/icon_social.png');
}
#hubeditor .dragIcon.iconVideo  {
	background-image: url('../images/icon_video.png');
}

#hubeditor .topNavIcon  {
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 32px;
    margin: 0 auto;
    position: relative;
    top: -5px;
    width: 32px;
} 

#hubeditor .iconScript  {
	background-image: url('../images/icon_scripts.png');
}

#hubeditor .iconMeta  {
	background-image: url('../images/icon_title_meta.png');
}

#hubeditor .iconCss  {
	background-image: url('../images/icon_stylesheets.png');
}

#hubeditor .iconSave  {
	background-image: url('../images/icon_save.png');
}

#hubeditor .topNavIcon + .leftSideSpan  {
	position: relative;
	top:-5px;
}

/* Template Navigation - Sub Header */
#hubeditor #subHeader {
	background: #000;
}
#hubeditor #templateNavigation {

}

#hubeditor #templateNavigation > li {
	float: left;
}

#hubeditor #templateNavigation > li > a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #242424;
    border-color: #333333 #333333 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-width: 1px 1px medium;
    color: #CDCDCD;
    font-size: 11px;
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    margin: 0 2px 0 0;
    padding: 4px 9px 5px;
    position: relative;
    top:1px;
}

#hubeditor #templateNavigation > li > a.selected  {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #333333;
    border-color: #505050 #1A1A1A -moz-use-text-color #505050;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #6DA9E7;
    height: 25px;
    line-height: 25px;
    padding: 4px 8px 5px;
}

#hubeditor #templateNavigation > li.hasSubMenu > a {
	padding-right: 25px;
	background-image: url('../images/icon_menuDown.png');
	background-repeat: no-repeat;
	background-position: right center;
}

#hubeditor ul.sub-menu {
	background: #242424;
	display: none;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	border:1px solid #333;
	position: relative;
	top:1px;
}

#templateNavigation > li.hasSubMenu > a:hover + .sub-menu,
ul.sub-menu:hover,
#hubeditor #templateNavigation > li.hasSubMenu.childSelected  {
	display: block;
}

#hubeditor ul.sub-menu a  {
	color: #CDCDCD;
    font-size: 11px;
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    margin: 0 2px 0 0;
    padding: 4px 9px 5px;
}

#hubeditor ul.sub-menu > li  {
	border-top:1px solid #000;
	border-bottom: 1px solid #333;
}

#hubeditor ul.sub-menu > li:last-child  {
	border-bottom:0;
}

#hubeditor #templateNavigation a:hover  {
	color: #fff;
}

/* MODAL STYLES */

#hubeditor .SQmodalWindowContainer  {
	z-index: 400;
}

/*

#hubeditor .ui-dialog  {
    background: none repeat scroll 0 0 #808080;
    border-radius: 5px 5px 5px 5px;
    padding: 3px;
    position: absolute;
    width: auto;
    border:2px solid #666;
}
#hubeditor .ui-helper-clearfix:after  {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#hubeditor .ui-draggable .ui-dialog-titlebar  {
    cursor: move;
}
#hubeditor .ui-dialog .ui-dialog-titlebar  {
    background: -moz-linear-gradient(center top , #F8F8F8 0%, #E8E8E8 100%) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CDCDCD;
    box-shadow: 0 1px 0 #FFFFFF;
    position: relative;
    text-shadow: 0 1px white;
}
#hubeditor .ui-corner-all  {
    border-radius: 2px 2px 2px 2px;
}
#hubeditor .ui-widget-header  {
    font-weight: bold;
}

#hubeditor .ui-helper-clearfix  {
    display: inline-block;
}
#hubeditor .ui-helper-clearfix  {
    display: block;
}
#hubeditor .ui-dialog .ui-dialog-content  {
    background: none repeat scroll 0 0 #F5F5F5;
    clear: both;
    overflow: auto;
    padding: 10px 12px;
    position: relative;
}
#hubeditor .ui-widget-content  {
    background: none repeat scroll 0 0 #FAFAFA;
    box-shadow: 0 2px 2px -2px #CCCCCC;
    font-size: 12px;
}
#hubeditor .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset  {
    margin: 0 4px;
    text-align: right;
}
#hubeditor .ui-dialog .ui-dialog-title  {
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
}
#hubeditor .ui-dialog .ui-dialog-titlebar-close  {
    height: 18px;
    margin: -10px 0 0;
    padding: 1px;
    position: absolute;
    right: 6px;
    top: 50%;
    width: 19px;
}
#hubeditor .ui-widget-header a  {
    color: #222222;
}
#hubeditor .ui-widget-content a  {
    color: #222222;
}
#hubeditor .ui-corner-all  {
    border-radius: 2px 2px 2px 2px;
}
#hubeditor .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset  {
    margin: 0 4px;
    text-align: right;
}
#hubeditor .ui-dialog .ui-dialog-buttonpane button  {
    background: -moz-linear-gradient(center top , #5BA5CB 0%, #3A70AB 100%) repeat scroll 0 0 transparent;
    border: 1px solid #3E76AF;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px 0 #66B2D2 inset;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    margin: 0 5px;
    padding: 7px 16px;
    text-shadow: 0 -1px #6F6F6F;
}
#hubeditor .ui-dialog .ui-dialog-titlebar-close span  {
    display: block;
    margin: 1px;
    opacity: 0.6;
}
#hubeditor .ui-widget-header .ui-icon  {
    background-image: url("http://pastephp.com/hybrid/themes/default/images/jquery_ui/ui-icons_222222_256x240.png");
}
#hubeditor .ui-icon-closethick  {
    background-position: -96px -128px;
}
#hubeditor .ui-icon  {
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}
#hubeditor .ui-helper-clearfix:after  {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#hubeditor .ui-dialog .ui-dialog-buttonpane  {
    background: -moz-linear-gradient(center top , #F8F8F8 0%, #E8E8E8 100%) repeat scroll 0 0 transparent;
    border-top: 1px solid #CDCDCD;
    font-size: 0.9em;
    padding: 10px 0;
    text-shadow: 0 1px white;
}
#hubeditor .ui-widget-overlay  {
    background: url("../images/pageOverlay.png") repeat scroll 0 0 #AAAAAA;
    opacity: 0.6;
}
#hubeditor .ui-widget-overlay  {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

*/

/* MODAL FORMS */
#hubeditor .modalFormCnt label {
	width:100px;
	display: block;
}
#hubeditor .modalFormCnt input {
	border:1px solid #666;
	padding: 4px;
	
}

/*basics*/
#hubeditor .left  { float: left }
#hubeditor .right  { float: right }
#hubeditor .clear  { clear: both }
#hubeditor .desc  { font-size: smaller; }
#hubeditor iframe  {border:0;}


.CodeMirror-lines {
    color: #5F5F5F;    
}

#hubeditor .CodeMirror-activeline-background {background: #e8f2ff !important;}