/* 
    Document   : editor
    Created on : Feb 5, 2013, 7:34:36 AM
    Author     : amado
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

/* qubewidge */
.qw {
    
}

.qwOver {
    background-color: #004099;
}

.qw-text {
    
}