=body {
	background-color: #FFFFFF !important;
	font-family: ProximaNovaRegular, Helvetica, Arial, sans-serif !important;
}
.wrapper {
	background : url("https://subscriptions.zoho.com/subscribe/bgImage?subscribe_id=3d6dfa6b8f1c23d73137f00f12cd98df6a2bba0f6b053217afe8ded60e8a6aa6");
	background-attachment : scroll;
	background-repeat : repeat-x;
	background-position : center center;
}
.order-summary-container {
	border: 1px solid #E0E0E0;
	border-radius: 10px;
	border-collapse: separate;
	background-color: #FFFFFF;
}
.order-summary-container .header div {
	border-bottom: 1px solid #E0E0E0;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
}
.order-summary-container .row .cell {
	padding: 15px 10px;
}
.order-summary-container .row .last-cell {
	padding: 15px 31px 15px 15px;
}
.order-summary-container .sub-total-row {
	border-top: 1px dashed #E0E0E0;
	font-size: 16px;
}
.order-summary-container .total-row {
	border-top: 1px dashed #E0E0E0;
}
.order-summary-container .total-amount {
	color: #000000;
	font-size: 16px;
	font-weight: 400;
}
.order-summary-container div {
	text-align: right;
	color: #000000;
	font-size: 16px;
	font-weight: 400;
}
.v2-container {
	max-width: 600px !important;
}
.v2-container .order-container .os-banner {
	background: #28A5ED;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.v2-container .order-container label {
	color: #FFFFFF !important;
	padding: 15px 0;
	margin: 0 !important;
}
.v2-container .order-container .total-row div {
	color: #28A5ED;
}
.text-left {
	text-align: left !important;
}
/* sub-header */
#hp-form label {
	font-size: 16px;
	color: #000000;
	margin: 0 0 10px;
	font-weight: 400;
}
.form-group {
	margin-bottom: 20px;
}
.form-control {
	background-color: #FFFFFF !important;
	height : 32px !important;
	border-radius: 0.000px !important;
	box-shadow: none !important;
}
::-webkit-input-placeholder {
color: #E0E0E0 !important;
}
:-moz-placeholder { /* Firefox 18- */
color: #E0E0E0 !important;
}
::-moz-placeholder { /* Firefox 19+ */
color: #E0E0E0 !important;
}
:-ms-input-placeholder {
color: #E0E0E0 !important;
}
input, select {
	font-size: 14px !important;
	color: #555;
}
.card-address-help {
	font-size : 14px !important;
	color: #000000 !important;
}
.control-label {
	color: #EDEDED;
	font-size: 14px;
}
.product-type {
	font-size: 8px;
	padding: 2px;
	border-radius: .25em;
	text-transform: uppercase;
	color: #fff;
}
.goods {
	background-color: #8ebede;
}
.service, .digital_service {
	background-color: #93dbb8;
}
/* submit button */
.submit-button {
	color: #FFFFFF;
	background: #28A5ED;
	font-size : 16px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	border-radius : 0.000px;
	padding: .8em 3em;
	border-style: none;
}
.submit-button:hover {
	text-decoration: none;
	background: #258DCA;
	cursor: pointer;
}
@media (max-width: 600px) {
.styledselect {
	min-width : 100px;
}
.control-label {
	margin: 10px 0 5px !important;
}
}
@media (max-width: 480px) {
.selectbox {
	margin-right: 25px;
}
}
@media (max-width: 350px) {
.selectbox {
	margin-right: 50px;
}
}
.info-container {
	border : 1px solid #E0E0E0;
}
.zs-hp-header-footer {
	background-color: #ffffff;
}
==

