body {
	background: #fff;
}

body > .container {
	width: 100%;
	position: relative;
}

#hidden {
	display: none !important;
}

.actionButtons {
	border-radius: 0px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}

body .drop-hover {
	border: 3px dashed #7CBDE8;
	height: 150px;
	background: #ECF0F1;
	box-shadow: 0 0 10px #CDCDCD;
}

#loader {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	z-index: 10000;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

body .btn-warning {
	background-color: #F39C12;
}

body .btn-warning:hover {
	background-color: #F4A62A;
}

body .fileinput .fileinput-preview {
	cursor: default !important;
}

body .btn-file > input[type="file"] {
	position: absolute !important;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

/* header */

header {
	position: relative;
	margin: 0 auto;
	padding-bottom: 5px;
	width: 100%;
	box-sizing: border-box;
}

header.affix {
	left: 0;
    padding-left: 50px;
	padding-right: 2.3%;
    width: 100%;
    z-index: 100;
    padding-right: 2.4%;
	box-shadow: 0 0 10px #666666;
	background:#ffffff;
}

header .modes {
	margin: 10px 0px 0px;
	width: 460px;
	text-align: center;
	margin-left: 50px;
}

header .modes #modeContent {
	display: none;
}

header .modes > b {
	display: block;
	float: left;
	text-transform: uppercase;
	font-size: 13px;
}

header .modes > label {
}

header .modes > label.radio.primary {
	display: inline-block;
	margin-top: 0px !important;
}

header .modes > label {
	margin-right: 20px;
}

header .modes > label:last-child {
	margin-right: 0px;
}

/* end header */



/* style editor */

.styleEditor {
	position: fixed;
	left: -300px;
	top: 0px;
	height: 100%;
	width: 300px;
	background: #fff;
	z-index: 1000;
	padding: 20px;
	overflow-y: auto;
	overflow-x: visible;
}

.styleEditor .tab-content {
	padding: 0px;
	border: 0px;
	border-radius: 0px;
	margin-bottom: 20px;
	border-bottom: 2px dashed #ccc;
}

.styleEditor .nav-tabs li span {
	font-size: 12px;
	color: #34495E;
}

.styleEditor form {
	width: 100%;
	overflow: visible;
	position: relative;
	margin-bottom: 20px;
}

.styleEditor > a.close {
	position: absolute;
	top: 20px;
	right: 15px;
	font-size: 20px;
}

.styleEditor h3 {
	font-size: 17px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 30px;
}

.styleEditor .control-label {
	line-height: 20px;
	padding-top: 6px;
	font-size: 13px;
	float: left;
	width: 55%;
}

.styleEditor .form-group {
	position: relative;
	margin-bottom: 10px;
	min-height: 40px;
}

.styleEditor .form-group > input {
	float: right;
	width: 42%;
	text-overflow: ellipsis;
}

.styleEditor .form-group > .btn-group.select {
	float: right;
	width: 42%;
}

.styleEditor .form-group > .btn-group.select > .btn {
	width: 100%;
}

.styleEditor .form-group > .btn-group.select .dropdown-menu {
	right: 0px;
	left: auto;
}

.styleEditor .form-group > .sp-replacer {
	float: right;
	width: 42%;
	border: 2px solid #bdc3c7;
	height: 35px;
	background: #fff;
	padding: 6px;
}

.styleEditor .form-group .sp-preview {
	width: 75%;
	border: 0px;
}

body .sp-container {
	border: 2px solid #bdc3c7;
}

body .sp-container .sp-palette-container {
	border-right: 2px solid #bdc3c7;
}

body .sp-container .sp-picker-container {
	border-left: 0px;
}

body .sp-container button, body .sp-container button:hover {
	background-image: none;
	background-color: #1ABC9C;
	color: #fff;
	border-radius: 0px;
	border: 0px;
	font-family: "Lato",​Helvetica,​Arial,​;
	font-weight: normal;
	padding: 0px 12px;
	text-shadow: none;
	line-height: 31px;
	text-transform: uppercase;
}

body .sp-input {
	border-radius: 0px;
	background: #fff;
	border: 1px solid #ccc;
}

.styleEditor .form-group > input.active {
	position: absolute;
	right: 0px;
	width: 100%;
}

.styleEditor div#styleElements {
	margin-bottom: 0px;
}

.styleEditor ul.breadcrumb {
	background: #E1E0E0;
	border-radius: 0px;
	font-size: 14px;
	text-transform: uppercase;
}

.styleEditor .breadcrumb > li:after {
	color: #24bfa0;
}

.styleEditor .breadcrumb .active {
    color: #24bfa0;
    font-weight: bold;
}

.styleEditor .nav-tabs > li > a {
	padding: 7px 15px 8px;
}

.styleEditor .sideButtons {
	margin: 0px 0px 10px;
	width: 100%;
}

.styleEditor .sideButtons > * {
	float: left;
	width: 33.33%;
}

.styleEditor p.or {
	color: #7F8C8D;
	font-weight: bold;
	font-size: 15px;
	border-bottom: 2px solid #BDC3C7;
	line-height: 0px;
	margin-bottom: 25px;
}

.styleEditor p.or span {
	background: #F9F9F9;
	padding: 0px 10px;
}

.styleEditor .link_Tab .btn-group {
	margin-bottom: 25px;
}

.styleEditor .link_Tab .btn-group, .styleEditor .link_Tab .btn-group button {
	width: 100%;
}

.styleEditor .link_Tab .btn-group .dropdown-menu {
	right: 0px;
	left: auto;
}

.styleEditor .link_Tab input {
	margin-bottom: 20px;
}

.styleEditor ul.nav-tabs li.active a {
	background-color: #f9f9f9;
	border-color: #e1e4e7 #e1e4e7 #f9f9f9;
}

.styleEditor .fileinput .thumbnail {
	border-radius: 0px;
}

.styleEditor .imageFileTab > input {
	margin-bottom: 20px;
}

.styleEditor .imageFileTab > .form-group {
	margin-bottom: 20px;
}

.styleEditor #icons_chosen {
	width: 100% !important;
	margin-bottom: 30px;
}

/* end style editor */



/* side */

.menu {
	position: fixed;
	top: 0;
	left: -190px;
	height: 100%;
	z-index: 1000;
}

.menu .toggle {
	position: absolute;
	top: 0;
	right: -48px;
	width: 48px;
	height: 48px;
	background: #C57FE5;
	border-radius: 0 6px 6px 0;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.menu:hover .toggle,
.menu .toggle:hover {
	background: #009fda;
}

.menu .main {
	width: 190px;
	height: 100% !important;
	float: left;
	background: #fff;
	box-shadow: 0 0 5px rgba(77,85,91,0.4);/* #4d555b */
	overflow-y: auto;
}

.menu .main > ul {
	margin: 0;
	padding: 0;
}

.menu .main > ul > li {
	list-style: none;
	list-style-type: none;
}

.menu .main > ul > li > a {
	padding-left: 30px;
	display: block;
	color: #748a96;
	font-size: 14px;
	line-height: 34px;
	text-decoration: none;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.menu .main > ul#elements > li > a:hover,
.menu .main > ul#elements > li > a.active {
	color: #fff;
	background: #00aeef;
}

.main > .sideButtons {
	margin-left: 20px;
	width: 170px;
	margin-bottom: 20px;
}

.main > .sideButtons > * {
	margin: 0px;
	float: left;
	width: 50%;
}

.main > hr {
	border-top: 1px dashed #ECF0F1 !important;
}

.menu .second {
	position: absolute;
	left: 190px;
	width: 0;
	height: 100%;
	float: left;
	display: none;
	background: #727d84;
	box-shadow: inset 0 0 5px rgba(77,85,91,0.4);/* #4d555b */
	overflow-y: auto !important;
	z-index: 1000;
}

.menu .second .hideSecond {
	display: block;
	font-size: 15px;
	margin-left: 10px;
	margin-top: 5px;
	text-transform: uppercase;
    color:#5ba5cb;
}

.menu .second ul {
	margin: 0px;
	padding: 0px;
}

.menu .second ul li, li.element {
	list-style: none;
	list-style-type: none;
	padding: 15px 15px 0px;
}

.menu .second ul li, li.element > img {
	width: 100%;
	max-width: 100%;
	cursor: move;
}

li.element {
	padding: 0px;
}

.menu .second ul li iframe {
	border: 0px;
	width: 270px;
	background: #fff;
	
}

.menu .second ul li iframe html {
	-ms-zoom: 0.25;
	        -moz-transform: scale(0.25);
	        -moz-transform-origin: 0 0;
	        -o-transform: scale(0.25);
	        -o-transform-origin: 0 0;
	        -webkit-transform: scale(0.25);
	        -webkit-transform-origin: 0 0;
}

.menu .second ul li .zoomer-wrapper a {
	cursor: move;
}

.menu .main ul#pages {
	margin-bottom: 15px;
}

.menu .main ul#pages li {
	display: block;
	height: 35px;
	cursor: pointer;
}

.menu .main ul#pages li.active {
	background: #1f2e3c;
}

.menu .main ul#pages li input {
	float: left;
	font-size: 16px;
	height: 35px;
	margin: 0;
	padding: 0;
	width: 60%;
	margin-left: 20px;
	border: 0px;
	color: #ecf0f1;
	background: none;
}

.menu .main ul#pages li > a {
	float: left;
}

.menu .main ul#pages li > span {
	float: right;
	font-weight: normal;
	font-size: 12px;
	margin-right: 20px;
	margin-top: 8px;
	display: none;
}

.menu .main ul#pages li.active > span {
	display: block;
}

.menu .main ul#pages li > span a {
	color: #CBD0D3;
	float: right;
	margin-left: 5px;
}

.menu .main ul#pages li > span a.btn {
	color: #fff;
	position: relative;
	top: -3px;
	display: none;
}

.menu .main ul#pages li.active.edit > span a.btn {
	display: inline;
}

.menu .main ul#pages li.active.edit > span .fileDel, .menu .main ul#pages li.active.edit > span .fileEdit {
	display: none;
}

.menu .main ul#pages li > span a:hover.fileDel {
	color: #E74C3C;
}

.menu .main ul#pages li > span a:hover.fileEdit {
	color: #2ECC71;
}

/* end side */


#frame {
	display: block;
	border: 0px;
}

.screen {
	position: relative;
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #b0daee;
	border-radius: 6px;
	overflow: hidden;
}

.screen .zoomer-wrapper {
	background: #fff;
}

.screen .start {
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 99;
}

.screen .start > span {
	position: relative;
	margin: 180px auto 0;
	padding: 0 18px;
	width: 380px;
	line-height: 28px;
	display: block;
	background: #00aeef;
	border-radius: 6px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
	box-sizing: border-box;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.screen .toolbar {
	background: #d4e9f4;
	border-bottom: 1px solid #b0daee;
	height: 39px;
	padding: 0 20px;
}

.screen .toolbar .buttons {
	padding: 14px 0;
	height: 10px;
	float: left;
}

.screen .toolbar .title {
	margin-right: 45px;
	padding-top: 8px;
	font-size: 17px;
	font-weight: 500;
	color: #57a5c4;
	text-align: center;
	line-height: normal;
}

.screen .toolbar .left {
	margin-right: 5px;
	width: 10px;
	height: 10px;
	float: left;
	display: block;
	border-radius: 10px;
}

.screen .toolbar .left.red {
	background: #ea413e;
}

.screen .toolbar .left.yellow {
	background: #f4a41d;
}

.screen .toolbar .left.green {
	background: #009e63;
}

.screen .frameWrapper {
	background: #fff;
	padding-top: 0px;
	position: relative;
}

.screen .frameWrapper.empty {
	min-height: 400px;
}

.screen .frameWrapper #pageList ul {
	list-style: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: none;
	height: 100%;
	min-height: 300px;
}

.screen .frameWrapper #pageList ul.active {
	display: block;
}

.screen .frameWrapper #pageList ul li {
	display: block;
	overflow: hidden;
	position: relative;
}

.screen .frameWrapper #pageList ul li .editorButtons {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
}

.screen .frameWrapper #pageList ul iframe {
	border: 0px;
	width: 100%;
}

.screen .frameWrapper #pageList ul li .zoomer-cover {
	cursor: move;
	overflow: hidden !important;
}

.screen .frameWrapper #pageList ul li .zoomer-small, .screen .frameWrapper #pageList ul li .zoomer-small iframe {
	overflow: hidden !important;
	overflow-y: hidden !important;
}

.screen .frameCover {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.screen .aceEditor {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.screen .editor2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width:100%;
	overflow-y: auto;

}



/* modals */
.modal.small-modal > .modal-dialog,
.modal.small-modal .modal-content {
	width: 400px;
}

/* some flat ui resets */

.btn {
	border-radius: 0px;
	box-shadow: 0 0 10px #333333;
}

.form-control {
	border-radius: 0px;
}

.alert {
	border-radius: 0px;
}

/* end modals */

/* === Buttons === */

.buttonS {
	padding: 0 18px;
	height: 28px;
	display: block;
	background: #27bdbe;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08);
	border: 0 none;
	color: #fff !important;
	line-height: 28px;
	font-size: 14px;
	font-weight: 300;
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 5px;
	box-sizing: border-box;
	cursor: pointer;
	text-decoration: none;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.buttonS:hover {
	background: #009fda;
}
.f_lt,
.f_rt {
	position: relative;	
}
.f_lt {
	float: left;
}
.f_rt {
	float: right;
}
.buttonS.f_lt {
	margin-right: 5px;
}
.buttonS.f_rt {
	margin-left: 5px;
}

.buttonM, .buttonL, .buttonH, [class*="tablectrl"] {font-size: 11px; color: #fff; font-weight: bold; text-shadow: 0 -1px #6f6f6f; display: inline-block; line-height: 14px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; cursor: pointer; box-shadow: 0 0 10px #ACACAC; }
.whead .buttonM,
.whead .buttonL,
.whead .buttonH { color: #fff;}

.buttonM span,
.buttonL span,
.buttonH span { text-shadow: 0 1px 0 #6f6f6f; margin-left: 10px; }
.buttonM { padding: 7px 15px; }
.buttonL { padding: 8px 18px; }
.buttonH { float: right; padding: 4px 12px 4px 12px; color: #fff!important; margin: 7px 10px 6px 10px; }
.bGreen:hover, .bOrange:hover, .bOrange:active, .bRed:hover, .bBlue:hover, .bGreyish:hover, .bBlack:hover, .bLightBlue:hover, .bGold:hover, .bSea:hover, .bBrown:hover { opacity: 0.95; filter: alpha(opacity=95); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out;color:#FFFFFF; }

.bDefault, .dualBtn, .searchLine button { border: 1px solid #c3c3c3; box-shadow: inset 0 1px 2px #fff; -webkit-box-shadow: inset 0 1px 2px #fff; -moz-box-shadow: inset 0 1px 2px #fff; color: #686868; text-shadow: none;
    background: #f8f8f8;
    background: -moz-linear-gradient(top,  #f8f8f8 0%, #e8e8e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e8e8e8));
    background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
    background: -o-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
    background: -ms-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
    background: linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e8e8e8',GradientType=0 );
}

.bDefault:hover, .dualBtn:hover, .searchLine button:hover { -webkit-transition: box-shadow 0.05s ease-in-out; -moz-transition: box-shadow 0.05s ease-in-out; transition: box-shadow 0.05s ease-in-out;
    background: #fafafa;
    background: -moz-linear-gradient(top,  #fafafa 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e5e5e5));
    background: -webkit-linear-gradient(top,  #fafafa 0%,#e5e5e5 100%);
    background: -o-linear-gradient(top,  #fafafa 0%,#e5e5e5 100%);
    background: -ms-linear-gradient(top,  #fafafa 0%,#e5e5e5 100%);
    background: linear-gradient(top,  #fafafa 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e5e5e5',GradientType=0 );
}
.bDefault:active, .dualBtn:active, .titleToolbar > li > a:active, .titleOpt > a:active, .searchLine button:active { background: #eee; color: #505050; border-color: #c0c0c0; box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -webkit-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -moz-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; text-shadow: 0 -1px 1px #f1f1f1; }
.bDefault span { text-shadow: none; }

.bGreen { border: 1px solid #68a341;
    background: #96c161;
    background: -moz-linear-gradient(top,  #96c161 0%, #609c3d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96c161), color-stop(100%,#609c3d));
    background: -webkit-linear-gradient(top, #96c161 0%,#609c3d 100%);
    background: -o-linear-gradient(top, #96c161 0%,#609c3d 100%);
    background: -ms-linear-gradient(top, #96c161 0%,#609c3d 100%);
    background: linear-gradient(top, #96c161 0%,#609c3d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c161', endColorstr='#609c3d',GradientType=0 );
}
.bGreen:active { background: #74aa49; box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; }

.bRed {  border: 1px solid #a95151; box-shadow: 0 1px 2px 0 #cd8787 inset; -webkit-box-shadow: 0 1px 2px 0 #cd8787 inset; -moz-box-shadow: 0 1px 2px 0 #cd8787 inset;
    background: #c57979;
    background: -moz-linear-gradient(top,  #c57979 0%, #a34c4c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c57979), color-stop(100%,#a34c4c));
    background: -webkit-linear-gradient(top,  #c57979 0%,#a34c4c 100%);
    background: -o-linear-gradient(top,  #c57979 0%,#a34c4c 100%);
    background: -ms-linear-gradient(top,  #c57979 0%,#a34c4c 100%);
    background: linear-gradient(top,  #c57979 0%,#a34c4c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c57979', endColorstr='#a34c4c',GradientType=0 );
}
.bRed:hover { opacity: 0.95; filter: alpha(opacity=95); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.bRed:active { background: #b15e5e; box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; }

.bBlue {  border: 1px solid #3e76af;
    background: #5ba5cb;
    background: -moz-linear-gradient(top,  #5ba5cb 0%, #3a70ab 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ba5cb), color-stop(100%,#3a70ab));
    background: -webkit-linear-gradient(top,  #5ba5cb 0%,#3a70ab 100%);
    background: -o-linear-gradient(top,  #5ba5cb 0%,#3a70ab 100%);
    background: -ms-linear-gradient(top,  #5ba5cb 0%,#3a70ab 100%);
    background: linear-gradient(top,  #5ba5cb 0%,#3a70ab 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ba5cb', endColorstr='#3a70ab',GradientType=0 );
}
.bBlue:hover { opacity: 0.95; filter: alpha(opacity=95); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.bBlue:active { background: #4786b8; }

.bGreyish { border: 1px solid #5e6779; box-shadow: 0 1px 2px 0 #9ca6b3 inset; -webkit-box-shadow: 0 1px 2px 0 #9ca6b3 inset; -moz-box-shadow: 0 1px 2px 0 #9ca6b3 inset;
    background: #8c97a6;
    background: -moz-linear-gradient(top,  #8c97a6 0%, #596171 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8c97a6), color-stop(100%,#596171));
    background: -webkit-linear-gradient(top,  #8c97a6 0%,#596171 100%);
    background: -o-linear-gradient(top,  #8c97a6 0%,#596171 100%);
    background: -ms-linear-gradient(top,  #8c97a6 0%,#596171 100%);
    background: linear-gradient(top,  #8c97a6 0%,#596171 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c97a6', endColorstr='#596171',GradientType=0 );
}
.bGreyish:active { background: #6d7787; box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; }

.bBlack {  border: 1px solid #4e4e4e; box-shadow: 0 1px 2px 0 #959595 inset; -webkit-box-shadow: 0 1px 2px 0 #959595 inset; -moz-box-shadow: 0 1px 2px 0 #959595 inset;
    background: #838383;
    background: -moz-linear-gradient(top,  #838383 0%, #444444 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#838383), color-stop(100%,#444444));
    background: -webkit-linear-gradient(top,  #838383 0%,#444444 100%);
    background: -o-linear-gradient(top,  #838383 0%,#444444 100%);
    background: -ms-linear-gradient(top,  #838383 0%,#444444 100%);
    background: linear-gradient(top,  #838383 0%,#444444 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#838383', endColorstr='#444444',GradientType=0 );
}
.bBlack:active { background: #5d5d5d; box-shadow: 0 0 2px #505050 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #505050 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #505050 inset, 0 1px 0 #fff; }

.bLightBlue { border: 1px solid #5897c3;
    background: #6db5d5;
    background: -moz-linear-gradient(top,  #6db5d5 0%, #4a91c0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db5d5), color-stop(100%,#4a91c0));
    background: -webkit-linear-gradient(top,  #6db5d5 0%,#4a91c0 100%);
    background: -o-linear-gradient(top,  #6db5d5 0%,#4a91c0 100%);
    background: -ms-linear-gradient(top,  #6db5d5 0%,#4a91c0 100%);
    background: linear-gradient(top,  #6db5d5 0%,#4a91c0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db5d5', endColorstr='#4a91c0',GradientType=0 );
}
.bLightBlue:active { background: #559cc7;  }

.bGold { border: 1px solid #c4853e; box-shadow: 0 1px 2px 0 #ddb65b inset; -webkit-box-shadow: 0 1px 2px 0 #ddb65b inset; -moz-box-shadow: 0 1px 2px 0 #ddb65b inset;
    background: #d5a44c;
    background: -moz-linear-gradient(top,  #d5a44c 0%, #c07833 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5a44c), color-stop(100%,#c07833));
    background: -webkit-linear-gradient(top,  #d5a44c 0%,#c07833 100%);
    background: -o-linear-gradient(top,  #d5a44c 0%,#c07833 100%);
    background: -ms-linear-gradient(top,  #d5a44c 0%,#c07833 100%);
    background: linear-gradient(top,  #d5a44c 0%,#c07833 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5a44c', endColorstr='#c07833',GradientType=0 );
}
.bGold:active { background: #ca8e40; box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; }

.bOrange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.bOrange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.bOrange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.bSea {  color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	box-shadow: 0px 0px 10px #ACACAC;
	text-shadow:none;
}
.bSea:active { color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');}

.bBrown {  border: 1px solid #9c6b3c; box-shadow: 0 1px 2px 0 #c8a85f inset; -webkit-box-shadow: 0 1px 2px 0 #c8a85f inset; -moz-box-shadow: 0 1px 2px 0 #c8a85f inset;
    background: #bb934f;
    background: -moz-linear-gradient(top,  #bb934f 0%, #996336 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bb934f), color-stop(100%,#996336));
    background: -webkit-linear-gradient(top,  #bb934f 0%,#996336 100%);
    background: -o-linear-gradient(top,  #bb934f 0%,#996336 100%);
    background: -ms-linear-gradient(top,  #bb934f 0%,#996336 100%);
    background: linear-gradient(top,  #bb934f 0%,#996336 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb934f', endColorstr='#996336',GradientType=0 );
}
.bBrown:active { background: #ad7f45; box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; }

/* @FER, CUSTOM STYLING 2018 */
.menu .toggle span {
	width: 24px;
	height: 24px;
	display: block;
	background: #fff;
	mask: url(../../../default/images/icons/feather/more-vertical.svg) 0 0/24px 24px;
	-webkit-mask: url(../../../default/images/icons/feather/more-vertical.svg) 0 0/24px 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	text-indent: -99999px;
	overflow: hidden;
}
#loader > span {
	margin: 0 auto 11px;
	width: 64px;
	height: 64px;
	display: block;
	background: #00aeef;
	mask: url(../../../default/images/icons/feather/loader.svg) 0 0/64px 64px;
	-webkit-mask: url(../../../default/images/icons/feather/loader.svg) 0 0/64px 64px;
	-webkit-animation: loading 1.5s infinite;
	-moz-animation: loading 1.5s infinite;
	-o-animation: loading 1.5s infinite;
	animation: loading 1.5s infinite;
}
@-webkit-keyframes loading {
	0% {
		opacity: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		opacity: 1;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	100% {
		opacity: 0;
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-moz-keyframes loading {
	0% {
		opacity: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		opacity: 1;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	100% {
		opacity: 0;
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-o-keyframes loading {
	0% {
		opacity: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		opacity: 1;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	100% {
		opacity: 0;
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes loading {
	0% {
		opacity: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		opacity: 1;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	100% {
		opacity: 0;
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.screen .frameCover .buttonS.f_rt,
.screen .frameWrapper #pageList ul li .editorButtons .buttonS.f_rt {
	margin-top: 5px;
}
.screen .frameCover .buttonS.f_rt:first-child,
.screen .frameWrapper #pageList ul li .editorButtons .buttonS.f_rt:first-child {
	margin-right: 20px;
}
.screen .frameCover .buttonS.f_rt {
	opacity: 0;
	visibility: hidden;
}
.screen .frameCover:hover .buttonS.f_rt {
	opacity: 1;
	visibility: visible;
}
.modal_close {
    position: absolute;
    right: 0;
    width: 38px;
    height: 38px;
}
.modal_close:hover,
.modal_close:focus {
	background: #009fda;
}
.modal_close span {
    width: 18px;
    height: 18px;
    display: block;
    background: #0092c8;
    mask: url(../../../default/images/icons/feather/x.svg) 0 0/18px 18px;
    -webkit-mask: url(../../../default/images/icons/feather/x.svg) 0 0/18px 18px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	text-indent: -99999px;
	overflow: hidden;
}
.modal_close:hover span,
.modal_close:focus span {
	background: #00c0f3;
}
.msg_red {
	color: #ea413e;
}