/* Image Manager */
/* core stuff */
/* ########################################################## */

body {
	background:#fff; 
	color:#000;
	margin:0 0;
	padding:0;
	font:70% Georgia, "Times New Roman", Times, serif;
	text-align:center;
}

td {
	font-size: 11px;
}

img	{
	behavior:expression(PNG.fix(this));
	border: 0;
}

hr {
	clear:both; 
	border:0; 
	color:#e5e5e5; 
	background-color:#e5e5e5; 
	height:1px; 
}

div {
	font-size:11px;
}

/* Lists */

ul {
	margin:0; 
	padding:0; 
	list-style:none;
}

ul li {
	margin:0; 
	padding:0; 
}


/* Layout */

#center	{
	width:auto; 
	max-width:1200px; 
	margin:0 auto; 
	text-align:left;
}

/* Links */

a				{background:transparent; }
a:link 			{color:#000; }
a:visited 		{color:#000; }
a:visited:hover {color:#000; }
a:hover 		{color:#000; }
a:active 		{color:#000; }


#thearea {
	position:relative;
}

#secondarea {
	position:absolute;
	left:200px;
}

/* Page navigation */
/* ########################################################## */

.pagenav {
	float: left;
	color: #484848;
	display: none;
	line-height: 16px;
	height: 16px;
	z-index:1;
}

* html .pagenav {/* double margin ie6 bug fix */
	display:inline;
}

.pagenav a, .pagenav a:visited	{
	font-weight:bold;
	color:#484848;
	text-decoration:none;
}

.pagenav a:hover {
	color:#2e4e8c;
}

.pagenav select	{
	margin:0 2px;
}

.pagenav * {float:left; display:block}
.pagenav a {outline:0 }
.pagenav .prev {background:url('../img/left.gif') no-repeat left; width:20px; height:16px; text-decoration:none; behavior:expression(PNG.fix(this));}
.pagenav .next {background:url('../img/right.gif') no-repeat right; width:20px; height:16px; text-decoration:none; behavior:expression(PNG.fix(this));}
.pagenav input {padding:0; width:20px; text-align:center; font-size:10px; margin:0 4px 0 4px }
.pagenav .disabled {opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50); cursor:default}

#progress {
	background: url('../img/loading.gif') no-repeat;
	padding-left: 20px;
}

/* View mode */
/* ########################################################## */

.viewmode {
	float:right;
	margin:0 25px 0 0;
	display:inline;
	height: 25px;
	color:#484848;
	z-index:1;
	white-space:nowrap;
}

.viewmode .desc	{
	float:left;
	margin:3px 4px 0 0; 
}

.viewmode a img {
	margin-bottom:-5px;
	opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50);
}

.viewmode a.listactive img {
	opacity:1; -ms-filter:'alpha(opacity=100)'; filter:alpha(opacity=100);
}

.viewmode a.listactive {
	font-weight:bold;
}

#viewcontainer #filelist {
	position:relative;
}

/* List container */

#listcontainer {
	position:relative;
}

* html #listcontainer {/* double margin ie6 bug fix */
	display:inline;
}

/* Left side folders */
/* ########################################################## */

#folders {
	position:absolute;
	top:0;
	left:2px;
	margin:0;
	width:192px;
	background:url(../img/folder-middle-bg.png) bottom left;
	z-index:1;
}

#folders h2	{
	margin:0;
	padding:20px 10px 10px 10px;
	background:url(../img/folder-top-bg.png) top left;
	font-size:100%;
	color:#7791c4;
}

#folders h3	{
	margin:10px 2px 0 2px;
	padding:10px 8px 10px 8px;
	font-size:100%;
	color:#7791c4;
	border-top:1px solid #9ab0d7;
}

#folders a {
	text-decoration:none;
	behavior:expression(PNG.fix(this));
}

#folders .categories {
	margin:0 6px 0 10px;
}

#folders .categories li a {
	background:url(../img/icons/category-closed.png) no-repeat; 
	padding:2px 2px 0 24px; 
	display:block; 
	min-height:16px; 
}

#folders .categories li.current a {
	background:url(../img/icons/category-open.png) no-repeat; 
	font-weight:bold;
}

#folders .special {
	margin:5px 6px 0 10px;
}

#folders .special li a {
	padding: 2px 2px 0 24px;
	display: block;
	min-height: 16px; 
	height: 16px;
	line-height: 16px; 
}

#folders .folders {
	margin:0 6px 0 10px;
}

#folders div {
	background:url(../img/folder-bottom-bg.png) no-repeat bottom left;
}

#folder_list {
	padding:0 0 20px 0;
}

#folders .folders li a {
	background:url(../img/folder.png) no-repeat; 
	padding:2px 2px 0 24px; 
	display:block; 
	min-height:16px;
}

#folders .folders li.parent a {
	background:url(../img/icons/up.png) no-repeat;
}

#folders .folders li.current a {
	background:url(../img/icons/folders-open.png) no-repeat;
	font-weight:bold;
}

#folders .preview {
	margin:0 0 4px 10px;
}

#folders .previewact {
	padding:0 0 20px 10px;
}

#folders a:hover {
	color:#2e4e8c;
}

#folders .folders li.progress {
	background: url('../img/loading.gif') no-repeat;
	height: 16px;
	line-height: 16px;
	padding-left: 20px;
}

.folder .name, .parent .name {
	font-weight:bold;
}


/* ########################################################## */

#toolbar.caption span.caption {
	display: inline;
}

#toolbar a {outline:0 }

/* Validation classes */

label.msg {
	display:none;
}

label.invalid {
	color:#aa0000;
	display:inline;
}

input.invalid {
	background-color:#d63232;
}

div label.invalid {
	display:block;
}

/* Dialog facts */

#facts {
	height:30px;
}
