/* Toolbar */
/* ########################################################## */

#topnav	{ 
	background:url('../img/toolbar.png') no-repeat bottom left;
}

#topwrap { 
	background:url('../img/toolbar.png') no-repeat bottom right; 
	margin:0px 0px 0px 30px;
}

#settings { 
	display:none; 
	position:absolute; 
	top:20px; 
	right:-4px; 
	width:14em; 
	line-height:14px; 
	text-align:right; 
	background:#fff; 
	padding:4px; 
	border:1px solid #959595; 
	opacity:0.9; -ms-filter:'alpha(opacity=90)'; filter:alpha(opacity=90);
	z-index:100;
}

#settings a	{ 
	display:inline; 
	padding:0px;
}

/* Inside stuff */

.toolbar { 
	margin:0px; 
	padding:2px 20px 10px 0px;
	font:90% Georgia, "Times New Roman", Times, serif; 
}

#tools li a {
	font-size:11px;
}

.toolbar div.filter {
	padding-right: 20px;
	width: 125px;
}

.filter input {
	width: 123px;
	background: transparent;
	border: 1px solid #aaaaaa;
	font-size: 10px;
}

.toolbar .navigation { 
	margin:0px 2px;
	padding: 0;
	float: left;
	width: 170px;
	padding-bottom: 12px;
}

.navigation .desc { 
	margin:0px 0px 4px 0px;
	background:url('../img/navdesc_bg.gif') no-repeat right; 
}

.navigation .path { 
	margin-bottom:5px;
	width:260px;
	overflow:hidden;
}

.toolbar .icons	{ 
	margin:14px 0px 0px 0px;
	float:right;
}

.toolbar .icon {
	margin:0px 2px 0px 1px;
	padding:0px;
	float:left;
	line-height:0px;
	position:relative; 
}

.toolbar .disabled img {
	opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30);
}

.toolbar .disabled a {
	color: #AAA;
}

.toolbar .disabled a:hover {
	background: transparent;
	cursor: default;
}

/* Icons */

.icon a	{ 
	text-decoration:none; padding:2px; display:block;
}

.icon a:hover { 
	background:#d3d0ce;
}

.icon .caption { 
	position:relative;
	top:-4px;
	display:none;
	padding:0px 4px 0px 4px;
}

.toolbar .separator	{ 
	margin:0px 4px; 
	float:left;
}
