body { background-color:#fff; color:#000; margin:0px 0px; padding:0px; font:70% Georgia, "Times New Roman", Times, serif; text-align:center; overflow: hidden; }

td {font-size: 100%;}

img	{ behavior:expression(PNG.fix(this)); }

a				{ background:transparent; }
a:link 			{ color:#000; }
a:visited 		{ color:#000; }
a:visited:hover { color:#000; }
a:hover 		{ color:#000; }
a:active 		{ color:#000; }

#center		{ width:auto; max-width:1200px; margin:0px auto; text-align:left; }


#singleview		{ margin:20px 30px 10px 30px; text-align:center; }
#singleimg		{ overflow: auto; }
#singleview	p	{ font:thin 100% tahoma; margin:4px 0px; width:100%; }
#singleview	h2	{ font:bold 110% tahoma; margin:4px 0px; width:100%; }

#singleview .nav	{ margin:6px 0px 12px 0px; }
#singleview .gallery	{ background:url('../img/gallery.png') no-repeat center; padding:4px 10px 4px 10px; text-decoration: none; behavior:expression(PNG.fix(this)); }
#singleview .prev	{ background:url('../img/left.png') no-repeat left; padding:4px 20px 4px 4px; text-decoration: none; behavior:expression(PNG.fix(this));}
#singleview .next	{ background:url('../img/right.png') no-repeat right; padding:4px 4px 4px 20px;  text-decoration: none; behavior:expression(PNG.fix(this)); }
#singleview #prev.disabled { background:url('../img/left_disabled.png') no-repeat left; }
#singleview #next.disabled { background:url('../img/right_disabled.png') no-repeat right; }

#singleview .editsingle a	{ padding:1px 4px 1px 20px; margin:4px 8px; text-decoration:none; }
#singleview .editsingle a.delete 			{ background:url('../img/im-delete.png') no-repeat; behavior:expression(PNG.fix(this)); }
#singleview .editsingle a.delete:hover	{ background:#e3e0d8 url('../img/im-delete.png') no-repeat; behavior:expression(PNG.fix(this)); }
#singleview .editsingle a.delete_disabled 			{ background:url('../img/im-delete.png') no-repeat; behavior:expression(PNG.fix(this)); }
#singleview .editsingle a.delete_disabled:hover	{ background:url('../img/im-delete.png') no-repeat; behavior:expression(PNG.fix(this)); }
#singleview .editsingle a.edt 			{ background:url('../img/im-edit.png') no-repeat; behavior:expression(PNG.fix(this)); }
#singleview .editsingle a.edt:hover		{ background:#e3e0d8 url('../img/im-edit.png') no-repeat; behavior:expression(PNG.fix(this)); }
#singleview .editsingle a.disabled 			{ color: gray; background:url('../img/im-edit.png') no-repeat; behavior:expression(PNG.fix(this)); }
#singleview .editsingle a.disabled:hover	{ background:url('../img/im-edit.png') no-repeat; behavior:expression(PNG.fix(this)); }
