/* * * clearlooks2 - Gnome theme * * */

.clearlooks2 {
	position: absolute;
	left: 20px; top: 20px;
	width: 320px; height: 240px;
	overflow: hidden;
	color: white;
	display: none;
	text-align: left;
}

.clearlooks2_progress {
	position: absolute;
	left: 0; top: 0;
	width: auto; height: 30px;
	z-index: 100100;
	display: none;

	background: #FFF url('../img/loading.gif') no-repeat 5px 8px;
	text-align: left;
}

.clearlooks2_progress .message {
	padding-left: 30px;
	padding-right: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	line-height: 30px;
}

.clearlooks2_event_blocker, .clearlooks2_visible_event_blocker {
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
	z-index: 100001;
	background-image: url('../img/clearlooks2/transparent.gif');
}

.clearlooks2_visible_event_blocker {
	opacity:0.7; -ms-filter:'alpha(opacity=70)'; filter:alpha(opacity=70);
	background: #FFF;
}

.clearlooks2_placeholder {
	position: absolute;
	left: 0; top: 0;
	display: none;
	z-index: 100002;
}

/* Alert */

.clearlooks2 .alert {
	text-align: left;
	vertical-align: middle;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

.clearlooks2 .alert .windowmiddle .middle {
	background-color: #EBEBEB;
}

.clearlooks2 .bigicon {
	display: none;
}

.clearlooks2 .alert .bigicon, .clearlooks2 .confirm .bigicon, .clearlooks2 .status .bigicon {
	position: absolute;
	left: 15px; top: 15px;
	width: 32px; height: 32px;
	display: block;
}

.clearlooks2 .alert .info, .clearlooks2 .status .info {
	background-image: url('../img/clearlooks2/alert_info.gif');
}

.clearlooks2 .alert .warning, .clearlooks2 .status .warning {
	background-image: url('../img/clearlooks2/alert_warn.gif');
}

.clearlooks2 .alert .error, .clearlooks2 .status .error {
	background-image: url('../img/clearlooks2/alert_error.gif');
}

.clearlooks2 .alert .message, .clearlooks2 .confirm .message {
	position: absolute;
	left: 55px; top: 15px;
	width: 325px; height: 40px;
	overflow: auto;
}

.clearlooks2 .ok, .clearlooks2 .cancel {
	position: absolute;
	left: 160px; top: 65px;
	width: 80px; height: 30px;
	background-image: url('../img/clearlooks2/button.gif');

	text-align: center;
	vertical-align: middle;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	color: #000;
	line-height: 30px;
	font-weight: bold;
	text-decoration: none;
}

/* Confirm dialog */

.clearlooks2 .confirm .windowmiddle .middle {
	background-color: #EBEBEB;
}

.clearlooks2 .confirm .ok {
	left: 110px;
}

.clearlooks2 .confirm .cancel {
	left: 210px;
}

.clearlooks2 .confirm .ask {
	background-image: url('../img/clearlooks2/alert_info.gif');
}

/* Custom stuff */
.statusrow {
	background: #f9f9f9;
	border: 1px solid #999;
	padding: 3px;
	margin-bottom: 3px;
}

.statuscol1 {
	font-weight: bold;
	overflow: hidden;
}

.statuscol2 {
}

/* Status dialog */

.clearlooks2 .status .windowmiddle .middle {
	background-color: #EBEBEB;
}

.clearlooks2 .status .ok {
	top: 178px;
}

.clearlooks2 .status .statustext {
	position: absolute;
	left: 10px; top: 8px;
	width: 360px; height: 150px;

	overflow: auto;
	padding: 5px;
}

/* Custom stuff */
.statusrow {
	background: #EBEBEB;
	border: 1px solid #999;
	padding: 3px;
	margin-bottom: 3px;
}

.statuscol1 {
	font-weight: bold;
	overflow: hidden;
}

.statuscol2 {
}

/* Chromeless window */

.clearlooks2 .chromeless .resize, .clearlooks2 .chromeless .action, .clearlooks2 .chromeless .statusbarbottom {
	display: none;
}

.clearlooks2 .chromeless .middle .action {
	display: block;
}

.clearlooks2 .chromeless .windowtop, .clearlooks2 .chromeless .window {
	height: 5px;
}

.clearlooks2 .chromeless .windowtop .left {
	position: absolute;
	left: 0; top: 0;
	width: 5px; height: 5px;
	background: transparent url('../img/clearlooks2/top_chromeless_left.gif') no-repeat;
}

.clearlooks2 .chromeless .windowtop .middle {
	position: absolute;
	right: 5px;
	width: 100%; height: 5px;
	background: transparent url('../img/clearlooks2/top_chromeless_middle.gif') no-repeat 5px 0;
	clip: rect(auto auto auto 10px);
}

.clearlooks2 .chromeless .windowtop .right {
	position: absolute;
	right: 0; top: 0;
	width: 5px; height: 5px;
	background: transparent url('../img/clearlooks2/top_chromeless_right.gif') no-repeat;
}

.clearlooks2 .chromeless .windowmiddle {
	top: 5px;
}

/* Top section */

.clearlooks2 .windowtop .middle-fg {
	display: none;
}

.clearlooks2 .windowtop {
	position: absolute;
	width: 100%; height: 23px;
	overflow: hidden;
}

.clearlooks2 .windowtop .left {
	position: absolute;
	left: 0; top: 0;
	width: 6px; height: 23px;
	background:#EBEBEB;
}

.clearlooks2 .windowtop .middle {
	position: absolute;
	right: 6px;
	width: 100%; height: 23px;
	background:#EBEBEB;
	clip: rect(auto auto auto 12px); /* Safari hack */
}

.clearlooks2 .windowtop .right {
	position: absolute;
	right: 0; top: 0;
	width: 6px; height: 23px;
	background:#EBEBEB;
}

.clearlooks2 .windowtop .title {
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 19px;
	text-align: center;
	vertical-align: middle;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	color: #000;
	line-height: 23px;
	font-weight: bold;
}

/* Top section - Focus */

.clearlooks2 .focustop .left {
	background:#EBEBEB;
}

.clearlooks2 .focustop .middle {
	background:#EBEBEB;
}

.clearlooks2 .focustop .right {
	background:#EBEBEB;
}

.clearlooks2 .focus .title {
	color: #FFF;
}

/* Middle section */

.clearlooks2 .windowmiddle {
	position: absolute;
	top: 23px;
	width: 100%;
	z-index: 5;
}

.clearlooks2 .windowmiddle .left {
	position: absolute;
	left: 0; top: 0;
	width: 4px;
	height: 100%;
	background:#EBEBEB;
}

.clearlooks2 .windowmiddle .middle {
	position: absolute;
	left: 4px; top: 0;
	width: 100%; height: 100%;
	background-color: #FFF;
	color: #000;
}

.clearlooks2 .windowmiddle .right {
	position: absolute;
	right: 0; top: 0;
	width: 4px;
	height: 100%;
	background:#EBEBEB;
}

/* Bottom section */

.clearlooks2 .windowbottom {
	position: absolute;
	left: 0; bottom: 0;
	width: 100%; height: 5px;
	overflow: hidden;
	z-index: 5;
}

.clearlooks2 .windowbottom .left {
	position: absolute;
	left: 0; bottom: 0;
	width: 5px; height: 5px;
	background:#EBEBEB;
	overflow: hidden;
}

.clearlooks2 .windowbottom .middle {
	position: absolute;
	left: 5px; bottom: 0;
	width: 100%; height: 5px;
	background:#EBEBEB;
	overflow: hidden;
}

.clearlooks2 .windowbottom .right {
	position: absolute;
	right: 0; bottom: 0;
	width: 5px; height: 5px;
	background:#EBEBEB;
	overflow: hidden;
}

/* Statusbar */

.clearlooks2 .statusbarbottom {
	height: 24px;
	overflow: hidden;
	z-index: 5;
}

.clearlooks2 .statusbarbottom .left {
	bottom: 0;
	width: 5px; height: 23px;
	background:#EBEBEB;
	overflow: hidden;
}

.clearlooks2 .statusbarbottom .middle {
	height: 23px;
	background:#EBEBEB;
	overflow: hidden;
}

.clearlooks2 .statusbarbottom .right {
	width: 20px; height: 23px;
	background:#EBEBEB;
	overflow: hidden;
}

.clearlooks2 .windowbottom .statustext {
	display: none;
}

.clearlooks2 .statusbarbottom div.statustext {
	display: block;
	position: absolute;
	left: 6px; bottom: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	color: #000;
	line-height: 23px;
}

.clearlooks2 .resizable .statusbarbottom .resize-se {
	background-image: url('../img/clearlooks2/statusbar_resize.gif');
	width: 20px; height: 23px;
}

/* Actions */

.clearlooks2 .action {
	position: absolute;
	cursor: pointer;
	overflow: hidden;
}

.clearlooks2 .close, .clearlooks2 .min, .clearlooks2 .med, .clearlooks2 .max {
	z-index: 3;
}

.clearlooks2 .resizable .min {
	right: 68px; top: 3px;
	width: 29px; height: 16px;
	background: transparent url('../img/clearlooks2/buttons.gif') no-repeat 0 0;
	background-repeat: no-repeat;
}

.clearlooks2 .resizable .med {
	right: 37px; top: 3px;
	width: 29px; height: 16px;
	background: transparent url('../img/clearlooks2/buttons.gif') no-repeat -29px 0;
	background-repeat: no-repeat;
}

.clearlooks2 .resizable .max {
	right: 37px; top: 3px;
	width: 29px; height: 16px;
	background: transparent url('../img/clearlooks2/buttons.gif') no-repeat -58px 0;
	background-repeat: no-repeat;
}

.clearlooks2 .close {
	right: 6px; top: 3px;
	width: 29px; height: 16px;
	background: transparent url('../img/clearlooks2/buttons.gif') no-repeat -87px 0;
}

/* Actions - Focus */

.clearlooks2 .focustop .min {
	background: transparent url('../img/clearlooks2/buttons.gif') no-repeat 0 -16px;
}

.clearlooks2 .focustop .med {
	background: transparent url('../img/clearlooks2/buttons.gif') no-repeat -29px -16px;
}

.clearlooks2 .focustop .max {
	background: transparent url('../img/clearlooks2/buttons.gif') no-repeat -58px -16px;
}

.clearlooks2 .focustop .close {
	background: transparent url('../img/clearlooks2/buttons.gif') no-repeat -87px -16px;
}

/* Actions - Hover */

.clearlooks2 .focustop .min:hover {
	background: transparent url('../img/clearlooks2/buttons.gif') no-repeat 0 -32px;
}

.clearlooks2 .focustop .med:hover {
	background: transparent url('../img/clearlooks2/buttons.gif') no-repeat -29px -32px;
}

.clearlooks2 .focustop .max:hover {
	background: transparent url('../img/clearlooks2/buttons.gif') no-repeat -58px -32px;
}

.clearlooks2 .focustop .close:hover {
	background: transparent url('../img/clearlooks2/buttons.gif') no-repeat -87px -32px;
}

/* Move and resize handles */

.clearlooks2 .move {
	top: 0; left: 0;
	width: 100%; height: 19px;
	cursor: move; z-index: 1;
	background-image: url('../img/clearlooks2/transparent.gif');
}

.clearlooks2 .resize {
	display: none; z-index: 4;
}

.clearlooks2 .resizable .resize {
	display: block;
}

.clearlooks2 .resizable .resize-w {
	top: 0; left: 0;
	width: 5px; height: 100%;
	cursor: w-resize;
	background-image: url('../img/clearlooks2/transparent.gif');	
}

.clearlooks2 .resizable .resize-e {
	top: 0; right: 0;
	width: 5px; height: 100%;
	cursor: e-resize;
	background-image: url('../img/clearlooks2/transparent.gif');	
}

.clearlooks2 .resizable .resize-n {
	top: 0; left: 0;
	width: 100%; height: 5px;
	cursor: n-resize;
	overflow: hidden;
	background-image: url('../img/clearlooks2/transparent.gif');	
}

.clearlooks2 .resizable .resize-nw {
	top: 0; left: 0;
	width: 5px; height: 19px;
	cursor: nw-resize;
	background-image: url('../img/clearlooks2/transparent.gif');	
}

.clearlooks2 .resizable .resize-ne {
	top: 0; right: 0;
	width: 5px; height: 19px;
	cursor: ne-resize;
	background-image: url('../img/clearlooks2/transparent.gif');	
}

.clearlooks2 .resizable .resize-sw {
	bottom: 0; left: 0;
	width: 5px; height: 5px;
	cursor: sw-resize;
	background-image: url('../img/clearlooks2/transparent.gif');	
}

.clearlooks2 .resizable .resize-s {
	bottom: 0; left: 0;
	width: 100%; height: 5px;
	cursor: s-resize;
	background-image: url('../img/clearlooks2/transparent.gif');	
}

.clearlooks2 .resizable .resize-se {
	bottom: 0; right: 0;
	width: 5px; height: 5px;
	cursor: se-resize;
	background-image: url('../img/clearlooks2/transparent.gif');	
}
