  @import url(https://fonts.googleapis.com/css?family=Lato:300);
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.btnphone {
    display: inline-block;
	color:#fff;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
	height:40px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	display: block;
    width: 100%;
}
.phone-control {
    display: block!important;
    width: 100%!important;
    height: 40px!important;
    padding: 6px 12px!important;
    font-size: 14px!important;
    line-height: 1.42857143!important;
    color: #fff!important;
  
    border: 1px solid #fff!important;
    border-radius: 4px!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s!important;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
}
.phone-panel{
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border-color: white;  
}
.span4
{
    width: 80px;
    float: left;
    margin: 0 8px 10px 8px;
}

	.col-md-4 {width:400px;padding:0px!important;margin:0px!important;}
	
.tel
{
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-weight: 600;
}
.num-pad
{
    padding-left: 15px;
}

	#audio-local {display:none;}

.num
{
    /*border: 1px solid #9e9e9e;*/
    -webkit-border-radius: 999px;
    border-radius: 999px;
    -moz-border-radius: 999px;
    height: 80px;
    /*background-color: #fff;*/
    cursor: pointer;
}
.num:hover
{
    background-color: #C57FE5;
    color: #fff;
    transition-property: background-color .2s linear 0s;
    -moz-transition: background-color .2s linear 0s;
    -webkit-transition: background-color .2s linear 0s;
    -o-transition: background-color .2s linear 0s;
}
.txt
{
    font-size: 30px;
    text-align: center;
    /*margin-top: 15px;*/
    font-family: 'Lato' , sans-serif;
    line-height: 30px;
    color: white;
}
.small
{
    font-size: 15px;
}

.btn
{
    font-weight: bold;
    -webkit-transition: .1s ease-in background-color;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
}
.btn:hover
{
    transition-property: background-color .2s linear 0s;
    -moz-transition: background-color .2s linear 0s;
    -webkit-transition: background-color .2s linear 0s;
    -o-transition: background-color .2s linear 0s;
}
.spanicons
{
    width: 50px;
	color: #C57FE5;
    float: left;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}
.spanicons:hover
{
    color: #00aeef;
    transition-property: color .2s linear 0s;
    -moz-transition: color .2s linear 0s;
    -webkit-transition: color .2s linear 0s;
    -o-transition: color .2s linear 0s;
}
.active
{
    color: #3498db;
}
.metrics{
    margin-bottom: 10px;
    padding: 10px;
    /*z-index: 10000;*/
    /*display: inline-block;*/
    /*background: rgba(0,153,204,0.93);*/
    background: rgba(244, 67, 54, 0.75);
    /*border: 1px solid #006b8f;*/
    color: #fff;
    font-size: 13px;
    text-align: center;
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    outline: 0;
    /*position: fixed;*/
    top: 0;
    /*left: 0;*/
    right:0;
    font-family: monospace; 
}
.alertmsg{
    position: fixed;
    top: 10px;
    right: 10px;
    /*width: 20%;*/
    z-index: 100000;
}
#recPlayerLayout, .hangup,.inboundBeforeAnswer, .outboundBeforeAnswer, .AfterAnswer, .callinfo, #uiLogout, .lowQualityRadios, .feedback, .loader, .fadein-effect{
    display: none;
}

.customAlert{
    margin-bottom: 10px;
    padding: 10px;
    z-index: 10000;
    background: rgb(14, 14, 14);
    /*border: 1px solid #03A9F4;*/
    font-size: 13px;
    text-align: center;
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    outline: 0;
    top: 0;
    right: 0;
    font-family: monospace;
    color: red;    
}
.alertwarn{
  color: red;
}
.alertinfo{
  color: rgb(25, 255, 34);
}

.white{
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.white-icon {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  cursor: pointer;
}
.feedback{
    transform: rotate(90deg);
    position: absolute;
    top: 50%;
    left: -2%;    
}
.audioDevices{
    position: absolute;
    top: 20%;
    right: 0%;    
}
.monospace{
    font-family: monospace;
}
.keypad {
    background-color: deepskyblue;
    border-radius: 0%;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 5px;
    margin: 1px;
    text-align: center;
    width: 20px;
    opacity: .8;
    cursor:pointer;
}
.dialpad {
      margin-left: 2%;
}
.googleLogin {
  background: url(signin_button.png) no-repeat 6px center;
  /*width: 100px;*/
  height: 100px;
  display: block;
}
.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  height: 100px;
  border-radius: 3px;
}
.white-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
	padding:20px;
    background: rgba(0, 0, 0, 0.6);
}
	.callinfo{ color: #FFFFFF !important; }
.status-bar{background:#000;height:50px;padding:10px;}
	.phonestatus { float:right;}
	.callstatus { float:right;margin-right:25px;}
	.text-success {color: #C57FE5 !important;}
	..action { background:#000; }
	.btn-info {
    background-color: #00aeef;
    border-color: #00aeef;
}
	#callDuration {float:left;margin-right:10px;}
.client-name{
  margin-left: 28%;
  position: absolute;
  /*font-size: 30px;*/
  /*font-weight: 600;*/
  color: gray;
}
.lead{
  font-weight: 600;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #00aeef;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.btn-success{
  background-color: #00aeef;
  border-color: rgba(0,0,0,.0001);  
}
.btn-success:hover{
  background-color: #C57FE5;
  border-color: rgba(0,0,0,.0001);  
}	
.btn-danger{
  background-color:#E82B50 !important;
  border-color: rgba(0,0,0,.0001);  
}
.dropdown{
  margin-top: 6%;
}
.log-out{
  font-size: 25px;
  color: orange;
}
.log-in{
  font-size: 25px;
  color: green;
}
.log-missed{
  font-size: 25px;
  color: red;
}
.log-call{
  font-size: 25px;
  color: green;  
}
.log-call:hover{
  text-shadow: 7px 2px 10px;
  cursor: pointer; 
}

.feedbackTextArea{
  width: 100%;
}

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}
/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}
/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}

