@charset "utf-8";
/* CSS Document */
.top .logoBox {width:187px;height:64px; position:absolute; top:10px; left:50%; margin-left:-460px;}
.blog_div {margin-bottom:20px;padding-bottom:75px;border-bottom:1px #ccc solid;height:100%; }

.blog_date {display:block; width:50px; height:50px; background:url(http://6qube.com/hubs/themes/6qube/_include/images/date-bg.png) no-repeat; float:left; font-size:12px; color:#fff; text-align:center; padding:15px 0px 0px 0px; margin:0px 15px 0 0; line-height:12px;}
.blog_title_border .bloglistimg {border:2px solid #ccc; float:left; margin:0px 15px 10px 0px}
.social {float:left;}

.blog_heading {padding:0px; margin:0px; width:500px; float:left;}

.blog_heading h3 a {font-size:27px; font-weight:normal; text-decoration:none;}

.blog_comments {width:44px; height:34px; background:url(../images/backgrounds/blog-post-number.jpg) no-repeat; float:right; font-size:12px; font-weight:bold; color:#546105; text-align:center; padding:5px 0px 0px 0px;}

.blog_title_border {border-top:1px #ccc solid; padding:10px 0px 0px 0px; margin:0 0 10px 10px}
.blog_title_border p {padding:5px 5px 0px 0px; font-size:12px; line-height:14px;}
.blog_title_border .bloglistimg {border:9px solid #EBF1F3; float:left; margin:0px 15px 10px 0px}
.blog_title_border .blogpostimg {border:9px solid #EBF1F3; float:left; margin:0px 15px 15px 0px}
.bloglistimg {border:9px solid #EBF1F3; float:left; margin:0px 15px 10px 0px}
.diricon { width:125px; height:125px; }

.blog_title_border .displayPhone {float:right;margin:0;padding-left:10px;font-size:40px;color:#aaa;margin-top:-5px;clear:right;}
.blog_title_border .view-listing { float:right;}
.blog_title_border .add-container { float:left; width:350px;}
.blog_title_border .address {margin:0;padding:0; color:#666666; }
.blog_title_border .city { margin:0;padding:3px 0px 0px 0px; color:#666666; font-size:18px;}

.one-third p.blog_p {padding:0px;margin:8px 0 8px 0;}
.one-third p.blog_p a {font-size:12px;}
ul.list_style_1 {padding:20px 0 20px 0;}

#hub_display {padding-top:10px;}
.hubsnap {  font-size:10px; text-align:center; padding:10px; background:#EEEEEE; margin-bottom:15px;border:1px #CCC solid; }
.hubsnap:hover { background:#CCC; }

.blog_right_links ul li {border-bottom:solid #CCC 1px; padding-bottom:15px; margin-bottom:15px;}



#pagination ul li { background:none; float:left}
#pagination a {float:left; margin-right:4px;}
#pagination .pagination_links {text-decoration:none; background:url(../images/backgrounds/blog-page-number-bg.jpg) repeat-x; border:1px solid #E3E3E3; padding:0px 6px 0px 6px; font-weight:bold; color:#3F3F3F;}
#pagination .pagination_links:hover {color:#FEFEFE; background:url(../images/backgrounds/blog-page-number-bg-hover.jpg) repeat-x; border:1px solid #39738d;}
#pagination .pagination_links_active {padding:0px 6px 0px 6px; color:#FEFEFE; text-decoration:none;  font-weight:bold; background:url(../images/backgrounds/blog-page-number-bg-hover.jpg) repeat-x; border:1px solid #39738d;}
#pagination span {float:right;}

/* a tag button big neutral color  - fixed width, and transparent */
a.neutral-grey {
  display:block; height:43px; line-height:43px; margin-left:40px;
  padding-right:10px; padding-left:10px; font-family:Arial; font-size:17px; font-weight:normal;
  width:147px;
  text-align:center;
  overflow:hidden;
}
a.neutral-grey:hover {
  display:block; height:43px; line-height:43px; margin-right:15px;
  font-family:Arial; font-size:17px; font-weight:normal;
}
a.neutral-grey {  background:url(http://6qube.com/hubs/themes/6qube/_include/images/buttons/btn-big-grey-fixed-width.png) no-repeat; color:#5b5b5b; text-shadow: 1px 1px #ffffff; }
a.neutral-grey:hover {  background:url(http://6qube.com/hubs/themes/6qube/_include/images/buttons/btn-big-grey-fixed-widthh.png) no-repeat; color:#5b5b5b; text-shadow: 1px 1px #ffffff; }
/* a tag button big action color  - fixed width, and transparent */
.btn-big-action-fixed {
  height:45px; 
  font-family:Arial; font-size:17px; font-weight:normal;
  float:left;
  width:200px;
  overflow:hidden;
}

/* a tag button big action color  - fixed width, and transparent */
.btn-big-action-fixed {  background:url(http://6qube.com/hubs/themes/6qube/_include/images/buttons/btn-big-orange-fixed-width.png) no-repeat;  color:#ffffff;  text-shadow: 1px 1px #c66f00; }
.btn-big-action-fixed:hover {  background:url(http://6qube.com/hubs/themes/6qube/_include/images/buttons/btn-big-orange-fixed-widthh.png) no-repeat; color:#ffffff; text-shadow: 1px 1px #c66f00; }


.search { height:75px; width:100%; background:url(http://local.6qube.com/images/search-bg.png) repeat-x;  }
.searchbox { padding-top:15px;margin-left:50px; }
#search-form input[type=text] {border:1px #ACACAC solid; height:42px; width:300px; float:left;margin-right:15px; padding-left:20px;}
#search-form input[type=submit] {border:none;padding:0;margin:0; }
#hidden_map {
	width:100%;
	height:275px;background:black;
}

/* FORM, LIST, AND LABEL STYLES */
.custom-form fieldset {
	border: none;
}
.custom-form ul {
	list-style: none;
}
.custom-form ul li {
	clear: both;
	padding: 5px;
	background: none;
}
.custom-form ul li label {
	display: block;
	font-size: 15px;
	font-weight: normal;
	color: #000;
	padding-bottom:5px;
}
.custom-form ul li label span {
	font-size: 13px;
	font-weight: normal;
	color: #666;
}

/* INPUT STYLES */
.custom-form ul li input[type=submit] { border:0px; margin:0px; padding:0px; display: block;  float: left; height:33px; margin-right: 15px; padding-right: 12px; text-decoration: none;font-family: Arial, Helvetica, sans-serif;  font-size:14px; font-weight:normal; background: transparent url(http://6qube.com/hubs/themes/6qube/_include/images/buttons/btn-small-orange-right.jpg) no-repeat scroll top right; color: #ffffff; text-shadow: 1px 1px #567e13;  cursor:pointer; }
.custom-form .submit-li {  height:33px; border:0px; margin:0px; padding:0px; display:block;  line-height: 33px; padding: 0px 0px 5px 12px; margin-top:0px;  text-align:center; background: transparent url(http://6qube.com/hubs/themes/6qube/_include/images/buttons/btn-small-orange-left.jpg) no-repeat; width:90px;}
.custom-form ul li input[type=submit]:hover { background: transparent url(http://6qube.com/hubs/themes/6qube/_include/images/buttons/btn-small-orange-righth.jpg) no-repeat scroll top right; }
.custom-form .submit-li:hover {  background: transparent url(http://6qube.com/hubs/themes/6qube/_include/images/buttons/btn-small-orange-lefth.jpg) no-repeat;}

.custom-form ul li input[type=text], .custom-form ul li input[type=password] { padding:8px; border:1px solid #d9d9d9; margin-right:12px; font-family:Arial;  background:#F4F4F4;  }
.custom-form ul li input[type=text]:hover, .custom-form ul li input[type=password]:hover {  border-color: #ee8600; }
.custom-form ul li input.small {
	width: 200px;
}
.custom-form ul li input.medium {
	width: 375px; 
}
.custom-form ul li input.large { width: 500px; }

.custom-form ul li textarea { padding:8px; border:1px solid #d9d9d9; margin:0 12px 20px 0; font-family:Arial;  height:75px; background:#F4F4F4;  }
.custom-form ul li textarea:hover {  border-color: #ee8600; }
.custom-form ul li textarea.small { padding:8px; border:1px solid #d9d9d9; margin-right:12px; font-family:Arial; width:200px; height:75px;   }
.custom-form ul li textarea.medium { width:375px;  height:100px;  }
.custom-form ul li textarea.large { padding:8px; border:1px solid #d9d9d9; margin-right:12px; font-family:Arial; width:500px; height:125px;  }
.custom-form select { padding:8px; border:1px solid #d9d9d9; margin-right:12px; font-family:Arial; width:275px;  }
.custom-form ul li .checkboxDiv {
	/*margin:0;
	padding:0;*/
	display: inline-block;
}

/* SECTION HEADERS */
.custom-form ul h2 {
	margin-bottom: 5px;
}

/* ERROR HIGHLIGHTING */
.custom-form ul li input.snall.highlightError {background:#DDE8EC; border-color: #ee8600;  
}
.custom-form ul li input.medium.highlightError {background:#DDE8EC; border-color: #ee8600;  
}
.custom-form ul li input.large.highlightError {background:#DDE8EC; border-color: #ee8600;  
}
.custom-form .checkboxDivHighlightError {
	padding: 1px;
	background-color: #E0EDFC;
}