/* 
    Document   : hybrid
    Created on : Sep 24, 2012, 3:24:05 PM
    Author     : amado
    Description:
        Purpose of the stylesheet follows.
*/

/** SUB NAV STUFF */
.xnav li a.active img, .xnav li a:hover img {
    -moz-transition: opacity 0.3s ease-in-out 0s;
    opacity: 1;
}
.xnav li a:hover span {
    text-decoration: underline;
}
.contentNav {
background: url("../images/navBanner.png") no-repeat scroll 0 0 transparent;
height: 559px;  /*
left: 205px;    */
padding-top: 0 !important;
position: absolute;
top: 128px;
width: 140px;
z-index: 99;
}

.contentNav .xnav {
margin-top: 10px;
text-align: center;
padding-left: 5px;
}

.contentNav .xnav li {
position: relative;
}

.contentNav .xnav li a {
color: white;
display: block;
font-size: 11px;
padding: 14px 0 8px;
width: 100px;
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
}
.xnav li a img {
opacity: 0.5;
}
.xnav li a span {
display: block;
padding-top: 4px;
text-shadow: 0 1px 0 black;
}

.center { text-align: center; }
.right { float: right; }
.left { float: left; }



.whead .right {
margin-right: 5px;
margin-top: 5px;
}

.span3special {
    float: left;
    margin-left: 10px;
    text-align: center;
    width: 19%;
}

.span3special h4 {
    color: #777777;
    font-size: 11px;
    font-weight: bold;
}

.span3special .value {
    color: #111111;
    font-size: 56px;
    font-weight: bold;
    line-height: 1em;
}

#content h1 {
font-family: 'Roboto', sans-serif;
font-weight: normal;
color: #666;
margin-top: 10px;
white-space: nowrap;
text-shadow: 1px 1px white;
}

/* OV BOXES */
.ov_boxes {
    display: inline-block;
    list-style: none;
    position: relative;
}
.ov_boxes li {
    display: inline-block;
}
.ov_boxes li:last-child {
    border-right: 1px solid #d4e9f4;/* #83c0e9 */
}
.ov_boxes .p_canvas {
    padding: 5px;
    width: 160px;
    height: 59px;
    float: left;
    display: block;
	box-sizing: border-box;
    background: #d4e9f4;/* #b5daf2 */
    background: linear-gradient(135deg,#f3f8fb,#d4e9f4);/* #f4f7f9, #b5daf2 */
    border-left: 1px solid #d4e9f4;/* #83c0e9 */
}
.ov_boxes .ov_text {
    padding: 2px 15px;
    float: left;
    text-align: left;
    line-height: 17px;
    font-size: 11px;
    color: #748a96;/* #888 */
}
.ov_boxes .ov_text span {
    display: block;
    font-size: 13px;
    font-weight: 500;
    /*color: #666;*/
    border-bottom: 1px solid #d4e9f4;/* #ddd */
}
.ov_boxes .ov_text span strong {
    margin-top: 3px;
    display: block;
    font-size: 21px;
    font-weight: 300;
    color: #00aeef;/* #3498db */
}

.topPerforming > td{
    box-shadow: 0 1px 2px #E9F3FB inset, 0 1px 1px #DFDFDF;
    color: #4579AA;
    font-size:150%;
	/* background: -moz-linear-gradient(center top , #DEEDF9 0%, #CDE5F7 100%) repeat scroll 0 0 transparent; */
}

.prospect-image{float:left;}
.prospect-image + a {
	position: relative;
    top: 11px;
}

.prospect-data{
	position: relative;
    top: 11px;
}
/*
.chartWrapper .ui-spinner {
    display:inline-block;
    width: 3em;
}
*/
.sidePad .topDropArrow {
    position: relative;
    height: 20px;
}

#subusers {
    background: #2c2d2d;    /*
    position: absolute;     /**/
    z-index: 990;
    padding: 0px;
    display: none;
}


.search-media .input {
    /*float: left;
        */
z-index: 30;
position: relative;
}
.search-media .previews .results {
float: left;
clear: left;
}
/* .search-media .uploader { display: none; }
*/
.previews { display: none; 
z-index: 20;
margin-top: 0px;
position: absolute; 
/* 
overflow: hidden;*/
}

.previews > span {
    margin-left: 10px;
}
.previews li {
    float: left; display: block;
    padding: 3px;
}
.results .uploader {
    width: 88px;
height: 66px;
padding: 0px;
}

.results li img {
    height: 68px; width: 90px;
}
.results .uploader .filename {
    display: none;
}
.results .uploader .action {background-image: url(../images/icons/middlenav/add.png);
background-position: center center;
margin-right: 36px;
margin-top: 22px;
    
}
.results .uploader .fileInput {
  opacity: 0;
	width: 100%;
	height: 100%;
}
#jslideslist {
    margin-top: 5px;
}
#jslideslist li {
    margin-right: 5px;
    float: left;
    display: block;
    border-radius: 6px;
    overflow: hidden;
}
#jslideslist li .thumbsmall {
    opacity: 0.35;
}
#jslideslist li .thumbsmall,
#jslideslist li .thumbsmalldesc {
    width: 90px;
    height: 60px;
    display: block;
    box-sizing: border-box;
}
#jslideslist li .thumbsmalldesc {
    margin-top: -60px;
    padding-top: 7px;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    background: #4d555b;/* #222 */
}
#jslideslist li.jnothumb .thumbsmalldesc {
    margin-top: 0;
}
#scrollTop {
	width: 38px;
	height: 38px;
	display: none;
	font-weight: 500;
	white-space: nowrap;
	color: #fff;
	position: fixed;
	right: 10px;
	bottom: 10px;
	background-color: rgba(0,174,239,0.8);/* #00aeef */
	border-radius: 6px;
	z-index: 200;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
#scrollTop:hover {
	background-color: rgba(0,159,218,0.8);/* #009fda */
}
#scrollTop span.up {
    width: 24px;
    height: 24px;
    display: block;
	background: #fff;
    mask: url(../images/icons/feather/chevron-up.svg) 0 0/24px 24px;
    -webkit-mask: url(../images/icons/feather/chevron-up.svg) 0 0/24px 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.hide {
    display: none;
}

.prospectPhoto {
    position: relative;
    display: inline-block;
}
.prospectPhoto > img {
    max-height: 110px;
}
.prospectPhoto > span[class*="dataNum"] {
    position: absolute !important;
    top: 0;
    left: 0;
    margin: 0 !important;
}
.capitalize {
    text-transform: capitalize;
}

.disabledBtn {
	box-shadow: inset 0 0 2px 1px #ccc;
	border:1px solid #999;
	cursor: default;
	background: #f8f8f8;
	background: -moz-linear-gradient(top,  #e8e8e8 0%, #f8f8f8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#f8f8f8));
	background: -webkit-linear-gradient(top,  #e8e8e8 0%,#f8f8f8 100%);
	background: -o-linear-gradient(top,  #e8e8e8 0%,#f8f8f8 100%);
	background: -ms-linear-gradient(top,  #e8e8e8 0%,#f8f8f8 100%);
	background: linear-gradient(top,  #e8e8e8 0%,#f8f8f8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#f8f8f8',GradientType=0 );
}
.disabledBtn > span {
		color:#999 !important;
		text-shadow: 0 1px 1px #fff;
		margin-left: 0;
}

.whiteSurround {
    padding: 20px;
    background: #fff;
    border: 1px solid #d4e9f4;/* #e6e6e6 */
    border-radius: 6px;
}