@import "reset.css";

/* Table of Contents
==================================================
	# General styles
	# Typography
	# Login page
==================================================
												*/
/* # General styles
==================================================
												*/
html, body {
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	background: #dfebf1;/* #f4f7f9, #dfe8ed */
	font-size: 13px;
	font-weight: 300;
	line-height: 23px;
	color: #748a96;/* #444 */
}

/* # Typography
==================================================
												*/
/* === Headings === */
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	line-height: 1;
}
h1 {
	font-size: 27px;
}
h2 {
	font-size: 25px;
}
h3 {
	font-size: 23px;
}
h4 {
	font-size: 21px;
}
h5 {
	font-size: 19px;
}
h6 {
	font-size: 17px;
}

/* # Login page
==================================================
												*/
.loginWrapper {
	width: 300px;
	min-height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	background: #00aeef;/* #3498db */
	border-radius: 6px;
	box-sizing: border-box;
	color: #fff;
	text-align: center;
	overflow: hidden;
	mask-image: radial-gradient(circle,white 100%,black 100%);
}
.loginWrapper div.brandlogo {
	padding: 30px 30px 20px;
	background: #4d555b;
}
.loginWrapper div.brandlogo img {
	margin: 0 auto;
	max-height: 40px;
	display: block;
}
.loginWrapper h2,
.loginWrapper h6 {
	width: 100%;
}
.loginWrapper h2 {
	padding: 7px 0 6px;
	background: #fff;/* #333 */
	color: #748a96;/* #444 */
}
.loginWrapper h6 {
	padding: 7px 0;
	font-weight: 300;
	background: #009fda;/* #2384c5 */
}
.loginWrapper a {
	color: #8ed8f8;/* #83c0e9 */
	cursor: pointer;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.loginWrapper a:hover {
	color: #fff;
}
.loginWrapper p {
	width: 100%;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	font-weight: 500;
	display: block;
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	color: #fff;
	background: #ea413e;/* red */
	position: absolute;
	bottom: 0;
}
.loginWrapper p.success {
	background: #009e63;/* green */
}
.loginWrapper form {
	margin: 0 auto;
	padding: 19px 30px 13px;
	position: relative;
	text-align: center;
}
.loginWrapper span[class] {
	margin: 0 auto;
	width: 24px;
	height: 24px;
	display: block;
	background: #009fda;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.loginWrapper span.email {
	mask: url(../images/icons/feather/at-sign.svg) 0 0/24px 24px;
	-webkit-mask: url(../images/icons/feather/at-sign.svg) 0 0/24px 24px;
}
.loginWrapper span.password {
	mask: url(../images/icons/feather/lock.svg) 0 0/24px 24px;
	-webkit-mask: url(../images/icons/feather/lock.svg) 0 0/24px 24px;
}
.loginWrapper input::-webkit-input-placeholder {
	color: #8ed8f8;/* #83c0e9 */
}
.loginWrapper input:-moz-placeholder {
	color: #8ed8f8;/* #83c0e9 */
}
.loginWrapper input::-moz-placeholder {
	color: #8ed8f8;/* #83c0e9 */
	opacity: 1;
}
.loginWrapper input:-ms-input-placeholder {
	color: #8ed8f8;/* #83c0e9 */
}
.loginWrapper input::-ms-input-placeholder {
	color: #8ed8f8;/* #83c0e9 */
}
.loginWrapper input:placeholder-shown {
	color: #8ed8f8;/* #83c0e9 */
}
@-webkit-keyframes autofill {
	to {
		color: #fff;
		background: none;
	}
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}
.loginWrapper input[type="text"],
.loginWrapper input[type="password"] {
	/*width: 100%;*/
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	font-weight: 300;
	box-sizing: border-box;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	background: none;
	position: relative;
	border-bottom: 1px solid #009fda;/* #2384c5 */
	color: #fff;
	text-align: center;
}
.loginWrapper input[type="text"],
.loginWrapper.reset input[type="password"] {
	margin-bottom: 19px;
}
.loginWrapper.reset input[type="password"]:last-of-type {
	margin-bottom: 20px;
}
.loginWrapper input[type="text"]:hover,
.loginWrapper input[type="password"]:hover {
	border-bottom: 1px solid #0092c8;/* #83c0e9 */
}
.loginWrapper input[type="text"]:focus,
.loginWrapper input[type="password"]:focus {
	border-bottom: 1px solid #fff;
}
.loginWrapper .checkbox {
	margin: 17px 0;
}
.loginWrapper .checkbox input[type="checkbox"] {
	opacity: 0;
}
.loginWrapper .checkbox label,
.loginWrapper .checkbox label::before,
.loginWrapper .checkbox label::after {
	display: inline-block;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	box-sizing: border-box;
}
.loginWrapper .checkbox label {
	position: relative;
	font-size: 14px;
	font-weight: 300;
	color: #8ed8f8;/* #83c0e9 */
	cursor: pointer;
}
.loginWrapper .checkbox label::before,
.loginWrapper .checkbox label::after {
	content: "";
	position: absolute;
}
.loginWrapper .checkbox label::before {
	top: 3px;
	left: -22px;
	width: 18px;
	height: 18px;
	border: 1px solid #009fda;/* #2384c5 */
	border-radius: 3px;
}
.loginWrapper .checkbox label::after {
	top: 8px;
	left: -19px;
	width: 12px;
	height: 6px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.loginWrapper .checkbox input[type="checkbox"]:hover + label::before {
	border: 1px solid #0092c8;/* #83c0e9 */
}
.loginWrapper .checkbox input[type="checkbox"] + label::after {
	content: none;
}
.loginWrapper .checkbox input[type="checkbox"]:checked + label {
	color: #fff;
}
/*.loginWrapper .checkbox input[type="checkbox"]:focus + label::before, */.loginWrapper .checkbox input[type="checkbox"]:checked + label::before {
	border: 1px solid #fff;
}
.loginWrapper .checkbox input[type="checkbox"]:checked + label::after {
	content: "";
}
.loginWrapper button {
	width: 100%;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	background: #009fda;/* #2384c5 */
	border: 0 none;
	display: block;
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 14px;
	box-sizing: border-box;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	padding: 0 18px;
}
.loginWrapper button:hover/*, .loginWrapper button:focus*/ {
	color: #00aeef;/* #3498db */
	background: #fff;
}