/* Notie JS */
.notie-container {
    font-size: 1.2rem;
    z-index: 2147483647;
    box-shadow: none;
}
@media screen and (max-width: 900px) {
    .notie-container {
        font-size: 1.2rem;
    }
}
.notie-background-info {
    /*background-color: rgba(0,174,239,0.8);/* #00aeef */
    background-color: rgba(77,85,91,0.8);/* #4d555b */
}
.notie-textbox {
    padding: 10px;
}
.notie-textbox-inner > span {
    font-weight: 500;
}
.notie-overlay {
    z-index: 2147483646;
}
/* bxSlider JS */
div#tabs-theme div.bx-viewport {
    height: 407px !important;
}

/* mod */
*[class*='mce-']{-webkit-border-radius:0 !important;-moz-border-radius:0 !important;border-radius:0 !important}
.mce-throbber{background:#fff}
.mce-tinymce button,.mce-panel button{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.mce-panel{background:#fff;filter:none;border:0 solid #fff}
.mce-in .mce-panel{background:#f3f3f3;border-top:1px solid #ddd}
.mce-edit-area{border:1px solid #ddd !important}
.mce-btn-group .mce-first,.mce-btn-group .mce-last{border:0 !important}
.mce-toolbar .mce-btn button{padding-top:3px;padding-bottom:3px}
.mce-toolbar .mce-btn i{color:#555}
.mce-toolbar .mce-btn:hover i{color:#333}
.mce-toolbar .mce-btn,.mce-toolbar .mce-btn.mce-disabled{background:none !important;filter:none !important;border:0;-webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important}
.mce-toolbar .mce-btn.mce-disabled{opacity:.4 !important;filter:alpha(opacity=40) !important}
.mce-toolbar .mce-btn.mce-active{background:#eee !important}
.mce-floatpanel{-webkit-box-shadow:0 3px 7px rgba(0,0,0,.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,.3);box-shadow:0 3px 7px rgba(0,0,0,.3)}
.mce-btn{background:#f0f0f0}
.mce-btn:hover{background:#e9e9e9}
.mce-primary{background:#7fba00}
.mce-primary:hover,.mce-primary:focus{background:#88ca00}
.mce-primary:active{background:#555}
.mce-textbox{-webkit-transition:none;transition:none}
.mce-textbox:focus{border-color:#38add7;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.mce-menu-item:hover,.mce-menu-item.mce-selected,.mce-menu-item:focus{background:#eee}
.mce-menu-item:hover .mce-text,.mce-menu-item.mce-selected .mce-text{color:#333}
.mce-window .mce-container-body { background: #fff; }
.mce-window .mce-foot .mce-container-body { background: #f3f3f3; }
.mce-branding {display:none!important;}