/* # Special classes for resizable grid. Class "under" adds dynamically
================================================== */

.under .fluid [class*="grid"] { width: 100%; margin-left: 0; }
.under .widget [class*="grid"] { display: block; width: 100%; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; float: left; margin-left: 2.127659574%; *margin-left: 2.0744680846382977%; }
.under .rtl-inputs [class*="grid"] { float: right; }

.under .widget [class*="grid"]:first-child { margin-left: 0; }
.under .widget .grid12 { width: 99.99999998999999%; *width: 99.94680850063828%; }
.under .widget .grid11 { width: 91.489361693%; *width: 91.4361702036383%; }
.under .widget .grid10 { width: 82.97872339599999%; *width: 82.92553190663828%; }
.under .widget .grid9 { width: 74.468085099%; *width: 74.4148936096383%; }
.under .widget .grid8 { width: 65.95744680199999%; *width: 65.90425531263828%; }
.under .widget .grid7 { width: 57.446808505%; *width: 57.3936170156383%; }
.under .widget .grid6 { width: 48.93617020799999%; *width: 48.88297871863829%; }
.under .widget .grid5 { width: 40.425531911%; *width: 40.3723404216383%; }
.under .widget .grid4 { width: 31.914893614%; *width: 31.8617021246383%; }
.under .widget .grid3 { width: 23.404255317%; *width: 23.3510638276383%; }
.under .widget .grid2 { width: 14.89361702%; *width: 14.8404255306383%; }
.under .widget .grid1 { width: 6.382978723%; *width: 6.329787233638298%; }

.under .breadLinks > ul > li > a span, .under .breadLinks ul li a strong { display: none; visibility: hidden; -webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; transition: all 1s ease-in-out; }
.under .breadLinks ul li a i { float: none; margin: 0; padding: 4px; }



/* # Special classes for responsive layout
================================================== */

.showTabletP { display: none!important; }
.showTabletL { display: none; }

/* ===== Responsive navigation ===== */

.altMenu { position: absolute; display: none; top: 56px; font-size: 11px; width: 280px; padding-top: 6px; left: 50%; margin-left: -140px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; text-align: left; background: url(../images/elements/other/dropTopArrow.png) 50% 0 no-repeat; z-index: 9999; }
.altMenu > li { background: url(../images/backgrounds/sidebar.jpg); }
.altMenu > li:first-child { -webkit-border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topright: 3px; }
.altMenu > li:last-child { -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-bottomright: 3px; }
.altMenu > li:first-child a { border-top: 1px transparent; }
.altMenu > li:last-child a { border-bottom: 1px transparent; }
.altMenu > li:hover { background: #3b3b3b; }
.altMenu > li a { display: block; padding: 6px 5px 6px 28px; color: #c2c2c2; border-bottom: 1px solid #343434; border-top: 1px solid #545454; background: url(../images/elements/control/rightArrow.png) no-repeat 14px 14px; }

.altMenu li ul { background: #4a4a4a; }
.altMenu li ul li a { border-top: 1px solid #555555; border-bottom: 1px solid #3d3d3d; padding-left: 42px; background-position: 28px 14px; }
.altMenu li ul li:hover { color: #dadada; background: #4c4c4c; }
.altMenu a.active { background-color: #525252; }

.cSec .secNav { display: none; }
.cSec #sidebar { width: 100px; }
.cSec #content { margin-left: 100px; }


.middleNavR { display: none; }
.middleNavS { display: none; }



/* # Media queries
================================================== */

@media only screen and (max-width: 1350px) {
body { -webkit-text-size-adjust: none; }
.fluid .grid12 { width: 99.99999998999999%; *width: 99.94680850063828%; }
}

@media only screen and (max-width: 1024px) {
input, textarea { -webkit-appearance: none; -webkit-border-radius: 0; }
.quickStats li a { display: none; }
.quickStats li strong { font-size: 16px; }
.chzn-container { width: 100%!important; }
	.quickStats, .quickStats2, .chartWrapper, .jopen-createcampaign  { display: none!important; }
	.ov_boxes .p_canvas {width:220px!important;}
	.quickStats3 li {box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03)!important; margin:0 20px 15px 0!important;}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
/*#sidebar { display: none; }
.secNav { display: none; position: absolute; top: 0; left: 100px; padding-left: 0; background: url(../images/backgrounds/subnav.jpg); border-right: 1px solid #c3c3c3; border-bottom: 1px solid #c3c3c3; box-shadow: 0 0 5px #cacaca; -webkit-box-shadow: 0 0 5px #cacaca; -moz-box-shadow: 0 0 5px #cacaca; }*/
#content { margin-left: 0px; }
.subNav li a.this { margin-right: 0; }
.showTabletP { display: block!important; }
.userNav .showTabletP { display: inline-block!important; }
/*#sidebar [class*="dataNum"] { display: inline-block; float: right; margin-left: 14px; position: static; margin-top: 1px; }*/
.moreFields ul li { width: 12%; }
.hideTablet { display: none; }
.topSearch { right: 71px; }
	.quickStats, .quickStats2, .chartWrapper, .jopen-createcampaign  { display: none!important; }
	.ov_boxes .p_canvas {width:220px!important;}
	.quickStats3 li {box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03)!important; margin:0 20px 15px 0!important;}
}

@media only screen and (min-width: 481px) {
/*.altMenu { display: none!important; }*/
}

@media only screen and (max-width: 768px) {
.quickStats, .quickStats2, .chartWrapper, .jopen-createcampaign { display: none!important; }
	.ov_boxes .p_canvas {width:220px!important;}
	.quickStats3 li {box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03)!important; margin:0 20px 15px 0!important;}
.breadLine { text-align: right; padding-right: 30px; }
.breadLinks { float: none; display: inline-block; margin: 0; }
.under .breadLinks > ul > li > a span, .under .breadLinks ul li a strong { display: none; visibility: hidden; }
.under .breadLinks ul li a i { float: none; margin: 0; padding: 4px; }
.pageTitle > [class^="icon-"], 
.pageTitle > [class*="icon-"] { color: #626262; }
    .iButton, .iTop, .iCamp { display: block; }
    ul.userNav { margin-right:10px; }
    .middleNavR { display: block; }
    .middleNavS { display: block; }
    .select2 { width: 90%!important; }
    .moxman-container, .moxman-container-body {
        width: 100% !important;
    }
    #moxman-14 {width: 125px !important;  }
    #moxman-17 {left: 125px !important;  }
    #moxman-33 {width: 97%!important;}
    #moxman-36 {left: 115px !important;  }
    #moxman-38 {left: 115px !important;  }
    #moxman-40 {left: 185px !important;  }

}

@media only screen and (min-width: 769px) {
.nav li:hover ul { display: none; }
/*#sidebar { display: block!important; }*/
    .altMenu { display: none!important; }
}

@media only screen and (min-width: 769px) and (max-width: 980px) {
.contentTop { overflow: hidden; }
.breadLinks { display: none; }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	
/*#sidebar { background: none; width: 100%; border: none; min-height: 0; display: none; }
.secNav { display: none; }
.mainNav { float: left; width: 100%; }
.nav { margin-top: 0; display: none; }
.nav li { display: inline-block; }
.nav li a { padding: 14px; }
.nav li a span { display: none; }
.nav li ul { top: 53px; padding: 0; right: 0; left: 0; }
.nav li ul li { display: block; }*/
#content { margin: 0!important; }
.breadLine { text-align: center; padding-right: 0px; }
.middleNavA li { width: 110px; }
.middleNavA li a { white-space: normal; }
.errorWrapper  { top: 70px; margin-top: 0; }
.errorWrapper .errorNum { font-size: 100px; padding: 0; margin: 60px 0 20px 0; }
.errorContent { width: 280px; margin-top: 60px; padding-bottom: 25px; }
.searchLine { margin-top: 20px; }
.checker, .radio { clear: both; }
.hideTablet { display: none; }
.contentTop { margin: 0; padding: 0 20px; overflow: hidden; clear: both; }
.pageTitle { margin-right: 0; }
.mesControls > span { display: none; }
.iButton, .iTop, .iCamp { display: block; }
/*ul.userNav { display: none; }*/
    ul.userNav { margin-right:10px; }
#sidebar ul.userNav { display: block; margin: 0; float: none; margin-right: 16px; }
#sidebar ul.userNav li:first-child { margin-left: 0; }
.leftUser { display: none!important; }
.user { padding: 16px 14px; text-align: left; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; display: block; float: left; width: auto; border: none; }
.user > span { display: none; }
.userSearch { display: block; }
.under .widget [class*="grid"] { width: 100%; margin: 5px 0; }
.formRow [class*="grid"]:first-child label { float: none; display: inline-block; margin-top: -8px; margin-bottom: 0px; padding: 0; }
.formRow [class*="grid"] label { float: left; }
.ibutton-container label { float: none!important; }
.wrapper { margin: 0 20px; }
.quickStats, .bc, #topSearch { display: none; }

/* Responsive tables */

.tDefault { display: block; position: relative; width: 100%; }
.tDefault thead tr td, .tDefault tbody tr td { border-top: 1px solid #dfdfdf; }
.tDefault thead { display: block; float: left; }
.tDefault thead tr { border-right: 1px solid #dfdfdf; }
.tDefault thead td { box-shadow: none; border: none; padding: 7px 11px; }
.tDefault tbody { display: block; width: auto; position: relative; overflow-x: auto; overflow-y: scroll; white-space: nowrap; }
.tDefault tbody tr td { border-left: none; min-width: 80px; }
.tDefault tbody td:first-child { border-top: none; }
.tDefault tbody tr { border-top: none; }
.tDefault thead td:first-child { border-left: none; border-top: none; }
.tDefault thead tr { display: block; }
.tDefault td { display: block; }
.tDefault tbody tr { display: inline-block; vertical-align: top; margin-left: -3px; border-right: 1px solid #dfdfdf; }
.tDefault tbody tr:first-child { margin-left: 0; }
.tDefault td { display: block; }

.checkAll thead tr td:first-child, .checkAll tbody tr td:first-child { padding: 7px 11px; } 
.checkAll tbody tr td { min-width: 80px; }
.checkAll thead td:first-child > img { vertical-align: middle; padding-top: 4px; padding-bottom: 2px; }

.dataTable { display: block; position: relative; width: 100%; }
.dataTable thead tr th, .dataTable tbody tr td { border-top: 1px solid #dfdfdf; display: block; }
.dataTable thead { display: block; float: left; }
.dataTable thead tr { border-right: none; }
.dataTable thead th { box-shadow: none!important; border-left: none!important; padding: 7px 11px!important; }
.dataTable tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
.dataTable tbody tr td { border-left: none; }
.dataTable tbody td:first-child { border-top: none; }
.dataTable tbody tr { border-top: none; border-left: 1px solid #dfdfdf; }
.dataTable tbody tr:first-child { border-left: none; }
.dataTable thead th:first-child { border-left: none; border-top: none; }
.dataTable thead tr { display: block; border-right: 1px solid #dfdfdf; }
.dataTable td { display: block; }
.dataTable tbody tr { display: inline-block; vertical-align: top; border-left: 1px solid #dfdfdf; }
.dataTable tbody tr:first-child { margin-left: 0; }
.dataTable td { display: block; }
.sorting, .sorting_asc, .sorting_desc { background-image: none; }
.dataTables_filter label > span, .showentries { display: none; }
.dataTables_filter input[type="text"] { margin-left: 0; width: 130px; margin-top: -1px; }
.dataTables_info { display: none; }
.dataTables_paginate { float: none; }
.dataTables_paginate .previous, .dataTables_paginate .next { display: none; }
.fg-toolbar { text-align: center; }

table.dataTable tbody tr td:first-child, table.dataTable thead tr th:first-child {  }
table.dataTable tbody tr td { border-left: none; }

.tLight { display: block; position: relative; width: 100%; }
.tLight thead tr td, .tLight tbody tr td { border-top: 1px solid #dfdfdf; }
.tLight thead { display: block; float: left; }
.tLight thead tr { border-right: 1px solid #dfdfdf; }
.tLight thead td { box-shadow: none; border: none; padding: 9px 16px; }
.tLight tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
.tLight tbody tr td { border-left: none; min-width: 80px; }
.tLight tbody td:first-child { border-top: none; }
.tLight tbody tr { border-top: none; }
.tLight thead td:first-child { border-left: none; border-top: none; }
.tLight thead tr { display: block; }
.tLight td { display: block; }
.tLight tbody tr { display: inline-block; vertical-align: top; margin-left: -3px; border-right: 1px solid #dfdfdf; }
.tLight tbody tr:first-child { margin-left: 0; }
.tLight td { display: block; }

.tDark { display: block; position: relative; width: 100%; }
.tDark thead tr td, .tDark tbody tr td { border-top: 1px solid #dfdfdf; }
.tDark thead { display: block; float: left; }
.tDark thead tr { border-right: 1px solid #dfdfdf; }
.tDark thead td { box-shadow: none; border: none; padding: 9px 16px; }
.tDark tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
.tDark tbody tr td { border-left: none; min-width: 80px; }
.tDark tbody td:first-child { border-top: none; }
.tDark tbody tr { border-top: none; }
.tDark thead td:first-child { border-left: none; border-top: none; }
.tDark thead tr { display: block; }
.tDark td { display: block; }
.tDark tbody tr { display: inline-block; vertical-align: top; margin-left: -3px; border-right: 1px solid #dfdfdf; }
.tDark tbody tr:first-child { margin-left: 0; }
.tDark td { display: block; }

.tAlt { display: block; position: relative; width: 100%; }
.tAlt thead tr td, .tAlt tbody tr td { border-top: 1px solid #dfdfdf; }
.tAlt thead { display: none; }
.tAlt thead tr { border-right: 1px solid #dfdfdf; }
.tAlt thead td { box-shadow: none; border: none; padding: 7px 11px; text-align: center; }
.tAlt tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
.tAlt tbody tr td { border-left: none; text-align: center; box-shadow: none; white-space: normal; border-bottom: none; }
.tAlt tbody td:first-child { border-top: none; }
.tAlt tbody tr { border-top: none; }
.tAlt thead td:first-child { border-left: none; border-top: none; }
.tAlt thead tr { display: block; }
.tAlt td { display: block; }
.tAlt tbody tr { display: inline-block; vertical-align: top; margin-left: -3px; border-right: 1px solid #dfdfdf; }
.tAlt tbody tr:first-child { margin-left: 0; }
.tAlt td { display: block; }

.tMedia thead { display: none; }
.tMedia tbody tr td:first-child { width: auto; }
.tMedia tbody tr { border-top: 1px solid #ddd; }
.tMedia tfoot tr td { text-align: center; }
.itemActions, .tPages { float: none; display: inline-block; }
.tMedia tfoot tr { border-top: none; }

.tToolbar li a, .tbar li a { text-indent: -9999px; width: 14px; }
.tToolbar li a span, .tbar li a span { text-indent: 0px; margin-right: 0; }
.tbar, .tbar li { height: 34px; }

.ui-dialog { max-width: 280px; }
.wInvoice li h4 { font-size: 16px; }
.mytasks thead { display: none; }
.mytasks tbody tr td:first-child { height: 8px; }
.taskPending { margin-top: 1px; }
table .dropdown-menu.pull-right { right: auto; left: 0; }
.plupload_filelist_footer .plupload_file_action, .plupload_filelist_footer .plupload_file_status, .plupload_filelist_footer .plupload_file_size {  display: none; }
.step h1 { display: none; }
.leftBox, .rightBox { width: 100%; float: none; }
.leftBox {  }
.dualControl { width: auto; margin: 20px 0; position: static; left: 0;  }
.countLabel { text-align: center; }
.elfinder .elfinder-navbar { width: 130px; }

.loginWrapper { top: 100px; margin-top: 0; }
.logControl { padding-bottom: 50px; }
}