div.timeline {
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow: hidden;
    margin: 0px auto;
}

/* Column */
div.timeline.dual div.column_left {
    width: 50%;
    float: left;
}
div.timeline.dual div.column_right {
    width: 50%;
    float: right;
    margin-top: 20px;
}
div.timeline.left div.column_left,
div.timeline.right div.column_right,
div.timeline.center div.column_center {
    width: 100%;
    float: none;
    margin-top: 0px;
}

/* Date Separator */
div.timeline div.date_separator {
    clear: both;
    text-align: center;
    height: 60px;
    position: relative;
}
div.timeline div.date_separator span {
    position: absolute;
    display: block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    top: -200%;
    margin-top: -16px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 6px;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
div.timeline div.date_separator.animated span {
    top: 50%;
    opacity: 1;
}
div.timeline.dual div.date_separator span,
div.timeline.center div.date_separator span {
    left: 50%;
    margin-left: -75px;
}
div.timeline.left div.date_separator span {
    right: 0px;
}
div.timeline.right div.date_separator span {
    left: 0px;
}

/* Spine */
div.timeline div.spine {
    position: absolute;
    top: 0px;
    bottom: 100%;
    width: 4px;
    border-radius: 2px;
    -webkit-transition: bottom 0.5s linear;
       -moz-transition: bottom 0.5s linear;
        -ms-transition: bottom 0.5s linear;
         -o-transition: bottom 0.5s linear;
            transition: bottom 0.5s linear;
}
div.timeline.dual div.spine,
div.timeline.center div.spine {
    left: 50%;
    margin-left: -2px;
}
div.timeline.left div.spine {
    right: 4px;
}
div.timeline.right div.spine {
    left: 4px;
}
div.timeline div.spine.animated {
    bottom: 0%;
}

/* Element */
div.timeline_element {
    position: relative;
    margin: 10px 0px;
    opacity: 0;
    clear: both;
    border-radius: 6px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.opacityFilter div.timeline_element {
    visibility: hidden;
}
.opacityFilter div.timeline_element.animated {
    visibility: visible;
}
div.timeline_element div.del {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 8px;
    text-transform: uppercase;
    padding: 4px 6px;
}
div.timeline_element:hover div.del {
    display: block;
}
div.timeline div.column_left div.timeline_element,
div.timeline div.column_right div.timeline_element,
div.timeline div.column_center div.timeline_element {
    padding: 5px 5px 0px;
    box-sizing: border-box;
}
div.timeline div.column_left div.timeline_element {
    left: 10%;
    margin-right: 30px;
    float: right;
}
div.timeline div.column_right div.timeline_element {
    right: 10%;
    margin-left: 30px;
    float: left;
}
div.timeline div.column_center div.timeline_element {
    margin: 20px auto;
}
div.timeline div.column_left div.timeline_element.animated {
    left: 0%;
    opacity: 1;
}
div.timeline div.column_right div.timeline_element.animated {
    right: 0%;
    opacity: 1;
}
div.timeline div.column_center div.timeline_element.animated {
    opacity: 1;
}
div.timeline_element::before {
    content: '';
    position: absolute;
    display: block;
    width: 26px;
    height: 0;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
div.timeline div.column_left div.timeline_element::before {
    top: 15px;
    right: -27px;
}
div.timeline div.column_right div.timeline_element::before {
    top: 15px;
    left: -27px;
}
div.timeline div.column_center div.timeline_element::before {
    display: none;
}
div.timeline_element::after {
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
div.timeline_element:hover::after {
    z-index: 100;
}
div.timeline.dual div.column_left div.timeline_element::after {
    top: 10px;
    right: -36px;
}
div.timeline.dual div.column_right div.timeline_element::after {
    top: 10px;
    left: -36px;
}
div.timeline.left div.column_left div.timeline_element::after {
    top: 10px;
    right: -30px;
}
div.timeline.right div.column_right div.timeline_element::after {
    top: 10px;
    left: -30px;
}
div.timeline.center div.column_center div.timeline_element::after {
    display: none;
}
div.timeline_element div.title {
    position: relative;
    /*font-size: 10px;*/
    overflow: hidden;
    /*margin: 10px;*/
	/*border-bottom: 1px solid #d4e9f4;*/
}
div.timeline_element div.title span.label {
    /*position: absolute;
    left: 0;
    right: 100px;*/
    float: left;
    text-overflow: ellipsis;
}
div.timeline_element div.title a.phoneDownload {
	float:left!important;
	margin-right:10px;
}
div.timeline_element div.title span.date {
    padding: 3px 0;
    float: right;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 14px;
}
div.timeline_element div.img_container {
    position: relative;
}
div.timeline_element div.img_overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: url('../images/opacity.png') repeat;  /*Fallback for IE*/
    background: rgba(0,0,0,0.5);
    opacity: 0;
    border-radius: 6px;
    -webkit-transition: opacity 0.2s linear;
       -moz-transition: opacity 0.2s linear;
        -ms-transition: opacity 0.2s linear;
         -o-transition: opacity 0.2s linear;
            transition: opacity 0.2s linear;
}
div.timeline_element div.img_container:hover div.img_overlay,
div.timeline_element div.img_overlay.loading {
    opacity: 1;
}
div.timeline_element div.img_overlay span {
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 60%;
    left: 50%;
    margin: -24px 0px 0px -24px;
    cursor: pointer;
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}
div.timeline_element div.img_container:hover div.img_overlay span,
div.timeline_element div.img_overlay.loading span {
    top: 50%;
    opacity: 1;
}
div.timeline_element div.img_overlay.loading span {
    background-image: url('../images/loader.gif');
}

/* Slider Element */
div.timeline_element.slider img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0px 0px 6px 6px;
}
div.timeline_element.slider.notitle img {
    border-radius: 6px;
}
div.timeline_element.slider div.content {
    position: relative;
}
div.timeline_element.slider div.img_container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
div.timeline_element.slider div.content span.slider_prev,
div.timeline_element.slider div.content span.slider_next {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    bottom: 5px;
    cursor: pointer;
}
div.timeline_element.slider div.content span.slider_prev {
    background-image: url('../images/prev.png');
    right: 34px;
}
div.timeline_element.slider div.content span.slider_next {
    background-image: url('../images/next.png');
    right: 5px;
}

/* iframe Element */
div.timeline_element.iframe div.content.loading {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('../images/loader.gif');
}
div.timeline_element.iframe div.content iframe {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    border-radius: 0px 0px 6px 6px;
}
div.timeline_element.iframe.notitle div.content iframe {
    border-radius: 6px;
}

/* Blog Post Element */
div.timeline_element.blog_post div.content {
    /*font-size: 13px;
    padding: 0px 10px 10px 10px;*/
    overflow: hidden;
}
div.timeline_element.blog_post div.content p {
	margin:0 10px 10px 10px;
    padding:0;
    text-align: left;
}
.emailtimeline {margin-top:10px;}
.emailtimeline .toemails {
	background:#f3f8fb;
	padding:5px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08);}
.emailtimeline p {
    margin: 5px 0;
    padding: 5px 0!important;
    border-top: none!important;
    border-bottom: none!important;
    text-align: left;
}
.emailbody {
    display:none;
}

.emailtimeline-title { 
	/*background: #C57FE5 !important;
	padding:10px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);*/
	color:#C57FE5!important;
	border:1px solid #fff;
	font-size:15px;
} 
.notetimeline-title { 
	/*background: #00aeef !important;
	padding:10px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);*/
	color:#00aeef!important;
	border:1px solid #fff;
	font-size:15px;
}
.contacttimeline-title { 
	/*background: #27bdbe !important;
	padding:10px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);*/
	color:#27bdbe!important;
	border:1px solid #fff;
	font-size:15px;
}
.phonetimeline-title { 
	/*background: #27bdbe !important;
	padding:10px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);*/
	color:#27bdbe!important;
	font-size:15px;
	/*border:1px solid #fff;*/
}
.proposaltimeline-title { 
	/*background: #e02a74 !important;
	padding:10px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);*/
	color:#e02a74!important;
	border:1px solid #fff;
	font-size:15px;
}
.texttimeline-title { 
	/*background: #1e4382 !important;*/
	color:#1e4382!important;
	/*padding:10px;*/
	/*box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);*/
	/*box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);*/
	border:1px solid #fff;
	font-size:15px;
}
.visitstimeline-title { 
	/*background: #ee6f23 !important;
	padding:10px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
	border:1px solid #fff;*/
	color:#ee6f23!important;
	font-size:15px;
}
.taskstimeline-title { 
	/*background: #727d84 !important;
	padding:10px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);*/
	color:#ee6f23!important;
	border:1px solid #fff;;
	font-size:15px;
}
.emailsummary-expand {
    height: auto;
}
div.timeline_element.blog_post div.img_container {
    margin-bottom: 10px;
}
div.timeline_element.blog_post div.img_container img {
    width: 100%;
    height: auto;
    display: block;
}
div.timeline_element.blog_post.notitle div.img_container img {
    border-radius: 6px 6px 0px 0px;
}
div.timeline_element.blog_post div.readmore {
    padding: 10px;
    font-size: 12px;
    text-align: right;
}
div.timeline_element.blog_post div.readmore a {
    text-decoration: underline;
}
div.timeline_element.blog_post div.readmore a:hover {
    text-decoration: none;
}

/* Gallery Element */
div.timeline_element.gallery div.scroll_container {
    position: relative;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 10px;
}
div.timeline_element.gallery div.img_container {
    display: inline-block;
    margin-right: 4px;
}
div.timeline_element.gallery div.img_container img {
    padding: 2px;
    display: block;
    border-radius: 2px;
}
div.timeline_element.gallery div.img_container:last-child {
    margin-right: 0px;
}
div.timeline_element.gallery div.img_overlay {
    border-radius: 2px;
}

/* Lightbox */
div.timeline_overlay {
    position: fixed;
    z-index: 200;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: none;
    background: url('../images/opacity.png') repeat;  /*Fallback for IE*/
    background-color: rgba(0, 0, 0, 0.5);
}
div.timeline_overlay.open {
    display: block;
}
div.timeline_overlay div.lightbox {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 0%;
    margin-left: -32px;
    margin-top: -32px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 6px;
    opacity: 0;
    -webkit-transition: top 0.3s linear, opacity 0.3s linear;
       -moz-transition: top 0.3s linear, opacity 0.3s linear;
        -ms-transition: top 0.3s linear, opacity 0.3s linear;
         -o-transition: top 0.3s linear, opacity 0.3s linear;
            transition: top 0.3s linear, opacity 0.3s linear;
}
div.timeline_overlay div.lightbox.loaded {
    top: 50%;
    opacity: 1;
}
div.timeline_overlay div.lightbox.updating {
    background-image: url('../images/loader.gif');
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}
div.timeline_overlay div.lightbox img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    opacity: 1;
    -webkit-transition: opacity 0.1s linear;
       -moz-transition: opacity 0.1s linear;
        -ms-transition: opacity 0.1s linear;
         -o-transition: opacity 0.1s linear;
            transition: opacity 0.1s linear;
}
div.timeline_overlay div.lightbox.updating img {
    opacity: 0;
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}
div.timeline_overlay div.lightbox span {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 55%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}
div.timeline_overlay div.lightbox:hover span {
    opacity: 1;
    top: 50%;
}
div.timeline_overlay div.lightbox.updating span {
    display: none;
}
div.timeline_overlay div.lightbox span.prev {
    background-image: url('../images/prev.png');
    left: 10px;
}
div.timeline_overlay div.lightbox span.next {
    background-image: url('../images/next.png');
    right: 10px;
}

/* Social */
div.timeline img.twitter_profile {
    margin: 0px 10px 10px 0px;
    border-radius: 3px;
    width: 48px;
    height: 48px;
}

div.timeline div.facebook_left_column {
    float: left;
    width: 50px;
}
div.timeline div.facebook_right_column {
    margin-left: 50px;
}
div.timeline div.facebook_content {
    overflow: hidden;
    text-overflow: ellipsis;
}
div.timeline img.facebook_profile {
    border-radius: 3px;
    width: 40px;
    height: 40px;
}
div.timeline div.facebook_post {
    overflow: hidden;
    clear: both;
    font-size: 11px;
    margin-top: 10px;
    border-radius: 3px;
}
div.timeline div.facebook_post img.facebook_picture {
    max-width: 80px;
    margin: 5px;
    float: left;
    border-radius: 3px;
}
div.timeline div.facebook_type_photo div.facebook_post {
    border: none;
}
div.timeline div.facebook_type_photo div.facebook_post img.facebook_picture {
    max-width: 100%;
    width: 100%;
    margin: 0px;
}
div.timeline div.description_container {
    overflow: hidden;
    margin: 5px 5px 5px 90px;
}
div.timeline div.facebook_post a {
    display: block;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}