/* Spine */
div.timeline div.spine {
    background: #dfebf1;/* #ccc */
}

/* Date Separator */
div.timeline div.date_separator span {
    background: #d4e9f4;/* #fff */
    border: 1px solid #b0daee;/* #bbb */
    color: #57a5c4;/* #666 */
}

/* Timeline Element */
div.timeline_element {
    background: #fff;
        border-top: solid 4px #d4e9f4;
		border-left:solid 1px #fff;
	border-right:solid 1px #fff;
	border-bottom:solid 1px #fff;
	    box-shadow: 0 8px 20px -3px rgba(0,0,0,0.1);
	font-family: 'AvertaStd';
    /*color: #37404e;*/
}
div.timeline_element:hover {
    border-color: #b0daee;/* #aaa */
}
div.timeline_element div.del {
    background-color: #222222;
    color: #FFFFFF;
    border: 1px solid #000000;
}
/*
div.timeline_element div.title {
    color: #AAAAAA;
}
*/
div.timeline_element div.title > span.label {
    background: none!important;/* #3a87ad */ 
	color: #fff;
	line-height:unset!important;
}

div.timeline_element::before {
    border-top: 1px dotted #d4e9f4;/* #ccc */
}
div.timeline_element:hover::before {
    border-top-color: #b0daee;/* #aaa */
}
div.timeline_element::after {
    background: #fff;/* #bbb */
    border: 1px solid #bad2de;/* #fff */
}
div.timeline_element:hover::after {
    border-color: #94b8c9;/* #ccc */
}
div.timeline_element ::-webkit-scrollbar {  /* Webkit only */
    width: 6px;
    height: 6px;
    background-color: #FFFFFF;
}
div.timeline_element ::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
    border-radius: 6px;
}
div.timeline_element ::-webkit-scrollbar-thumb:hover {
    background-color: #AAAAAA;
}
div.timeline_element div.img_container div.img_overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Blog Post Element */
div.timeline_element.blog_post div.readmore a {
    color: #222222;
}
div.timeline_element.blog_post a {
	color: #00aeef;/* #7a0004 */
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
div.timeline_element.blog_post a:hover {
	color: #009fda;
    text-decoration: underline;
}

/* Gallery Element */
div.timeline_element.gallery div.img_container img {
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
}

/* Lightbox */
div.timeline_overlay div.lightbox {
    border: 5px solid #FFFFFF;
    background-color: #FFFFFF;
}

/* Social */
div.timeline div.facebook_post {
    color: #777777;
    background-color: #F4F4F4;
    border: 1px solid #DDDDDD;
}