/*
 * jQuery UI CSS Framework @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

.mr45 { margin-right: 45px; }

.centerAllTDs > tr > td + td { text-align: center; }

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; /*clear: both;*/ visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
.ui-state-disabled { cursor: default !important; }
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/* Component containers
----------------------------------*/
.ui-widget { font-size: 12px; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-size: 11px; }
.ui-widget-content { background: #fafafa; /*border: 1px solid #CDCDCD;*/ /*box-shadow: 0 2px 2px -2px #ccc;*/  }
.ui-widget-content a { color: #222222; }
.ui-widget-header { font-weight: bold; }
.ui-widget-header a { color: #222222; }


/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border-left: 1px solid #d5d5d5; font-weight: normal; border-bottom: 1px solid #D5D5D5; }
th.ui-state-default:first-child { border-left: none; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background: #fafafa; font-weight: normal; color: #212121; }
.ui-state-hover a, .ui-state-hover a:hover { color: #797979; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background: #fafafa; font-weight: normal; color: #5a95ba; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #797979; text-decoration: none; }
.ui-widget :active { outline: none; }


/* Interaction Cues
----------------------------------*/
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(../images/jquery_ui/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(../images/jquery_ui/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(../images/jquery_ui/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(../images/jquery_ui/ui-icons_222222_256x240.png); }
.ui-state-default .ui-icon { background-image: url(../images/jquery_ui/ui-icons_888888_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(../images/jquery_ui/ui-icons_454545_256x240.png); }
.ui-state-active .ui-icon {background-image: url(../images/jquery_ui/ui-icons_454545_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(../images/jquery_ui/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(../images/jquery_ui/ui-icons_cd0a0a_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

.ui-corner-tl { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; }
.ui-corner-tr { -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; }
.ui-corner-br { -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }
.ui-corner-top { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }
.ui-corner-right {  -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }
.ui-corner-left { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; }
.ui-corner-all { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }

/* Overlays */
.ui-widget-overlay {
    background-color: rgba(77,85,91,0.8);/* #4d555b */
}

/* ===== UI resizable ===== */

.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

.ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }

.ui-accordion { width: 100%; }
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em .7em; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block; }


/* ===== UI autocomplete ===== */

.ui-autocomplete { position: absolute; display: none; padding: 0; z-index: 100!important; border: 1px solid #d5d5d5; border-top: none; max-height: 185px; overflow: auto; }	
.ui-autocomplete .ui-state-hover { background: none; padding: 6px 10px 7px 32px; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

.ui-menu { display: block; float: left; }
.ui-menu .ui-menu {  }
.ui-menu .ui-menu-item { margin:0; padding: 0; zoom: 1; float: left; clear: left; width: 100%; border-bottom: 1px solid #eaeaea; border-top: 1px solid #fff; background: #fafafa; }
.ui-menu .ui-menu-item a { text-decoration:none; display:block; padding: 6px 10px 7px 10px; color: #444; line-height:1.5; zoom:1; font-size: 11px; cursor: pointer; }
.ui-menu .ui-menu-item a.ui-state-hover { background-color: #f5f5f5; }
.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active { font-weight: normal;  }


.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; } 
button.ui-button-icons-only { width: 3.7em; } 

/*button text element */
.ui-button .ui-button-text { display: block; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; }

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.ui-buttonset { margin-right: 5px; }
.ui-buttonset .ui-button { margin: 0 3px; background: #FAFAFA; border: 1px solid #D5D5D5; line-height: 14px; font-size: 11px; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */


/* ===== UI Dialog ===== */

.ui-dialog {
    position: absolute;
    width: auto;
    background: #00aeef;/* #3498db */
    border-radius: 3px;
	box-shadow: 0 1px 6px rgba(0,0,0,.5),0 2px 32px rgba(0,0,0,.6);
    overflow: hidden;
	border-top: 4px solid #4d555b;;
}
.ui-dialog input[type="text"],
.ui-dialog input[type="password"] {
    /*font-size: 11px;
    padding: 6px 5px;
    background: #fff;
    border: 1px solid #ddd;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #656565;
    margin: 10px auto;
    display: block;
    box-sizing: border-box;*/
    display: inline-block;
	padding: 0 18px;
	width: 100%;
	height: 28px;
	line-height: 28px;
	font-size: 11px;
	font-weight: 500;
	box-sizing: border-box;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	background: none;
	position: relative;
	border: 1px solid #d4e9f4;/* #ddd */
	border-radius: 3px;
	color: #a6c4d4;/* #444 */
}
.ui-dialog textarea {
    /*font-size: 11px;
    padding: 6px 5px;
    background: #fff;
    border: 1px solid #ddd;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #656565;
    margin: 10px auto;
    display: block;
    box-sizing: border-box;*/
    display: inline-block;
	padding: 10px;
	width: 100%;
	height: 100px;
	line-height: 13px;
	font-size: 11px;
	font-weight: 500;
	box-sizing: border-box;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	background: none;
	position: relative;
	border: 1px solid #d4e9f4;/* #ddd */
	border-radius: 3px;
	color: #a6c4d4;/* #444 */
}
.ui-dialog textarea {
	height: auto;
}
.ui-dialog input[type="text"]:hover,
.ui-dialog input[type="password"]:hover,
.ui-dialog textarea:hover,
.ui-dialog input[type="text"]:focus,
.ui-dialog input[type="password"]:focus,
.ui-dialog textarea:focus {
	border: 1px solid #b0daee;/* #83c0e9 */
	color: #748a96;/* #3498db */
}
.ui-dialog form {}
.ui-dialog form label { display: block; /*cursor: pointer;*/ margin-bottom: 3px; }
.ui-dialog form #uniform-undefined + label {margin-top: 15px; }
.dialogSelect label { margin: 4px 15px 0 0; }
.customDialog { padding: 0!important; }
.ui-dialog .icon { padding: 1px 6px 0 0; float: left; }
.ui-dialog .titleIcon { position: absolute; top: -10px; }
.ui-dialog p { padding: 0!important; }
.ui-dialog .ui-dialog-titlebar {
    position: relative;
}
.ui-dialog .ui-dialog-title {
    padding: 0 20px;
    height: 38px;
    line-height: 38px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}
.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 0;
    width: 38px;
    height: 38px;
    border-radius: 0;
}
.ui-dialog .ui-dialog-titlebar-close:hover,
.ui-dialog .ui-dialog-titlebar-close:focus {
    background: #009fda;/* #2384c5 */
}
.ui-dialog .ui-dialog-titlebar-close span {
    width: 18px;
    height: 18px;
    display: block;
    background: #0092c8;/* #2384c5 */
    mask: url(../images/icons/feather/x.svg) 0 0/18px 18px;
    -webkit-mask: url(../images/icons/feather/x.svg) 0 0/18px 18px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.ui-dialog .ui-dialog-titlebar-close:hover span,
.ui-dialog .ui-dialog-titlebar-close:focus span {
    background: #00c0f3;/* #fff */
}
.ui-dialog .ui-dialog-content {
    position: relative;
    overflow: auto;
    zoom: 1;
    padding: 20px;
    background: #fff;
    clear: both;
}
.ui-dialog .ui-dialog-buttonpane {
    padding: 0 20px;
    background: #fff;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    padding: 5px 0;
    border-top: 1px solid #d4e9f4;/* #ddd */
    text-align: right;
}
.ui-dialog .ui-dialog-buttonpane button {
    margin-left: 5px;
    padding: 0 18px;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	font-weight: 300;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	color: #fff;
    background: #27bdbe;/* #3498db */
	border: 0 none;
	border-radius: 5px;
	box-sizing: border-box;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.ui-dialog .ui-dialog-buttonpane button:hover {
    background: #009fda;/* #2384c5 */
}

.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 5px; bottom: 5px; opacity: 0.3; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #AAA url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30; filter: Alpha(Opacity=30); -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }

.ui-dialog form .fluid.spacing { display: block; margin-bottom: 10px; }

/* ===== UI Slider ===== */

.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 16px; height: 16px; cursor: default; background: url(../images/elements/ui/handle.png) no-repeat; border: none; cursor: pointer; }
.ui-slider .ui-slider-handle:hover { background-position: 0 -16px; }
.ui-slider .ui-slider-handle:active { background-position: 0 -32px; }

.ui-slider .ui-slider-range { position: absolute; z-index: 1; height: 6px; font-size: .7em; display: block; border: 1px solid #5ba8e1; box-shadow: 0 1px 0 #aad6f6 inset;  -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; background: #9bcff5; background: -moz-linear-gradient(top,  #9bcff5 0%, #84c4f3 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bcff5), color-stop(100%,#84c4f3)); background: -webkit-linear-gradient(top,  #9bcff5 0%,#84c4f3 100%); background: -o-linear-gradient(top,  #9bcff5 0%,#84c4f3 100%); background: -ms-linear-gradient(top,  #9bcff5 0%,#84c4f3 100%); background: linear-gradient(top,  #9bcff5 0%,#84c4f3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bcff5', endColorstr='#84c4f3',GradientType=0 ); }
.ui-slider-horizontal { height: 4px; background: #d7d7d7; border: 1px solid #bababa; box-shadow: 0 1px 0 #fff, 0 1px 0 #cfcfcf inset; clear: both; margin: 8px 0; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }
.ui-slider-horizontal .ui-slider-handle { top: -6px; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: -1px; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
.ui-slider-vertical { height: 100px; width: 4px; background: #d7d7d7; box-shadow: 0 1px 0 #fff, 0 1px 0 #cfcfcf inset; }
.ui-slider-vertical .ui-slider-handle { left: -6px; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 2px; background: #9bcff5; background: -moz-linear-gradient(top,  #9bcff5 0%, #84c4f3 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bcff5), color-stop(100%,#84c4f3)); background: -webkit-linear-gradient(top,  #9bcff5 0%,#84c4f3 100%); background: -o-linear-gradient(top,  #9bcff5 0%,#84c4f3 100%); background: -ms-linear-gradient(top,  #9bcff5 0%,#84c4f3 100%); background: linear-gradient(top,  #9bcff5 0%,#84c4f3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bcff5', endColorstr='#84c4f3',GradientType=0 ); }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
#eq span { height: 120px; float: left; margin-right: 30px; display: block; }


/* ===== UI Tabs ===== */

.ui-tabs { position: relative; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; border-bottom: 1px solid #CDCDCD;
background: #F8F8F8;
background: -moz-linear-gradient(top, #F8F8F8 0%, #E8E8E8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F8F8), color-stop(100%,#E8E8E8));
background: -webkit-linear-gradient(top, #F8F8F8 0%,#E8E8E8 100%);
background: -o-linear-gradient(top, #F8F8F8 0%,#E8E8E8 100%);
background: -ms-linear-gradient(top, #F8F8F8 0%,#E8E8E8 100%);
background: linear-gradient(top, #F8F8F8 0%,#E8E8E8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e8e8e8',GradientType=0 );
}

.ui-tabs .ui-tabs-nav:after { content: ""; display: block; clear: both; }

.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; border-left: 0; border-right: 1px solid #d5d5d5; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: 12px 16px 10px 16px; text-decoration: none; display: block; outline: none; color: #636363; font-size: 12px; font-weight: bold; }
.ui-tabs .ui-tabs-nav li a:hover { color: #797979; }
.ui-tabs .ui-tabs-nav li:hover { background: none; }

.ui-tabs .ui-tabs-nav li.ui-tabs-active { background-color: #f7f7f7; box-shadow: 0 1px 0 #eaeaea; -webkit-box-shadow: 0 1px 0 #eaeaea; -moz-box-shadow: 0 1px 0 #eaeaea; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active a { color: #2E6B9B; }

.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }

.rightTabs .ui-tabs .ui-tabs-nav { background: none; border: 0; position: absolute; right: 0; top: -38px; }
.rightTabs .ui-tabs-nav li { float: right; border-right: none; border-left: 1px solid #D5D5D5; }

.tableTabs .ui-tabs .ui-tabs-panel { padding: 0; }


/* ===== UI Datepicker ===== */

/*
.datepicker { width: 78px!important; }
label + .datepicker { width:  100% !important; }
*/
.datesRange li { float:left; }
.datesRange li.separator { margin: 0 10px; color: #ddd; }
.datesRange li input[type=text] { width: 78px!important; }
/*.ui-datepicker-append { margin-left: 14px; font-size: 11px; line-height: 26px; }*/
.ui-datepicker { width: 195px; /*padding: .2em .2em 0;*/ display: none; border: 1px solid #CDCDCD; }
.ui-datepicker-inline { width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; margin-top: 35px; }
#sidebar .ui-datepicker-inline, .widget .ui-datepicker-inline { margin-top: 0; }
.formRow .ui-datepicker-inline { width: 195px; }
.ui-datepicker .ui-datepicker-header { position:relative; padding: 8px 0 7px 0; border:0px; font-weight: bold; font-size: 11px; width: 100%; color: #636363; text-shadow: 0 1px white; border-bottom: 1px solid #CDCDCD; border-radius: 0!important; box-shadow: 0 1px 0 #fff; -webkit-box-shadow: 0 1px 0 #fff; -moz-box-shadow: 0 1px 0 #fff; background: #F8F8F8; background: -moz-linear-gradient(top, #F8F8F8 0%, #ececec 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F8F8), color-stop(100%,#ececec)); background: -webkit-linear-gradient(top, #F8F8F8 0%,#ececec 100%); background: -o-linear-gradient(top, #F8F8F8 0%,#ececec 100%); background: -ms-linear-gradient(top, #F8F8F8 0%,#ececec 100%); background: linear-gradient(top, #F8F8F8 0%,#ececec 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ececec',GradientType=0 ); }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 9px; width: 1.8em; height: 1.8em; cursor: pointer; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { background: none; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:7px; }
.ui-datepicker .ui-datepicker-prev-hover { }
.ui-datepicker .ui-datepicker-next-hover {  }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; width: 6px; cursor: pointer; height: 9px; position: absolute; left: 50%; top: 4px; background: url(../images/elements/ui/dateArrows.png) no-repeat 0; }
.ui-datepicker .ui-datepicker-prev span { background-position: 0 0; }
.ui-datepicker .ui-datepicker-next span { background-position: -8px 0; }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; line-height: 14px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; border-left: 1px solid #cdcdcd; }
.ui-datepicker-multi .ui-datepicker-group:first-child { border-left: none; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

.ui-datepicker th { font-weight: bold; color: gray; }
.ui-datepicker-today a:hover{ background-color: #808080; color: #ffffff; }
.ui-datepicker-today a{ background-color: #BFBFBF; cursor: pointer; padding: 0 1px; margin-bottom:0px; }
.ui-datepicker td a{ margin-bottom:0px; border:0px; }
.ui-datepicker td:hover{ color:white; }
.ui-datepicker td .ui-state-default { border:0px; background:none; margin-bottom:0px; padding:6px; color: #505050; text-align: center; filter:none; }
.ui-datepicker td .ui-state-active{ background:#67919d; margin-bottom:0px; font-size:normal; text-shadow: 0px; color:white;   -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.ui-datepicker td .ui-state-default:hover{ background:#476981; color:white; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }


/* ===== UI Progress bar ===== */

.ui-progressbar { height: 16px; text-align: left; margin-top: 5px; background: #d7d7d7; border: 1px solid #bababa; box-shadow: 0 1px 0 #fff, 0 1px 0 #cfcfcf inset; clear: both; }
.ui-progressbar .ui-progressbar-value {margin: 0px; height:100%; overflow: hidden; display: block; background: url(../images/elements/ui/progressOverlay.png) repeat-x; border-right: 1px solid #5b9acb; }
.pbar .ui-progressbar-value {display:block !important}
.pbar, .precent, elapsed { display: block; }
.percent, .elapsed { position: relative; margin-top: 5px; font-size: 11px; }
.pbar { overflow: hidden; }
.percent { float: right; }
.elapsed { float: left;}


/* ===== Spinner ===== */

.ui-spinner { position: relative; display: inline-block; overflow: hidden; padding: 0; vertical-align: middle; border: none; box-shadow: none; }
.ui-spinner > input[type=text] { padding: 7px 22px 7px 8px; box-sizing: border-box; }
.ui-spinner-disabled { background: #F4F4F4; color: #CCC; }
.ui-spinner input.ui-spinner-box { border: none!important; background: none!important; padding: 0!important; height: 26px; }
.ui-spinner-up, .ui-spinner-down { width: 18px; padding: 0; margin: 0; z-index: 100; position: absolute; right: 1px; cursor: pointer; border: none; }
.ui-spinner-up { background: url(../images/elements/forms/spinnerTop.png) no-repeat; height: 15px; top: 0; }
.ui-spinner-down { height: 15px; bottom: -1px; background: url(../images/elements/forms/spinnerBottom.png) no-repeat; }
.ui-spinner-list, .ui-spinner-listitem { margin: 0; padding: 0; }
.ui-spinner ul li, .ui-spinner-data { line-height: 26px; height: 26px; }
.ui-spinner-input { border: none; box-shadow: none; }
.ui-spinner-button .ui-icon { display: none; }

/* 
	Author: corfro
	Date  : 5.11.14
*/

/* ===== Tabs + Dynamic Tables ===== */
.BntWithTabs { position: absolute; right: 45px; top: 0; }
.BntWithTabs.noM { right:5px; }
.tabsAndTables .ui-tabs .ui-tabs-panel { padding: 0; }
.tabsAndTables .ui-widget-content a { color: #2b6893; }
.tabsAndTables .ui-widget-content a.bDefault { color: #686868; }

/* ===== Tabs + Form Rows ===== */
.widget.tabs .ui-tabs-panel { padding: 0; }
.widget.tabs > [class*="whead"] { border-bottom: none; }

/* ===== IDE in Form Row ===== */
.formRow.j-dual-ide { padding: 0 0 19px 0; }
.formRow.j-dual-ide .note { padding: 0 16px; }

.chosenSelect > div.selector { display:none }
.chosenSelect > .chzn-container { width: 180px !important; }

tfoot.fancyFooter tr {
    border-top: 1px solid #d4e9f4;/* #dfdfdf */
}
tfoot.fancyFooter td {
    padding: 9px 16px;
    vertical-align: middle;
    text-align: center;
    /*color: #777;*/
}

/* ===== Theme Slider ===== */
ul.bxSlider > li {
    position: relative;
}
ul.bxSlider > li > a > span.themeTitle {
    position: absolute;
	top: 50%;
    right: 0;
    left: 0;
    padding: 5px;
    background-color: rgba(96,106,112,0.8);/* #606a70 */
    text-align: center;
    color: #fff;
    font-weight: 500;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
ul.bxSlider > li > a > span.themeTitle::before,
ul.bxSlider > li > a > span.themeTitle::after {
    content: "\2022";
    display: inline-block;
    color: rgba(255,255,255,0.4);/* #fff */
}
ul.bxSlider > li > a > span.themeTitle::before,
ul.bxSlider > li > a > span.themeTitle::after,
ul.bxSlider > li > a:hover > span.themeTitle::before,
ul.bxSlider > li > a:hover > span.themeTitle::after {
    text-decoration: none;
}
ul.bxSlider > li > a > span.themeTitle.actv {
	background-color: rgba(0,174,239,0.8);/* #00aeef */
}
ul.bxSlider > li > a:hover > span.themeTitle {
    text-decoration: underline;
}
.currentTheme {
    position: relative;
    margin: 0 auto;
    padding: 5px;
    width: 115px;
    display: block;
    box-shadow: 0 0 5px rgba(77,85,91,0.4);/* #4d555b */
}
img.preview {
    margin-top: 15px;
    padding: 10px;
    max-width: 20%;
    max-height: 20%;
    clear: both;
    background: #ccc;
    border: 1px solid #aaa;
}
img.preview[src=""] { background-color: transparent; border: none; padding: 0; margin: 0; }
.jqColorPicker > .adminLock { float: right !important; }

/* ===== Edit Switcher ===== */
.fluid .editSwitcher > input.edit { display: none; }

/*** Custom link categories ***/
/* Touch Points - Purple */
/* a.campaignName {
	background: -moz-linear-gradient(top,  #92ACBE 0%, #374E5D 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#92ACBE), color-stop(100%,#374E5D));
    background: -webkit-linear-gradient(top,  #92ACBE 0%,#374E5D 100%);
    background: -o-linear-gradient(top,  #92ACBE 0%,#374E5D 100%);
    background: -ms-linear-gradient(top,  #92ACBE 0%,#374E5D 100%);
    background: linear-gradient(to bottom,  #92ACBE 0%,#374E5D 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92ACBE', endColorstr='#374E5D',GradientType=0 );
	/*border: 1px solid #5f3083;*/
	/* border-radius: 3px;
	color: #fff;
	padding:4px 8px;
	/*text-shadow: 1px 1px 1px #5f3083;*/
/*}
a.campaignName:hover {
	background: #EE7951;
	text-shadow:none;
}*/



.demo-container {
	box-sizing: border-box;
	width: 100%;
	height: 300px;
	padding: 20px 15px 15px 15px;
}


.demo-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.flot-x-axis .flot-tick-label.tickLabel > strong {
	font-size:18px;
	line-height:25px;
}


/*** Input Groups ***/
.input-group {
    border-collapse: separate;
    display: table;
    position: relative;
    margin-top: 10px;
}
.input-group-addon:first-child {
    border-right: 0 none;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.input-group-addon {
    background-color: #f3f8fb;/* #eee */
    border: 1px solid #dfebf1;/* #ccc */
    border-radius: 3px 0 0 3px;
	color: #748a96;/* #555 */
    font-size: 11px;
    font-weight: 500;
    text-align: center;


    display: inline-block;
	padding: 0 18px;
	height: 28px;
	line-height: 28px;
	box-sizing: border-box;
	position: relative;
}
.input-group-addon {
    vertical-align: middle;
    white-space: nowrap;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}
.input-group .form-control {
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 9991; /* needed so high to be able to select the input box */
}
/*
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    margin: 0 !important;
}
.form-control::-moz-placeholder {
    color: #777;
    opacity: 1;
}
.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
    font-size: 11px;
    line-height: 1.5;
    padding: 5px 10px;
}
*/

/* ####################### pricing Tables */
.pricing {
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.17);
    position: relative;
    transform: scale(1) !important;
    transition: all 0.4s ease-in-out 0s;
    margin-top: 20px;
}
.pricing.upgrade {
    opacity: 0.65;   
}
.pricing:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.22);
    opacity: 1;
}
.pricing table {
    text-align: center;
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}
.pricing table thead th {
    background: none repeat scroll 0 0 #f7f5f2;
    border-bottom: 1px solid #e5e3e1;
    border-radius: 6px 6px 0 0;
    color: #403e3d;
    font-size: 28px;
    font-weight: 600;
    padding: 40px;
    width: auto;
}
.pricing.upgrade table thead th {
    background: none repeat scroll 0 0 transparent;
}
.pricing table tfoot {
    background: none repeat scroll 0 0 #fff;
}
.pricing table .label-wrapper {
    height: 25px;
    margin-bottom: 10px;
    position: relative;
}
.price-label {
    background: none repeat scroll 0 0 #fb8404;
    border-radius: 90px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    left: 50%;
    margin-left: -45px;
    padding: 25px 10px;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 70px;
}
.pricing.upgrade .price-label {
    background: none repeat scroll 0 0 #5ba5cb;
}

.price-label span {
    display: block;
    font-size: 12px;
    font-weight: 300;
}
.pricing table tfoot td {
    padding: 0 30px 30px;
}

.pricing a:link {
    color: #fb8404;
    font-style: normal;
    outline: medium none;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.mybtn, .mybtn-grey, .mybtn-blue {
    background: -moz-linear-gradient(center top , #fb8404, #fb5c03) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #db4e00;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 #db4e00 inset;
    color: #fff !important;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    margin: 10px 0;
    padding: 7px 15px;
    text-align: center;
    text-transform: uppercase;
}
.mybtn-grey {
    background: -moz-linear-gradient(center top , #f5f2f0, #e5e3e1) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #d1cfcd;
    box-shadow: 0 0 2px 0 #d6d4d2 inset;
    color: #7f7d7b !important;
}
.mediumbtn {
    cursor:default;
    font-style: normal;
    outline: medium none;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    padding: 12px 40px;
}

.pricing.upgrade .mybtn-grey {
    cursor: pointer;
    color:#FFF !important;
    border: 1px solid #3e76af;
    box-shadow: 0 1px 2px 0 #66b2d2 inset;
    -webkit-box-shadow: 0 1px 2px 0 #66b2d2 inset;
    -moz-box-shadow: 0 1px 2px 0 #66b2d2 inset;
    background: #5ba5cb;
    background: -moz-linear-gradient(top, #5ba5cb 0%, #3a70ab 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ba5cb), color-stop(100%,#3a70ab));
    background: -webkit-linear-gradient(top, #5ba5cb 0%,#3a70ab 100%);
    background: -o-linear-gradient(top, #5ba5cb 0%,#3a70ab 100%);
    background: -ms-linear-gradient(top, #5ba5cb 0%,#3a70ab 100%);
    background: linear-gradient(top, #5ba5cb 0%,#3a70ab 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ba5cb', endColorstr='#3a70ab',GradientType=0 );   
}

.pricing table tbody {
    background: none repeat scroll 0 0 #fff;
}
.pricing table tbody td {
    padding: 50px 40px 0;
    width: auto;
}
.pricing table tbody p {
    margin: 0 0 10px;
}
.pricing table ul {
    display: block;
    margin-top: 20px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    list-style-type: none;
    padding: 0;
}
.pricing table ul li {
    margin: 15px 0;
    line-height: 20px;
}
.pricing table strong {
    color: #403e3d;
}

.text-small {
    font-size: 12px;
    line-height: 1.5em;
}

#addon-quantity {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    min-width:40px;
    text-align: center;
}
 
#addon-quantity:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

#jdialog-listOfLeads { max-height: 500px; }
.ui-dialog[aria-labelledby="ui-dialog-title-jdialog-listOfLeads"] { z-index: 9999; }


/* Legacy Form styling for hybrid views */
.custom-form{}
.custom-form > ul{}
li.label2Input, li.submit-li{
    display: block;
    width: 100%;
    padding:5px;
    clear: both;
    margin:10px 0;
    border-top:1px solid #ccc;
}
li.label2Input > label {
    display:inline-block;
    width: 20%;
    float: left;
}
li.label2Input > label > span { color:#666; font-style: italic; font-size:80%; }
li.label2Input > input, li.label2Input > textarea, li.label2Input > select, {
    float:left;
    clear:left;
    margin: 5px 0;
}