/*

Copyright (c) 2003-2009, CKSource - Frederico Knabben. All rights reserved.

For licensing, see LICENSE.html or http://ckeditor.com/license

*/



@media print

{

	.cke_path

	{

		display: none;

	}

}



.cke_skin_kama .cke_path

{

	padding: 0 5px;

	display: inline-block;

	float: left;

}



.cke_skin_kama .cke_rtl .cke_path

{

	float: right;

}



.cke_skin_kama .cke_path a,

.cke_skin_kama .cke_path .cke_empty

{

	display: inline-block;

	float: left;

	padding-top: 1px;

	padding-bottom: 1px;

	padding-left: 4px;

	padding-right: 4px;

	margin-bottom : 3px;

	color: #60676a;

}



.cke_skin_kama .cke_path .cke_empty

{

	visibility: hidden;

}



.cke_skin_kama .cke_rtl .cke_path a,

.cke_skin_kama .cke_rtl .cke_path cke_empty

{

	float: right;

}



.cke_skin_kama .cke_path a:hover,

.cke_skin_kama .cke_path a:focus,

.cke_skin_kama .cke_path a:active	/* IE */

{

	background-color: #dff1ff;

	padding-top: 1px;

	padding-bottom: 1px;

	padding-left: 4px;

	padding-right: 4px;

	outline: none;

	color : #000;

}



/* IE double float-right workaround */

.cke_skin_kama .cke_browser_ie .cke_rtl .cke_path a,

.cke_skin_kama .cke_browser_ie .cke_rtl .cke_path .cke_empty

{

	float: none;

}

