td,div,img { behavior: url("iepngfix.htc") }

/* TOP MENU STYLE */
#top_menu {width:455px}
#top_menu {background:url(../images/backgrounds/top-menu-left.png) no-repeat left; padding:0px 0px 0px 11px; float:right; width:455px}
#top_menu_right {background:url(../images/backgrounds/top-menu-right.jpg) no-repeat right; padding:0px 7px 0px 0px; height:36px;}
#top_menu_bg {background:url(../images/backgrounds/top-menu-bg.png) repeat-x; height:36px;}
#top_menu ul li {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; float:left; height:34px; margin-top:2px;}
#top_menu ul li a {text-decoration:none; color:#D9F14A; display:block;  line-height:30px; margin:0px 0px 0px 2px; padding:1px 0px 0px 5px;}
#top_menu ul li a span { display:block; line-height:30px; padding:0px 11px 0px 5px;}
#top_menu ul li a:hover, #top_menu ul li a.activelink  {color:#FEFEFE; background:url(../images/backgrounds/top-menu-left-hover.jpg) no-repeat left; padding-top:1px;}
#top_menu ul li a:hover span , #top_menu ul li a.activelink span {background:url(../images/backgrounds/top-menu-right-hover.jpg) no-repeat right;}


/* HEADER SLIDER NEXT PREVIOUS STYLE */														
#prevBtn a, #nextBtn a,
#slider1next a, #slider1prev a{ 
	background:url(../images/backgrounds/header-slider-previous-butt.jpg) no-repeat 0 0; margin-top:1px;	
	}	
#nextBtn a, #slider1next a{ 
	background:url(../images/backgrounds/header-slider-next-button.jpg) no-repeat 0 0;	margin-top:1px;	
	}	

/* COLORBOX POPUP IMAGE STYLE */														

#cboxOverlay{background:url(../images/colorbox/internet_explorer/ie6/overlay.gif) 0 0 repeat;}
#cboxTopLeft{width:21px; height:21px; background:url(../images/colorbox/internet_explorer/ie6/controls.gif) -100px 0 no-repeat;}
#cboxTopRight{width:21px; height:21px; background:url(../images/colorbox/internet_explorer/ie6/controls.gif) -129px 0 no-repeat;}
#cboxBottomLeft{width:21px; height:21px; background:url(../images/colorbox/internet_explorer/ie6/controls.gif) -100px -29px no-repeat;}
#cboxBottomRight{width:21px; height:21px; background:url(../images/colorbox/internet_explorer/ie6/controls.gif) -129px -29px no-repeat;}
#cboxMiddleLeft{width:21px; background:url(../images/colorbox/internet_explorer/ie6/controls.gif) left top repeat-y;}
#cboxMiddleRight{width:21px; background:url(../images/colorbox/internet_explorer/ie6/controls.gif) right top repeat-y;}
#cboxTopCenter{height:21px; background:url(../images/colorbox/internet_explorer/ie6/border.gif) 0 0 repeat-x;}
#cboxBottomCenter{height:21px; background:url(../images/colorbox/internet_explorer/ie6/border.gif) 0 -29px repeat-x;}
#cboxLoadedContent{margin-bottom:28px;}
#cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
#cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
#cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
#cboxPrevious{position:absolute; bottom:0; left:0px; background:url(../images/colorbox/internet_explorer/ie6/controls.gif) -75px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
#cboxPrevious.hover{background-position:-75px -25px;}
#cboxNext{position:absolute; bottom:0; left:27px; background:url(../images/colorbox/internet_explorer/ie6/controls.gif) -50px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
#cboxNext.hover{background-position:-50px -25px;}
#cboxLoadingOverlay{background:url(../images/colorbox/internet_explorer/ie6/loading_background.gif) center center no-repeat;}
#cboxLoadingGraphic{background:url(../images/loading.gif) center center no-repeat;}
#cboxClose{position:absolute; bottom:0; right:0; background:url(../images/colorbox/internet_explorer/ie6/controls.gif) -25px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
#cboxClose.hover{background-position:-25px -25px;}