/** 
1) BODY
2) TOP MENU STYLE
3) INDEX 1 CONTAINER STYLE
4) LOGO HEADER STYLE
5) HEADER SLIDER STYLE
6) INDEX 1 WHITE BOX STYLE
7) INDEX 1 WHITE BOX LIST STYLE
8) INDEX 1 RECENT PROJECTS
9) INDEX 1 TESTIMONIALS
10) FOOTER
11) INDEX 2 CONTAINER STYLE
12) INDEX 2 RECENT PROJECTS
13) INDEX 2 TESTIMONIALS
14) INNERPAGE BODY
15) INNERPAGE CONTAINER STYLE
16) INNERPAGE HEADER STYLE
17) INNERPAGES CONTENT ( & PAGE TEMPLATE) STYLE
18) TABLE STYLE
19) INNERPAGE RIGHT PANEL STYLE
20) FULL WIDTH PAGE
21) PORTFOLIO PAGE STYLE
22) BLOG STYLE
23) BLOG CONTENT  STYLE
24) BLOG RIGHT PANEL STYLE
25) CONTACT FORM STYLE
26) CONTACT US RIGHT PANEL STYLE
**/

/* =RESET
=-----------------------*/
* {margin:0px; padding:0px;}
body {background:#E6E6CE; line-height:normal; font-family: Georgia, "Times New Roman", Times, serif; font-size:12px; font-weight:normal; color:#3F3F3F;}
html {height:100%; font-size:100%;}
:focus {outline:0;}
ul li {list-style:none;}
img {border:none;}
#cube{background:url(../images/6qube_hubs_logo.png);width:139px;height:138px; position:absolute; top:17px; left:50%; margin-left:-560px;}


/* 1) BODY
=-----------------------*/
#home_main_div {width:100%; background:url(../images/backgrounds/main-background.jpg) repeat-x top;}
#main_div_1 {width:100%; background:url(../images/backgrounds/header-background.jpg) no-repeat center top;}
#page_container {width:960px; margin:auto;}


/* 2) TOP MENU STYLE
=-----------------------*/
#top_menu {width:500px}
#top_menu {background:url(../images/backgrounds/top-menu-left.png) no-repeat left; padding:0px 0px 0px 11px; float:right;}
#top_menu_right {background:url(../images/backgrounds/top-menu-right.png) no-repeat right; padding:0px 11px 0px 0px;}
#top_menu_bg {background:url(../images/backgrounds/top-menu-bg.png) repeat-x; height:36px;}
#top_menu ul {}
#top_menu ul li {font-family: Georgia, "Times New Roman", Times, serif; font-size:12px; float:left;}
#top_menu ul li a {text-decoration:none; color:#C7D9E0; display:block;  line-height:30px; margin:3px 1px 0px 1px !important; margin:3px 0px 0px 6px; padding:0px 0px 0px 5px;}
#top_menu ul li a span { display:block; line-height:30px; padding:0px 11px 0px 5px;}
#top_menu ul li a:hover, #top_menu ul li a.activelink  {color:#FEFEFE; background:url(../images/backgrounds/top-menu-left-hover.png) no-repeat left;}
#top_menu ul li a:hover span , #top_menu ul li a.activelink span {background:url(../images/backgrounds/top-menu-right-hover.png) no-repeat right;}


/* 3) INDEX 1 CONTAINER STYLE
=-----------------------*/
#container {padding:16px 0px 24px 0px; height:100%;}


/* 4) LOGO HEADER STYLE
=-----------------------*/
#header_1 {height:394px; padding:6px 15px 0px 8px;}
#header_left_div {float:left; width:436px;}
.logo {margin-left:60px; padding-top:20px; }
#header_left_div h1 {font-size:22px; font-weight:normal; color:#E1E1E1; line-height:30px; margin-left:8px; margin-top:15px;}
#header_left_div p {font-weight:normal; font-size:12px; color:#CFCFCF; line-height:22px; padding:6px 86px 6px 0px; height:88px; margin-left:8px; margin-bottom:7px;}
#header_left_div a.view_button {display:block; width:176px; height:48px; background:url(../images/backgrounds/view-portfolio-button.png) no-repeat; font-size:14px; font-weight:bold; color:#FEFEFE; text-transform:uppercase; text-align:center; float:left; line-height:40px; text-decoration:none; margin-top:14px; margin-right:24px;}
#header_left_div a.view_button:hover {background:url(../images/backgrounds/view-portfolio-button-hover.png) no-repeat; color:#39738d;}
#header_right_div {float:right; width:494px; padding:35px 0px 0px 0px;}


/* 5) HEADER SLIDER STYLE
=-----------------------*/
#header_slider {position:relative; width:500px; height:320px; overflow:hidden;}
.nav {width:400px; position:absolute; top:270px; z-index:100; left:144px;}
.nav #prev1 {float:left;}
.nav #next1 {float:right;  margin-right:208px;}
.slideshow2 {}


/* 6) INDEX 1 WHITE BOX STYLE
=-----------------------*/
.float_right {float:right;}
.float_left {float:left;}

.white_box {width:307px; background:url(../images/backgrounds/white-box.jpg) center repeat-y; margin-bottom:10px;}
.white_box_top {background:url(../images/backgrounds/grey-shadow-effect-top.jpg) no-repeat center top;}
.white_box_bottom {height:270px;}
.white_box_bottom {background:url(../images/backgrounds/box-bottom-shadow.jpg) no-repeat center bottom; padding:12px 17px 42px 16px;}
.white_box h2 {font-family: Georgia, "Times New Roman", Times, serif; font-size:18px; font-weight:normal; color:#FEFEFE; text-align:center; background:url(../images/backgrounds/box-title-background.jpg) no-repeat; height:48px; line-height:34px; margin-bottom:5px;}
.padding {padding:0px 18px 0px 18px;}
.white_box  p.para_1 {color:#3F3F3F; font-size:12px; line-height:18px; padding:0px 0px 10px 0px;}
.white_box  p {color:#3F3F3F; font-size:12px; line-height:18px; padding:4px 0px 6px 0px;}
.middle_box {float:left; margin-left:20px;}
.white_box .title_1 {font-size:16px; font-weight:bold; color:#6295AC;}
.seperator {background:url(../images/backgrounds/white-box-list-seperator.jpg) repeat-x; height:1px; margin:15px 0px 10px 0px !important; margin:15px 0px 0px 0px;}


/* 7) INDEX 1 WHITE BOX LIST STYLE
=-----------------------*/
.white_box ul {padding:0px 18px 0px 18px;}
.white_box ul li {line-height:37px; background:url(../images/backgrounds/white-box-list-seperator.jpg) repeat-x bottom;}
.white_box ul li.lastchild {background:none;}
.white_box ul li a#web_des {background:url(../images/backgrounds/web-designing-icon.jpg) no-repeat left 4px;}
.white_box ul li a#web_dev {background:url(../images/backgrounds/web-development-icon.jpg) no-repeat left 4px;}
.white_box ul li a#cms {background:url(../images/backgrounds/cms-icon.jpg) no-repeat left 4px;}
.white_box ul li a#ecomm {background:url(../images/backgrounds/ecomm-icon.jpg) no-repeat left 4px;}
.white_box ul li a#seo {background:url(../images/backgrounds/seo-icon.jpg) no-repeat left 5px;}
.white_box ul li a#read_more {background:url(../images/backgrounds/arrow.jpg) no-repeat 4px 10px; color:#6295AC;}
.white_box ul li a#read_more:hover {text-decoration:underline;}
.white_box ul li a {text-decoration:none; color:#3F3F3F; padding-left:38px; display:block; height:37px; line-height:37px; width:200px;}
.white_box ul li a:hover {color:#000000; text-decoration:underline}


/* 8) INDEX 1 RECENT PROJECTS
=-----------------------*/
#container #recent_projects {width:627px; float:left; margin:0px 0px 0px 16px !important; margin:0px 0px 0px 8px;}
#container #recent_projects h2 {font-size:18px; font-weight:normal; color:#6295AC; background:url(../images/backgrounds/line.jpg) repeat-x bottom; line-height:42px; margin-bottom:19px;}
#container .view_projects {float:right; margin:18px 44px 0px 0px;}


/* 9) INDEX 1 TESTIMONIALS
=-----------------------*/
#container #testimonials {width:274px; float:right; margin:0px 17px 0px 0px !important; margin:0px 9px 0px 0px;}
#container #testimonials h2 {font-size:18px; font-weight:normal; color:#6295AC; background:url(../images/backgrounds/line.jpg) repeat-x bottom; line-height:42px; margin-bottom:19px;}
#container .testimonials_box {background:url(../images/backgrounds/testimonials-bg.jpg) repeat-y; width:274px; }
#container .testimonials_box p {font-family:Georgia, "Times New Roman", Times, serif; font-size:17px; font-style:italic; color:#3F3F3F; line-height:22px; padding-right:10px; font-weight:normal;}
#container .testimonials_top {background:url(../images/backgrounds/testimonials-top.jpg) no-repeat top;}
#container .testimonials_bottom {background:url(../images/backgrounds/testimonials-bottom.jpg) no-repeat bottom; padding:20px 0px 40px 50px;}

#container .client_name {font-size:12px; color:#838363; margin:5px 0px 0px 20px;}
#container .client_name span {font-size:14px; font-weight:bold; color:#6295AC;}


/* 10) FOOTER
=-----------------------*/
#footer {border-top:6px solid #27271F; color:#A8A8A8;}
#grey_footer_bg {background:#46372d; border-top:8px solid #2D1F15; border-bottom:8px solid #27271F;}
#inner_div {width:929px; margin:auto; height:100%; position:relative;}
#go_to_top_border {position:absolute; bottom:-10px; right:10px;}
.footer_box {width:274px; padding:6px 0px 24px 0px;}
#footer h2 {font-size:18px; font-weight:normal; color:#D6E3E9; line-height:37px;background:url(../images/backgrounds/footer-title-bg.jpg) repeat-x bottom; margin-bottom:5px;}
.middle_box_2 {float:left; margin-left:55px;}
#resources-listing ul li {line-height:31px; height:32px; font-size:12px; color:#A8A8A8; background:url(../images/backgrounds/footer-list-style.jpg) no-repeat; text-indent:29px; margin-right:6px;}
#resources-listing ul li a {text-decoration:none; color:#A8A8A8;}
#resources-listing ul li a:hover {color:#FEFEFE;}

#contact_info {width:274px; padding:6px 0px 24px 0px; float:left;  margin-left:55px;}
#contact_info a {text-decoration:none; color:#A8A8A8; border-bottom:1px dotted #A8A8A8;}
#contact_info a:hover {color:#CCCCCC;}
#contact_info p {font-size:12px; padding:6px 0px 4px 0px;}
#contact_info p span {color:#D6E3E9;}
#contact_info a.follow_icon {margin:0px 7px 0px 0px; border-bottom:none;}

#social-media { padding:0px; margin:0px; clear:both}
#social-media ul li {float:left;}
#social-media li { width:33px; margin-right:12px;}

#latest_from_blog {width:274px; padding:6px 0px 24px 0px; float:right;}
.middle_box_2 p {font-size:12px; padding:6px 0px 4px 0px;}
.middle_box_2 p span {color:#D6E3E9;}
.blog {padding-top:6px;}
.blog img {float:left; width:74px;}
.blog div a.blog_title {font-size:12px; text-decoration:none; font-weight:normal; color:#DBDBDB; line-height:20px; cursor:pointer;}
.blog div a.blog_title:hover {text-decoration:none; color:#FDFDFD}
.blog div {float:right; width:274px;} 
.blog p {font-size:12px; color:#A8A8A8; line-height:18px; padding:5px 0px 5px 0px;}
.blog div a.read_full_article {text-decoration:none; font-size:12px; color:#D6E3E9;}
.blog div a.read_full_article:hover {text-decoration:none; color:#FDFDFD}

.seperator_2 {background:url(../images/backgrounds/seperator-2.jpg) repeat-x center center; height:1px; padding:10px 0px 10px 0px !important;padding:5px 0px 0px 0px;}

#green_footer_bg {background:#811D22 url(../images/backgrounds/footer-background.jpg) repeat-x top; height:47px; font-size:12px; color:#FEFEFE;}
#inner_green_bg {width:929px; margin:auto; position:relative;}
#green_footer_bg p {float:left; margin:0px 0px 0px 0px;}
#go_to_top_div {position:absolute; right:10px; top:-30px;}
#green_footer_bg span {float:right; padding:0px 0px 0px 0px;}

#footer-links {padding:17px 0px 0px 0px;}
#footer-links ul li { float:left; border-right:1px solid #FFFFFF;padding:0px 10px 0px 10px;}
#footer-links ul li a {text-decoration:none; color:#FEFEFE;}
#footer-links li a.firstlink {color:#FEFEFE; padding:0px; }
#footer-links li.lastlink { border:none}
#footer-links a:hover {text-decoration:underline;}


/* 11) INDEX 2 CONTAINER STYLE
=-----------------------*/
#container_2 {background:url(../images/backgrounds/container-2-white-box-bg.jpg) repeat-y; margin:17px 16px 0px 16px;}
#container_2_top {background:url(../images/backgrounds/container-2-white-box-top.jpg) no-repeat top;}
#container_2_bottom {background:url(../images/backgrounds/container-2-white-box-botto.jpg) no-repeat bottom; height:100%; padding:29px 26px 32px 28px;}

#container_2 h2 {font-family:Arial, Helvetica, sans-serif; font-weight:normal; font-size:30px; color:#3F3F3F; margin:0px 0px 5px 0px;}
#container_2 h2 span {color:#798C09;}

#container_2 p {font-size:12px; color:#3F3F3F; line-height:18px; margin:0px 0px 6px 0px;}

#container_2 .boxes {width:268px; margin:14px 0px 0px 0px;}
#container_2 .boxes h2 {font-size:20px; font-weight:normal; color:#798C09; line-height:32px;}
#container_2 .boxes h2#write {background:url(../images/backgrounds/write-icon.jpg) no-repeat left 2px;  padding:0px 0px 0px 44px;}
#container_2 .boxes h2#user {background:url(../images/backgrounds/user-icon.jpg) no-repeat left 2px; padding:0px 0px 0px 34px;}
#container_2 .boxes h2#package {background:url(../images/backgrounds/package-icon.jpg) no-repeat left 2px; padding:0px 0px 0px 34px;}
#container_2 .middle_box_3 {float:left; margin-left:34px;}
#container_2 .boxes a, #container_2 a.read_more {text-decoration:none; font-size:12px; font-weight:bold; color:#798C09; background:url(../images/backgrounds/read-more-icon.jpg) no-repeat right 4px; padding:0px 15px 0px 0px;}
#container_2 .boxes a:hover, #container_2 a.read_more:hover {text-decoration:none; color:#000000}

.next_project_button {display:block; width:176px; height:48px; background:url(../images/next-project-button.jpg) no-repeat; font-size:15px; font-weight:bold; color:#FEFEFE; text-transform:uppercase; text-align:center; float:left; line-height:40px; text-decoration:none; margin-top:18px; margin-right:23px;}


/* 12) INDEX 2 RECENT PROJECTS
=-----------------------*/
#container_2 #recent_projects {width:578px; float:left; margin:28px 0px 0px 0px;}
#container_2 #recent_projects h2 {font-size:18px; font-weight:normal; color:#798C09; background:url(../images/backgrounds/monitor-icon.jpg) no-repeat; line-height:32px; margin-bottom:19px; text-indent:38px;}
#container_2 #previous_button {float:left; margin-top:55px;}
#container_2 #next_button {float:right; margin-top:55px;}
#container_2 #slider {float:left;}
#container_2 #slider a {margin:0px 0px 0px 14px;}
#container_2 .view_projects {float:right; margin:18px 0px 0px 0px;}


/* 13) INDEX 2 TESTIMONIALS
=-----------------------*/
#container_2 #testimonials {width:267px; float:right; margin:28px 0px 0px 0px;}
#container_2 #testimonials h2 {font-size:18px; font-weight:normal; color:#798C09; background:url(../images/backgrounds/comments-icon.jpg) no-repeat; line-height:32px; margin-bottom:19px; text-indent:38px;}
#container_2 .testimonials_box {background:url(../images/backgrounds/testimonials-bg-2.jpg) repeat-y; width:267px;}
#container_2 .testimonials_box p {font-family:Georgia, "Times New Roman", Times, serif; font-size:17px; font-style:italic; color:#3F3F3F; line-height:22px;}
#container_2 .testimonials_top {background:url(../images/backgrounds/testimonials-top-2.jpg) no-repeat top;}
#container_2 .testimonials_bottom {background:url(../images/backgrounds/testimonials-bottom-2.jpg) no-repeat bottom; padding:12px 19px 28px 19px;}
#container_2 .client_name {font-size:12px; font-weight:normal; color:#808080; margin:11px 0px 0px 11px; line-height:18px;}
#container_2 .client_name span {font-size:14px;font-weight:bold; color:#798C09; margin:0px 2px 0px 0px;} 


/* 14) INNERPAGE BODY
=-----------------------*/
#inner_main_div {width:100%; background:url(../images/backgrounds/inner-main-background.jpg) repeat-x top;}
#main_div_2 {width:100%; background:url(../images/backgrounds/inner-header-background.jpg) no-repeat center top;}



/* 15) INNERPAGE CONTAINER STYLE
=-----------------------*/
#container_3 {background:url(../images/backgrounds/container-2-white-box-bg.jpg) repeat-y; margin:17px 16px 0px 16px;}
#container_3_top {background:url(../images/backgrounds/container-2-white-box-top.jpg) no-repeat top;}
#container_3_bottom {background:url(../images/backgrounds/container-2-white-box-botto.jpg) no-repeat bottom; height:100%; padding:23px 27px 32px 29px;}


/* 16) INNERPAGE HEADER STYLE
=-----------------------*/
#header_2 {padding:6px 15px 0px 8px; height:221px;}
#main_title_div {height:97px; background:url(../images/backgrounds/search-bar.jpg)}
/*#main_title_div input {width:126px; height:26px; line-height:26px; background:url(../images/backgrounds/header-search-bg.jpg) no-repeat !important; background:fixed url(../images/backgrounds/header-search-bg.jpg) no-repeat; border:none; padding:0px 10px 0px 10px; font-family:Arial, Helvetica, sans-serif; font-size:12px; float:left;}*/
#main_title_div img {float:left; margin-left:3px;}
#header_2 h1 {line-height:100px; float:left; font-family: Georgia, "Times New Roman", Times, serif; font-size:30px; font-weight:normal; color:#fff; text-indent:50px; background:url(../images/backgrounds/title-button.png) no-repeat 5px 31px;}
#header_2 p {float:right; padding:33px 0px 0px 0px; font-size:17px; line-height:25px; font-weight:bold;color:#4B5608;}

/* search */
#search { margin:0 auto; padding-top:35px; width:700px; height:125px; }
#search .bottom { width:700px; height:88px;  }
#search input {float:left;  width:200px; padding:2px 5px 0px 0px; height:28px; background:url('http://6qube.com/img/inputBg.gif') repeat-x; border:1px solid #730202; font-size:22px; color:#666;font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif; }
#search input[type=image] {  width:181px; height:51px; position:absolute; top:155px; left:50%; margin-left:115px; background:url('../images/search-button.png') no-repeat top right; border:0; }


/* 17) INNERPAGES CONTENT ( & PAGE TEMPLATE) STYLE
=-----------------------*/
#content {width:622px; float:left;}

#container_3 #breadcrumb {font-size:12px; margin-bottom:14px; float:left;}
#container_3 #breadcrumb ul li{ float:left;}
#container_3 #breadcrumb li a {text-decoration:none; color:#E46934; background:url(../images/backgrounds/breadcrumb-arrow.jpg) no-repeat right 5px; padding:0px 10px 0px 0px; margin:0px 3px 0px 3px;}
#container_3 #breadcrumb a:hover {color:#000000;}
#container_3 #breadcrumb li.boldbreadcrumb {font-weight:bold;margin:0px 3px 0px 3px;}

#content h2 {font-size:22px; font-weight:normal; color:#6295AC; margin:0px 0px 6px 0px;}
#content p {line-height:18px; margin:0px 0px 12px 0px;}
#content p a {text-decoration:underline; color:#E46934;}
#content p a:hover {color:#2D1F15;}

#content h2.contact_us_title,  #right_panel_2 h2.contact_us_title {background:url(../images/backgrounds/contact-us-title-bg.jpg) repeat-x bottom; font-size:18px; font-weight:normal; color:#6295AC; margin:0px 0px 10px 0px; padding:0px 0px 5px 0px;}

.image_style {padding:5px 0px 5px 0px;}
.image_style span {width:154px; float:left;}

.top_shadow {background:url(../images/backgrounds/border-bg.jpg) no-repeat top; padding:20px 0px 5px 0px;}
.top_shadow p {padding:5px 0px 5px 0px;}
.top_shadow span {width:154px; float:left;}

.box_style_2 {background:url(../images/backgrounds/box-style-2-middle-bg.jpg) repeat-y center; margin:20px 0px 20px 0px; font-family:Georgia, "Times New Roman", Times, serif; font-size:17px; font-style:italic; font-weight:normal; color:#2D1F15; line-height:27px; height:100%;}
.box_style_2 div {background:url(../images/backgrounds/box-style-2-top.jpg) no-repeat center top;}
.box_style_2 div div {background:url(../images/backgrounds/box-style-2-bottom.jpg) no-repeat center bottom; padding:12px 45px 12px 30px;}

.img_float {float:left; margin:5px 13px 5px 0px; border:6px solid #E6E6CE;}

.imageleft {float:left; padding:9px 8px 9px 8px; background:url(../images/thumbs/image-sample-bg.jpg) no-repeat; margin:7px 22px 22px 0px;}
.imageright {float:right; padding:9px 8px 9px 8px; background:url(../images/thumbs/image-sample-bg.jpg) no-repeat; margin:7px 0px 22px 22px;}

.list_style_1 {padding:8px 0px 8px 0px;}
.list_style_1 li {background:url(../images/backgrounds/list-style-1-bullet.jpg) no-repeat left 5px; line-height:20px; margin:0px 0px 4px 0px; padding:0px 0px 0px 21px;}
.list_style_1 li a {}
.list_style_1 li a:hover {}

.list_style_2 {padding:8px 0px 8px 0px;}
.list_style_2 li {background:url(../images/backgrounds/list-style-2-bullet.jpg) no-repeat left 5px; line-height:20px; margin:0px 0px 4px 0px; padding:0px 0px 0px 21px;}
.list_style_2 li a {}
.list_style_2 li a:hover {}

#content ol {padding:8px 0px 8px 20px !important; padding:8px 0px 8px 28px;}
#content ol li {line-height:20px; margin:0px 0px 4px 0px;}

#content h1 {font-family: Georgia, "Times New Roman", Times, serif; font-size:27px; font-weight:normal; color:#6295AC; margin:0px 0px 6px 0px;}
#content h2 {font-family: Georgia, "Times New Roman", Times, serif; font-size:22px; font-weight:normal; color:#6295AC; margin:0px 0px 6px 0px;}
#content h3 {font-family: Georgia, "Times New Roman", Times, serif; font-size:20px; font-weight:normal; color:#6295AC; margin:0px 0px 6px 0px;}
#content h4 {font-family: Georgia, "Times New Roman", Times, serif; font-size:18px; font-weight:normal; color:#6295AC; margin:0px 0px 6px 0px;}
#content h5 {font-family: Georgia, "Times New Roman", Times, serif; font-size:16px; font-weight:bold; color:#6295AC; margin:0px 0px 6px 0px;}
#content h6 {font-family: Georgia, "Times New Roman", Times, serif; font-size:14px; font-weight:bold; color:#6295AC; margin:0px 0px 6px 0px;}

.quote {background:url(../images/backgrounds/quote-box-bg.jpg) repeat-y; margin:12px 0px 12px 0px; width:621px;}
.quote .quotes_inner_1 {background:url(../images/backgrounds/quote-box-top-bg.jpg) no-repeat top;}
.quote .quotes_inner_2 {background:url(../images/backgrounds/quote-box-bottom.jpg) no-repeat bottom; padding:22px 46px 22px 19px}
.quotes_image {background:url(../images/backgrounds/quotes-image.jpg) no-repeat left 10px; font-size:16px; font-weight:normal; color:#6C6C6C; font-style:italic; line-height:24px; padding:0px 0px 0px 70px;}

.common_testimonials {background:url(../images/backgrounds/seperator-3-bg.jpg) repeat-x bottom; padding:0px 0px 16px 0px; margin-bottom:18px;}
.common_testimonials span {font-size:12px; font-weight:bold; color:#798C09; display:block; margin:8px 0px 0px 0px;}
.common_testimonials span span {font-size:12px; color:#696969; margin:0px 0px 0px 0px;font-weight:normal;}
.testimonials_left {float:left; background:url(../images/backgrounds/testimonials-image-bg.jpg) no-repeat; padding:7px 6px 7px 6px;  margin:0px 17px 17px 0px;}
.testimonials_right {float:right; background:url(../images/backgrounds/testimonials-image-bg.jpg) no-repeat; padding:7px 6px 7px 6px;  margin:0px 0px 17px 17px;}




/* 18) TABLE STYLE
=-----------------------*/

table {padding:inherit; margin:inherit;}
.main_border {background:#FFFFFF; border:1px solid #A8B55B;}
.main_border span { padding:0px 10px 0px 10px; display:block;}
.table_heading {height:33px; background:url(../images/backgrounds/table-heading-bg.jpg) repeat-x; font-size:14px; color:#FEFEFE; font-weight:bold; text-align:center;}
.std_1 {height:33px; background:#E6E6CE; color:#000000; text-align:center}
.std_1 span { text-align:left}
.std_2 {height:33px; background:#DFDFC4; color:#000000;text-align:center}
.std_2 span { text-align:left}
#inner_table tr:hover, .green_text:hover{height:33px; background:#A5B355; color:#FEFEFE; padding:0px 10px 0px 10px;}
.green_text {font-size:18px; font-weight:bold; color:#798C09;}


/* 19) INNERPAGE RIGHT PANEL STYLE
=-----------------------*/
#right_panel {width:225px; float:right; margin:0px 0px 0px 0px;}

.right_box_1 {background:url(../images/backgrounds/right-box-1-bg.jpg) repeat-y; margin:0px 0px 8px 0px;}
.right_box_1 div {background:url(../images/backgrounds/right-box-1-top.jpg) no-repeat top;}
.right_box_1 div div {background:url(../images/backgrounds/right-box-1-bottom.jpg) no-repeat bottom; padding:12px 2px 44px 2px; height:100%;}

.right_box_1 h2 {font-size:16px; font-weight:bold; color:#FFFEFE; background:url(../images/backgrounds/right-box-title-bg.jpg) no-repeat; height:47px; line-height:35px; text-align:center;}

.right_box_1 ul li {color:#3F3F3F; margin:0px 18px 0px 15px;}
.right_box_1 ul li a {display:block; height:32px; line-height:28px; text-decoration:none; background:url(../images/backgrounds/right-box-list.jpg) no-repeat; color:#3F3F3F; text-indent:25px;}
.right_box_1 ul li a:hover, .right_box_1 ul li a.activelink_2 {background:url(../images/backgrounds/right-box-list-hover.jpg) no-repeat; color:#798C09;}

.right_box_2 {background:url(../images/backgrounds/right-box-2-bg.jpg) repeat-y; margin:0px 0px 8px 0px;}
.right_box_2 div {background:url(../images/backgrounds/right-box-2-top.jpg) no-repeat top;}
.right_box_2 div div {background:url(../images/backgrounds/right-box-2-bottom.jpg) no-repeat bottom; padding:10px 10px 36px 10px; height:100%;}

.right_box_2 h2 {font-size:16px; font-weight:bold; color:#6295AC; margin-bottom:5px;}
.right_box_2 p {line-height:18px; font-size:12px;}
.right_box_2 input {width:127px; height:26px; line-height:26px; background:url(../images/backgrounds/right-box-2-input-bg.jpg) no-repeat !important; background:fixed url(../images/backgrounds/right-box-2-input-bg.jpg) no-repeat; border:none; float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:0px 5px 0px 5px;  margin:8px 0px 0px 0px;}

.right_box_2 .signup {float:left;  margin:8px 0px 0px 3px;}
.img_float_2 {float:left; margin:5px 13px 0px 0px;}

.locations_title {background:url(../images/backgrounds/locations-title-arrow.jpg) no-repeat left; font-size:14px; font-weight:bold; line-height:16px; padding:0px 0px 0px 24px; color:#798C09;}
.padding_2 {padding:5px 52px 0px 24px;}
.padding_2 div {line-height:20px; padding:2px 0px 12px 0px;}


/* 20) FULL WIDTH PAGE
=-----------------------*/
#full_width_content {}
#full_width_content h2 {font-size:22px; font-weight:normal; color:#798C09; margin:0px 0px 6px 0px;}
#full_width_content p {line-height:18px; margin:0px 0px 12px 0px;}
#full_width_content p a {text-decoration:underline; color:#798C09;}
#full_width_content p a:hover {color:#3F3F3F;}

#full_width_content h1 {font-family:Arial, Helvetica, sans-serif; font-size:27px; font-weight:normal; color:#798C09; margin:0px 0px 6px 0px;}
#full_width_content h2 {font-family:Arial, Helvetica, sans-serif; font-size:22px; font-weight:normal; color:#798C09; margin:0px 0px 6px 0px;}
#full_width_content h3 {font-family:Arial, Helvetica, sans-serif; font-size:20px; font-weight:normal; color:#798C09; margin:0px 0px 6px 0px;}
#full_width_content h4 {font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:normal; color:#798C09; margin:0px 0px 6px 0px;}
#full_width_content h5 {font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#798C09; margin:0px 0px 6px 0px;}
#full_width_content h6 {font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#798C09; margin:0px 0px 6px 0px;}

.fullwidth-pic { padding:6px; background-color:#E6E6CE; margin:6px;}

#fullwidth-piclist { margin:0px; padding:0px;}
#fullwidth-piclist ul li { float:left; margin-bottom:10px;}


/* 21) PORTFOLIO PAGE STYLE
=-----------------------*/
#container_4 {background:url(../images/backgrounds/container-2-white-box-bg.jpg) repeat-y; margin:17px 16px 0px 16px;}
#container_4_top {background:url(../images/backgrounds/container-2-white-box-top.jpg) no-repeat top;}
#container_4_bottom {background:url(../images/backgrounds/container-2-white-box-botto.jpg) no-repeat bottom; height:100%; padding:23px 0px 32px 27px;}

#container_4 #breadcrumb {font-size:12px; margin-bottom:14px; float:left;}
#container_4 #breadcrumb ul li{ float:left;}
#container_4 #breadcrumb li a {text-decoration:none; color:#798C09; background:url(../images/backgrounds/breadcrumb-arrow.jpg) no-repeat right 5px; padding:0px 10px 0px 0px; margin:0px 3px 0px 3px;}
#container_4 #breadcrumb a:hover {color:#000000;}
#container_4 #breadcrumb li.boldbreadcrumb {font-weight:bold;margin:0px 3px 0px 3px;}

#portfolio {float:right;
margin: 0px 18px 0px 0px !important;
margin: 0px 6px 0px 0px;
}

ul#portfolio-filter { float:right; 	list-style: none; margin-left: 0; padding: 0px 0px 0px 40px;width: auto; }  
ul#portfolio-filter li { float: left;  line-height: 24px;  margin-right: 10px;  padding-bottom:10px;  list-style: none; }  
ul#portfolio-filter li a { font-size: 14px;	color: #798C09;	font-weight:bold; text-decoration:none; letter-spacing: -1px; line-height:24px;	display: block; 	padding-left:6px;}
ul#portfolio-filter li a:hover, ul#portfolio-filter li a.current {background:url(../images/backgrounds/portfolio-list-hover-left.jpg) no-repeat left; color:#FEFEFE;}

ul#portfolio-filter li a span{ 	line-height:24px; display: block; padding:0px 10px 0px 4px;	color:#798C09;}
ul#portfolio-filter li a:hover span, ul#portfolio-filter li a.current span {background:url(../images/backgrounds/portfolio-list-hover-right.jpg) no-repeat right; color:#FEFEFE;}
ul#portfolio-list { float: left; list-style: none;  padding:0px;}  
ul#portfolio-list li { float: left; list-style: none; margin: 0px 0px 14px 0px;	}  
.clear {clear: both;}

.preview-image {float: left; margin: 0px 15px 0px 0px !important; margin: 0px 7px 0px 0px; width: 207px; height: 156px; background:url(../images/backgrounds/portfolio-thumb-bg.jpg); display: block; overflow: hidden; position: relative; cursor: pointer; }
.preview-image img { position: absolute; top:7px; left:7px; }
.preview-image-2 {float: left; 	margin: 0px 15px 10px 0px !important; margin: 0px 14px 10px 0px; width: 207px; height: 265px; background:url(../images/backgrounds/portfolio-thumb-bg.jpg) no-repeat top; display: block; overflow: hidden; position: relative; text-decoration:none; }
.preview-image-2 img { padding:7px 0px 0px 7px;}
.preview-image-2  p {font-size:12px; color:#3F3F3F; line-height:18px; padding:0px 0px 4px 0px;}
.preview-image-2 .read_more_2 {font-size:12px; color:#3F3F3F; font-weight:bold; float:right; text-decoration:none;}
.preview-image-2 .read_more_2:hover {text-decoration:underline;}
	
.preview-image-2 .portfolio_title {font-size:14px; font-weight:bold; color:#798C09; display:block; padding:14px 0px 5px 0px;text-decoration:none;}
.preview-image-2 .portfolio_title:hover {color:#3F3F3F;text-decoration:none;}


/* 22) BLOG STYLE
=-----------------------*/
#container_5 {width:936px; margin:auto;}
#blogs_container {background:url(../images/backgrounds/container-2-white-box-bg.jpg) repeat-y right; margin:17px 0px 0px 0px;}
#blogs_container h1 { padding-left:55px; padding-right:15px; font-size:28px; font-weight:normal; color: #46372d;}
#blogs_container_top {background:url(../images/backgrounds/container-2-white-box-top.jpg) no-repeat right top;}
#blogs_container_bottom {background:url(../images/backgrounds/container-2-white-box-botto.jpg) no-repeat right bottom; height:100%; padding:23px 0px 50px 0px;}


/* 23) BLOG CONTENT  STYLE
=-----------------------*/

#listing-container {  }
.left-list {float:left; width:400px; margin-left:30px; }
.right-list {float:right; margin-right:0px; width:500px; height:214px; background:url(../images/backgrounds/map-background.png); clear:both;}
#dirMap {  }
.map-iframe { margin-left:43px; padding-top:15px; }
#social-network { margin-left:75px; padding-bottom:5px; }
#photos-listing .bloglistimg {border:9px solid #E6E6CE; float:left; margin:0px 10px 10px 0px}
#photos-listing .diricon {width:160px;height:108px;background-position:center center;background-color:#fff;z-index:1;}


#twitter{background:url('http://6qubehub.com/6qube-hub/icons/twitter.png');background-repeat: no-repeat;width:64px; height:64px; display:block; float:left;}
#facebook{background:url('http://6qubehub.com/6qube-hub/icons/facebook.png');background-repeat: no-repeat;width:64px; height:64px; display:block; float:left;}
#myspace{background:url('http://6qubehub.com/6qube-hub/icons/myspace.png');background-repeat: no-repeat;width:64px; height:64px; display:block; float:left;}
#youtube{background:url('http://6qubehub.com/6qube-hub/icons/youtube.png');background-repeat: no-repeat;width:64px; height:64px; display:block; float:left;}
#diigo{background:url('http://6qubehub.com/6qube-hub/icons/diigo.png');background-repeat: no-repeat;width:64px; height:64px; display:block; float:left;}
#technorati{background:url('http://6qubehub.com/6qube-hub/icons/technorati.png');background-repeat: no-repeat;width:64px; height:64px; display:block; float:left;}
#linkedin{background:url('http://6qubehub.com/6qube-hub/icons/linkedin.png');background-repeat: no-repeat;width:64px; height:64px; display:block; float:left;}
#google{background:url('http://6qubehub.com/6qube-hub/icons/google.png');background-repeat: no-repeat;width:64px; height:64px; display:block; float:left;}
#yahoo{background:url('http://6qubehub.com/6qube-hub/icons/yahoo.png');background-repeat: no-repeat;width:64px; height:64px; display:block; float:left;}
#sixqube{background:url('http://6qubehub.com/6qube-hub/icons/sixqube.png');background-repeat: no-repeat;width:64px; height:64px; display:block; float:left;}
#sixqubeblog{background:url('http://6qubehub.com/6qube-hub/icons/sixqube-blog.png');background-repeat: no-repeat;width:64px; height:64px; display:block; float:left;}

#blog_content {width:633px; float:left; clear:both}
#blog_content .press-content { margin-left:35px;  padding-bottom:15px;}
#blog_content .press-content p { padding: 15px 15px 0px 15px; line-height:22px; color: #46372d}
#blog_content .press-content h3 {margin-left:15px;}

.press-summary { margin-left:35px; width:600px; height:208px; background:url(../images/press-summary-box.jpg);  }
.press-summary .quotes { margin-left:55px; width:490px; padding-top:25px; font-size:18px; line-height:22px; font-style:italic; color:#999;  }
.press-summary .author { text-align: right; position: relative; top:10px; right:55px; }

#container_5 #breadcrumb {font-size:12px; margin-bottom:30px; padding-left:37px;}
#container_5 #breadcrumb a {text-decoration:none; color:#BF4C18; background:url(../images/backgrounds/breadcrumb-arrow.jpg) no-repeat right 5px; padding:0px 10px 0px 0px; margin:0px 3px 0px 0px;}

#container_5 #breadcrumb ul li{ float:left;}
#container_5 #breadcrumb li a {text-decoration:none; color:#BF4C18; background:url(../images/backgrounds/breadcrumb-arrow.jpg) no-repeat right 5px; padding:0px 10px 0px 0px; margin:0px 3px 0px 3px;}
#container_5 #breadcrumb a:hover {text-decoration: underline;}
#container_5 #breadcrumb li.boldbreadcrumb {font-weight:bold;margin:0px 3px 0px 3px;}

.blog_date {display:block; width:43px; height:42px; background:url(../images/backgrounds/blog-post-title.jpg) no-repeat; float:left; font-size:12px; color:#FEFEFE; text-align:center; padding:8px 0px 0px 0px;}

.blog_div {width:574px !important;width:584px; float:left; margin-left:12px !important; margin-left:2px; height:100%; padding-bottom:23px;}
.blog_heading {font-size:20px; font-weight:normal; color:#3F3F3F; width:528px !important; width:520px; float:left; padding:0px 0px 5px 0px !important;padding:0px 0px 5px 10px;}
.blog_heading h3 a {font-size:20px; font-weight:normal; color:#46372d; text-decoration:none;}
.blog_heading h3 a:hover {color:#7A1D20;}
.blog_heading p {font-size:12px;}
.blog_heading p span {color:#3F3F3F;}
.blog_heading a.category_name {font-size:12px; font-weight:normal; color:#BF4C18; text-decoration:none;}
.blog_heading a.category_name:hover {text-decoration:underline;}
.blog_heading a.admin_link {font-size:12px; font-weight:bold; color:#3F3F3F; text-decoration:none;}
.blog_heading a.admin_link:hover {text-decoration:underline;}
.blog_heading a.tags_link {font-size:12px; font-weight:bold; color:#7A1D20; text-decoration:none;}
.blog_heading a.tags_link:hover {text-decoration:underline;}

.blog_heading h2 {font-size:27px; font-weight:normal; color:#2D1F15;}

.blog_comments {width:44px; height:34px; background:url(../images/backgrounds/blog-post-number.jpg) no-repeat; float:right; font-size:12px; font-weight:bold; color:#546105; text-align:center; padding:5px 0px 0px 0px;}

.blog_title_border {border-top:2px dotted #D6E3E9; padding:10px 0px 0px 0px; margin-left:0px !important;margin-left:10px}
.blog_title_border p {padding:5px 0px 10px 0px; line-height:18px;}
.blog_title_border .bloglistimg {border:9px solid #E6E6CE; float:left; margin:0px 15px 10px 0px}
.blog_title_border .blogpostimg {border:9px solid #E6E6CE; float:left; margin:0px 15px 15px 0px !important;margin:0px 0px 15px 0px;}
.blog_title_border .diricon {width:85px;height:85px;background-position:center center;background-color:#fff;z-index:1;}
.blog_title_border h2 { font-size:18px; font-weight:normal; color:#2D1F15; }
.blog_title_border .displayPhone {float:right;margin:0;padding-left:10px;font-size:3em;color:#aaa;margin-top:-5px;clear:right;}
.blog_title_border .view-listing { float:right;}
.blog_title_border .add-container { float:left; width:350px;}
.blog_title_border .address {margin:0;padding:0; color:#666666; }
.blog_title_border .city { margin:0;padding:3px 0px 0px 0px; color:#666666; font-size:18px;}
.blog_title_border .stamp { float:left; width:200px; color:#999; }

#pagination {margin:0px 0px 0px 48px;}
#pagination ul li { float:left}
#pagination a {float:left; margin-right:4px;}
#pagination .pagination_links {text-decoration:none; background:url(../images/backgrounds/blog-page-number-bg.jpg) repeat-x; border:1px solid #E3E3E3; padding:2px 6px 2px 6px; font-weight:bold; color:#3F3F3F;}
#pagination .pagination_links:hover {color:#FEFEFE; background:url(../images/backgrounds/blog-page-number-bg-hover.jpg) repeat-x; border:1px solid #730202;}
#pagination .pagination_links_active {padding:2px 6px 2px 6px; color:#FEFEFE; text-decoration:none;  font-weight:bold; background:url(../images/backgrounds/blog-page-number-bg-hover.jpg) repeat-x; border:1px solid #730202;}
#pagination span {float:right;}

#blog_responses {margin-left:47px; clear:both;}
.response_title {font-size:18px; font-weight:normal; color:#BF4C18; display:block;}

.response_div {background:url(../images/backgrounds/blog-post-list-style.jpg) repeat-x bottom; padding:17px 0px 10px 0px;  height:100%;}
.response_div .img_border_2 {border:6px solid #E6E6CE; float:left; margin:0px 14px 0px 0px;}
.response_div div {width:520px; float:left; padding:0px 0px 0px 0px; height:100%;}
.response_div h2 {font-family:Georgia, "Times New Roman", Times, serif; font-size:17px; color:#798C09; font-weight:normal; font-style:italic; margin:0px 0px 3px 0px;}
.response_div span {font-size:12px;}
.response_div p {padding:8px 0px 5px 0px; line-height:18px;}
.response_div a {float:right;}

#blog_form {margin:20px 0px 0px 47px; font-size:12px;}
#blog_form input {background:#E6E6CE; border:1px solid #F0A686; float:left; width:304px; height:23px; margin:10px 0px 0px 0px; padding:8px 8px 0px 8px;  font-size:12px;}
#blog_form textarea {font-family:Arial, Helvetica, sans-serif; background:#E6E6CE; border:1px solid #F0A686; width:558px; height:184px; margin:10px 0px 10px 0px; padding:8px 8px 0px 8px;  font-size:12px;}
#blog_form label {display:block; width:246px; float:left; margin:10px 0px 0px 10px; padding:7px 0px 0px 0px;}




/* 24) BLOG RIGHT PANEL STYLE
=-----------------------*/
#blog_right_panel {width:269px; float:right; margin:0px 10px 0px 0px !important; margin:0px 5px 0px 0px;}
#blog_right_panel h2 {font-size:16px; font-weight:bold; color:#FFFEFE; text-align:center; background:url(../images/backgrounds/blog-categories-title-bg.jpg) no-repeat; height:46px; line-height:32px;}

.blog_right_links  ul {margin:0px 0px 25px 0px;}
.blog_right_links   ul li {background:url(../images/backgrounds/blog-post-list-style.jpg) repeat-x bottom; padding:7px 0px 7px 0px;}
.blog_right_links   ul li a {text-decoration:none; color:#3F3F3F; background:url(../images/backgrounds/blog-categories-list.jpg) no-repeat 8px 3px; padding-left:26px; display:block;}
.blog_right_links ul li a:hover {color:#7A1D20; background:url(../images/backgrounds/blog-categories-list-hover.jpg) no-repeat 8px 3px;}
.blog_right_links ul li a.category_active {color:#BF4C18; font-weight:bold; background:url(../images/backgrounds/blog-categories-list-hover.jpg) no-repeat 8px 3px;}
.blog_right_links ul li ul {padding:4px 0px 0px 0px; margin:0px;}
.blog_right_links ul li ul li {font-size:12px; background:none; line-height:12px; margin:0px 0px 0px 27px; padding:5px 0px 5px 0px;}
.blog_right_links ul li ul li a {background:url(../images/backgrounds/blog-categories-sublist.jpg) no-repeat left 4px; padding-left:12px;}
.blog_right_links ul li ul li a:hover {background:url(../images/backgrounds/blog-categories-sublist-hov.jpg) no-repeat left 4px; color:#798C09;}
.blog_right_links ul li ul li a.subcategory_active {background:url(../images/backgrounds/blog-categories-sublist-hov.jpg) no-repeat left 4px; color:#798C09;}

ul#popular_posts li a  {font-size:12px; background:url(../images/backgrounds/blog-categories-list.jpg) no-repeat 8px 4px;}
ul#popular_posts  li a:hover {color:#7A1D20; background:url(../images/backgrounds/blog-categories-list-hover.jpg) no-repeat 8px 4px;}
ul#popular_posts  li a.category_active {color:#6295AC; font-weight:bold; background:url(../images/backgrounds/blog-categories-list-hover.jpg) no-repeat 8px 4px;}

.sample_image_1 {padding:0px 1px 9px 5px;}
.sample_image_2 {padding:0px 0px 5px 4px;}

#blog_adv { width:290px !important;width:270px; padding:0px; margin:0px;}
#blog_adv ul li { float:left}
#blog_adv ul { padding:0px; margin:0px;background:none}
#blog_adv ul li a{ float:left; background:none}
#blog_adv li a{ margin:0px 3px 0px 0px ;}
#blog_adv .bloglistimg {border:9px solid #E6E6CE; float:left; margin:0px 10px 10px 0px}
#blog_adv .diricon {width:108px;height:108px;background-position:center center;background-color:#fff;z-index:1;}


/* 25) CONTACT FORM STYLE
=-----------------------*/
#contact_form {}
#contact_form label {display:block; margin:9px 0px 4px 0px;}
#contact_form .input1  {width:352px; height:32px; line-height:25px; background:url(../images/backgrounds/contact-us-input-bg.jpg) repeat-x !important; background:fixed url(../images/backgrounds/contact-us-input-bg.jpg) repeat-x; border:1px solid #CFD79C; padding:2px 8px 0px 8px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
#contact_form .input2 {width:352px; height:115px; background:url(../images/backgrounds/comments-input-bg.jpg) repeat-x !important; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:fixed  url(../images/backgrounds/comments-input-bg.jpg) repeat-x; border:1px solid #CFD79C; padding:8px 8px 0px 8px; margin:0px 0px 10px 0px;}

.img_border {background:url(../images/backgrounds/contact-border-bg.jpg) no-repeat; display:block; width:194px; height:124px; text-align:center; padding:5px 0px 0px 0px; margin-bottom:8px;}


/* 26) CONTACT US RIGHT PANEL STYLE
=-----------------------*/
#right_panel_2 {width:225px; float:right; margin:0px 0px 0px 0px;}
#right_panel_2 p {padding:0px 0px 10px 14px; line-height:20px;}
#right_panel_2 a {text-decoration:none; color:#798C09;}
#right_panel_2 a:hover {color:#3F3F3F;}