
/* === Icomoon font icons === */

@font-face {
	font-family: 'IcoMoon';
	src: url('font/icomoon.eot');
	src: url('font/icomoon.eot?#iefix') format('embedded-opentype'),
			url('font/icomoon.svg#IcoMoon') format('svg'),
			url('font/icomoon.woff') format('woff'),
			url('font/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Add the following classes to your stylesheet if you want to use data attributes for inserting your icons */
.iconb:before, .icona:after { font-family: 'IcoMoon'; content: attr(data-icon); }
.whead .iconb { margin: 2px 0 0 0; display: block; float:left; }
.iconb, .iconb:hover { font-weight: normal; }
[class*="button"]  [class*="icon-"]  { margin: 0px 0 -1px -2px;	float:left;  display: block; font-size: 14px; font-weight: normal; } 
[class*="button"] .dropdown-menu li a [class*="icon"] { margin-left: 0; }

/* Add the following CSS properties to your stylesheet if you want to have a class per icon */
[class^="icon-"], [class*=" icon-"] { font-family: 'IcoMoon'; font-style: normal; vertical-align: text-top; line-height: 14px; margin-right: 10px; font-weight: normal; }
.pageTitle > [class^="icon-"], .pageTitle > [class*=" icon-"] { line-height: 16px; font-size: 16px; }
.dropdown-menu [class^="icon-"], .dropdown-menu [class*=" icon-"] { font-size: 12px; font-weight: normal; }

.icon-home:before { content: "\e000"; }
.icon-home-2:before { 	content: "\e001"; }
.icon-newspaper:before { content: "\e002"; }
.icon-pencil:before { content: "\e003"; }
.icon-pencil-2:before { content: "\e004"; }
.icon-picture:before { content: "\e005"; }
.icon-picture-2:before { content: "\e006"; }
.icon-camera:before { content: "\e007"; }
.icon-music:before { content: "\e008"; }
.icon-play:before { content: "\e009"; }
.icon-film:before { content: "\e00a"; }
.icon-camera-2:before { content: "\e00b"; }
.icon-spades:before { content: "\e00c"; }
.icon-clubs:before { content: "\e00d"; }
.icon-diamonds:before { content: "\e00e"; }
.icon-broadcast:before { content: "\e00f"; }
.icon-microphone:before { content: "\e010"; }
.icon-book:before { content: "\e011"; }
.icon-paper:before { content: "\e012"; }
.icon-paper-2:before { content: "\e013"; }
.icon-new:before { content: "\e014"; }
.icon-copy:before { content: "\e015"; }
.icon-folder:before { content: "\e016"; }
.icon-folder-2:before { content: "\e017"; }
.icon-tag:before { content: "\e018"; }
.icon-cart:before { content: "\e019"; }
.icon-basket:before { content: "\e01a"; }
.icon-calculate:before { content: "\e01b"; }
.icon-support:before { content: "\e01c"; }
.icon-phone:before { content: "\e01d"; }
.icon-mail:before { content: "\e01e"; }
.icon-location:before { content: "\e01f"; }
.icon-compass:before { content: "\e020"; }
.icon-history:before { content: "\e021"; }
.icon-clock:before { content: "\e022"; }
.icon-bell:before { content: "\e023"; }
.icon-bell-2:before { content: "\e024"; }
.icon-bell-3:before { content: "\e025"; }
.icon-calender:before { content: "\e026"; }
.icon-mouse:before { content: "\e027"; }
.icon-screen:before { content: "\e028"; }
.icon-laptop:before { content: "\e029"; }
.icon-mobile:before { content: "\e02a"; }
.icon-tablet:before { content: "\e02b"; }
.icon-mobile-2:before { content: "\e02c"; }
.icon-drawer:before { content: "\e02d"; }
.icon-drawer-2:before { content: "\e02e"; }
.icon-box-add:before { content: "\e02f"; }
.icon-box-remove:before { content: "\e030"; }
.icon-database:before { content: "\e031"; }
.icon-undo:before { content: "\e032"; }
.icon-redo:before { content: "\e033"; }
.icon-forward:before { content: "\e034"; }
.icon-reply:before { content: "\e035"; }
.icon-reply-2:before { content: "\e036"; }
.icon-comments:before { content: "\e037"; }
.icon-comments-2:before { content: "\e038"; }
.icon-comments-3:before { content: "\e039"; }
.icon-comments-4:before { content: "\e03a"; }
.icon-comments-5:before { content: "\e03b"; }
.icon-comments-6:before { content: "\e03c"; }
.icon-user:before { content: "\e03d"; }
.icon-user-2:before { content: "\e03e"; }
.icon-user-3:before { content: "\e03f"; }
.icon-busy:before { content: "\e040"; }
.icon-loading:before { content: "\e041"; }
.icon-loading-2:before { content: "\e042"; }
.icon-search:before { content: "\e043"; }
.icon-search-2:before { content: "\e044"; }
.icon-zoom-in:before { content: "\e045"; }
.icon-zoom-out:before { content: "\e046"; }
.icon-key:before { content: "\e047"; }
.icon-key-2:before { content: "\e048"; }
.icon-locked:before { content: "\e049"; }
.icon-unlocked:before { content: "\e04a"; }
.icon-wrench:before { content: "\e04b"; }
.icon-equalizer:before { content: "\e04c"; }
.icon-cog:before { content: "\e04d"; }
.icon-pie:before { content: "\e04e"; }
.icon-bars:before { content: "\e04f"; }
.icon-stats-up:before { content: "\e050"; }
.icon-gift:before { content: "\e051"; }
.icon-trophy:before { content: "\e052"; }
.icon-diamond:before { content: "\e053"; }
.icon-coffee:before { content: "\e054"; }
.icon-rocket:before { content: "\e055"; }
.icon-meter-slow:before { content: "\e056"; }
.icon-meter-medium:before { 	content: "\e057"; }
.icon-meter-fast:before { content: "\e058"; }
.icon-dashboard:before { content: "\e059"; }
.icon-fire:before { content: "\e05a"; }
.icon-lab:before { content: "\e05b"; }
.icon-remove:before { content: "\e05c"; }
.icon-remove-2:before { content: "\e05d"; }
.icon-remove-3:before { content: "\e05e"; }
.icon-briefcase:before { content: "\e05f"; }
.icon-briefcase-2:before { content: "\e060"; }
.icon-cars:before { content: "\e061"; }
.icon-bus:before { content: "\e062"; }
.icon-cube:before {  content: "\e063"; }
.icon-cube-2:before { content: "\e064"; }
.icon-puzzle:before { content: "\e065"; }
.icon-glasses:before { content: "\e066"; }
.icon-glasses-2:before { content: "\e067"; }
.icon-accessibility:before { content: "\e068"; }
.icon-accessibility-2:before { content: "\e069"; }
.icon-target:before { content: "\e06a"; }
.icon-target-2:before { content: "\e06b"; }
.icon-lightning:before { content: "\e06c"; }
.icon-power:before { content: "\e06d"; }
.icon-power-2:before { content: "\e06e"; }
.icon-clipboard:before { content: "\e06f"; }
.icon-clipboard-2:before { content: "\e070"; }
.icon-playlist:before { content: "\e071"; }
.icon-grid-view:before { content: "\e072"; }
.icon-tree-view:before { content: "\e073"; }
.icon-menu:before { content: "\e074"; }
.icon-menu-2:before { content: "\e075"; }
.icon-cloud:before { content: "\e076"; }
.icon-cloud-2:before { content: "\e077"; }
.icon-download:before { content: "\e078"; }
.icon-upload:before { content: "\e079"; }
.icon-upload-2:before { content: "\e07a"; }
.icon-link:before { content: "\e07b"; }
.icon-link-2:before { content: "\e07c"; }
.icon-flag:before { content: "\e07d"; }
.icon-flag-2:before { content: "\e07e"; }
.icon-flag-3:before { content: "\e07f"; }
.icon-eye:before { content: "\e080"; }
.icon-eye-2:before { content: "\e081"; }
.icon-bookmark:before { content: "\e082"; }
.icon-bookmark-2:before { content: "\e083"; }
.icon-star:before { content: "\e084"; }
.icon-star-2:before { content: "\e085"; }
.icon-star-3:before { content: "\e086"; }
.icon-heart:before { content: "\e087"; }
.icon-heart-2:before { content: "\e088"; }
.icon-thumbs-up:before { content: "\e089"; }
.icon-thumbs-down:before { content: "\e08a"; }
.icon-happy:before { content: "\e08b"; }
.icon-smiley:before { content: "\e08c"; }
.icon-neutral:before { content: "\e08d"; }
.icon-plus:before { content: "\e08e"; }
.icon-minus:before { content: "\e08f"; }
.icon-help:before { content: "\e090"; }
.icon-help-2:before { content: "\e091"; }
.icon-info:before { content: "\e092"; }
.icon-blocked:before { content: "\e093"; }
.icon-cancel:before { content: "\e094"; }
.icon-cancel-2:before { content: "\e095"; }
.icon-cancel-3:before { content: "\e096"; }
.icon-checkmark:before { content: "\e097";  }
.icon-minus-2:before { content: "\e098"; }
.icon-plus-2:before { content: "\e099"; }
.icon-enter:before { content: "\e09a"; }
.icon-exit:before { content: "\e09b"; }
.icon-loop:before { content: "\e09c"; }
.icon-arrow-up:before { content: "\e09d"; }
.icon-arrow-right:before { content: "\e09e"; }
.icon-arrow-down:before { content: "\e09f"; }
.icon-arrow-left:before { content: "\e0a0"; }
.icon-arrow-up-left:before { content: "\e0a1"; }
.icon-arrow-up-2:before { content: "\e0a2"; }
.icon-arrow-up-right:before { content: "\e0a3"; }
.icon-arrow-right-2:before { content: "\e0a4"; }
.icon-arrow-down-right:before { content: "\e0a5"; }
.icon-arrow-down-2:before { content: "\e0a6"; }
.icon-arrow-down-left:before {content: "\e0a7"; }
.icon-arrow-left-2:before { content: "\e0a8"; }
.icon-arrow-up-left-2:before { content: "\e0a9"; }
.icon-arrow-up-3:before { content: "\e0aa"; }
.icon-arrow-up-right-2:before { content: "\e0ab"; }
.icon-arrow-right-3:before { content: "\e0ac"; }
.icon-arrow-down-right-2:before { content: "\e0ad"; }
.icon-arrow-down-3:before { content: "\e0ae"; }
.icon-arrow-down-left-2:before { content: "\e0af"; }
.icon-arrow-left-3:before { content: "\e0b0"; }
.icon-arrow-up-left-3:before { content: "\e0b1"; }
.icon-arrow-up-4:before { content: "\e0b2"; }
.icon-arrow-up-right-3:before { content: "\e0b3"; }
.icon-arrow-right-4:before { content: "\e0b4"; }
.icon-arrow-down-right-3:before { content: "\e0b5"; }
.icon-arrow-down-4:before { content: "\e0b6"; }
.icon-arrow-down-left-3:before { content: "\e0b7"; }
.icon-arrow-left-4:before { content: "\e0b8"; }
.icon-arrow-up-5:before { content: "\e0b9"; }
.icon-arrow-right-5:before { content: "\e0ba"; }
.icon-arrow-down-5:before { content: "\e0bb"; }
.icon-arrow-left-5:before { content: "\e0bc"; }
.icon-arrow-up-6:before { content: "\e0bd"; }
.icon-arrow-right-6:before { content: "\e0be"; }
.icon-arrow-down-6:before { content: "\e0bf"; }
.icon-arrow-left-6:before { content: "\e0c0"; }
.icon-arrow-up-7:before { content: "\e0c1"; }
.icon-arrow-right-7:before { content: "\e0c2"; }
.icon-arrow-down-7:before { content: "\e0c3"; }
.icon-arrow-left-7:before { content: "\e0c4"; }
.icon-menu-3:before {  content: "\e0c5";}
.icon-enter-2:before { content: "\e0c6"; }
.icon-backspace:before { content: "\e0c7"; }
.icon-backspace-2:before { content: "\e0c8"; }
.icon-tab:before { content: "\e0c9"; }
.icon-tab-2:before { content: "\e0ca"; }
.icon-checkbox:before { content: "\e0cb"; }
.icon-checkbox-unchecked:before { content: "\e0cc"; }
.icon-checkbox-partial:before { content: "\e0cd"; }
.icon-radio-checked:before { content: "\e0ce"; }
.icon-radio-unchecked:before { content: "\e0cf"; }
.icon-font:before {  content: "\e0d0";}
.icon-paragraph-left:before { content: "\e0d1"; }
.icon-paragraph-center:before { content: "\e0d2"; }
.icon-paragraph-right:before { content: "\e0d3"; }
.icon-left-to-right:before { content: "\e0d4"; }
.icon-right-to-left:before { content: "\e0d5"; }
.icon-out:before { content: "\e0d6"; }
.icon-out-2:before { content: "\e0d7"; }
.icon-embed:before { content: "\e0d8"; }
.icon-seven-segment:before { content: "\e0d9"; }
.icon-seven-segment-2:before { content: "\e0da"; }
.icon-seven-segment-3:before { content: "\e0db"; }
.icon-seven-segment-4:before { content: "\e0dc"; }
.icon-seven-segment-5:before { content: "\e0dd"; }
.icon-seven-segment-6:before { content: "\e0de"; }
.icon-seven-segment-7:before { content: "\e0df"; }
.icon-seven-segment-8:before { content: "\e0e0"; }
.icon-seven-segment-9:before { content: "\e0e1"; }
.icon-seven-segment-10:before { content: "\e0e2"; }
.icon-bluetooth:before { content: "\e0e3"; }
.icon-share:before { content: "\e0e4"; }
.icon-share-2:before { content: "\e0e5"; }
.icon-mail-2:before { content: "\e0e6"; }
.icon-google-plus:before { content: "\e0e7"; }
.icon-google-plus-2:before { content: "\e0e8"; }
.icon-google-plus-3:before { content: "\e0e9"; }
.icon-facebook:before { content: "\e0ea"; }
.icon-facebook-2:before { content: "\e0eb"; }
.icon-twitter:before { content: "\e0ec"; }
.icon-twitter-2:before { content: "\e0ed"; }
.icon-twitter-3:before { content: "\e0ee"; }
.icon-twitter-4:before { content: "\e0ef"; }
.icon-feed:before { content: "\e0f0"; }
.icon-feed-2:before { content: "\e0f1"; }
.icon-youtube:before { content: "\e0f2"; }
.icon-youtube-2:before { content: "\e0f3"; }
.icon-vimeo:before { content: "\e0f4"; }
.icon-vimeo-2:before { content: "\e0f5"; }
.icon-flickr:before { content: "\e0f6"; }
.icon-flickr-2:before { content: "\e0f7"; }
.icon-picassa:before { content: "\e0f8"; }
.icon-picassa-2:before { content: "\e0f9"; }
.icon-dribbble:before { content: "\e0fa"; }
.icon-dribbble-2:before { content: "\e0fb"; }
.icon-forrst:before { content: "\e0fc"; }
.icon-forrst-2:before { content: "\e0fd"; }
.icon-deviantart:before { content: "\e0fe"; }
.icon-deviantart-2:before { content: "\e0ff"; }
.icon-github:before { content: "\e100"; }
.icon-github-2:before { content: "\e101"; }
.icon-github-3:before { content: "\e102"; }
.icon-github-4:before { content: "\e103"; }
.icon-wordpress:before { content: "\e104"; }
.icon-wordpress-2:before { content: "\e105"; }
.icon-blogger:before { content: "\e106"; }
.icon-blogger-2:before { content: "\e107"; }
.icon-tumblr:before { content: "\e108"; }
.icon-tumblr-2:before { content: "\e109"; }
.icon-yahoo:before { content: "\e10a"; }
.icon-yahoo-2:before { content: "\e10b"; }
.icon-amazon:before { content: "\e10c"; }
.icon-amazon-2:before { content: "\e10d"; }
.icon-apple:before { content: "\e10e"; }
.icon-android:before { content: "\e10f"; }
.icon-windows:before { content: "\e110"; }
.icon-soundcloud:before { content: "\e111"; }
.icon-soundcloud-2:before { content: "\e112"; }
.icon-skype:before { content: "\e113"; }
.icon-reddit:before { content: "\e114"; }
.icon-linkedin:before { content: "\e115"; }
.icon-lastfm:before { content: "\e116"; }
.icon-lastfm-2:before { content: "\e117"; }
.icon-delicious:before { content: "\e118"; }
.icon-stumbleupon:before { content: "\e119"; }
.icon-stumbleupon-2:before { content: "\e11a"; }
.icon-pinterest:before { 	content: "\e11b"; }
.icon-pinterest-2:before { content: "\e11c"; }
.icon-xing:before { content: "\e11d"; }
.icon-libreoffice:before { content: "\e11e"; }
.icon-file-pdf:before { content: "\e11f"; }
.icon-file-openoffice:before { content: "\e120"; }
.icon-file-word:before { content: "\e121"; }
.icon-file-excel:before { content: "\e122"; }
.icon-file-powerpoint:before { content: "\e123"; }
.icon-file-xml:before { content: "\e124"; }
.icon-file-css:before { content: "\e125"; }
.icon-html5:before { content: "\e126"; }
.icon-html5-2:before { content: "\e127"; }
.icon-css3:before { content: "\e128"; }
.icon-IcoMoon:before { content: "\e129"; }
.icon-home-3:before { content: "\e12a"; }
.icon-chat:before { content: "\e12b"; }
.icon-chat_alt_stroke:before { content: "\e12c"; }
.icon-chat_alt_fill:before { content: "\e12d"; }
.icon-comment_alt1_stroke:before { content: "\e12e"; }
.icon-comment_alt1_fill:before { content: "\e12f"; }
.icon-comment_stroke:before { content: "\e130"; }
.icon-comment_fill:before { content: "\e131"; }
.icon-comment_alt2_stroke:before { content: "\e132"; }
.icon-comment_alt2_fill:before { content: "\e133"; }
.icon-checkmark-2:before { content: "\e134"; }
.icon-check_alt:before { content: "\e135"; }
.icon-x:before { content: "\e136"; }
.icon-x_altx_alt:before { content: "\e137"; }
.icon-denied:before { content: "\e138"; }
.icon-cursor:before { content: "\e139"; }
.icon-rss:before { content: "\e13a"; }
.icon-rss_alt:before { content: "\e13b"; }
.icon-wrench-2:before { content: "\e13c"; }
.icon-dial:before { content: "\e13d"; }
.icon-calendar:before { content: "\e13e"; }
.icon-calendar_alt_stroke:before { content: "\e13f"; }
.icon-calendar_alt_fill:before { content: "\e140"; }
.icon-share-3:before { content: "\e141"; }
.icon-mail-3:before { content: "\e142"; }
.icon-heart_stroke:before { content: "\e143"; }
.icon-heart_fill:before { content: "\e144"; }
.icon-movie:before { content: "\e145"; }
.icon-document_alt_stroke:before { content: "\e146"; }
.icon-document_alt_fill:before { content: "\e147"; }
.icon-document_stroke:before { content: "\e148"; }
.icon-document_fill:before { content: "\e149"; }
.icon-plus-3:before { content: "\e14a"; }
.icon-plus_alt:before { content: "\e14b"; }
.icon-minus-3:before { content: "\e14c"; }
.icon-minus_alt:before { content: "\e14d"; }
.icon-pin:before { content: "\e14e"; }
.icon-link-3:before { content: "\e14f"; }
.icon-bolt:before { content: "\e150"; }
.icon-move:before { content: "\e151"; }
.icon-move_alt1:before { content: "\e152"; }
.icon-move_alt2:before { content: "\e153"; }
.icon-equalizer-2:before { content: "\e154"; }
.icon-award_fill:before { content: "\e155"; }
.icon-award_stroke:before { content: "\e156"; }
.icon-magnifying_glass:before { content: "\e157"; }
.icon-trash_stroke:before { content: "\e158"; }
.icon-trash_fill:before { content: "\e159"; }
.icon-beaker_alt:before { content: "\e15a"; }
.icon-beaker:before { content: "\e15b"; }
.icon-key_stroke:before { content: "\e15c"; }
.icon-key_fill:before { content: "\e15d"; }
.icon-new_window:before { content: "\e15e"; }
.icon-lightbulb:before { content: "\e15f"; }
.icon-spin_alt:before { content: "\e160"; }
.icon-spin:before { content: "\e161"; }
.icon-curved_arrow:before { content: "\e162"; }
.icon-undo-2:before { content: "\e163"; }
.icon-reload:before { content: "\e164"; }
.icon-reload_alt:before { content: "\e165"; }
.icon-loop-2:before { content: "\e166"; }
.icon-loop_alt1:before { content: "\e167"; }
.icon-loop_alt2:before { content: "\e168"; }
.icon-loop_alt3:before { content: "\e169"; }
.icon-loop_alt4:before { content: "\e16a"; }
.icon-transfer:before { content: "\e16b"; }
.icon-move_vertical:before { content: "\e16c"; }
.icon-move_vertical_alt1:before { content: "\e16d"; }
.icon-move_vertical_alt2:before { content: "\e16e"; }
.icon-move_horizontal:before { content: "\e16f"; }
.icon-move_horizontal_alt1:before { content: "\e170"; }
.icon-move_horizontal_alt2:before { content: "\e171"; }
.icon-arrow_left:before { content: "\e172"; }
.icon-arrow_left_alt1:before {  content: "\e173";}
.icon-arrow_left_alt2:before { content: "\e174"; }
.icon-arrow_right:before { content: "\e175"; }
.icon-arrow_right_alt1:before { content: "\e176"; }
.icon-arrow_right_alt2:before { content: "\e177"; }
.icon-arrow_up:before { content: "\e178"; }
.icon-arrow_up_alt1:before { content: "\e179"; }
.icon-arrow_up_alt2:before { content: "\e17a"; }
.icon-arrow_down:before { content: "\e17b";  }
.icon-arrow_down_alt1:before { content: "\e17c"; }
.icon-arrow_down_alt2:before { content: "\e17d"; }
.icon-cd:before { content: "\e17e"; }
.icon-steering_wheel:before { content: "\e17f"; }
.icon-microphone-2:before { content: "\e180"; }
.icon-headphones:before { content: "\e181"; }
.icon-volume:before { content: "\e182"; }
.icon-volume_mute:before { content: "\e183"; }
.icon-play-2:before { content: "\e184"; }
.icon-pause:before { content: "\e185"; }
.icon-stop:before { content: "\e186"; }
.icon-eject:before { content: "\e187"; }
.icon-first:before { content: "\e188"; }
.icon-last:before { content: "\e189"; }
.icon-play_alt:before { content: "\e18a"; }
.icon-fullscreen_exit:before { content: "\e18b"; }
.icon-fullscreen_exit_alt:before { content: "\e18c"; }
.icon-fullscreen:before { content: "\e18d"; }
.icon-fullscreen_alt:before { content: "\e18e"; }
.icon-iphone:before { content: "\e18f"; }
.icon-battery_empty:before { content: "\e190"; }
.icon-battery_half:before { content: "\e191"; }
.icon-battery_full:before { content: "\e192"; }
.icon-battery_charging:before { content: "\e193"; }
.icon-compass-2:before { content: "\e194"; }
.icon-box:before { content: "\e195"; }
.icon-folder_stroke:before {content: "\e196"; }
.icon-folder_fill:before { content: "\e197"; }
.icon-at:before { content: "\e198"; }
.icon-ampersand:before { content: "\e199"; }
.icon-info-2:before { content: "\e19a"; }
.icon-question_mark:before { content: "\e19b"; }
.icon-pilcrow:before { content: "\e19c"; }
.icon-hash:before { content: "\e19d"; }
.icon-left_quote:before { content: "\e19e"; }
.icon-right_quote:before { content: "\e19f"; }
.icon-left_quote_alt:before { content: "\e1a0"; }
.icon-right_quote_alt:before { content: "\e1a1"; }
.icon-article:before { content: "\e1a2"; }
.icon-read_more:before { content: "\e1a3"; }
.icon-list:before { content: "\e1a4"; }
.icon-list_nested:before { content: "\e1a5"; }
.icon-book-2:before { content: "\e1a6"; }
.icon-book_alt:before { content: "\e1a7"; }
.icon-book_alt2:before { content: "\e1a8"; }
.icon-pen:before { content: "\e1a9"; }
.icon-pen_alt_stroke:before { content: "\e1aa"; }
.icon-pen_alt_fill:before { content: "\e1ab"; }
.icon-pen_alt2:before { content: "\e1ac"; }
.icon-brush:before { content: "\e1ad"; }
.icon-brush_alt:before { content: "\e1ae"; }
.icon-eyedropper:before { content: "\e1af"; }
.icon-layers_alt:before { content: "\e1b0"; }
.icon-layers:before { content: "\e1b1"; }
.icon-image:before { content: "\e1b2"; }
.icon-camera-3:before { content: "\e1b3"; }
.icon-aperture:before { content: "\e1b4"; }
.icon-aperture_alt:before { content: "\e1b5"; }
.icon-chart:before { content: "\e1b6"; }
.icon-chart_alt:before { content: "\e1b7"; }
.icon-bars-2:before { content: "\e1b8"; }
.icon-bars_alt:before { content: "\e1b9"; }
.icon-eye-3:before { content: "\e1ba"; }
.icon-user-4:before { content: "\e1bb"; }
.icon-home-4:before { content: "\e1bc"; }
.icon-clock-2:before {content: "\e1bd"; }
.icon-lock_stroke:before { content: "\e1be"; }
.icon-lock_fill:before { content: "\e1bf"; }
.icon-unlock_stroke:before { content: "\e1c0"; }
.icon-unlock_fill:before { content: "\e1c1"; }
.icon-tag_stroke:before { content: "\e1c2"; }
.icon-tag_fill:before { content: "\e1c3"; }
.icon-sun_stroke:before { content: "\e1c4"; }
.icon-sun_fill:before { content: "\e1c5"; }
.icon-moon_stroke:before { content: "\e1c6";  }
.icon-moon_fill:before { content: "\e1c7"; }
.icon-cloud-3:before { content: "\e1c8"; }
.icon-rain:before { content: "\e1c9"; }
.icon-umbrella:before { content: "\e1ca"; }
.icon-star-4:before { content: "\e1cb"; }
.icon-map_pin_stroke:before { content: "\e1cc"; }
.icon-map_pin_fill:before { content: "\e1cd"; }
.icon-map_pin_alt:before { content: "\e1ce"; }
.icon-target-3:before { content: "\e1cf"; }
.icon-download-2:before { content: "\e1d0"; }
.icon-upload-3:before { content: "\e1d1"; }
.icon-cloud_download:before { content: "\e1d2"; }
.icon-cloud_upload:before { content: "\e1d3"; }
.icon-fork:before { content: "\e1d4"; }
.icon-paperclip:before { content: "\e1d5"; }
.icon-phone-2:before { content: "\e1d6"; }
.icon-mobile-3:before { content: "\e1d7"; }
.icon-mouse-2:before { content: "\e1d8"; }
.icon-address:before { content: "\e1d9"; }
.icon-email:before { content: "\e1da"; }
.icon-write:before { content: "\e1db"; }
.icon-attachment:before { content: "\e1dc"; }
.icon-reply-3:before { content: "\e1dd"; }
.icon-reply-to-all:before { content: "\e1de"; }
.icon-forward-2:before { content: "\e1df"; }
.icon-user-5:before { content: "\e1e0"; }
.icon-users:before { content: "\e1e1"; }
.icon-contact:before { content: "\e1e2"; }
.icon-card:before { content: "\e1e3"; }
.icon-export:before { content: "\e1e4"; }
.icon-location-2:before { content: "\e1e5"; }
.icon-map:before { content: "\e1e6"; }
.icon-compass-3:before { content: "\e1e7"; }
.icon-direction:before { content: "\e1e8"; }
.icon-center:before { content: "\e1e9"; }
.icon-share-4:before { content: "\e1ea"; }
.icon-heart-3:before { content: "\e1eb"; }
.icon-heart-4:before { content: "\e1ec"; }
.icon-star-5:before { content: "\e1ed"; }
.icon-star-6:before { content: "\e1ee"; }
.icon-thumbs-up-2:before { content: "\e1ef"; }
.icon-chat-2:before { content: "\e1f0"; }
.icon-comment:before { content: "\e1f1"; }
.icon-quote:before { content: "\e1f2"; }
.icon-printer:before { content: "\e1f3"; }
.icon-alert:before { content: "\e1f4"; }
.icon-link-4:before { content: "\e1f5"; }
.icon-flag-4:before { content: "\e1f6"; }
.icon-settings:before { content: "\e1f7"; }
.icon-search-3:before { content: "\e1f8"; }
.icon-trophy-2:before { content: "\e1f9"; }
.icon-price:before { content: "\e1fa"; }
.icon-camera-4:before { content: "\e1fb"; }
.icon-sleep:before { content: "\e1fc"; }
.icon-palette:before { content: "\e1fd"; }
.icon-leaf:before { content: "\e1fe"; }
.icon-music-2:before { content: "\e1ff"; }
.icon-shopping:before { content: "\e200"; }
.icon-flight:before { content: "\e201"; }
.icon-support-2:before { content: "\e202"; }
.icon-google-circles:before { content: "\e203"; }
.icon-eye-4:before { content: "\e204"; }
.icon-clock-3:before { content: "\e205"; }
.icon-microphone-3:before { content: "\e206"; }
.icon-calendar-2:before { content: "\e207"; }
.icon-flash:before { content: "\e208"; }
.icon-time:before { content: "\e209"; }
.icon-rss-2:before { content: "\e20a"; }
.icon-locked-2:before { content: "\e20b"; }
.icon-unlocked-2:before { content: "\e20c"; }
.icon-checkmark-3:before { content: "\e20d"; }
.icon-cancel-4:before { content: "\e20e"; }
.icon-minus-4:before { content: "\e20f"; }
.icon-plus-4:before { content: "\e210"; }
.icon-close:before { content: "\e211"; }
.icon-minus-5:before { content: "\e212"; }
.icon-plus-5:before { content: "\e213"; }
.icon-blocked-2:before { content: "\e214"; }
.icon-info-3:before { content: "\e215"; }
.icon-info-circle:before { content: "\e216"; }
.icon-help-3:before { content: "\e217"; }
.icon-help-4:before { content: "\e218"; }
.icon-warning:before { content: "\e219"; }
.icon-reload-CW:before { content: "\e21a"; }
.icon-reload-CCW:before { content: "\e21b"; }
.icon-shuffle:before { content: "\e21c"; }
.icon-back:before { content: "\e21d"; }
.icon-arrow:before { content: "\e21e"; }
.icon-retweet:before { content: "\e21f"; }
.icon-list-2:before { content: "\e220"; }
.icon-add:before { content: "\e221"; }
.icon-grid:before { 	content: "\e222"; }
.icon-document:before { content: "\e223"; }
.icon-document-2:before {  content: "\e224";}
.icon-documents:before { content: "\e225"; }
.icon-landscape:before { content: "\e226"; }
.icon-images:before { content: "\e227"; }
.icon-movie-2:before { content: "\e228"; }
.icon-song:before { content: "\e229"; }
.icon-folder-3:before { content: "\e22a"; }
.icon-archive:before { content: "\e22b"; }
.icon-trashcan:before { content: "\e22c"; }
.icon-upload-4:before { content: "\e22d"; }
.icon-download-3:before { content: "\e22e"; }
.icon-install:before { content: "\e22f"; }
.icon-cloud-4:before { 	content: "\e230"; } 
.icon-upload-5:before { content: "\e231"; }
.icon-play-3:before { content: "\e232"; }
.icon-pause-2:before { content: "\e233"; }
.icon-record:before { content: "\e234"; }
.icon-stop-2:before { content: "\e235"; }
.icon-fast-forward:before { content: "\e236"; }
.icon-fast-backward:before { content: "\e237"; }
.icon-first-2:before { content: "\e238"; }
.icon-last-2:before { content: "\e239"; }
.icon-full-screen:before {  content: "\e23a";  }
.icon-collapse:before { content: "\e23b";  }
.icon-volume-2:before { content: "\e23c"; }
.icon-sound:before { content: "\e23d"; }
.icon-mute:before { content: "\e23e"; }
.icon-arrow-2:before { content: "\e23f"; }
.icon-arrow-3:before { content: "\e240"; }
.icon-arrow-4:before { content: "\e241"; }
.icon-arrow-5:before { content: "\e242"; }
.icon-arrow-6:before { content: "\e243"; }
.icon-arrow-7:before { content: "\e244"; }
.icon-arrow-8:before { content: "\e245"; }
.icon-arrow-9:before { content: "\e246"; }
.icon-arrow-10:before { content: "\e247"; }
.icon-arrow-11:before { content: "\e248"; }
.icon-arrow-12:before { content: "\e249"; }
.icon-arrow-13:before { content: "\e24a"; }
.icon-arrow-14:before { content: "\e24b"; }
.icon-arrow-15:before { content: "\e24c"; }
.icon-arrow-16:before { content: "\e24d"; }
.icon-arrow-17:before { content: "\e24e"; }
.icon-arrow-18:before { content: "\e24f"; }
.icon-arrow-19:before { content: "\e250"; }
.icon-arrow-20:before { content: "\e251"; }
.icon-arrow-21:before { content: "\e252"; }
.icon-triangle:before { content: "\e253"; }
.icon-triangle-2:before { content: "\e254"; }
.icon-triangle-3:before { content: "\e255"; }
.icon-triangle-4:before { content: "\e256"; }
.icon-code:before { content: "\e257"; }
.icon-battery:before { content: "\e258";  }
.icon-battery-2:before { content: "\e259"; }
.icon-battery-3:before { content: "\e25a";  }
.icon-battery-4:before { content: "\e25b"; }
.icon-battery-5:before { content: "\e25c"; }
.icon-history-2:before { content: "\e25d"; }
.icon-back-2:before { content: "\e25e"; }
.icon-sun:before { content: "\e25f"; }
.icon-sun-2:before { content: "\e260"; }
.icon-light-bulb:before { content: "\e261"; }
.icon-browser:before { content: "\e262"; }
.icon-publish:before {content: "\e263"; }
.icon-screen-2:before { content: "\e264"; }
.icon-arrow-22:before { content: "\e265"; }
.icon-broadcast-2:before { content: "\e266"; }
.icon-globe:before { content: "\e267"; }
.icon-square:before { content: "\e268"; }
.icon-inbox:before { content: "\e269"; }
.icon-network:before { content: "\e26a"; }
.icon-feather:before { content: "\e26b"; }
.icon-keyboard:before { content: "\e26c"; }
.icon-home-5:before { content: "\e26d"; }
.icon-bookmark-3:before { content: "\e26e"; }
.icon-book-3:before { content: "\e26f"; }
.icon-popup:before { content: "\e270"; }
.icon-search-4:before { content: "\e271"; }
.icon-dots-three:before { content: "\e272"; }
.icon-dots-two:before { content: "\e273"; }
.icon-dot:before { content: "\e274"; }
.icon-creative-commons:before { content: "\e275"; }
.icon-cd-2:before { content: "\e276"; }
.icon-suitcase:before { content: "\e277"; }
.icon-suitcase-2:before { content: "\e278"; }
.icon-droplet:before { content: "\e279"; }



/* === Icons (dark images) === */

[class^="icos-"], [class*="icos-"], [class="icos-"] { width: 14px; height: 14px; display: inline-block; margin-right: 10px; float: left; padding-top: 4px; }
.center [class^="icos-"], 
.center [class*="icos-"],
.cetner [class="icos-"] { float:none; }
.formRow label > [class*="icos-"] { padding-top: 6px; }
.iconsLine [class^="icos-"], .iconsLine [class*="icos-"] { margin-right: 0; padding: 7px 0; float: none; }
[class*="button"] > [class*="icos-"]  { margin: 0; padding: 0; float:left;  display: block; } 

.icos-cross:before { content: url(../../images/icons/usual/icon-cross.png); }
.icos-photos:before { content: url(../../images/icons/usual/icon-photos.png);  }
.icos-download:before { content: url(../../images/icons/usual/icon-download.png);  }
.icos-signal:before { content: url(../../images/icons/usual/icon-signal.png);  }
.icos-music:before { content: url(../../images/icons/usual/icon-music-symbol.png); }
.icos-transfer:before { content: url(../../images/icons/usual/icon-transfer.png); }
.icos-fullscreen:before { content: url(../../images/icons/usual/icon-fullscreen.png); }
.icos-full2:before { content: url(../../images/icons/usual/icon-full2.png); }
.icos-play2:before { content: url(../../images/icons/usual/icon-play2.png); }
.icos-star:before { content: url(../../images/icons/usual/icon-star.png); }
.icos-check:before { content: url(../../images/icons/usual/icon-check.png); }
.icos-stats:before { content: url(../../images/icons/usual/icon-stats.png); }
.icos-stop:before { content: url(../../images/icons/usual/icon-stop.png); }
.icos-bright:before { content: url(../../images/icons/usual/icon-bright.png); }
.icos-block:before { content: url(../../images/icons/usual/icon-block.png); }
.icos-drive:before { content: url(../../images/icons/usual/icon-drive.png); }
.icos-dialog:before { content: url(../../images/icons/usual/icon-dialog.png); }
.icos-view:before { content: url(../../images/icons/usual/icon-view.png); }
.icos-download3:before { content: url(../../images/icons/usual/icon-download3.png); }
.icos-add:before { content: url(../../images/icons/usual/icon-add.png); }
.icos-play:before { content: url(../../images/icons/usual/icon-play.png); }
.icos-logoff:before { content: url(../../images/icons/usual/icon-logoff.png); }
.icos-switcher:before { content: url(../../images/icons/usual/icon-switcher.png); }

.icos-heart:before { content: url(../../images/icons/usual/icon-heart.png); }
.icos-chart8:before { content: url(../../images/icons/usual/icon-chart8.png); }
.icos-graph:before { content: url(../../images/icons/usual/icon-graph.png); }
.icos-chart7:before { content: url(../../images/icons/usual/icon-chart7.png); }
.icos-chart6:before { content: url(../../images/icons/usual/icon-chart6.png); }
.icos-chart5:before { content: url(../../images/icons/usual/icon-chart5.png); }
.icos-chart4:before { content: url(../../images/icons/usual/icon-chart4.png); }
.icos-chart3:before { content: url(../../images/icons/usual/icon-chart3.png); }
.icos-chart2:before { content: url(../../images/icons/usual/icon-chart2.png); }
.icos-chart:before { content: url(../../images/icons/usual/icon-chart.png); }

.icos-address-book:before { content: url(../../images/icons/usual/icon-address-book.png); }
.icos-vcard:before { content: url(../../images/icons/usual/icon-vcard.png); }
.icos-excel:before { content: url(../../images/icons/usual/icon-excel.png); }
.icos-powerpoint:before { content: url(../../images/icons/usual/icon-powerpoint.png); }
.icos-zipfiles:before { content: url(../../images/icons/usual/icon-zipfiles.png); }
.icos-zipfile:before { content: url(../../images/icons/usual/icon-zipfile.png); }
.icos-word:before { content: url(../../images/icons/usual/icon-word.png); }
.icos-pdf:before { content: url(../../images/icons/usual/icon-pdf.png); }
.icos-documents:before { content: url(../../images/icons/usual/icon-documents.png); }
.icos-document:before { content: url(../../images/icons/usual/icon-document.png); }
.icos-marker:before { content: url(../../images/icons/usual/icon-marker.png); }
.icos-signpost:before { content: url(../../images/icons/usual/icon-sign-post.png); }
.icos-gmaps:before { content: url(../../images/icons/usual/icon-google-maps.png); }
.icos-map:before { content: url(../../images/icons/usual/icon-map.png); }
.icos-ruler2:before { content: url(../../images/icons/usual/icon-ruler2.png); }
.icos-ruler:before { content: url(../../images/icons/usual/icon-ruler.png); }
.icos-abacus:before { content: url(../../images/icons/usual/icon-abacus.png); }
.icos-eyedropper:before { content: url(../../images/icons/usual/icon-eyedropper.png); }
.icos-scissors:before { content: url(../../images/icons/usual/icon-scissors.png); }
.icos-clipboard:before { content: url(../../images/icons/usual/icon-clipboard.png); }
.icos-pencil:before { content: url(../../images/icons/usual/icon-pencil.png); }
.icos-bigbrush:before { content: url(../../images/icons/usual/icon-bigbrush.png); }
.icos-fountain-pen:before { content: url(../../images/icons/usual/icon-fountain-pen.png); }
.icos-smallbrush:before { content: url(../../images/icons/usual/icon-smallbrush.png); }
.icos-paintbrush:before { content: url(../../images/icons/usual/icon-paintbrush.png); }
.icos-electroplug:before { content: url(../../images/icons/usual/icon-electroplug.png); }
.icos-electroinput:before { content: url(../../images/icons/usual/icon-electroinput.png); }
.icos-power:before { content: url(../../images/icons/usual/icon-power.png); }
.icos-battery:before { content: url(../../images/icons/usual/icon-battery.png); }
.icos-batteryfull:before { content: url(../../images/icons/usual/icon-battery-full.png); }
.icos-phonehook:before { content: url(../../images/icons/usual/icon-phonehook.png); }
.icos-phone3:before { content: url(../../images/icons/usual/icon-phone3.png); }
.icos-phone:before { content: url(../../images/icons/usual/icon-phone.png); }
.icos-speech:before { content: url(../../images/icons/usual/icon-speech-bubbles.png); }
.icos-speech2:before { content: url(../../images/icons/usual/icon-speech-bubble.png); }
.icos-speech3:before { content: url(../../images/icons/usual/icon-speech-bubbles2.png); }
.icos-speech4:before { content: url(../../images/icons/usual/icon-speech-bubble2.png); }
.icos-repeat:before { content: url(../../images/icons/usual/icon-repeat.png); }

.icos-inbox:before { content: url(../../images/icons/usual/icon-inbox.png); }
.icos-outbox:before { content: url(../../images/icons/usual/icon-outbox.png); }
.icos-inbox2:before { content: url(../../images/icons/usual/icon-inbox2.png); }
.icos-wifi2:before { content: url(../../images/icons/usual/icon-wifi2.png); }
.icos-wifi:before { content: url(../../images/icons/usual/icon-wifi.png); }
.icos-bluetooth2:before { content: url(../../images/icons/usual/icon-bluetooth2.png); }
.icos-bluetooth:before { content: url(../../images/icons/usual/icon-bluetooth.png); }
.icos-mobile:before { content: url(../../images/icons/usual/icon-mobile.png); }
.icos-android:before { content: url(../../images/icons/usual/icon-android.png); }
.icos-blackberry:before { content: url(../../images/icons/usual/icon-blackberry.png); }
.icos-iphone:before { content: url(../../images/icons/usual/icon-iphone.png); }
.icos-full3:before { content: url(../../images/icons/usual/icon-full3.png); }
.icos-full4:before { content: url(../../images/icons/usual/icon-full4.png); }
.icos-full5:before { content: url(../../images/icons/usual/icon-full5.png); }
.icos-recycle:before { content: url(../../images/icons/usual/icon-recycle.png); }
.icos-refresh4:before { content: url(../../images/icons/usual/icon-refresh4.png); }
.icos-refresh3:before { content: url(../../images/icons/usual/icon-refresh3.png); }
.icos-shuffle:before { content: url(../../images/icons/usual/icon-shuffle.png); }

.icos-refresh2:before { content: url(../../images/icons/usual/icon-refresh2.png); }
.icos-refresh:before { content: url(../../images/icons/usual/icon-refresh.png); }
.icos-arrowup:before { content: url(../../images/icons/usual/icon-arrowup.png); }
.icos-arrowdown:before { content: url(../../images/icons/usual/icon-arrowdown.png); }

.icos-arrowleft:before { content: url(../../images/icons/usual/icon-arrowleft.png); }
.icos-arrowright:before { content: url(../../images/icons/usual/icon-arrowright.png); }
.icos-drupal:before { content: url(../../images/icons/usual/icon-drupal.png); }
.icos-joomla:before { content: url(../../images/icons/usual/icon-joomla.png); }
.icos-expression:before { content: url(../../images/icons/usual/icon-expression.png); }
.icos-wordpress2:before { content: url(../../images/icons/usual/icon-wordpress2.png); }
.icos-wordpress:before { content: url(../../images/icons/usual/icon-wordpress.png); }
.icos-blocks:before { content: url(../../images/icons/usual/icon-blocks.png); }
.icos-listimg:before { content: url(../../images/icons/usual/icon-listimg.png); }
.icos-list:before { content: url(../../images/icons/usual/icon-list.png); }
.icos-list2:before { content: url(../../images/icons/usual/icon-list2.png); }
.icos-coverflow:before { content: url(../../images/icons/usual/icon-coverflow.png); }
.icos-frames:before { content: url(../../images/icons/usual/icon-frames.png); }
.icos-fax:before { content: url(../../images/icons/usual/icon-fax.png); }
.icos-cashreg:before { content: url(../../images/icons/usual/icon-cashreg.png); }
.icos-calc:before { content: url(../../images/icons/usual/icon-calc.png); }
.icos-camera:before { content: url(../../images/icons/usual/icon-camera.png); }
.icos-ipad:before { content: url(../../images/icons/usual/icon-ipad.png); }

.icos-inano:before { content: url(../../images/icons/usual/icon-inano.png); }
.icos-iclassic:before { content: url(../../images/icons/usual/icon-iclassic.png); }
.icos-monitor:before { content: url(../../images/icons/usual/icon-monitor.png); }
.icos-camera2:before { content: url(../../images/icons/usual/icon-camera2.png); }
.icos-camera3:before { content: url(../../images/icons/usual/icon-camera3.png); }
.icos-wired-mouse:before { content: url(../../images/icons/usual/icon-wired-mouse.png); }
.icos-magic-mouse:before { content: url(../../images/icons/usual/icon-magic-mouse.png); }
.icos-mighty-mouse:before { content: url(../../images/icons/usual/icon-mighty-mouse.png); }
.icos-laptop:before { content: url(../../images/icons/usual/icon-laptop.png); }
.icos-imac:before { content: url(../../images/icons/usual/icon-imac.png); }
.icos-tv:before { content: url(../../images/icons/usual/icon-tv.png); }
.icos-radio:before { content: url(../../images/icons/usual/icon-radio.png); }
.icos-printer:before { content: url(../../images/icons/usual/icon-printer.png); }
.icos-headphones:before { content: url(../../images/icons/usual/icon-headphones.png); }
.icos-mic:before { content: url(../../images/icons/usual/icon-mic.png); }

.icos-filmstrip2:before { content: url(../../images/icons/usual/icon-filmstrip2.png); }
.icos-filmstrip:before { content: url(../../images/icons/usual/icon-filmstrip.png); }
.icos-megaphone:before { content: url(../../images/icons/usual/icon-megaphone.png); }
.icos-sound:before { content: url(../../images/icons/usual/icon-sound.png); }
.icos-images:before { content: url(../../images/icons/usual/icon-images.png); }
.icos-images2:before { content: url(../../images/icons/usual/icon-images2.png); }
.icos-images3:before { content: url(../../images/icons/usual/icon-images3.png); }
.icos-images4:before { content: url(../../images/icons/usual/icon-images4.png); }
.icos-cassette:before { content: url(../../images/icons/usual/icon-cassette.png); }

.icos-cd:before { content: url(../../images/icons/usual/icon-cd.png); }
.icos-record:before { content: url(../../images/icons/usual/icon-record.png); }
.icos-bluray:before { content: url(../../images/icons/usual/icon-bluray.png); }
.icos-dvd:before { content: url(../../images/icons/usual/icon-dvd.png); }
.icos-sd3:before { content: url(../../images/icons/usual/icon-sd3.png); }
.icos-sd2:before { content: url(../../images/icons/usual/icon-sd2.png); }
.icos-sd:before { content: url(../../images/icons/usual/icon-sd.png); }
.icos-hd3:before { content: url(../../images/icons/usual/icon-hd3.png); }
.icos-hd2:before { content: url(../../images/icons/usual/icon-hd2.png); }
.icos-hd:before { content: url(../../images/icons/usual/icon-hd.png); }
.icos-settings2:before { content: url(../../images/icons/usual/icon-settings2.png); }
.icos-settings:before { content: url(../../images/icons/usual/icon-settings.png); }
.icos-cog4:before { content: url(../../images/icons/usual/icon-cog4.png); }
.icos-cog3:before { content: url(../../images/icons/usual/icon-cog3.png); }
.icos-cog2:before { content: url(../../images/icons/usual/icon-cog2.png); }
.icos-cog:before { content: url(../../images/icons/usual/icon-cog.png); }

.icos-comment:before { content: url(../../images/icons/usual/icon-comment.png); }
.icos-female:before { content: url(../../images/icons/usual/icon-female.png); }
.icos-admin:before { content: url(../../images/icons/usual/icon-admin.png); }
.icos-users2:before { content: url(../../images/icons/usual/icon-users2.png); }
.icos-user2:before { content: url(../../images/icons/usual/icon-user2.png); }
.icos-male:before { content: url(../../images/icons/usual/icon-male.png); }
.icos-admin2:before { content: url(../../images/icons/usual/icon-admin2.png); }
.icos-users:before { content: url(../../images/icons/usual/icon-users.png); }
.icos-user:before { content: url(../../images/icons/usual/icon-user.png); }
.icos-exit:before { content: url(../../images/icons/usual/icon-exit.png); }
.icos-running:before { content: url(../../images/icons/usual/icon-running.png); }
.icos-walking:before { content: url(../../images/icons/usual/icon-walking.png); }
.icos-dropbox:before { content: url(../../images/icons/usual/icon-dropbox.png); }
.icos-myspace:before { content: url(../../images/icons/usual/icon-myspace.png); }
.icos-ichat:before { content: url(../../images/icons/usual/icon-ichat.png); }
.icos-like:before { content: url(../../images/icons/usual/icon-like.png); }
.icos-facebook:before { content: url(../../images/icons/usual/icon-facebook.png); }
.icos-skype:before { content: url(../../images/icons/usual/icon-skype.png); }
.icos-vimeo:before { content: url(../../images/icons/usual/icon-vimeo.png); }
.icos-youtube:before { content: url(../../images/icons/usual/icon-youtube.png); }
.icos-moby:before { content: url(../../images/icons/usual/icon-moby.png); }
.icos-lastfm:before { content: url(../../images/icons/usual/icon-lastfm.png); }
.icos-stumbleupon:before { content: url(../../images/icons/usual/icon-stumbleupon.png); }
.icos-dribbble2:before { content: url(../../images/icons/usual/icon-dribbble2.png); }
.icos-dribbble:before { content: url(../../images/icons/usual/icon-dribbble.png); }
.icos-plixi:before { content: url(../../images/icons/usual/icon-plixi.png); }
.icos-tumbler:before { content: url(../../images/icons/usual/icon-tumbler.png); }
.icos-delicious:before { content: url(../../images/icons/usual/icon-delicious.png); }
.icos-buzz:before { content: url(../../images/icons/usual/icon-buzz.png); }
.icos-digg2:before { content: url(../../images/icons/usual/icon-digg2.png); }
.icos-digg:before { content: url(../../images/icons/usual/icon-digg.png); }
.icos-cart4:before { content: url(../../images/icons/usual/icon-cart4.png); }
.icos-cart3:before { content: url(../../images/icons/usual/icon-cart3.png); }
.icos-cart2:before { content: url(../../images/icons/usual/icon-cart2.png); }
.icos-cart:before { content: url(../../images/icons/usual/icon-cart.png); }
.icos-basket2:before { content: url(../../images/icons/usual/icon-basket2.png); }
.icos-basket:before { content: url(../../images/icons/usual/icon-basket.png); }
.icos-stand:before { content: url(../../images/icons/usual/icon-stand.png); }
.icos-piggybank:before { content: url(../../images/icons/usual/icon-piggybank.png); }
.icos-pricetag2:before { content: url(../../images/icons/usual/icon-pricetag2.png); }
.icos-pricetag:before { content: url(../../images/icons/usual/icon-pricetag.png); }
.icos-money2:before { content: url(../../images/icons/usual/icon-money2.png); }
.icos-money:before { content: url(../../images/icons/usual/icon-money.png); }
.icos-paypal3:before { content: url(../../images/icons/usual/icon-paypal3.png); }
.icos-paypal2:before { content: url(../../images/icons/usual/icon-paypal2.png); }
.icos-paypal:before { content: url(../../images/icons/usual/icon-paypal.png); }
.icos-bag:before { content: url(../../images/icons/usual/icon-bag.png); }
.icos-purse:before { content: url(../../images/icons/usual/icon-purse.png); }
.icos-shoppingbag:before { content: url(../../images/icons/usual/icon-shoppingbag.png); }
.icos-travelcase:before { content: url(../../images/icons/usual/icon-travelcase.png); }
.icos-planecase:before { content: url(../../images/icons/usual/icon-planecase.png); }
.icos-suitcase:before { content: url(../../images/icons/usual/icon-suitcase.png); }
.icos-medicase:before { content: url(../../images/icons/usual/icon-medicase.png); }
.icos-trolly:before { content: url(../../images/icons/usual/icon-trolly.png); }
.icos-socks:before { content: url(../../images/icons/usual/icon-socks.png); }
.icos-pants:before { content: url(../../images/icons/usual/icon-pants.png); }
.icos-shirt:before { content: url(../../images/icons/usual/icon-shirt.png); }
.icos-mcalendar:before { content: url(../../images/icons/usual/icon-mcalendar.png); }
.icos-dcalendar:before { content: url(../../images/icons/usual/icon-dcalendar.png); }
.icos-clock:before { content: url(../../images/icons/usual/icon-clock.png); }
.icos-timer:before { content: url(../../images/icons/usual/icon-timer.png); }
.icos-stoptimer:before { content: url(../../images/icons/usual/icon-stoptimer.png); }
.icos-alarm:before { content: url(../../images/icons/usual/icon-alarm.png); }
.icos-bandaid:before { content: url(../../images/icons/usual/icon-bandaid.png); }
.icos-info:before { content: url(../../images/icons/usual/icon-info.png); }
.icos-car:before { content: url(../../images/icons/usual/icon-car.png); }
.icos-truck:before { content: url(../../images/icons/usual/icon-truck.png); }
.icos-airplane:before { content: url(../../images/icons/usual/icon-airplane.png); }
.icos-cat:before { content: url(../../images/icons/usual/icon-cat.png); }
.icos-baloons:before { content: url(../../images/icons/usual/icon-baloons.png); }
.icos-create:before { content: url(../../images/icons/usual/icon-create.png); }
.icos-linux:before { content: url(../../images/icons/usual/icon-linux.png); }
.icos-windows:before { content: url(../../images/icons/usual/icon-windows.png); }
.icos-macos:before { content: url(../../images/icons/usual/icon-macos.png); }
.icos-tags:before { content: url(../../images/icons/usual/icon-tags.png); }
.icos-tag:before { content: url(../../images/icons/usual/icon-tag.png); }
.icos-unlocked:before { content: url(../../images/icons/usual/icon-unlocked.png); }
.icos-locked:before { content: url(../../images/icons/usual/icon-locked.png); }
.icos-folder:before { content: url(../../images/icons/usual/icon-folder.png); }
.icos-bullseye:before { content: url(../../images/icons/usual/icon-bullseye.png); }
.icos-loading:before { content: url(../../images/icons/usual/icon-loading.png); }
.icos-safari:before { content: url(../../images/icons/usual/icon-safari.png); }
.icos-chrome:before { content: url(../../images/icons/usual/icon-chrome.png); }
.icos-ff:before { content: url(../../images/icons/usual/icon-ff.png); }
.icos-footprints:before { content: url(../../images/icons/usual/icon-footprints.png); }
.icos-paperclip:before { content: url(../../images/icons/usual/icon-paperclip.png); }
.icos-preview:before { content: url(../../images/icons/usual/icon-preview.png); }
.icos-cloud-download:before { content: url(../../images/icons/usual/icon-cloud-download.png); }
.icos-cloud-upload:before { content: url(../../images/icons/usual/icon-cloud-upload.png); }
.icos-cloud:before { content: url(../../images/icons/usual/icon-cloud.png); }
.icos-beta:before { content: url(../../images/icons/usual/icon-beta.png); }
.icos-globe:before { content: url(../../images/icons/usual/icon-globe.png); }
.icos-robot:before { content: url(../../images/icons/usual/icon-robot.png); }
.icos-bell2:before { content: url(../../images/icons/usual/icon-bell2.png); }
.icos-bell:before { content: url(../../images/icons/usual/icon-bell.png); }
.icos-alert:before { content: url(../../images/icons/usual/icon-alert.png); }
.icos-postcard:before { content: url(../../images/icons/usual/icon-postcard.png); }
.icos-files:before { content: url(../../images/icons/usual/icon-files.png); }
.icos-archive:before { content: url(../../images/icons/usual/icon-archive.png); }
.icos-vault:before { content: url(../../images/icons/usual/icon-vault.png); }
.icos-pacman:before { content: url(../../images/icons/usual/icon-pacman.png); }
.icos-companies:before { content: url(../../images/icons/usual/icon-companies.png); }
.icos-rss:before { content: url(../../images/icons/usual/icon-rss.png); }
.icos-help:before { content: url(../../images/icons/usual/icon-help.png); }
.icos-email:before { content: url(../../images/icons/usual/icon-email.png); }
.icos-umbrella:before { content: url(../../images/icons/usual/icon-umbrella.png); }
.icos-uc:before { content: url(../../images/icons/usual/icon-uc.png); }
.icos-tree:before { content: url(../../images/icons/usual/icon-tree.png); }
.icos-books:before { content: url(../../images/icons/usual/icon-books.png); }
.icos-books2:before { content: url(../../images/icons/usual/icon-books2.png); }
.icos-notebook:before { content: url(../../images/icons/usual/icon-notebook.png); }
.icos-link2:before { content: url(../../images/icons/usual/icon-link2.png); }
.icos-link:before { content: url(../../images/icons/usual/icon-link.png); }
.icos-home2:before { content: url(../../images/icons/usual/icon-home2.png); }
.icos-home:before { content: url(../../images/icons/usual/icon-home.png); }
.icos-cup:before { content: url(../../images/icons/usual/icon-cup.png); }
.icos-finish:before { content: url(../../images/icons/usual/icon-finish.png); }
.icos-flag2:before { content: url(../../images/icons/usual/icon-flag2.png); }
.icos-flag:before { content: url(../../images/icons/usual/icon-flag.png); }
.icos-upload:before { content: url(../../images/icons/usual/icon-upload.png); }
.icos-download2:before { content: url(../../images/icons/usual/icon-download2.png); }
.icos-trash:before { content: url(../../images/icons/usual/icon-trash.png); }
.icos-downloadto:before { content: url(../../images/icons/usual/icon-downloadto.png); }
.icos-search:before { content: url(../../images/icons/usual/icon-search.png); }
.icos-dates:before { content: url(../../images/icons/usual/icon-dates.png); }
.icos-vbar:before { content: url(../../images/icons/usual/icon-vbar.png); }
.icos-copypaste:before { content: url(../../images/icons/usual/icon-copypaste.png); }
.icos-list3:before { content: url(../../images/icons/usual/icon-list3.png); }
.icos-create2:before { content: url(../../images/icons/usual/icon-create2.png); }
.icos-money3:before { content: url(../../images/icons/usual/icon-money3.png); }
.icos-fullscreen2:before { content: url(../../images/icons/usual/icon-fullscreen2.png); }
.icos-cart5:before { content: url(../../images/icons/usual/icon-cart5.png); }



/* === Icons (light images) === */

[class^="icol-"], [class*="icol-"], [class="icol-"] { width: 14px; height: 14px; display: inline-block; margin-right: 10px; float: left; padding-top: 4px; }
.iconsLine [class^="icol-"], .iconsLine [class*="icol-"] { margin-right: 0; padding: 7px 0; float: none; }
[class*="button"] > [class*="icol-"]  { margin: 0; padding: 0; float:left;  display: block; } 

.icol-cross:before { content: url(../../images/icons/light/icon-cross.png); }
.icol-photos:before { content: url(../../images/icons/light/icon-photos.png);  }
.icol-download:before { content: url(../../images/icons/light/icon-download.png);  }
.icol-signal:before { content: url(../../images/icons/light/icon-signal.png);  }
.icol-music:before { content: url(../../images/icons/light/icon-music-symbol.png); }
.icol-transfer:before { content: url(../../images/icons/light/icon-transfer.png); }
.icol-fullscreen:before { content: url(../../images/icons/light/icon-fullscreen.png); }
.icol-full2:before { content: url(../../images/icons/light/icon-full2.png); }
.icol-play2:before { content: url(../../images/icons/light/icon-play2.png); }
.icol-star:before { content: url(../../images/icons/light/icon-star.png); }
.icol-check:before { content: url(../../images/icons/light/icon-check.png); }
.icol-stats:before { content: url(../../images/icons/light/icon-stats.png); }
.icol-stop:before { content: url(../../images/icons/light/icon-stop.png); }
.icol-bright:before { content: url(../../images/icons/light/icon-bright.png); }
.icol-block:before { content: url(../../images/icons/light/icon-block.png); }
.icol-drive:before { content: url(../../images/icons/light/icon-drive.png); }
.icol-dialog:before { content: url(../../images/icons/light/icon-dialog.png); }
.icol-view:before { content: url(../../images/icons/light/icon-view.png); }
.icol-download3:before { content: url(../../images/icons/light/icon-download3.png); }
.icol-add:before { content: url(../../images/icons/light/icon-add.png); }
.icol-play:before { content: url(../../images/icons/light/icon-play.png); }
.icol-logoff:before { content: url(../../images/icons/light/icon-logoff.png); }
.icol-switcher:before { content: url(../../images/icons/light/icon-switcher.png); }
.icol-heart:before { content: url(../../images/icons/light/icon-heart.png); }
.icol-chart8:before { content: url(../../images/icons/light/icon-chart8.png); }
.icol-graph:before { content: url(../../images/icons/light/icon-graph.png); }
.icol-chart7:before { content: url(../../images/icons/light/icon-chart7.png); }
.icol-chart6:before { content: url(../../images/icons/light/icon-chart6.png); }
.icol-chart5:before { content: url(../../images/icons/light/icon-chart5.png); }
.icol-chart4:before { content: url(../../images/icons/light/icon-chart4.png); }
.icol-chart3:before { content: url(../../images/icons/light/icon-chart3.png); }
.icol-chart2:before { content: url(../../images/icons/light/icon-chart2.png); }
.icol-chart:before { content: url(../../images/icons/light/icon-chart.png); }
.icol-address-book:before { content: url(../../images/icons/light/icon-address-book.png); }
.icol-vcard:before { content: url(../../images/icons/light/icon-vcard.png); }
.icol-excel:before { content: url(../../images/icons/light/icon-excel.png); }
.icol-powerpoint:before { content: url(../../images/icons/light/icon-powerpoint.png); }
.icol-zipfiles:before { content: url(../../images/icons/light/icon-zipfiles.png); }
.icol-zipfile:before { content: url(../../images/icons/light/icon-zipfile.png); }
.icol-word:before { content: url(../../images/icons/light/icon-word.png); }
.icol-pdf:before { content: url(../../images/icons/light/icon-pdf.png); }
.icol-documents:before { content: url(../../images/icons/light/icon-documents.png); }
.icol-document:before { content: url(../../images/icons/light/icon-document.png); }
.icol-marker:before { content: url(../../images/icons/light/icon-marker.png); }
.icol-signpost:before { content: url(../../images/icons/light/icon-sign-post.png); }
.icol-gmaps:before { content: url(../../images/icons/light/icon-google-maps.png); }
.icol-map:before { content: url(../../images/icons/light/icon-map.png); }
.icol-ruler2:before { content: url(../../images/icons/light/icon-ruler2.png); }
.icol-ruler:before { content: url(../../images/icons/light/icon-ruler.png); }
.icol-abacus:before { content: url(../../images/icons/light/icon-abacus.png); }
.icol-eyedropper:before { content: url(../../images/icons/light/icon-eyedropper.png); }
.icol-scissors:before { content: url(../../images/icons/light/icon-scissors.png); }
.icol-clipboard:before { content: url(../../images/icons/light/icon-clipboard.png); }
.icol-pencil:before { content: url(../../images/icons/light/icon-pencil.png); }
.icol-bigbrush:before { content: url(../../images/icons/light/icon-bigbrush.png); }
.icol-fountain-pen:before { content: url(../../images/icons/light/icon-fountain-pen.png); }
.icol-smallbrush:before { content: url(../../images/icons/light/icon-smallbrush.png); }
.icol-paintbrush:before { content: url(../../images/icons/light/icon-paintbrush.png); }
.icol-electroplug:before { content: url(../../images/icons/light/icon-electroplug.png); }
.icol-electroinput:before { content: url(../../images/icons/light/icon-electroinput.png); }
.icol-power:before { content: url(../../images/icons/light/icon-power.png); }
.icol-battery:before { content: url(../../images/icons/light/icon-battery.png); }
.icol-batteryfull:before { content: url(../../images/icons/light/icon-battery-full.png); }
.icol-phonehook:before { content: url(../../images/icons/light/icon-phonehook.png); }
.icol-phone3:before { content: url(../../images/icons/light/icon-phone3.png); }
.icol-phone:before { content: url(../../images/icons/light/icon-phone.png); }
.icol-speech:before { content: url(../../images/icons/light/icon-speech-bubbles.png); }
.icol-speech2:before { content: url(../../images/icons/light/icon-speech-bubble.png); }
.icol-speech3:before { content: url(../../images/icons/light/icon-speech-bubbles2.png); }
.icol-speech4:before { content: url(../../images/icons/light/icon-speech-bubble2.png); }
.icol-repeat:before { content: url(../../images/icons/light/icon-repeat.png); }
.icol-inbox:before { content: url(../../images/icons/light/icon-inbox.png); }
.icol-outbox:before { content: url(../../images/icons/light/icon-outbox.png); }
.icol-inbox2:before { content: url(../../images/icons/light/icon-inbox2.png); }
.icol-wifi2:before { content: url(../../images/icons/light/icon-wifi2.png); }
.icol-wifi:before { content: url(../../images/icons/light/icon-wifi.png); }
.icol-bluetooth2:before { content: url(../../images/icons/light/icon-bluetooth2.png); }
.icol-bluetooth:before { content: url(../../images/icons/light/icon-bluetooth.png); }
.icol-mobile:before { content: url(../../images/icons/light/icon-mobile.png); }
.icol-android:before { content: url(../../images/icons/light/icon-android.png); }
.icol-blackberry:before { content: url(../../images/icons/light/icon-blackberry.png); }
.icol-iphone:before { content: url(../../images/icons/light/icon-iphone.png); }
.icol-full3:before { content: url(../../images/icons/light/icon-full3.png); }
.icol-full4:before { content: url(../../images/icons/light/icon-full4.png); }
.icol-full5:before { content: url(../../images/icons/light/icon-full5.png); }
.icol-recycle:before { content: url(../../images/icons/light/icon-recycle.png); }
.icol-refresh4:before { content: url(../../images/icons/light/icon-refresh4.png); }
.icol-refresh3:before { content: url(../../images/icons/light/icon-refresh3.png); }
.icol-shuffle:before { content: url(../../images/icons/light/icon-shuffle.png); }
.icol-refresh2:before { content: url(../../images/icons/light/icon-refresh2.png); }
.icol-refresh:before { content: url(../../images/icons/light/icon-refresh.png); }
.icol-arrowup:before { content: url(../../images/icons/light/icon-arrowup.png); }
.icol-arrowdown:before { content: url(../../images/icons/light/icon-arrowdown.png); }
.icol-arrowleft:before { content: url(../../images/icons/light/icon-arrowleft.png); }
.icol-arrowright:before { content: url(../../images/icons/light/icon-arrowright.png); }
.icol-drupal:before { content: url(../../images/icons/light/icon-drupal.png); }
.icol-joomla:before { content: url(../../images/icons/light/icon-joomla.png); }
.icol-expression:before { content: url(../../images/icons/light/icon-expression.png); }
.icol-wordpress2:before { content: url(../../images/icons/light/icon-wordpress2.png); }
.icol-wordpress:before { content: url(../../images/icons/light/icon-wordpress.png); }
.icol-blocks:before { content: url(../../images/icons/light/icon-blocks.png); }
.icol-listimg:before { content: url(../../images/icons/light/icon-listimg.png); }
.icol-list:before { content: url(../../images/icons/light/icon-list.png); }
.icol-list2:before { content: url(../../images/icons/light/icon-list2.png); }
.icol-coverflow:before { content: url(../../images/icons/light/icon-coverflow.png); }
.icol-frames:before { content: url(../../images/icons/light/icon-frames.png); }
.icol-fax:before { content: url(../../images/icons/light/icon-fax.png); }
.icol-cashreg:before { content: url(../../images/icons/light/icon-cashreg.png); }
.icol-calc:before { content: url(../../images/icons/light/icon-calc.png); }
.icol-camera:before { content: url(../../images/icons/light/icon-camera.png); }
.icol-ipad:before { content: url(../../images/icons/light/icon-ipad.png); }
.icol-inano:before { content: url(../../images/icons/light/icon-inano.png); }
.icol-iclassic:before { content: url(../../images/icons/light/icon-iclassic.png); }
.icol-monitor:before { content: url(../../images/icons/light/icon-monitor.png); }
.icol-camera2:before { content: url(../../images/icons/light/icon-camera2.png); }
.icol-camera3:before { content: url(../../images/icons/light/icon-camera3.png); }
.icol-wired-mouse:before { content: url(../../images/icons/light/icon-wired-mouse.png); }
.icol-magic-mouse:before { content: url(../../images/icons/light/icon-magic-mouse.png); }
.icol-mighty-mouse:before { content: url(../../images/icons/light/icon-mighty-mouse.png); }
.icol-laptop:before { content: url(../../images/icons/light/icon-laptop.png); }
.icol-imac:before { content: url(../../images/icons/light/icon-imac.png); }
.icol-tv:before { content: url(../../images/icons/light/icon-tv.png); }
.icol-radio:before { content: url(../../images/icons/light/icon-radio.png); }
.icol-printer:before { content: url(../../images/icons/light/icon-printer.png); }
.icol-headphones:before { content: url(../../images/icons/light/icon-headphones.png); }
.icol-mic:before { content: url(../../images/icons/light/icon-mic.png); }
.icol-filmstrip2:before { content: url(../../images/icons/light/icon-filmstrip2.png); }
.icol-filmstrip:before { content: url(../../images/icons/light/icon-filmstrip.png); }
.icol-megaphone:before { content: url(../../images/icons/light/icon-megaphone.png); }
.icol-sound:before { content: url(../../images/icons/light/icon-sound.png); }
.icol-images:before { content: url(../../images/icons/light/icon-images.png); }
.icol-images2:before { content: url(../../images/icons/light/icon-images2.png); }
.icol-images3:before { content: url(../../images/icons/light/icon-images3.png); }
.icol-images4:before { content: url(../../images/icons/light/icon-images4.png); }
.icol-cassette:before { content: url(../../images/icons/light/icon-cassette.png); }
.icol-cd:before { content: url(../../images/icons/light/icon-cd); }
.icol-record:before { content: url(../../images/icons/light/icon-record.png); }
.icol-bluray:before { content: url(../../images/icons/light/icon-bluray.png); }
.icol-dvd:before { content: url(../../images/icons/light/icon-dvd.png); }
.icol-sd3:before { content: url(../../images/icons/light/icon-sd3.png); }
.icol-sd2:before { content: url(../../images/icons/light/icon-sd2.png); }
.icol-sd:before { content: url(../../images/icons/light/icon-sd.png); }
.icol-hd3:before { content: url(../../images/icons/light/icon-hd3.png); }
.icol-hd2:before { content: url(../../images/icons/light/icon-hd2.png); }
.icol-hd:before { content: url(../../images/icons/light/icon-hd.png); }
.icol-settings2:before { content: url(../../images/icons/light/icon-settings2.png); }
.icol-settings:before { content: url(../../images/icons/light/icon-settings.png); }
.icol-cog4:before { content: url(../../images/icons/light/icon-cog4.png); }
.icol-cog3:before { content: url(../../images/icons/light/icon-cog3.png); }
.icol-cog2:before { content: url(../../images/icons/light/icon-cog2.png); }
.icol-cog:before { content: url(../../images/icons/light/icon-cog.png); }
.icol-comment:before { content: url(../../images/icons/light/icon-comment.png); }
.icol-female:before { content: url(../../images/icons/light/icon-female.png); }
.icol-admin:before { content: url(../../images/icons/light/icon-admin.png); }
.icol-users2:before { content: url(../../images/icons/light/icon-users2.png); }
.icol-user2:before { content: url(../../images/icons/light/icon-user2.png); }
.icol-male:before { content: url(../../images/icons/light/icon-male.png); }
.icol-admin2:before { content: url(../../images/icons/light/icon-admin2.png); }
.icol-users:before { content: url(../../images/icons/light/icon-users.png); }
.icol-user:before { content: url(../../images/icons/light/icon-user.png); }
.icol-exit:before { content: url(../../images/icons/light/icon-exit.png); }
.icol-running:before { content: url(../../images/icons/light/icon-running.png); }
.icol-walking:before { content: url(../../images/icons/light/icon-walking.png); }
.icol-dropbox:before { content: url(../../images/icons/light/icon-dropbox.png); }
.icol-myspace:before { content: url(../../images/icons/light/icon-myspace.png); }
.icol-ichat:before { content: url(../../images/icons/light/icon-ichat.png); }
.icol-like:before { content: url(../../images/icons/light/icon-like.png); }
.icol-facebook:before { content: url(../../images/icons/light/icon-facebook.png); }
.icol-skype:before { content: url(../../images/icons/light/icon-skype.png); }
.icol-vimeo:before { content: url(../../images/icons/light/icon-vimeo.png); }
.icol-youtube:before { content: url(../../images/icons/light/icon-youtube.png); }
.icol-moby:before { content: url(../../images/icons/light/icon-moby.png); }
.icol-lastfm:before { content: url(../../images/icons/light/icon-lastfm.png); }
.icol-stumbleupon:before { content: url(../../images/icons/light/icon-stumbleupon.png); }
.icol-dribbble2:before { content: url(../../images/icons/light/icon-dribbble2.png); }
.icol-dribbble:before { content: url(../../images/icons/light/icon-dribbble.png); }
.icol-plixi:before { content: url(../../images/icons/light/icon-plixi.png); }
.icol-tumbler:before { content: url(../../images/icons/light/icon-tumbler.png); }
.icol-twitter2:before { content: url(../../images/icons/light/icon-twitter2.png); }
.icol-twitter:before { content: url(../../images/icons/light/icon-twitter.png); }
.icol-delicious:before { content: url(../../images/icons/light/icon-delicious.png); }
.icol-buzz:before { content: url(../../images/icons/light/icon-buzz.png); }
.icol-digg2:before { content: url(../../images/icons/light/icon-digg2.png); }
.icol-digg:before { content: url(../../images/icons/light/icon-digg.png); }
.icol-cart4:before { content: url(../../images/icons/light/icon-cart4.png); }
.icol-cart3:before { content: url(../../images/icons/light/icon-cart3.png); }
.icol-cart2:before { content: url(../../images/icons/light/icon-cart2.png); }
.icol-cart:before { content: url(../../images/icons/light/icon-cart.png); }
.icol-basket2:before { content: url(../../images/icons/light/icon-basket2.png); }
.icol-basket:before { content: url(../../images/icons/light/icon-basket.png); }
.icol-stand:before { content: url(../../images/icons/light/icon-stand.png); }
.icol-piggybank:before { content: url(../../images/icons/light/icon-piggybank.png); }
.icol-pricetag2:before { content: url(../../images/icons/light/icon-pricetag2.png); }
.icol-pricetag:before { content: url(../../images/icons/light/icon-pricetag.png); }
.icol-money2:before { content: url(../../images/icons/light/icon-money2.png); }
.icol-money:before { content: url(../../images/icons/light/icon-money.png); }
.icol-paypal3:before { content: url(../../images/icons/light/icon-paypal3.png); }
.icol-paypal2:before { content: url(../../images/icons/light/icon-paypal2.png); }
.icol-paypal:before { content: url(../../images/icons/light/icon-paypal.png); }
.icol-bag:before { content: url(../../images/icons/light/icon-bag.png); }
.icol-purse:before { content: url(../../images/icons/light/icon-purse.png); }
.icol-shoppingbag:before { content: url(../../images/icons/light/icon-shoppingbag.png); }
.icol-travelcase:before { content: url(../../images/icons/light/icon-travelcase.png); }
.icol-planecase:before { content: url(../../images/icons/light/icon-planecase.png); }
.icol-suitcase:before { content: url(../../images/icons/light/icon-suitcase.png); }
.icol-medicase:before { content: url(../../images/icons/light/icon-medicase.png); }
.icol-trolly:before { content: url(../../images/icons/light/icon-trolly.png); }
.icol-socks:before { content: url(../../images/icons/light/icon-socks.png); }
.icol-pants:before { content: url(../../images/icons/light/icon-pants.png); }
.icol-shirt:before { content: url(../../images/icons/light/icon-shirt.png); }
.icol-mcalendar:before { content: url(../../images/icons/light/icon-mcalendar.png); }
.icol-dcalendar:before { content: url(../../images/icons/light/icon-dcalendar.png); }
.icol-clock:before { content: url(../../images/icons/light/icon-clock.png); }
.icol-timer:before { content: url(../../images/icons/light/icon-timer.png); }
.icol-stoptimer:before { content: url(../../images/icons/light/icon-stoptimer.png); }
.icol-alarm:before { content: url(../../images/icons/light/icon-alarm.png); }
.icol-bandaid:before { content: url(../../images/icons/light/icon-bandaid.png); }
.icol-info:before { content: url(../../images/icons/light/icon-info.png); }
.icol-car:before { content: url(../../images/icons/light/icon-car.png); }
.icol-truck:before { content: url(../../images/icons/light/icon-truck.png); }
.icol-airplane:before { content: url(../../images/icons/light/icon-airplane.png); }
.icol-cat:before { content: url(../../images/icons/light/icon-cat.png); }
.icol-baloons:before { content: url(../../images/icons/light/icon-baloons.png); }
.icol-create:before { content: url(../../images/icons/light/icon-create.png); }
.icol-linux:before { content: url(../../images/icons/light/icon-linux.png); }
.icol-windows:before { content: url(../../images/icons/light/icon-windows.png); }
.icol-macos:before { content: url(../../images/icons/light/icon-macos.png); }
.icol-tags:before { content: url(../../images/icons/light/icon-tags.png); }
.icol-tag:before { content: url(../../images/icons/light/icon-tag.png); }
.icol-unlocked:before { content: url(../../images/icons/light/icon-unlocked.png); }
.icol-locked:before { content: url(../../images/icons/light/icon-locked.png); }
.icol-folder:before { content: url(../../images/icons/light/icon-folder.png); }
.icol-bullseye:before { content: url(../../images/icons/light/icon-bullseye.png); }
.icol-loading:before { content: url(../../images/icons/light/icon-loading.png); }
.icol-safari:before { content: url(../../images/icons/light/icon-safari.png); }
.icol-chrome:before { content: url(../../images/icons/light/icon-chrome.png); }
.icol-ff:before { content: url(../../images/icons/light/icon-ff.png); }
.icol-footprints:before { content: url(../../images/icons/light/icon-footprints.png); }
.icol-paperclip:before { content: url(../../images/icons/light/icon-paperclip.png); }
.icol-preview:before { content: url(../../images/icons/light/icon-preview.png); }
.icol-cloud-download:before { content: url(../../images/icons/light/icon-cloud-download.png); }
.icol-cloud-upload:before { content: url(../../images/icons/light/icon-cloud-upload.png); }
.icol-cloud:before { content: url(../../images/icons/light/icon-cloud.png); }
.icol-beta:before { content: url(../../images/icons/light/icon-beta.png); }
.icol-globe:before { content: url(../../images/icons/light/icon-globe.png); }
.icol-robot:before { content: url(../../images/icons/light/icon-robot.png); }
.icol-bell2:before { content: url(../../images/icons/light/icon-bell2.png); }
.icol-bell:before { content: url(../../images/icons/light/icon-bell.png); }
.icol-alert:before { content: url(../../images/icons/light/icon-alert.png); }
.icol-postcard:before { content: url(../../images/icons/light/icon-postcard.png); }
.icol-files:before { content: url(../../images/icons/light/icon-files.png); }
.icol-archive:before { content: url(../../images/icons/light/icon-archive.png); }
.icol-vault:before { content: url(../../images/icons/light/icon-vault.png); }
.icol-pacman:before { content: url(../../images/icons/light/icon-pacman.png); }
.icol-companies:before { content: url(../../images/icons/light/icon-companies.png); }
.icol-rss:before { content: url(../../images/icons/light/icon-rss.png); }
.icol-help:before { content: url(../../images/icons/light/icon-help.png); }
.icol-email:before { content: url(../../images/icons/light/icon-email.png); }
.icol-umbrella:before { content: url(../../images/icons/light/icon-umbrella.png); }
.icol-uc:before { content: url(../../images/icons/light/icon-uc.png); }
.icol-tree:before { content: url(../../images/icons/light/icon-tree.png); }
.icol-books:before { content: url(../../images/icons/light/icon-books.png); }
.icol-books2:before { content: url(../../images/icons/light/icon-books2.png); }
.icol-notebook:before { content: url(../../images/icons/light/icon-notebook.png); }
.icol-link2:before { content: url(../../images/icons/light/icon-link2.png); }
.icol-link:before { content: url(../../images/icons/light/icon-link.png); }
.icol-home2:before { content: url(../../images/icons/light/icon-home2.png); }
.icol-home:before { content: url(../../images/icons/light/icon-home.png); }
.icol-cup:before { content: url(../../images/icons/light/icon-cup.png); }
.icol-finish:before { content: url(../../images/icons/light/icon-finish.png); }
.icol-flag2:before { content: url(../../images/icons/light/icon-flag2.png); }
.icol-flag:before { content: url(../../images/icons/light/icon-flag.png); }
.icol-upload:before { content: url(../../images/icons/light/icon-upload.png); }
.icol-download2:before { content: url(../../images/icons/light/icon-download2.png); }
.icol-trash:before { content: url(../../images/icons/light/icon-trash.png); }
.icol-downloadto:before { content: url(../../images/icons/light/icon-downloadto.png); }
.icol-search:before { content: url(../../images/icons/light/icon-search.png); }
.icol-dates:before { content: url(../../images/icons/light/icon-dates.png); }
.icol-vbar:before { content: url(../../images/icons/light/icon-vbar.png); }
.icol-copypaste:before { content: url(../../images/icons/light/icon-copypaste.png); }
.icol-list3:before { content: url(../../images/icons/light/icon-list3.png); }
.icol-create2:before { content: url(../../images/icons/light/icon-create2.png); }
.icol-money3:before { content: url(../../images/icons/light/icon-money3.png); }
.icol-fullscreen2:before { content: url(../../images/icons/light/icon-fullscreen2.png); }
.icol-cart5:before { content: url(../../images/icons/light/icon-cart5.png); }

