
    <div id="bottom">
    <div class="inner">
            <div class="column-220 float-left">
		  <h5>Corporate Theme</h5>
				<ul class="list arrows-grey">
					<li><a href="http://corporate.elementsthemes.com/" title="Corporate Theme by 6Qube | Corporate Theme Tutorials">Home</a></li>
					<li><a href="http://corporate.elementsthemes.com/about-corporate/about-the-theme/" title="About Corporate">About Corporate</a></li><li><a href="http://corporate.elementsthemes.com/theme-styles/home-page/" title="Theme Styles">Theme Styles</a></li>										<li><a href="http://corporateblog.elementsthemes.com/" title="Corporate Theme by 6Qube Corporate Theme Blog | SEO Themes">Blog</a></li>
															<li><a href="http://corporate.elementsthemes.com/corporate-theme-company-contact/" title="Contact Corporate Theme Company Corporate Theme by 6Qube | CMS Themes">Contact Us</a></li>
									</ul>
        </div>
	   	    <!--<div class="column-220 float-left">
        	<h5>Twitter Updates</h5>
					<div class="recent-tweets">
					<ul id="twitter_update_list">
						<li></li>
					</ul>
					<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
					<script type="text/javascript" src="https://api.twitter.com/1/statuses/user_timeline.json?screen_name=6qube&count=2"></script>
				</div>
        </div>-->
	           <div class="column-220 float-left">
        	<h5>Why Corporate Theme by 6Qube?</h5>
		<p>In this section you can talk about why your different and then add a
 link to a page that talks even more about why you are different.</p>
		              <h5>Follow Corporate Theme by 6Qube</h5>
            <ul class="list social-icons">
		  			                 <li><a href="http://twitter.com/6qube" class="twitter tooltip"></a></li>
			 			              </ul>
		          </div> 
	             <div class="column-220 float-right">
				<!--<h5>From the Blog</h5>
							-->
        </div>
       	   <div class="clear"></div>       
    </div>    
    </div>