
<link href="{$theme_cdn_url}/style.css" rel="stylesheet" type="text/css" />
<link href="{$theme_cdn_url}/corporate.css" rel="stylesheet" type="text/css" />
<link href="{$theme_cdn_url}/jquery.css" rel="stylesheet" type="text/css" />
<link href="{$theme_cdn_url}/custom1.css" rel="stylesheet" type="text/css" />
<link href="{$cdn_url}/editor.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{$theme_cdn_url}/custom_form.css" />