
    <div id="footer" class="curved-bottom">
        <ul class="float-right">
            <li><a href="http://corporate.elementsthemes.com/" title="Corporate Theme">Corporate Theme</a></li>
            <li><a href="http://corporate.elementsthemes.com/" title="Elements Themes">Elements Themes</a></li>
		  <li><a href="http://corporate.elementsthemes.com/" title="Theme Tutorials">Theme Tutorials</a></li>
            <li><a href="#" class="gotop">Go Top</a></li>
        </ul>
        <p class="float-left">Copyright © 2013 • Corporate Theme by 6Qube. </p>
    </div>
