
<div id="page" class="curved-top">
    <!-- top -->
    {include file='corporate/page-top.html'}
    <!-- //top -->
    <!-- rotator -->
    {include file='corporate/page-slider.html'}
    <!-- //rotator -->
    <!-- content -->
    <div id="content">
        <!-- set size -->
        <div class="set-size">		  
            <div class="leftCol qw qw-text" id="{objectID name="leftcol1"}">{printObject name="leftcol1"}
                <h4>Welcome to the Corporate On-Demand <br />Lead Generation Theme by 6Qube</h4>
                <br />
                <br />
                <p>If this video does not load, please <a href="http://blip.tv/elements-by-6qube/corporate-theme-by-6qube-training-5275651" target="_blank">CLICK HERE</a> to watch video.</p>
                {/printObject}
            </div>
            <div class="rightCol qw qw-text" id="{objectID name='form1'}">
                    {printObject name="form1"}
                <h4> Fill Out This Form For A Free Walk-Through of The Corporate Theme</h4>
                <form action="http://corporate.elementsthemes.com/process-custom-form.php" method="post" class="custom-form form28 ajaxSubmit" id="28"><fieldset>
                        <ul>
                            <li>			<h2>Download This Awesome eBook!</h2>
                            </li><li>			<label>Name </label>
                                <input name="name" class="required  medium" id="name" type="text">
                            </li><li>			<label>Email Address </label>
                                <input name="emailaddress" class="email required medium" type="text">
                            </li><li>			<label>Phone </label>
                                <input name="phone" class="required  medium" id="phone" type="text">
                            </li><li>			<label>Company Name </label>
                                <input name="companyname" class="  medium" id="companyname" type="text">
                            </li><li>			<label>Comments </label>
                                <textarea name="comments" class=" medium"></textarea>
                            </li>		<li class="submit-li">
                                <input name="formID" value="28" type="hidden" />
                                <input name="userID" value="7" type="hidden"/>
                                <input name="hubID" value="1449" type="hidden" />
                                <input name="keyword" value="" type="hidden" />
                                <input name="search_engine" value="" type="hidden" />
                                <input name="hpot" style="width:1px;display:none;" tabindex="-1" type="text" />
                                <input value="Download Now" id="submit" type="submit" />
                                <input name="ajaxSubmit" value="1" type="hidden" />
                            </li>
                        </ul>
                    </fieldset>
                </form>
                <div class="clear"></div>
                {/printObject}
            </div>
            <div class="clear"></div>
            <div class="separator"></div>
            <!-- set size -->
            <div class="set-size">
                <!-- testimonials -->
                <div id="{objectID name="testimonials"}" class="float-left qw qw-text">{printObject name="testimonials"}
                    <h5>Testimonials</h5>
                    <small>They really work, visitors get a sense of security with them…</small>
                    <ul style="position: relative; width: 462px; height: 109px;">
                        <li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 2; opacity: 0;">
                            <div class="text curved shaded">
                                <p>This is an example of a testimonial from your clients or customers. This can rotate through as many testimonials as you like. </p>
                                <div class="clear"></div>
                            </div>
                            <div class="author">Joe Bob, Joe Bob of Austin, TX</div>
                        </li>
                        <li style="position: absolute; top: 0px; left: 0px; display: block; z-index: 3; opacity: 1; width: 462px; height: 109px;">
                            <div class="text curved shaded">
                                <p>Yet another example of the rotating testimonial module that can be added to any part of theme at any point.</p>
                                <div class="clear"></div>
                            </div>
                            <div class="author">Joe Bob's Brother from Dallas, TX</div>
                        </li>
                    </ul>{/printObject}
                </div>
                <!-- //testimonials -->
                <!-- float right column -->
                <div class="column-460 float-right qw qw-text" id="{objectID name="additional1"}">{printObject name="additional1"}
                    <h5>Additional Content If You Need It</h5>
                    <small>Content is king and the more you have that doesn't look over bearing the better.</small>
                    <p>
                        Separating you content in blocks throughout your home 
                        page can really help keep the user from taking a breath when they hit 
                        your site.  Most importantly you now have plenty of room to put enough 
                        content to go after the most sought out keywords in your industry.  In 
                        this spot, you should pick out not your featured product or service but 
                        one that you want to focus some attention to and link to that page. Or 
                        just get rid of this section all together…
                    </p>
                    <br />
                    <a href="#" class="read-more small float-left">Read more</a>{/printObject}
                </div>
                <!-- //float right column -->
                <div class="clear"></div><br />
                <div class="separator"></div>
                <!-- list of services items -->
                <div class="list-services">
                    <ul>
                        <li class="qw qw-text"><div id="{objectID name="services1"}" class="qw qw-text">{printObject name="services1"}
                            <div class="image"><img src="{$theme_cdn_url}/home_image.jpg" alt=""></div>
                            <h5>Slider? Get Rid of It</h5>
                            <p>
                                Our on-demand theme allows you to easy remove a 
                                slider and turn this theme into video or landing page type home page.  
                                By removing the slider, the entire page shifts up for full 
                                customization.
                            </p>
                            <a href="http://corporate.elementsthemes.com/about-the-theme/" class="read-more small">Read more</a>{/printObject}</div>
                        </li>
                        <li class="qw qw-text"><div id="{objectID name="services2"}" class="qw qw-text">{printObject name="services2"}
                            <div class="image"><img src="{$theme_cdn_url}/home_image2.jpg" alt=""></div>
                            <h5>Advanced Users?  We got you covered!</h5>
                            <p>
                                We think of our theme engine far more advanced 
                                than most out there allowing users to quickly make our themes unique, 
                                however you always have those cowboys or cowgirls who want to make it 
                                their own.
                            </p>
                            <a href="http://corporate.elementsthemes.com/about-the-theme/" class="read-more small">Read more</a>{/printObject}</div>
                        </li>
                        <li class="removed"><div id="{objectID name="services3"}" class="qw qw-text">{printObject name="services3"}
                            <div class="image"><img src="{$theme_cdn_url}/home_image3.jpg" alt=""></div>
                            <h5>SEO Out-of-the-Box</h5>
                            <p>
                                There is a lot that goes into SEO, the good news
                                out of the box literally you are already setup on a technical level for
                                the keywords you choose.  Time is money and we take the time out of 
                                on-page SEO.
                            </p>
                            <a href="http://corporate.elementsthemes.com/about-the-theme/" class="read-more small">Read more</a>{/printObject}</div>
                        </li>                                                            
                    </ul>
                    <div class="clear"></div>
                </div>
                <!-- //list of services items -->
            </div>
            <!-- //set size -->
            <div class="clear"></div>
        </div>
        <!-- //content -->
    </div>
    <!-- //page -->
</div>