<div id="top">
    <a href="http://corporate.elementsthemes.com/" title="Corporate Theme by 6Qube | Corporate Theme Tutorials" id="logo" class="float-left"><img src="{$theme_cdn_url}/logo_097.png" alt="Corporate Theme by 6Qube | Corporate Theme Tutorials"></a>
    <div class="headerEdit"> testing this whole section </div>
    <div id="top-menu" class="float-right">
        <ul class="main">
            <li><a href="http://corporate.elementsthemes.com/" title="Corporate Theme by 6Qube | Corporate Theme Tutorials" class="current"><span>Home</span></a></li>
            <li><a href="http://corporate.elementsthemes.com/about-corporate/about-the-theme/" title="About Corporate"><span>About Corporate</span></a><ul class="sub curved"><li><a href="http://corporate.elementsthemes.com/about-corporate/about-the-theme/" title="About The Theme"><span>About The Theme</span></a></li></ul></li><li><a href="http://corporate.elementsthemes.com/theme-styles/home-page/" title="Theme Styles"><span>Theme Styles</span></a><ul class="sub curved"><li><a href="http://corporate.elementsthemes.com/theme-styles/home-page/" title="Home Page"><span>Home Page</span></a></li><li><a href="http://corporate.elementsthemes.com/theme-styles/global-features/" title="Global Features"><span>Global Features</span></a></li><li><a href="http://corporate.elementsthemes.com/theme-styles/defined-columns/" title="Defined Columns"><span>Defined Columns</span></a></li><li><a href="http://corporate.elementsthemes.com/theme-styles/pricing-table/" title="Pricing Table"><span>Pricing Table</span></a></li><li><a href="http://corporate.elementsthemes.com/theme-styles/side-navigation/" title="Side Navigation"><span>Side Navigation</span></a></li><li><a href="http://corporate.elementsthemes.com/theme-styles/gallery-elements/" title="Gallery Elements"><span>Gallery Elements</span></a></li></ul></li>				<li><a href="http://corporateblog.elementsthemes.com/" title="Corporate Theme by 6Qube Corporate Theme Blog SEO Themes"><span>Blog</span></a></li>
            <li><a href="http://corporate.elementsthemes.com/corporate-theme-company-contact/" title="Contact Corporate Theme Company Corporate Theme by 6Qube CMS Themes"><span>Contact</span></a></li>
        </ul>
    </div>
</div>
