
<div id="rotator">
    <div class="controls"><a class="" href="#">1</a><a class="activeSlide" href="#">2</a></div>
    <a href="#" class="btn prev"></a>
    <a href="#" class="btn next"></a>
    <ul style="position: relative; width: 940px; height: 356px;">
        <li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 2; opacity: 0; width: 940px; height: 356px;">
            <a href=""><img src="{$theme_cdn_url}/main-corporate-slide_336.jpg" alt="" class="image"></a>
        </li>
        <li style="position: absolute; top: 0px; left: 0px; display: block; z-index: 3; opacity: 1; width: 940px; height: 356px;">
            <a href="http://corporate.elementsthemes.com/home-page/"><img src="{$theme_cdn_url}/second-corporate-slide.jpg" alt="Come up with a &lt;strong&gt;crafty title&lt;/strong&gt; to promote &lt;br /&gt;your business." class="image"></a>
            <div class="data qw-text" id="{objectID name="slide1"}">{printObject name="slide1"}
                <h1>
                    Come up with a <strong>crafty title</strong> to promote <br>your business.
                </h1>
                <p>
                    If you want to use this option you must create the image half<br>
                    the size of the 920 W or pick an image you can read text over.  <br>
                    This way you can make this nice effect and formatting.<br><br>
                    You can also get real creative and use <code>&lt;br /&gt;</code> tags <br>
                    to format around your images or use the Advanced CSS feature and <br>
                    change the size color and look of this entire section.  You can also activate <br>
                    a link button to go anywhere you like...
                </p>
                <a href="http://corporate.elementsthemes.com/home-page/" class="read-more large">Read more</a>{/printObject}
            </div>
        </li>
    </ul>
</div>