@font-face {font-family: 'LucidaGrandeRegular';src: url('lucida_grande-webfont.eot');src: local('☺'), url('lucida_grande-webfont.woff') format('woff'), url('lucida_grande-webfont.ttf') format('truetype');font-weight: bold;font-style: normal;}
@font-face {font-family: 'LucidaGrandeBold';src: url('lucida_grande_bold-webfont.eot');src: local('☺'), url('lucida_grande_bold-webfont.woff') format('woff'), url('lucida_grande_bold-webfont.ttf') format('truetype');font-weight: bold;font-style: normal;}
@font-face {font-family: 'HelveticaNeueMdCn';src: url('helveticaneueltpro-mdcn-webfont.eot');src: local('☺'), url('helveticaneueltpro-mdcn-webfont.woff') format('woff'), url('helveticaneueltpro-mdcn-webfont.ttf') format('truetype');font-weight: bold;font-style: normal;}
@font-face {font-family: 'HelveticaNeueLtCnO';src: url('helveticaneueltcom-ltcno-webfont.eot');src: local('☺'), url('helveticaneueltcom-ltcno-webfont.woff') format('woff'), url('helveticaneueltcom-ltcno-webfont.ttf') format('truetype');font-weight: bold;font-style: normal;}

* {margin:0;padding:0;}
html {height:100%;margin:0;padding:0;}
body {margin:0;padding:0;background:url(../images/bg-body.jpg) no-repeat top center #20101f;font-family:Arial, Helvetica, sans-serif;font-size:12px;height:100%;color:#808080;}
img{border:0;}
a, a:hover{text-decoration:none;outline:none;}
h1,h2,h3,h4,h5,h6 {padding:0;margin:0;font-weight:normal;}
p {line-height:17px;}
#content p {padding:10px 0;}
.clear{clear:both;font-size:0;line-height:0;display:block;}
form, fieldset {padding:0 !important;margin:0 !important;border:0 !important;}
input, textarea, select {border:0;font-family:Arial, Helvetica, sans-serif;font-size:12px;padding:0;margin:0;}
small, big {padding:0;margin:0;}
small {color:#666666;font-size:15px;font-family:HelveticaNeueLtCnO, Helvetica, sans-serif;}
.read-more.small {background:url(../images/read-more-small.png) no-repeat top left;width:98px;height:25px;display:inline-block;line-height:27px;padding:0 10px 0 0;color:#656565;font-family:LucidaGrandeBold, Arial, sans-serif;font-size:12px;text-align:center;}
.read-more.small:hover {background-position:0 -25px;}
.read-more.float-left {margin:0 5px 0 0;}
.read-more.large {background:url(../images/read-more-large.png) no-repeat top left;width:140px;height:38px;display:inline-block;line-height:38px;padding:0 0 0 21px;color:#656565;font-family:LucidaGrandeBold, Arial, sans-serif;font-size:14px;}
.read-more.large:hover {background-position:0 -38px;}
.button{background:url(../images/button-standard.png) no-repeat top left;width:126px;height:25px;line-height:27px;display:inline-block;padding:0;color:#656565;font-family:LucidaGrandeBold, Arial, sans-serif;font-size:12px;text-align:center;cursor:pointer;}
.button:hover {background-position:0 -25px;}
.button.float-right {margin:0 0 0 5px;}
.button.blue {background:url(../images/button-blue.png) no-repeat top left;width:132px;height:24px;line-height:27px;display:inline-block;padding:0;color:#fff;font-family:LucidaGrandeBold, Arial, sans-serif;font-size:12px;text-align:center;cursor:pointer;}
.button.blue.float-right {margin:0 0 0 5px;}
.button.blue:hover {background-position:0 -24px;}
.button.rss {background:url(../images/button-rss.png) no-repeat top left;width:143px;height:25px;text-align:center;padding:0 15px 0 0;}
.button.rss:hover {background-position:0 -25px;}
/* extra classes for positioning available elements */
.align-right {text-align:right !important;}
.align-center {text-align:center !important;}
.float-left {float:left !important;}
.float-right {float:right !important;}
.set-size {width:940px;margin:0 auto;}
img.photo.float-right {margin-left:20px;}

/* PIE solution for rounded corners, for more check js/jquery-workarounds.js */
.curved {-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.curved-top {-webkit-border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;border-radius: 5px 5px 0 0;position:relative;}
.curved-bottom {-webkit-border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px;border-radius: 0 0 5px 5px;position:relative;}
.curved-left {-webkit-border-radius: 5px 0 0 5px;-moz-border-radius: 5px 0 0 5px;border-radius: 5px 0 0 5px;position:relative;}
.curved-right {-webkit-border-radius: 0 5px 5px 0;-moz-border-radius: 0 5px 5px 0;border-radius: 0 5px 5px 0;position:relative;}
.shaded {border-top:1px solid #c2c2c2;border-left:1px solid #c2c2c2;border-right:1px solid #fff;border-bottom:1px solid #fff;position:relative;display:block;}

/* column system settings */
.column-210 {width:210px;}
.column-220 {width:220px;}
.column-290 {width:290px;}
.column-300 {width:300px;}
.column-380 {width:380px;}
.column-460 {width:460px;}
.column-700 {width:700px;}
.column-940 {width:940px;}

/* additional stylization of 960 grid system columns */
.column-220.float-left {padding-right:20px;}
.column-290.float-left {padding-right:30px;}

/* -- */

/* headings stylization */
h5 {font-size:20px;color:#1c1c1c;font-family:HelveticaNeueMdCn, Helvetica, sans-serif;}
h4 {font-size:26px;color:#1c1c1c;font-family:HelveticaNeueMdCn, Helvetica, sans-serif;}
/* -- */

#container {padding:10px 0 30px 0;}
#page {background:url(../images/bg-page.jpg) repeat-x top #f7f7f7;width:1002px;margin:0 auto;min-height:500px;}
#top {position:relative;height:89px;padding:30px 30px 0 0;z-index:200;}
#logo {padding:0 15px;}

/* top menu */
#top-menu {padding:19px 0 0 0;width:630px;}
#top-menu ul {list-style:none;padding:0;margin:0;}
#top-menu .main li, #top-menu .main li a, #top-menu .main li a span {display:block;float:left;cursor:pointer;}
#top-menu .main li a, #top-menu .main li a span {background:url(../images/top-menu-a.jpg) no-repeat 0 0;}
#top-menu .main li {position:relative;padding-bottom:4px;}
#top-menu.float-left .main li {padding-right:10px;}
#top-menu.float-right .main li {padding-left:10px;}
#top-menu .main li a {background-position:top left;padding:0 0 0 20px;color:#656565;}
#top-menu .main li a span {background-position:top right;height:25px;line-height:25px;text-align:center;padding:0 20px 0 0;font-family:LucidaGrandeBold, Arial, sans-serif;}
#top-menu .main li a:hover {background-position:bottom left;}
#top-menu .main li a:hover span, #top-menu .main li a.current span {background-position:bottom right;}
#top-menu .main li a:hover, #top-menu .main li a.current {color:#666666;background-position:bottom left;}
#top-menu .main .current-dynamic > a {color:#666666;background-position:bottom left;}
#top-menu .main .current-dynamic > a span {background-position:bottom right;}
#top-menu .sub {background:url(../images/top-menu-sub.jpg) repeat-x #fafafa;position:absolute;top:27px;left:10px;padding:15px 20px 10px 20px;border:1px solid #e0e0e0;min-width:110px;display:none;z-index:50;}
#top-menu.float-left .sub {left:0;}
#top-menu .sub li, #top-menu .sub li a, #top-mnu .sub li a span {display:block;float:none;background:none;padding:0;}
#top-menu.float-left .sub li, #top-menu.float-right .sub li {line-height:25px;padding:2px 0;}
#top-menu .sub li a {font-family:LucidaGrandeRegular, Arial, sans-serif;}
/* -- */

#login-box {position:absolute;top:0;right:0;background:url(../images/login.png) no-repeat top left;width:40px;height:24px;line-height:24px;padding:0 0 0 27px;font-size:11px;color:#ededed;}
#login-box:hover {background-position:0 -24px;}

/* search */
#search {padding:21px 0 0 0;}
#search.float-right {padding-left:10px;}
#search.float-left {padding-right:10px;}
#search .input-text {color:#696969;font-size:11px;background:url(../images/search-input-text.jpg) no-repeat top left;width:75px;padding:0 5px 0 10px;height:24px;line-height:24px;float:left;}
#search .input-submit {background:url(../images/search-input-submit.jpg) no-repeat top left;width:28px;height:24px;float:left;cursor:pointer;}
#search .input-submit:hover {background-position:0 -24px;}
/* -- */

/* header */
#header {background:url(../images/bg-header.jpg) repeat-x;height:59px;padding:0 30px;border-top:1px solid #e8e8e8;}
#header h2 {display:block;float:left;font-size:24px;color:#000;vertical-align:middle;font-family:HelveticaNeueMdCn, Helvetica, sans-serif;line-height:56px;}
#header p {display:block;float:left;color:#666666;font-style:italic;vertical-align:middle;padding:2px 0 0 20px;font-size:15px;font-family:HelveticaNeueLtCnO, Helvetica, sans-serif;line-height:56px;}
#header .button {margin-top:17px;}
/* -- */

/* path */
#path {line-height:32px;height:34px;padding:0 30px;color:#666666;border-top:1px solid #fff;border-bottom:1px solid #e8e8e8;}
#path strong {color:#acacac;}
#path a {color:#acacac;}
/* -- */

#content {padding:30px 0;position:relative;}

/* rotator */
#rotator {height:356px;width:940px;padding:30px 0 16px 0;margin:0 auto;background:url(../images/bg-rotator.jpg) no-repeat bottom center;position:relative;z-index:10;}
#rotator ul {list-style:none;padding:0;margin:0;}
#rotator ul li {background:none !important;position:relative;height:356px;width:940px;}
#rotator ul li .image {position:absolute;bottom:0;right:10px;z-index:10;}
#rotator ul li .data {position:relative;z-index:20;padding:10px 0 0 20px;}
#rotator ul li .data h1 {color:#000;font-size:37px;font-family:HelveticaNeueMdCn, Arial, sans-serif;line-height:40px;}
#rotator ul li .data h1 strong {color:#666666;}
#rotator ul li .data p {color:#808080;padding:5px 0 15px 0;}
#rotator .controls {position:absolute;bottom:-10px;left:0;width:940px;text-align:center;z-index:30;height:12px;line-height:12px;}
#rotator .controls a {font-size:0px;line-height:0px;display:inline-block;background:url(../images/rotator-controls.png) no-repeat 0 0;height:12px;width:11px;margin:0 1px;}
#rotator .controls a.activeSlide {background-position:0 -12px;}
#rotator .btn {background:url(../images/rotator-prev-next.png) no-repeat top left;width:32px;height:64px;display:block;position:absolute;top:170px;}
#rotator .btn.prev {left:-31px;}
#rotator .btn.prev:hover {background-position:0 -128px;}
#rotator .btn.next {right:-31px;z-index:20;background-position:0 -64px;}
#rotator .btn.next:hover {background-position:0 -192px;}
/* -- */
.piecemaker {position:relative;margin-left:-100px;width:1200px;}


/* sub menu */
.sub-menu {}
.sub-menu h5 {border-bottom:1px solid #d9d9d9;padding:0 0 5px 0;}
.sub-menu ul {list-style:none;padding:0;margin:0;}
.sub-menu ul li {}
.sub-menu ul li a {display:block;line-height:28px;border-top:1px solid #fcfcfc;border-bottom:1px solid #e8e8e8;color:#1d1d1d;}
.sub-menu ul li a span {background:url(../images/arrow-blue.gif) no-repeat center left;padding:0 0 0 10px;display:block;}
.sub-menu ul li ul li.last-child {border-bottom:1px solid #e8e8e8;}
.sub-menu ul li.last-child a {border-bottom:0;}
.sub-menu ul li.current > a {background:url(../images/sub-menu-current.jpg) repeat-y;}
.sub-menu ul li ul {display:none;}
.sub-menu ul li ul li a {padding-left:20px;}
.sub-menu ul li ul li a span {background:url(../images/arrow-orange.gif) no-repeat center left;}
/* -- */

/* new module */
.new {}
.new h5 {border-bottom:1px solid #d9d9d9;padding:0 0 5px 0;}
.new ul {list-style:none;padding:0;margin:0;}
.new ul li {padding:10px 0;border-top:1px solid #fcfcfc;border-bottom:1px solid #e8e8e8;}
.new ul li a {display:block;padding:0 0 0 10px;background:url(../images/arrow-blue.gif) no-repeat left 5px;color:#8a8a8a;line-height:17px;}
.new ul li a:hover {background:url(../images/arrow-orange.gif) no-repeat left 5px;}
.new ul li a strong {color:#1d1d1d;display:block;padding:0 0 5px 0;font-weight:normal;}
.new ul li.last-child {border-bottom:0;}

/* -- */

/* info box */
.info-box {}
.info-box h5 {border-bottom:1px solid #d9d9d9;padding:0 0 5px 0;}
.info-box p {border-top:1px solid #fcfcfc;}
/* -- */

/* tags */
.tags {}
.tags ul {list-style:none;padding:0;margin:0;}
.tags ul li {display:block;float:left;padding:10px 10px 0 0;}
.tags ul li a {background:url(../images/tag.png) no-repeat top right;height:30px;display:block;float:left;padding:0 20px 0 15px;line-height:30px;border-left:1px solid #d2d2d2;color:#7faae3;}
.tags ul li a:hover {background-position:bottom right;}
/* -- */

/* chart */
.chart ul {list-style:none;padding:20px 0 0 0;margin:0;}
.chart ul li {float:left;width:200px;padding:0 0 0 50px;position:relative;}
.chart ul li:first-child {padding-left:0;}
.chart ul li div {background:url(../images/chart-icons.jpg) no-repeat 0 0;height:43px;padding:0 0 0 50px;}
.chart ul .one div {background-position:0 0;}
.chart ul .two div {background-position:0 -43px;}
.chart ul .three div {background-position:0 -86px;}
.chart ul .one span {background:url(../images/chart-arrow1.png) no-repeat top left;width:89px;height:25px;display:block;position:absolute;top:0;right:-45px;}
.chart ul .two span {background:url(../images/chart-arrow2.png) no-repeat top left;width:63px;height:36px;display:block;position:absolute;top:-10px;right:-45px;}
.chart ul li div big {display:block;color:#000;font-family:HelveticaNeueMdCn, Helvetica, sans-serif;font-size:22px;}
.chart ul li div small {display:block;}
/* -- */

/* universal scrollmenu - about page, this can be non-scrollable by adding class: non-scrollable */
.scrollmenu {height:152px;overflow:hidden;width:220px;float:left;}
.scrollmenu ul {list-style:none;padding:0;margin:0;border-top:1px solid #e8e8e8;border-bottom:1px solid #fcfcfc;}
.scrollmenu ul li {display:block;}
.scrollmenu ul li a {display:block;height:28px;border-bottom:1px solid #e8e8e8;border-top:1px solid #fcfcfc;line-height:28px;padding:0;color:#484848;cursor:pointer;}
.scrollmenu ul li a.selected {background:url(../images/sub-menu-current.jpg) repeat-y;border-left:0;border-right:0;}
.scrollmenu ul li a span {background:url(../images/arrow-blue.gif) no-repeat center left;padding:0 0 0 12px;}
.scrollmenu.non-scrollable {height:auto !important;overflow:auto !important;}

/* scroll boxes on about page */
.scrollboxes {height:140px;float:right;width:460px;}
.scrollboxes ul {list-style:none;padding:0;margin:0;}
.scrollboxes ul .box {display:none;position:relative;padding:0 0 0 160px;}
.scrollboxes ul .box img {position:absolute;top:0;left:0;}
.scrollboxes ul .box.current {display:block;}
.scrollboxes ul .box h5 {font-size:20px;font-weight:bold;}
.scrollboxes ul .box p {padding:8px 0 !important;}



/* different types of items */
.list-articles {position:relative;padding:0 400px 0 0;}
.list-articles ul {list-style:none;padding:0;margin:0;}
.list-articles ul li {padding:20px 0;}
.list-articles .image {position:absolute;top:30px;right:0;}

.list-services {}
.list-services ul {list-style:none;padding:0;margin:0;}
.list-services ul li {padding:10px 20px 20px 0;width:300px;float:left;}
.list-services ul li.removed {padding-right:0;}
.list-services ul li .image {padding:0 0 10px 0;}
.list-services ul li h5 {position:relative;}
.list-services ul li h5 img {position:absolute;top:5px;right:0;}

.list-items {}
.list-items ul {list-style:none;padding:0;margin:0;}
.list-items ul li {width:222px;float:left;padding:0 17px 0 0;height:260px;}
.list-items ul li.removed {padding-right:0;}
.list-items ul li .image {padding:15px 0 0 0;}

.list-blog-posts {}
.list-blog-posts ul {list-style:none;padding:0;margin:0;}
.list-blog-posts ul li {display:block;padding:25px 0;width:700px;}
.list-blog-posts ul li:first-child {padding-top:0;}
.list-blog-posts ul li h4 {padding:0 0 5px 0;}
.list-blog-posts ul li .info-line {display:block;border-bottom:1px solid #fcfcfc;border-top:1px solid #e8e8e8;}
.list-blog-posts ul li .info-line a {color:#666666;}
.list-blog-posts ul li .info-line div {display:block;border-bottom:1px solid #e8e8e8;border-top:1px solid #fcfcfc;height:30px;line-height:30px;}
.list-blog-posts ul li .image {padding:15px 0 0 0;}
.list-blog-posts ul li .info-line .social-icons.mini {padding:3px 0 0 0;}
.list-blog-posts ul li .photo.float-right {padding-left:20px;}
/* -- */

/* comments module */
.comments {width:700px;position:relative;}
.comments ul {padding:20px 0;list-style:none;margin:0;}
.comments ul li {position:relative;padding:0px 0 0 80px;display:block;float:left;width:620px;}
.comments ul li ul li {width:540px;padding-bottom:20px;}
.comments ul li .author {position:absolute;top:0;left:0;}
.comments ul li .author div {color:#666666;}
.comments ul li a {color:#666666;}
.comments ul li .text {background:url(../images/comments-li.jpg) repeat-x top left #f1f1f1;padding:20px;position:relative;margin:0 0 5px 0;}
.comments ul li .text span {background:url(../images/comments-text-span.jpg) no-repeat top left;width:12px;height:16px;display:block;position:absolute;top:30px;left:-12px;}


/* -- */

/* standard pagination */
.pagination {}
.pagination ul {list-style:none;padding:0;margin:0;}
.pagination ul li {display:block;float:left;padding:0 1px;}
.pagination ul li a {display:block;background:url(../images/pagination-a.png) no-repeat 0 0;width:24px;height:26px;line-height:26px;text-align:center;color:#656565;font-family:HelveticaNeueMdCn, Helvetica, sans-serif;}
.pagination ul li a:hover {background-position:0 -26px;}
.pagination ul .prev a {background-position:0 -52px;margin-right:5px;}
.pagination ul .prev a:hover {background-position:0 -78px;}
.pagination ul .next a {background-position:0 -104px;margin-left:5px;}
.pagination ul .next a:hover {background-position:0 -130px;}
/* -- */

/* portfolio */
#filters {background:url(../images/filters-bg.png) no-repeat top left;float:right;padding:0 10px;margin:12px 0 0 0;width:490px;}
#filters ul {list-style:none;padding:0;margin:0;color:#656565;}
#filters ul li {display:block;float:left;line-height:36px;padding:0 9px;font-family:LucidaGrandeBold, Arial, sans-serif;}
#filters ul li a {display:block;float:left;line-height:36px;color:#656565;}
#filters ul li a.current {background:url(../images/filters-current.jpg) no-repeat center 28px;color:#666666;}
.project-list {padding:0 0 0 10px;}
.project-list ul {list-style:none;padding:0;margin:0;}
.project-list ul li {width:220px;float:left;padding:0 0 0 20px;height:270px;}
.project-list ul li.removed {padding-right:0;}
.project-list ul li .image {padding:0 0 10px 0;position:relative;}
.project-list ul li .image img {position:relative;}
.project-list ul li .image .more.normal {background:url(../images/type-icons.png) no-repeat top left;width:24px;height:26px;display:block;position:absolute;bottom:15px;right:5px;z-index:20;}
.project-list ul li .image .more.normal:hover {background-position:0 -26px;}
.project-list ul li .image .more.video {background:url(../images/type-icons.png) no-repeat;background-position:0 -52px;width:24px;height:26px;display:block;position:absolute;bottom:15px;right:5px;z-index:20;}
.project-list ul li .image .more.video:hover {background-position:0 -78px;}

.project-list ul li p {padding:5px 0 0 0 !important;}
.project-list ul li small {padding:5px 0 0 0 !important;display:block;}
.project-list .page_navigation.float-right {padding-right:30px;}
.project-list .page_navigation.float-left {padding-left:30px;}
.project-list .page_navigation a {display:block;background:url(../images/pagination-a.png) no-repeat 0 0;width:24px;height:26px;line-height:26px;text-align:center;color:#656565;font-family:HelveticaNeueMdCn, Helvetica, sans-serif;float:left;margin:0 1px;}
.project-list .page_navigation a:hover, .project-list .page_navigation .active_page {background-position:0 -26px;}
.project-list .page_navigation a.first_link {background-position:0 -208px;margin-right:5px;}
.project-list .page_navigation a.first_link:hover {background-position:0 -234px;}
.project-list .page_navigation a.previous_link {background-position:0 -52px;margin-right:5px;}
.project-list .page_navigation a.previous_link:hover {background-position:0 -78px;}
.project-list .page_navigation a.next_link {background-position:0 -104px;margin-left:5px;}
.project-list .page_navigation a.next_link:hover {background-position:0 -130px;}
.project-list .page_navigation a.last_link {background-position:0 -156px;margin-left:5px;}
.project-list .page_navigation a.last_link:hover {background-position:0 -182px;}
.project-list .page_navigation.nav_top {margin-top:-10px;padding-bottom:20px;}

.lightbox-work {display:none;position:absolute;top:-200px;left:50%;margin-left:-330px;z-index:1001;background:url(../images/lightbox-bg.jpg) repeat-x top #f7f7f7;border:1px solid #fff;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding:40px 30px 20px 30px;width:660px;} 
.lightbox-close {position:absolute;top:15px;right:15px;font-size:11px;background:url(../images/lightbox-close.png) no-repeat top left;width:11px;height:12px;display:block;}

.lightbox-work h4 {padding-top:5px;}
.project-list .rotate {list-style:none;padding:0;margin:0;height:375px !important;}
.project-list .rotate li {background:none !important;padding:0 !important;height:375px !important;width:auto !important;float:left !important;position:relative;}
.project-list .rotate li img {position:relative;z-index:50;float:left !important;}
.project-list .work-slider .controls {text-align:center;z-index:30;height:12px;line-height:12px;float:right;padding:15px 0 0 0;}
.project-list .work-slider .controls a {font-size:0px;line-height:0px;display:block;background:url(../images/rotator-controls.png) no-repeat 0 0;height:12px;width:11px;margin:0 1px;float:left;}
.project-list .work-slider .controls a.activeSlide {background-position:0 -12px;}

/* -- */

/* bottom & footer */
#bottom {background:url(../images/bg-bottom.jpg) no-repeat top left;width:1002px;margin:0 auto;color:#1d1d1d;}
#bottom h5 {padding:10px 0 10px 0;font-size:18px;}
#bottom p {padding:0 0 10px 0;}
#bottom .inner {padding:20px 30px;}
#bottom .list {padding:0;}
#bottom .list li {line-height:22px;}
#bottom .list li a {color:#1d1d1d;}
#bottom .contact {position:relative;height:69px;width:200px;display:block;}
#bottom .contact span {background:url(../images/type-icons.png) no-repeat 0 0;height:26px;width:24px;display:block;position:absolute;bottom:0px;right:0px;z-index:20;}
#bottom .contact:hover span {background-position:0 -26px;}
#footer {background:url(../images/bg-footer.jpg) no-repeat top left;width:1002px;height:35px;margin:0 auto;line-height:35px;}
#footer p {line-height:35px;color:#1d1d1d;}
#footer p.float-left, #footer ul.float-left {padding-left:10px;}
#footer p.float-right {padding-right:10px;}
#footer ul.float-right {padding-right:5px;}
#footer ul {list-style:none;padding:12px 0 0 0;margin:0;}
#footer ul li {display:block;float:left;border-left:1px solid #1d1d1d;line-height:12px;padding:0 5px 0 7px;}
#footer ul li:first-child {border-left:0;}
#footer ul li a {color:#1d1d1d;}
/* -- */

/* list styles */

/* default list style, no icons */
.list {list-style:none;padding:10px 0;margin:0;}
.list li a {color:#808080;}
.list li {line-height:28px;width:auto;float:none;color:#808080;}

/* list with grey arrows */
.list.arrows-grey li {background:url(../images/list-arrows-grey.png) no-repeat center left;padding:0 0 0 15px;}

/* list with orange arrows */
.list.arrows-orange li {background:url(../images/list-arrows-orange.png) no-repeat center left;padding:0 0 0 15px;}

/* list with green arrows */
.list.arrows-green li {background:url(../images/list-arrows-green.png) no-repeat center left;padding:0 0 0 15px;}

/* list with blue arrows */
.list.arrows-blue li {background:url(../images/list-arrows-blue.png) no-repeat center left;padding:0 0 0 15px;}

/* list with smaller blue arrows */
.list.small-arrows-blue li {background:url(../images/list-arrows-blue-small.png) no-repeat center left;padding:0 0 0 15px;}

/* list with blue dots */
.list.dots-blue li {background:url(../images/list-dots-blue.png) no-repeat center left;padding:0 0 0 15px;}

/* list with grey dots */
.list.dots-grey li {background:url(../images/list-dots-grey.png) no-repeat center left;padding:0 0 0 15px;}

/* list with checked icon */
.list.checked li {background:url(../images/list-checked.png) no-repeat center left;padding:0 0 0 22px;}

/* extra bordering for list items */
.list.bordered li {border-bottom:1px solid #e8e8e8;border-top:1px solid #fcfcfc;}
.list.bordered li:first-child {border-top:0;}
.list.bordered li.last-child {border-bottom:0;}

/* -- */

/* info boxes */
.infobox {padding:0 15px 0 0;position:relative;}
.infobox p {display:block;line-height:23px;}
.infobox span {display:block;padding:0 0 0 50px;}
.infobox.blue {background:url(../images/infobox-blue.jpg) repeat;color:#446797;border:1px solid #666666;}
.infobox.blue span {background:url(../images/infobox-blue-span.png) no-repeat 15px center;}
.infobox.blue p {background:url(../images/infobox-blue-p.png) no-repeat center right;}

.infobox.orange {background:url(../images/infobox-orange.jpg) repeat;color:#846000;border:1px solid #f4b200;}
.infobox.orange span {background:url(../images/infobox-orange-span.png) no-repeat 15px center;}
.infobox.orange p {background:url(../images/infobox-orange-p.png) no-repeat center right;}

.infobox.red {background:url(../images/infobox-red.jpg) repeat;color:#b40000;border:1px solid #d70000;}
.infobox.red span {background:url(../images/infobox-red-span.png) no-repeat 15px center;}
.infobox.red p {background:url(../images/infobox-red-p.png) no-repeat center right;}

.infobox.green {background:url(../images/infobox-green.jpg) repeat;color:#419100;border:1px solid #54bb01;}
.infobox.green span {background:url(../images/infobox-green-span.png) no-repeat 15px center;}
.infobox.green p {background:url(../images/infobox-green-p.png) no-repeat center right;}

.standard-box {background:url(../images/box-bg.jpg) repeat;border:1px solid #c6c6c6;position:relative;}
.standard-box p {padding:15px !important;}
.standard-box.titled {}
.standard-box.titled p {padding-top:20px !important;}
.standard-box .title {background:url(../images/box-title.jpg) repeat-x;height:41px;line-height:41px;border-top:1px solid #e9e9e9;border-left:1px solid #e9e9e9;border-right:1px solid #e9e9e9;border-bottom:1px solid #a4a4a4;position:absolute;top:-36px;left:-1px;width:100%;}
.standard-box .title h5 {padding:0 15px;color:#000;font-size:16px;}

/* -- */

/* tabs */
.tabs {padding:15px 0;}
.tabs .nav {list-style:none;padding:0;margin:0;position:relative;z-index:10;border-bottom:1px solid #d9d9d9;height:25px;}
.tabs .nav li {display:block;float:left;margin-left:-1px;}
.tabs .nav li:first-child {margin-left:0;}
.tabs .nav li a {background:url(../images/tabs-nav-li.jpg) repeat-x top;display:block;float:left;height:25px;line-height:26px;padding:0 20px;border-left:1px solid #d2d2d2;border-right:1px solid #d2d2d2;color:#2e2e2e;}
.tabs .nav li a.current, .tabs .nav li a:hover {background:url(../images/tabs-nav-li.jpg) repeat-x bottom;}
.tabs .cnt {position:relative;z-index:15;padding:5px 15px;display:none;border-top:1px solid #fcfcfc;}
.tabs .cnt.current {display:block;}
/* -- */

/* toggles */
.toggles {padding:15px 0;}
.toggles ul {list-style:none;padding:0;margin:0;}
.toggles ul li {padding:0 0 10px 0;}
.toggles ul li a {color:#808080;font-weight:bold;background:url(../images/list-toggle-arrow-right.png) no-repeat center left;padding:0 0 0 15px;}
.toggles ul li a.current {background:url(../images/list-toggle-arrow-down.png) no-repeat center left;}
.toggles ul li p {display:none;}
.toggles ul li p.current {display:block;}
/* -- */

/* testimonials */
#testimonials {width:460px;}
#testimonials ul {list-style:none;padding:0;margin:10px 0;}
#testimonials ul li {padding:0;display:block;float:left;position:relative;}
#testimonials ul li .text {background:url(../images/testimonials-li-text.jpg) repeat-x top #f1f1f1;border-top:1px solid #c2c2c2;border-left:1px solid #c2c2c2;border-right:1px solid #fff;border-bottom:1px solid #fff;width:460px;position:relative;z-index:10;float:left;}
#testimonials ul li .text p {padding:20px 30px;text-align:center;font-style:italic;display:block;float:left;}
#testimonials ul li .author {background:url(../images/testimonials-li-author.jpg) no-repeat top right;padding:0 30px 0 0;margin:-1px 20px 0 0;text-align:right;position:relative;z-index:20;line-height:34px;float:right;}
/* -- */

/* newsletter */
#newsletter {width:460px;}
#newsletter .input-text {background:url(../images/newsletter-input-text.jpg) no-repeat top left;width:180px;height:24px;line-height:24px;font-size:11px;color:#6b6b6b;padding:0 0 0 10px;vertical-align:middle;margin:5px 0;}
#newsletter .input-submit {background:url(../images/newsletter-input-submit.jpg) no-repeat top left;width:28px;height:24px;vertical-align:middle;cursor:pointer;margin:5px 0;}
#newsletter .input-submit:hover {background-position:0 -24px;}
/* -- */

/* standard form */
.form {}
.form .input-text {background:url(../images/form-input-text.jpg) no-repeat top left;width:440px;height:24px;line-height:24px;padding:0 10px;}
.form .input-textarea {background:url(../images/form-input-textarea.jpg) no-repeat top left;width:439px;height:63px;padding:10px;}
.form.reply .input-text {background:url(../images/form-reply-input-text.jpg) no-repeat top left;width:280px;height:24px;}
.form.reply .input-textarea {background:url(../images/form-reply-input-textarea.jpg) no-repeat top left;width:359px;}

.form label {display:block;padding:6px 0;}
.form div {padding:0 0 15px 0;}
.form.reply div {padding:0 0 10px 0;}
.form .message {display:none;padding:0;margin:0;}
.form #alert ul {list-style:none;padding:20px 0 0 0;margin:0;}
.form #alert ul li {display:block;}
/* -- */

/* flickr */
#flickr h5 {border-bottom:1px solid #d9d9d9;padding:0 0 5px 0;}
#flickr-photos {padding:10px 0 0 0;margin:0;height:150px;width:210px;overflow:hidden;border-top:1px solid #fcfcfc;}
#flickr-photos ul {list-style:none;float:left;padding:0;margin:0 0 0 -10px;}
#flickr-photos ul li {display:block;float:left;padding:0 0 12px 12px;}
#flickr-photos ul li img {border:none;width:60px;height:60px;}
/* -- */

/* social icons */
.social-icons li {width:30px;height:30px;float:left;}
.social-icons li a {width:24px;height:24px;background:url(../images/social-icons.png) no-repeat 0 0;display:inline-block;float:none;}
.social-icons li .skype {background-position:0 0;}
.social-icons li .skype:hover {background-position:-24px 0;}
.social-icons li .linkedin {background-position:0 -24px;}
.social-icons li .linkedin:hover {background-position:-24px -24px;}
.social-icons li .facebook {background-position:0 -48px;}
.social-icons li .facebook:hover {background-position:-24px -48px;}
.social-icons li .digg {background-position:0 -72px;}
.social-icons li .digg:hover {background-position:-24px -72px;}
.social-icons li .deviantart {background-position:0 -96px;}
.social-icons li .deviantart:hover {background-position:-24px -96px;}
.social-icons li .twitter {background-position:0 -120px;}
.social-icons li .twitter:hover {background-position:-24px -120px;}


.social-icons.mini li {width:16px;height:16px;padding:0 0 0 4px;display:block;float:left;margin:4px 0 0 0;}
.social-icons.mini a {width:16px;height:16px;background:url(../images/social-icons-mini.png) no-repeat 0 0;display:block;float:left;}
.social-icons.mini li .skype {background-position:0 0;}
.social-icons.mini li .skype:hover {background-position:-16px 0;}
.social-icons.mini li .linkedin {background-position:0 -16px;}
.social-icons.mini li .linkedin:hover {background-position:-16px -16px;}
.social-icons.mini li .facebook {background-position:0 -32px;}
.social-icons.mini li .facebook:hover {background-position:-16px -32px;}
.social-icons.mini li .digg {background-position:0 -48px;}
.social-icons.mini li .digg:hover {background-position:-16px -48px;}
.social-icons.mini li .deviantart {background-position:0 -74px;}
.social-icons.mini li .deviantart:hover {background-position:-16px -74px;}
.social-icons.mini li .twitter {background-position:0 -80px;}
.social-icons.mini li .twitter:hover {background-position:-16px -80px;}
/* -- */

/* table */
.table {}
.table .head {text-align:center;font-family:HelveticaNeueMdCn, Helvetica, sans-serif;}
.table .head .col {float:left;width:160px;margin-left:1px;height:113px;position:relative;}
.table .head .col1 {width:299px;margin-left:-3px;}
.table .head .col2 {background:url(../images/table-2.jpg) no-repeat top left;color:#007dc5;}
.table .head .col3 {background:url(../images/table-3.jpg) no-repeat top left;color:#0058c4;}
.table .head .col4 {background:url(../images/table-4.jpg) no-repeat top left;color:#002ec4;}
.table .head .col5 {background:url(../images/table-5.jpg) no-repeat top left;color:#0000c4;}
.table .head h4 {color:#000;font-size:20px;display:block;padding:5px 0;border-bottom:1px solid #b5e1fb;}
.table .head big {display:block;border-top:1px solid #fcfcfc;font-size:50px;line-height:42px;padding-top:6px;}
.table .head small {display:block;font-size:17px;font-family:HelveticaNeueMdCn, Helvetica, sans-serif;color:inherit;}
.table .head .best {height:123px;margin-top:-10px;}
.table .head .best h4 {padding:10px 0;}

.table .data {margin-left:-3px;}
.table .data .rows {background:#f5f5f5;height:40px;clear:both;}
.table .data .rows.colored {background:#f1f1f1;}
.table .data .rows.bordered {border-bottom:1px solid #fcfcfc;padding-bottom:1px;}
.table .data .rows.bordered .row {border-bottom:1px solid #e6e6e6;}
.table .data .rows.options .row1 {background:#f7f7f7 !important;}
.table .data .rows.options .row {padding-top:15px;padding-bottom:20px;}
.table .data .rows span {color:#666666;font-size:20px;font-family:HelveticaNeueMdCn, Helvetica, sans-serif;}
.table .data .rows .row {float:left;width:160px;height:20px;padding:10px 0;border-left:1px solid #fcfcfc;text-align:center;}
.table .data .rows .row1 {text-align:right;width:284px;padding-right:15px;border-left:0;}
.table .data .rows .row2 {background:#dcf0fc;}
.table .data .rows .row3 {background:#dceafc;}
.table .data .rows .row4 {background:#dce4fc;}
.table .data .rows .row5 {background:#dcdcfc;}
.table .data .rows.colored .row2 {background:#ccebfd;}
.table .data .rows.colored .row3 {background:#cce2fd;}
.table .data .rows.colored .row4 {background:#ccd7fd;}
.table .data .rows.colored .row5 {background:#ccccfd;}
.table .head .ribbon {background:url(../images/table-best-value.png) no-repeat top left;width:91px;height:89px;position:absolute;top:-8px;right:-8px;z-index:20;}
/* -- */

.tooltip-cloud {position:absolute;left:-2000px;z-index:200;background:url(../images/tooltip-cloud.png) no-repeat top left;width:69px;padding:0 2px 0 0;height:32px;line-height:28px;font-size:11px;color:#fffffe;text-align:center;}

.separator {height:1px;line-height:0;font-size:0;background:#fff;border-top:1px solid #e8e8e8;margin:20px 0 30px 0;}
#piecemaker {position: relative; z-index:100;}

/* google map in contact */
#map_canvas {height:270px;width:460px;position:relative;}
#mapcontent h1 {font-size:14px;padding:0 0 5px 0;margin:0;font-weight:bold;}
#mapcontent p {padding:0 0 0 0 !important;}

/* lightbox for login box */
#lightbox {display:none;background:#000001;opacity:0.9;position:fixed;top:0;left:0;min-width:100%;min-height:100%;z-index:1000;}
#lightbox-close {position:absolute;top:15px;right:15px;font-size:11px;background:url(../images/lightbox-close.png) no-repeat top left;width:11px;height:12px;display:block;}

#loginbox-panel {display:none;position:fixed;top:200px;left:50%;margin-left:-230px;z-index:1001;background:url(../images/lightbox-bg.jpg) repeat-x top #f7f7f7;width:380px;border:1px solid #fff;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding:20px 30px;} 
#loginbox-panel .frame {padding:0 0 0 90px;background:url(../images/login-box.png) no-repeat top left;}
#loginbox-panel .input-text {background:url(../images/loginbox-input-text.jpg) no-repeat top left;width:267px;height:24px;line-height:24px;padding:0 10px;font-size:11px;color:#686868;margin:12px 0 0 0;}
#loginbox-panel .separator {margin:15px 0;}
#loginbox-panel div a {color:#666666;}
#loginbox-panel .input-submit {background:url(../images/loginbox-input-submit.jpg) no-repeat top left;width:75px;height:25px;padding-bottom:2px;line-height:25px;cursor:pointer;color:#656565;font-weight:bold;margin-top:-5px;}


/* additions */

.leftCol { float:left;  width:620px; }
.rightCol { float:right; width:300px;  }

/* home form */
.home-form {}
.home-form .input-text {background:url(../images/home-form-input-text.jpg) no-repeat top left;width:290px;height:24px;line-height:24px;padding:0 10px;}
.home-form .input-textarea {background:url(../images/form-input-textarea.jpg) no-repeat top left;width:290px;height:63px;padding:10px;}


.home-form label {display:block;padding:6px 0;}
.home-form div {padding:0 0 15px 0;}
.home-form.reply div {padding:0 0 10px 0;}
.home-form .message {display:none;padding:0;margin:0;}
.home-form #alert ul {list-style:none;padding:20px 0 0 0;margin:0;}
.home-form #alert ul li {display:block;}
/* -- */

/* ==== (h) Footer Twitter Updates ===================== */

/* ==== (c) panel-2 Recent Tweets ===================== */

.column-220 .recent-tweets ul {	
	margin:15px 24px 10px 0px;
	padding:0 0 20px 0;
	border:none;}
.column-220 .recent-tweets ul li  {
	background:url(http://hubs.6qube.com/themes/6qubeFull/images/icons/twitter2.png) no-repeat 0 5px; 
	padding-left:68px; 
	font-size:13px; 
	float:left; 
	color:#000; 	
	font-weight:normal; 
	font-style:italic;
	padding-bottom:20px;
	overflow-y: auto;
	overflow-x: hidden; }	
.column-220 .recent-tweets ul li a { 
	display:inline;
	text-decoration:none; 
	color:#3f3f3f;}
	
.column-220 .recent-tweets ul li a:hover { 
	color:#363636; 
	text-decoration:underline;}	
	


pre {
	font-family:"Lucida Sans Unicode","Lucida Grande","Trebuchet MS", Arial, sans-serif; 
	font-size:12px; 
	color:#343434; 
	padding-left:5px; 
	background:url(http://hubs.6qube.com/themes/6qubeFull/images/backgrounds/pre.jpg); 
	white-space:pre; 
	overflow:auto; 
	border-width:0 1px 1px 1px; 
	border-style:solid; 
	border-color:#dddddd; 
	line-height:22px; 
	letter-spacing:.1px; 
	word-spacing:1px; 
	margin:15px 0 15px 0;
	overflow:hidden;}
	
code { 
	background-color: #eee; 
	padding: 0px 5px; 
	color:#4d4d4d;
	margin: 10px 0; 
	border: 1px dotted #979797; 
	display: inline-block; 
	text-shadow: 0px 1px 0px #fff; }
	
.galleryImage {float:left; padding:20px;  }

/* ========================================================== 
	(12) Signup Style 
============================================================ */
#contact-form label {
	display:block; 
	margin:20px 0 4px 0;}
	
#contact-form .input1, #contact-form .input2 {
	width:95%;	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-size:13px;
	color:#363636;
	background-color:#f5f5f5;
	border:1px solid #cccccc; }
	
#contact-form .input1  { 
	height:30px; 
	line-height:30px; 	
	padding:0 8px 0 8px;}
#contact-form .input2 { 
	height:150px; 
	line-height:19px;	
	padding:8px 8px 0 8px; 
	margin:0 0 10px 0;}
#contact-form p { color:#363636;} 
#contact-form #msg p {	background:url(http://6qube.com/reseller/themes/reseller/images/icons/error1.jpg) no-repeat 0 3px; }	
#contact-form #smessage h3{ background:url(http://6qube.com/reseller/themes/reseller/images/icons/success2.jpg) no-repeat 0 4px; }
.contact-map { 
	width:465px;
	height:347px;
	background:url(http://6qube.com/reseller/themes/reseller/images/backgrounds/map-bg.jpg) no-repeat 0 0 ; 
	padding:9px 0 20px 12px;
	clear:both;	}
/* ==== Button ===================== */
button { 	
	cursor: pointer;
	overflow: visible; 
	position: relative;}
	
button span { 	
	display: block;	
	white-space: nowrap; 
	height:37px;	
	position: relative;}
	
button::-moz-focus-inner { border: none;} /* span’s offset in firefox */
/* ==== (b) Black Buttons ===================== */
button.blackButton,a.blackButton { 	
	background:url("http://6qube.com/reseller/themes/reseller/images/backgrounds/black-button.png") no-repeat right -39px;	
	padding-right:18px; 
	text-align: center; 
	margin:0; 
	outline: none; 
	border: 0;}	
	
button.blackButton span,a.blackButton span { 	
	background:url("http://6qube.com/reseller/themes/reseller/images/backgrounds/black-button.png") no-repeat left 0; 
	padding-left:15px; 	
	color: #e0e0e0; 
	font-size: 13px;  
	line-height: 32px; 	
	text-shadow: 1px 1px 0 #000; 
	position: relative; }	
	
button.blackButton:hover,a.blackButton:hover{ background-position: right -117px;}	
button.blackButton:hover span,a.blackButton:hover span{ 
	background-position: left -78px; 
	color: #fff; 
	text-shadow: 1px 1px 0 #000;	}
	
/*******/
	
a.blackButton,a.blackButton2,a.blackButton3 {	 
	clear:both;
	float:left;
	text-decoration:none; 
	height:36px;}	
	
a.blackButton span,a.blackButton2 span,a.blackButton3 span {	
	display:block; 
	text-decoration:none; 
	height:36px;}
button.blackButton2, button.blackButton3, a.blackButton2, a.blackButton3{ 
	background:url("http://6qube.com/reseller/themes/reseller/images/backgrounds/form_button.gif") no-repeat right -39px; 	
	padding-right:30px; 
	text-align: center; 
	margin-right:4px; 
	outline: none; 
	border: 0;}	
	
button.blackButton2 span, button.blackButton3 span, a.blackButton2 span, a.blackButton3 span { 	
	background:url("http://6qube.com/reseller/themes/reseller/images/backgrounds/form_button.gif") no-repeat 0 0; 
	padding-left:25px; 	
	color: #e0e0e0; 
	font-size: 13px;  
	line-height: 32px; 	
	text-shadow: 1px 1px 0 #000; 
	position: relative; }	
	
button.blackButton2:hover, button.blackButton3:hover, a.blackButton2:hover, a.blackButton3:hover { 
	background-position: right -117px;}	
	
button.blackButton2:hover span, button.blackButton3:hover span, a.blackButton2:hover span , a.blackButton3:hover span{ 
	background-position: 0 -78px; 
	color: #fff; 
	text-shadow: 1px 1px 0 #000;}
button.blackButton2, a.blackButton2 {padding-right:18px;}
button.blackButton2 span, a.blackButton2 span {padding-left:15px;}
/* ==== (c) Grey Button ===================== */
button.button-grey,a.button-grey{ 	
	float:left; 
	padding-left: 5px; 
	text-decoration: none; 
	outline:none; 
	color:#404040; 
	cursor:pointer; 
	display: block;
	background: url(http://6qube.com/reseller/themes/reseller/images/backgrounds/btn_gray_left.jpg) no-repeat top left;  
	font-size: 13px; 
	font-weight:normal; 
	line-height: 24px; 
	height: 27px; 
	margin:10px 0 0 0; 
	font-style:italic;
	border:none;}
	
button.button-grey span,a.button-grey span{ 
	background:url(http://6qube.com/reseller/themes/reseller/images/backgrounds/btn_gray_right.jpg) right top no-repeat; 
	padding: 0 28px 0 5px; 
	display:block; 
	height: 27px; 
	text-shadow: 1px 1px 0 #fff;
	font-family:"Trebuchet MS", Arial, Helvetica;
	line-height: 24px; 	}
	
button.button-grey,a.button-grey:hover, a.button-gray:hover span { 
	color:#363636; 
	text-decoration:none; }
/* ==== (d) Footer Button ===================== */
button.footerButton, a.footerButton {	
	background:url("http://6qube.com/reseller/themes/reseller/images/backgrounds/footer-button.png") no-repeat right -50px; 
	padding-right:43px; 
	text-align: center; 
	margin-right:0; 
	outline: none; 
	border: 0; 	
	cursor: pointer;}	
	
button.footerButton span, a.footerButton span {	
	background:url("http://6qube.com/reseller/themes/reseller/images/backgrounds/footer-button.png") no-repeat left 0; 
	padding-left:16px; 
	color: #fff; 
	font-size: 14px;  
	line-height: 28px; 
	text-shadow: 1px 1px 0 #282828; 
	position: relative; 
	letter-spacing:1px; 
	font-family:"Trebuchet MS", Arial, Helvetica;  }
	
button.footerButton:hover, a.footerButton:hover { background-position: right -150px;}	
button.footerButton:hover span , a.footerButton:hover span { 
	background-position: left -100px; 
	color: #fff; 
	text-shadow: 1px 1px 0 #282828;}
	
a.footerButton {	 
	float:left;
	text-decoration:none; 
	height:30px;}	
	
a.footerButton span {
	display:block; 
	text-decoration:none; 
	height:30px;}
	
	
