
/* Blog Directory */

.hero-blog-only {
	width: 100%;
	height: 400px;
	background: #373c42;
	position: relative;
	z-index: 15;
	border-bottom: 1px solid #00aeef;
}

.hero-blog-only .hero-title  h1 {
	line-height: 1.5em;
}

.flex {
	display: flex;
}

.b-title, .blog-post, .blog-post-content, .btn-group {
	width: 100%;
	padding: 0 40px 40px 40px;
}

.btn-group {
	text-align: center;
	margin-top: 40px;
}

.btn-default {
	margin: 0 10px;
	width: auto;
	height: auto;
	font-weight: 400;
	text-align: center;
	line-height: inherit;
	color: inherit !important;
	border: none;
	background-color: transparent;
	border-radius: 0;
}

.btn-default:hover, .btn-default:active {
	background-color: transparent;
	border: none;
	font-weight: 700;
	color: #00aeef !important;
}

.b-title h2 {
	color: #00aeef;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccdde7;
}

.post-info {
	background: #f0f5f8;
	border-radius: 6px;
	display: flex;
}

.post-info:hover {
	-webkit-box-shadow: 0 4px 6px 2px #ced8dd;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0 4px 6px 2px #ced8dd;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0 4px 6px 2px #ced8dd;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.post-info:hover h1 {
	color: #00aeef;
}

.post-info > .col-2 {
	padding: 20px;
}

.post-info > .col-6 {
	padding: 0px;
}

.post-info > .col-2 > p {
	font-size: 0.875em;
	line-height: 1.5em;
}

.post-info h1 {
	font-size: 1.5em;
	line-height: 1.2em;
	margin-top: 30px;
	color: inherit;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 350ms;
	transition-duration: 350ms;
}

a.post-cta.link--mono {
	font-family: 'RobotoMono';
	font-weight: 700;
	color: #00aeef;
	position: absolute;
	bottom: 20px;
}

.post-img {
	width: 100%;
	height: 0;
	padding-bottom: 52.25%;
	line-height: 0;
}

.post-img img {
	width: 100%;
	height: auto;
}

/* Blog Inside Page */

.post-top {
	padding: 20px 0;
	border-bottom: 1px solid #ccdde7;
	margin-bottom: 20px;
}

p.post-tags {
	font-size: 0.875em;
	line-height: 1.5em;
	color: #839097;
	margin-top: 5px;
}

p.post-tags a:hover {
	color: #00aeef;
}

.post-text {
	padding: 40px 0 80px 0;
	overflow: visible;
}

.post-text > * {
	width: 75%;
	margin: 0 auto 40px auto;
}

.post-text > img {
	width: 100%;
	height: auto;
	border-radius: 6px;
	margin: 20px 0 40px 0;
	-webkit-box-shadow: 0 4px 6px 2px #e2ecf1;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0 4px 6px 2px #e2ecf1;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0 4px 6px 2px #e2ecf1;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/* == Responsive == */

/* Large */
@media screen and (max-width: 1200px) {

	.b-title, .blog-post, .blog-post-content, .btn-group {
		padding: 0 30px 30px 30px;
	}

	.post-info h1 {
		font-size: 1.2em;
		margin-top: 15px;
	}

}

/* Medium */
@media screen and (max-width: 992px) {

	.post-info {
		display: block;
	}

	.post-info > .col-2, .post-info > .col-6 {
		width: 100%;
	}

	a.post-cta.link--mono {
		position: static;
		display: block;
		margin-top: 20px;
	}

	.flex {
		display: inline;
	}

	.flex > .col-2, .flex > .col-6 {
		width: 100%;
	}

	.flex > .col-6 {
		margin-bottom: 80px;
	}

	.flex > .border-right {
		border-right: none;
	}

}

/* Small */
@media screen and (max-width: 768px) {

	.b-title, .blog-post, .blog-post-content, .btn-group {
		padding: 0 0 30px 0;
	}

	.post-text {
		padding: 40px 0;
		overflow: visible;
	}

	.post-text > * {
		width: 100%;
		margin: 0 auto 40px auto;
	}

	.post-text > img {
		width: 100%;
		height: auto;
		border-radius: 6px;
		margin: 20px 0 40px 0;
		-webkit-box-shadow: 0 4px 6px 2px #e2ecf1;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		-moz-box-shadow:    0 4px 6px 2px #e2ecf1;  /* Firefox 3.5 - 3.6 */
		box-shadow:         0 4px 6px 2px #e2ecf1;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	}

}

/* Extra Small */
@media screen and (max-width: 480px) {

	.hero-blog-only .col-6 {
		width: 100%;
	}

	.hero-blog-only .hero-title  h1 {
		line-height: 1.2em;
	}

}