/*
SeedLogix®Labs 2018
www.seedlogix.com
/*
/* == Reset == */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

@charset "UTF-8";
/* CSS Document */

.grid {
	position: absolute;
	z-index: 1000;
	opacity: .5;
	filter: alpha(opacity = 50);
	display: none;
	top: 0px;
	left: 50%;
	margin-left: -720px;
}

* { 
	padding:0px;
	margin: 0px;
}

html {
	font-size: 16px;
}

body { 
	font: 100% 'Roboto', sans-serif; /* 16px */
	line-height: 1.5em; /* 24px */
	font-weight: 400;
	background-color: #fbfeff;
	color: #2a2e33;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

html, body {
	width: 100%;
	height: 100%;
	position: relative;
}

div, ul, li, form, fieldset, input, textarea, label {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	overflow: hidden;
	position: relative;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 350ms;
	transition-duration: 350ms;
}

p {
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 350ms;
	transition-duration: 350ms;
}

a:link, a:active, a:visited { 
	border: none;
	color: inherit;
	font-size: inherit;
	text-decoration: none;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 350ms;
	transition-duration: 350ms;
} 

a:hover {
   	cursor: hand;
   	color: inherit;
}

/* Webfont: AvertaStd-Bold */@font-face {
    font-family: 'AvertaStd';
    src: url('fonts/AvertaStd-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/AvertaStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/AvertaStd-Bold.woff') format('woff'), /* Modern Browsers */
         url('fonts/AvertaStd-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/AvertaStd-Bold.svg#AvertaStd-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 700;
}
/* Webfont: AvertaStd-Regular */@font-face {
    font-family: 'AvertaStd';
    src: url('fonts/AvertaStd-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/AvertaStd-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/AvertaStd-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/AvertaStd-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/AvertaStd-Regular.svg#AvertaStd-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}
/* Webfont: AvertaStd-Light */@font-face {
    font-family: 'AvertaStd';
    src: url('fonts/AvertaStd-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/AvertaStd-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/AvertaStd-Light.woff') format('woff'), /* Modern Browsers */
         url('fonts/AvertaStd-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/AvertaStd-Light.svg#AvertaStd-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 300;
}
/* Webfont: RobotoMono-Regular */@font-face {
    font-family: 'RobotoMono';
    src: url('fonts/RobotoMono-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/RobotoMono-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/RobotoMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/RobotoMono-Regular.svg#RobotoMono-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}
/* Webfont: RobotoMono-Bold */@font-face {
    font-family: 'RobotoMono';
    src: url('fonts/RobotoMono-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/RobotoMono-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/RobotoMono-Bold.woff') format('woff'), /* Modern Browsers */
         url('fonts/RobotoMono-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/RobotoMono-Bold.svg#RobotoMono-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 700;
}

::selection {
    background: #00aeef;
	color: #2a2e33;
}

::-moz-selection { /* Code for Firefox */
    background: #00aeef;
	color: #2a2e33;
}

/* Animation */

.animate {
	opacity: 0;
}

.animate.is-animated{
	opacity: 1;
}

.is-animated {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation-name: slide-up;
    animation-name: slide-up;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0; }
  40% {
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0; }
  90% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } 
}

@keyframes slide-up {
  0% {
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0; }
  40% {
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0; }
  90% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } 
}

/* Columns */

.wrapper {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 30px;
}

.row, .row2 {
	padding: 10px 0;
}

.row-center, .row2-center {
	padding: 0;
	text-align: center;
}

.row-center .col, .row2-center .col {
	display: inline-block;
	float: none !important;
	text-align: left;
	vertical-align: top;
}

.row2-center .col-4 {
	width: 49.8% !important;
}

.row2 > *:nth-child(2n+1), .row2-center > *:nth-child(2n+1) {
   clear: both;
}

.col {
	padding: 0 10px;
	float: left;
}

.col-1 {
	width: 12.5%;
}

.col-2 {
	width: 25%;
}

.col-2-5 {
	width: 33.33%;
}

.col-3 {
	width: 37.5%;
}

.col-4 {
	width: 50%;
}

.col-5 {
	width: 62.5%;
}

.col-6 {
	width: 75%;
}

.col-7 {
	width: 87.5%;
}

.col-8 {
	width: 100%;
}

/* General Styles & Helpers */

b {
	font-weight: 700;
}

h1 {
	font-family: 'AvertaStd';
	font-size: 2.25em;
	line-height: 1.2em;
	font-weight: 400;
}

h1 span:not(.wrap)	{
	font-weight: 700;
	color: #00aeef;
}

h2, h3 {
	font-family: 'AvertaStd';
	font-size: 1.5em;
	line-height: 1.2em;
	font-weight: 400;
}

h4, h5 {
	font-family: 'AvertaStd';
	font-size: 1.2em;
	line-height: 1.2em;
	font-weight: 400;
}

.center {
	margin: 0 auto;
	float: none;
}

.text--center {
	text-align: center !important;
}

.text--crossed {
	text-decoration: line-through;
}

.color--primary {
	color: #00aeef !important;
}

.color--grey {
	color: #606a70 !important;
}

.color--lightgrey {
	color: #839097 !important;
}

.color--white {
	color: #ffffff !important;
}

.mt--20 {
	margin-top: 20px;
}

.mt--40 {
	margin-top: 40px;
}

.mt--50 {
	margin-top: 50px;
}

.mt--80 {
	margin-top: 80px;
}

.mt--100 {
	margin-top: 100px;
}

.pb--20 {
	padding-bottom: 20px;
}

.mb--30 {
	margin-bottom: 30px !important;
}

.mb--80 {
	margin-bottom: 80px;
}

.ptb--100 {
	width: 100%;
	padding: 100px 0 !important;
}

.pt--100 {
	width: 100%;
	padding: 100px 0 0 0 !important;
}

.pb--60 {
	padding-bottom: 60px !important;
}

.img-full {
	line-height: 0;
	padding-bottom: 10px;
	overflow: visible;
}

.img-bottom {
	height: 400px;
	line-height: 0;
	padding: 0;
}

.img-full img, .img-bottom img {
	width: 100%;
	height: auto;
}

.img-full img {
	border-radius: 6px;
	-webkit-box-shadow: 0 4px 6px 2px #ced8dd;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0 4px 6px 2px #ced8dd;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0 4px 6px 2px #ced8dd;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

a.link--mono {
	font-family: 'RobotoMono';
	font-size: 0.875em;
	font-weight: 700;
	color: #00aeef;
}

a.mt--20.link--mono {
	display: inline-block;
}

.btn {
	width: 100%;
	height: 50px;
	font-weight: 700;
	text-align: center;
	line-height: 50px;
	color: #00aeef;
	border: 2px #00aeef solid;
	background-color: transparent;
	border-radius: 25px;
}

.btn.white {
	color: #fbfeff;
}

.btn.full {
	color: #fbfeff;
	background-color: #00aeef;
}

.btn:hover, .btn:active {
	cursor: pointer;
	background-color: #f7ef6f;
	border: 2px #f7ef6f solid;
	color: #373d42;
}

.btn.full:hover, .btn.full:active {
	background-color: #f7ef6f;
	border: 2px #f7ef6f solid;
	color: #373d42;
}

.logos, .logos--grey	{
	line-height: 0;
}

.logos img, .logos--grey img {
	width: 50%;
	height: auto;
	margin: 40px 25%;
	/*mix-blend-mode: multiply;*/
}
/*
.logos--grey img {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
	/*filter: url(desaturate.svg#greyscale);* /
}
*/
input, textarea, select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

form, fieldset, form > fieldset > ul, form > fieldset > ul > li {
	width: 100%;
}

form input, form textarea, form select {
	width: 100%;
	display: block;
	padding: 5px;
}

form label {
	display: none;
}

form input, form textarea, form select {
	margin: 0 0 20px 0;
	color: #999999;
	border: 1px solid #ccdde7;
	border-radius: 6px;
}

form input, form select {
	height: 40px;
}

form textarea {
	height: 240px;
	resize: none;
}

form input#submit {
	height: 50px;
	font-weight: 700;
	color: #fbfeff;
	background: #00aeef;
	border-radius: 25px;
	border: 2px #00aeef solid;
	margin-top: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #555;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #555;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #555;
}
:-moz-placeholder { /* Firefox 18- */
  color: #555;
}

#map {
	position: relative;
	padding-bottom: 33%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
	border-radius: 6px;
	background: #f0f5f8;
}
#map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}


/* Layout */

.footer {
	width: 100%;
	font-size: 0.8125em;
	line-height: 1.3846em;
	background: #373d42;
	padding: 40px 0 80px 0;
	color: #a7b6bf;
}

.footer-dir, .footer-subnav {
	width: 100%;
	padding-bottom: 20px;
	border-bottom: 1px solid #4d555b;
	margin-bottom: 20px;
}

.footer-dir .logo-x {
	width: 20px;
	height: 18px;
	background: url('../images/sl-x.svg') 0 0/20px 18px no-repeat;
	float: left;
}

.footer-dir .f-arrow {
	width: 4px;
	height: 10px;
	background: #a7b6bf;
	mask: url(../images/arrow.svg) 0 0/4px 10px;
	-webkit-mask: url(../images/arrow.svg) 0 0/4px 10px;
	float: left;
	margin: 4px 10px 4px 15px;
}

.footer-dir p {
	line-height: 18px;
	float: left;
}

.footer-dir div.go-top {
	width: 20px;
	height: 20px;
	background-color: #ccdde7;
	float: right;
	border-radius: 10px;
}

.footer-dir div.go-top .arrow-up {
	width: 20px;
	height: 20px;
	background: url('../images/left-sign.svg') center center/16px 11px no-repeat;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.footer-subnav p.f-mono {
	font-family: 'RobotoMono';
	font-size: 0.9230em;
}

.footer-subnav p.f-mono a:hover, .footer-subnav p.f-mono a:active {
	color: #fbfeff;
	font-weight: 700;
}

.footer-subnav p.f-title {
	color: #00aeef !important;
	font-weight: 700 !important;
}

.footer-copy {
	width: 100%;
}

.f-icon {
	width: 30px;
	height: 30px;
	float: left;
	background-color: #a7b6bf;
	margin: 0 10px 10px 0;
}

.f-icon.fb {
	mask: url(../images/fb.svg) 0 0/30px 30px;
	-webkit-mask: url(../images/fb.svg) 0 0/30px 30px;
}
.f-icon.tw {
	mask: url(../images/tw.svg) 0 0/30px 30px;
	-webkit-mask: url(../images/tw.svg) 0 0/30px 30px;
}
.f-icon.lk {
	mask: url(../images/lk.svg) 0 0/30px 30px;
	-webkit-mask: url(../images/lk.svg) 0 0/30px 30px;
}
.f-icon.in {
	mask: url(../images/in.svg) 0 0/30px 30px;
	-webkit-mask: url(../images/in.svg) 0 0/30px 30px;
}
.f-icon.gp {
	mask: url(../images/gp.svg) 0 0/30px 30px;
	-webkit-mask: url(../images/gp.svg) 0 0/30px 30px;
}

/* Navigation */

#header {
	-webkit-transition-property: top;
	transition-property: top;
	-webkit-transition-duration: 0;
	transition-duration: 0;
}

.header-wrapper {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 20;
}

.fixed-wrapper {
	width: 100%;
	height: auto;
	background: #fbfdff;
	position: fixed;
	top: 0;
	z-index: 21;
	border-bottom: 1px solid #ccdde7;
}

.header-wrapper .wrapper {
	padding: 0;
}

.header-wrapper .logo {
	width: 148px;
	height: 30px;
	margin: 30px 3px 0 30px;
	background: url('../images/sl-white.svg') 0 0/cover no-repeat;
	text-indent: -9999px;
	white-space: nowrap;
	float: left;
}

.header-wrapper h4.tag {
	font-family: 'AvertaStd';
	font-size: 1.875em;
	line-height: .95em;
	color: #838f97;
	font-weight: 300;
	margin-top: 30px;
}

.fixed-wrapper .logo {
	width: 148px;
	height: 30px;
	margin: 6px 3px 0 0;
	background: url('../images/sl-black.svg') 0 0/cover no-repeat;
	text-indent: -9999px;
	white-space: nowrap;
	float: left;
}

.fixed-wrapper h4.tag {
	font-family: 'AvertaStd';
	font-size: 1.875em;
	line-height: .95em;
	font-weight: 300;
	margin-top: 6px;
}

.header-wrapper ul.nav, .fixed-wrapper ul.nav {
	width: 100%;
	position: relative;
	padding-right: 20px;
}

.fixed-wrapper ul.nav {
	background: none;
}

.fixed-wrapper ul.nav {
	padding-right: 0;
}

.header-wrapper ul.nav li, .fixed-wrapper ul.nav li {
	width: 20%;
	float: left;
	position: relative;
}

.fixed-wrapper ul.nav li {
	padding: 0 10px;
}

.header-wrapper ul.nav li div.main-nav {
	width: 100%;
	height: 100px;
	color: #a7b6bf;
	background-color: #2a2e33;
	position: relative;
}

.fixed-wrapper ul.nav li div.main-nav {
	width: 100%;
	height: 60px;
	color: #727d84;
	position: relative;
}

.header-wrapper ul.nav li div.main-nav.user {
	background-color: #434a4f;
}

.header-wrapper ul.nav li div.main-nav p, .fixed-wrapper ul.nav li div.main-nav p {
	font-family: 'AvertaStd';
	font-weight: 300;
	font-size: 1.25em;
	padding: 45px 25px 0 25px;
}

.fixed-wrapper ul.nav li div.main-nav p {
	line-height: 60px;
	padding: 0;
}

.header-wrapper ul.nav li div.main-nav .arrow {
	width: 6px;
	height: 15px;
	background: #606a70;
	mask: url(../images/arrow.svg) 0 0/6px 15px;
	-webkit-mask: url(../images/arrow.svg) 0 0/6px 15px;
	position: absolute;
	top: 48px;
	right: 25px;
}

.fixed-wrapper ul.nav li div.main-nav .arrow {
	display: none;
}

.header-wrapper div.user-icon, .fixed-wrapper div.user-icon {
	width: 19px;
	height: 23px;
	background: url('../images/user.svg') 0 0/19px 23px no-repeat;
	margin: 40px auto 0 auto;
}

.fixed-wrapper div.user-icon {
	margin: 18px auto 0 auto;
}

.header-wrapper ul.nav li:hover, .header-wrapper ul.nav li:active {
	height: auto;
}

.header-wrapper ul.nav li:hover div.main-nav, .header-wrapper ul.nav li:active div.main-nav {
	background-color: #4d555b;
	color: #00aeef;
	cursor: pointer;
}

.header-wrapper ul.nav li:hover div.main-nav .arrow, .header-wrapper ul.nav li:active div.main-nav .arrow {
	background: #00aeef;
}

.header-wrapper ul.nav li.dropdown:hover div.main-nav .arrow, .header-wrapper ul.nav li.dropdown:active div.main-nav .arrow {
	background: #00aeef;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

ul.nav li:not(.dropdown):hover ul {
	padding: 0 !important;
}

.header-wrapper ul.nav li ul {
	height: 0;
	background-color: #4d555b;
	margin-top: 2px;
	padding: 0;
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  	filter: alpha(opacity=0);
}

.header-wrapper ul.nav li:hover ul, .header-wrapper ul.nav li:active ul {
	height: auto;
	padding: 15px 0;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  	filter: alpha(opacity=100);
}

.header-wrapper ul.nav li ul li {
	width: 100%;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 0.8em;
	line-height: 1em;
	color: #fbfdff;
	padding: 10px 20px 10px 20px;
}

.header-wrapper ul.nav li ul li:hover, .header-wrapper ul.nav li ul li:active {
	color: #a7b6bf;
	cursor: pointer;
}


.fixed-wrapper ul.nav li ul {
	height: 0;
	padding: 0;
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  	filter: alpha(opacity=0);
}

.fixed-wrapper ul.nav li div.main-nav {
  	border-bottom: none;
}

.fixed-wrapper:hover ul.nav li div.main-nav, .fixed-wrapper:active ul.nav li div.main-nav {
  	border-bottom: 1px solid #0084b6;
}

.fixed-wrapper:hover ul.nav li ul, .fixed-wrapper:active ul.nav li ul {
	height: auto;
	padding: 10px 0 20px 0;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  	filter: alpha(opacity=100);
}

.fixed-wrapper ul.nav li ul li {
	width: 100%;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 0.8em;
	line-height: 1em;
	padding: 10px 0 10px 0;
	color: #727d84;
}

.fixed-wrapper ul.nav li ul li:hover, .fixed-wrapper ul.nav li ul li:active {
	color: #2a2e33;
	cursor: pointer;
}

.nav-up {
	height: 60px;
	top: -100px;
}

.hamburger {
	padding: 20px 0;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible; 
}
.hamburger:hover, .hamburger:active {
	opacity: 0.7; 
}
.hamburger-box {
	width: 30px;
	height: 22px;
	display: inline-block;
	position: relative; 
	overflow: visible;
}
.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
	overflow: visible;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 30px;
	height: 2px;
	background-color: #a7b6bf;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease; 
}
.hamburger-inner::before, .hamburger-inner::after {
	content: "";
	display: block; 
}
.hamburger-inner::before {
	top: -10px; 
}
.hamburger-inner::after {
	bottom: -10px; 
}

.hamburger--spring .hamburger-inner {
	top: 2px;
	transition: background-color 0s 0.13s linear; 
}
.hamburger--spring .hamburger-inner::before {
	top: 10px;
	transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.hamburger--spring .hamburger-inner::after {
	top: 20px;
	transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}

.hamburger--spring.is-active .hamburger-inner {
	transition-delay: 0.22s;
	background-color: transparent; 
}
.hamburger--spring.is-active .hamburger-inner::before {
	top: 0;
	transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
	transform: translate3d(0, 10px, 0) rotate(45deg); 
}
.hamburger--spring.is-active .hamburger-inner::after {
	top: 0;
	transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
	transform: translate3d(0, 10px, 0) rotate(-45deg); 
}

.nav-active {
	width: 30px;
	height: 65px;
	position: absolute;
	top: 10px;
	right: 30px;
	display: none;
}

/* HOMEPAGE */

/* Hero */

.hero {
	height: 900px;
}

.bg--hero {
	width: 100%;
	max-width: 1440px;
	height: 100%;
	line-height: 0;
	z-index: -10;
	position: relative;
	margin: 0 auto;
}

.bg--hero img, .bg--hero video {
	width: 100%;
	height: auto;
	top: 50%;
	left: 50%;
	position: absolute;
	-webkit-transform: translate(-50%,-50%);
   	 -moz-transform: translate(-50%,-50%);
   	 -ms-transform: translate(-50%,-50%);
   	 transform: translate(-50%,-50%);
}

.hero-main {
	height: 680px;
}

.hero-title-only {
	height: 540px;
}

.hero-contact-only {
	height: 300px;
}

.hero, .hero-main, .hero-title-only, .hero-title-solutions, .hero-title-agency, .hero-contact-only {
	width: 100%;
	background: #373c42;
	position: relative;
	z-index: 15;
	border-bottom: 1px solid #00aeef;
}

.hero-title-solutions {
	background: #373c42 url('../images/solutions-banner-dark.jpg') center top/1440px auto no-repeat !important;
	height: 600px;
}

.hero-title-agency {
	background: #373c42 url('../images/features/solutions-banner.jpg') center top / cover no-repeat !important;
	height: 600px;
}

.hero-shadow {
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	z-index: 10;
	background: -moz-linear-gradient(top, rgba(55,61,66,0) 0%, rgba(55,61,66,0.2) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(55,61,66,0) 0%,rgba(55,61,66,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(55,61,66,0) 0%,rgba(55,61,66,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00373d42', endColorstr='#33373d42',GradientType=0 ); /* IE6-9 */
}

.hero-main-image {
	width: 750px;
	position: absolute;
	bottom: -60px;
	left: 50%;
	position: absolute;
	-webkit-transform: translate(-50%, 0%);
   	 -moz-transform: translate(-50%, 0%);
   	 -ms-transform: translate(-50%, 0%);
   	 transform: translate(-50%, 0%);
}

.hero-main-image img {
	width: 100%;
	height: auto;
	line-height: 0;
}

.hero-main-icon {
	width: 100%;
	height: 180px;
	bottom: 60px;
	text-align: center;
	position: absolute;
}

.hero-main-icon img {
	width: auto;
	height: 100%;
	line-height: 0;
	display: inline-block;
}

.hero-title-solutions .hero-title {
	top: 50%;
}

.hero-title-agency .hero-title {
	top: 50%;
}

.hero-title {
	width: 100%;
	top: 160px;
	color: #ffffff;
	text-align: center;
	position: absolute;
	z-index: 10;
}

.hero-title h1 {
	font-family: 'AvertaStd';
	font-weight: 700;
	font-size: 3em;
	line-height: 1em;
	letter-spacing: -0.02em;
}

.hero-title h1::before {
  content: url('../images/left-sign.svg');
  background-size: 15px 23px;
  height: 23px;
  width: 15px;
  display:inline-block;
  margin-right: 10px;
}

.hero-title h1::after {
  content: url('../images/right-sign.svg');
  background-size: 15px 23px;
  height: 23px;
  width: 15px;
  display:inline-block;
  margin-left: 10px;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.hero-footer, .hero-footer-solutions {
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 30px 0 60px 0;
	color: #fbfeff;
}

.hero-footer {
	background: rgba(42, 46, 51, .25);
}

.hero-footer h2, .hero-footer-solutions h2 {
	color: #00aeef;
}

.hero-footer p, .hero-footer-solutions p {
	font-weight: 300;
}

/* Software */

.bg--light {
	background-color: #f0f5f8;
	padding: 90px 0 60px 0;
}

.bg--light h1 {
	color: #373d42;
}

.bg--dark {
	background-color: #373d42 !important;
	padding: 90px 0 60px 0;
	color: #f0f5f8;
}

.bg--dark h1 {
	color: #f0f5f8;
}

.bg--dark.title-center {
	padding: 150px 0 !important;
}

.card {
	width: 100%;
	height: auto;
	background-color: #ffffff;
	padding: 30px;
	border-radius: 6px;
}

.card h2 {
	min-height: 60px;
	padding-bottom: 10px;
	color: #606a70;
	text-align: center;
	border-bottom: 1px solid #0084b6;
	margin: 40px 0 20px 0;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 350ms;
	transition-duration: 350ms;
}

.card p {
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 400;
	color: #839097;
}

.card h1.number {
  	width: 80px;
  	height: 80px;
  	border-radius: 50px;
  	border: 4px solid #00aeef;
  	margin: 20px auto 0 auto;
  	font-weight: 300;
    color: #00aeef;
    text-align: center;
    font-size: 4.5em;
  	line-height: 90px;
}

.card-icon {
	width: 100%;
	height: 80px;
	position: relative;
}

.card-icon img {
	width: auto;
	height: 100%;
	position: relative;
	left: 50%;
	-webkit-transform: translate(-50%,0%);
   	 -moz-transform: translate(-50%,0%);
   	 -ms-transform: translate(-50%,0%);
   	 transform: translate(-50%,0%);
}

.card.shadow:hover {
	-webkit-box-shadow: 0 4px 6px 2px #ced8dd;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0 4px 6px 2px #ced8dd;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0 4px 6px 2px #ced8dd;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.card.shadow:hover h2 {
	color: #00aeef;
}

.scroll--down {
	width: 60px;
	height: 60px;
	position: relative;
	top: -30px;
	left: 50%;
	margin: 0 0 -60px -30px;
	z-index: 20;
	background: #00aeef;
	border-radius: 30px;
}

.scroll--down::after {
	content: "";
	width: 12px;
	height: 30px;
	background: #fbfeff;
	mask: url(../images/arrow.svg) 0 0/12px 30px;
	-webkit-mask: url(../images/arrow.svg) 0 0/12px 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -6px;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* Features */

h2.feat {
	color: #606a70;
	font-weight: 700;
}

h2.feat::after {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #0084b6;
	margin: 20px 0;
	display: block;
}

.feat-img {
	width: 60%;
	height: auto;
	margin: 0 auto;
	border-radius: 50%;
	background: #ccdde7;
	border: 4px solid #ccdde7;
	position: relative;
}

.feat-img img {
	width: auto;
	height: 100%;
	position: relative;
	left: 50%;
	-webkit-transform: translate(-50%,0%);
   	 -moz-transform: translate(-50%,0%);
   	 -ms-transform: translate(-50%,0%);
   	 transform: translate(-50%,0%);
}

.feat-wrapper {
	width: 100%;
	height: auto;
	line-height: 0;
	margin-bottom: 60px;
	position: relative;
}
/*
.feat-wrapper::before {
  content: url('../images/left-sign.svg');
  background-size: 15px 23px;
  height: 23px;
  width: 15px;
  display: block;
  position: absolute;
  top: 50%;
  left: 5%;
  margin-top: -11px;
}

.feat-wrapper::after {
  content: url('../images/right-sign.svg');
  background-size: 15px 23px;
  height: 23px;
  width: 15px;
  display: block;
  position: absolute;
  top: 50%;
  right: 5%;
  margin-top: -11px;
}
*/
.software-img {
	margin: 0 auto;
	padding: 0 10px 30px 10px;
	line-height: 0;
}

.software-img img {
	width: 100%;
	height: auto;
	margin: 0 auto;
	border-radius: 6px;
	-webkit-box-shadow: 0 4px 6px 2px #ced8dd;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0 4px 6px 2px #ced8dd;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0 4px 6px 2px #ced8dd;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.solutions-img-full {
	margin: 0 auto;
	padding-bottom: 30px;
	line-height: 0;
}

.solutions-img-full img {
	width: 100%;
	height: auto;
	margin: 0 auto;
	border-radius: 6px;
}

.solutions-img {
	width: 100%;
	height: auto;
	margin: 0 auto 60px auto;
	line-height: 0;
	border-radius: 6px;
	text-align: center;
}

.solutions-img img {
	width: 40%;
	height: auto;
	margin: 0;
	display: inline-block;
}

.software-icon {
	width: auto;
	height: 35px;
	display: inline-block;
	margin-right: 20px;
}

.software-icon img {
	width: auto;
	height: 35px;
}

/* Feature Large */

.boxed, .boxed-last {
	width: 100%;
	padding: 60px 0 0 0;
	border-top: 1px solid #ccdde7;
	border-bottom: 1px solid #ccdde7;
}

.boxed-last {
	border-bottom: none;
}

.boxed .wrapper, .boxed .col, .boxed-last .wrapper, .boxed-last .col {
	overflow: visible !important;
}

.boxed .img-full, .boxed-last .img-full {
	overflow: hidden !important;
}

.feat-lg-text {
	padding: 60px;
}

.feat-lg-text h1 {
	margin-bottom: 40px;
}

.line--0 {
	line-height: 0;
}

.feature-text {
	padding: 60px;
}

.feature-text h2 {
	width: 75%;
	margin-bottom: 40px;
	color: #00aeef;
}

.feature-text h2::after {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #0084b6;
	margin: 20px 0;
	display: block;
}

.feature-text li {
  line-height:1.9em;
}

.feature-list {
  padding-top:20px;
}

.feature-list li {
  line-height: 30px;
  padding-left: 20px;
}

.feature-list li::before {
  content: "";
  width: 6px;
  height: 6px;
  background: #00aeef;
  position: absolute;
  left: 0;
  top: 12px;
  /*top: calc(50% - 3px);*/
  border-radius: 50%;
}

/* Stats */

.stat {
	text-align: center;
}

.stat h1 {
	font-size: 4.5em;
	font-weight: 700;
	line-height: 1em;
	color: #00aeef;
}

.stat h1 span {
	font-weight: 300;
	color: #a7b6bf;
}

.stat h2 {
	font-size: 1.875em;
	color: #727d84;
}

/* CTA */

.cta {
	background: #ccdde7 url('../images/cta-bg.png') 50% 33%/940px 840px no-repeat;
	padding: 70px 0;
	color: #373d42;
}

.cta .col-3, .button-center .col-3 {
	margin: 60px 0 0 31.25%;
}

/* PRICING */

.white-wrap {
	background: #fbfeff;
	-webkit-box-shadow: 0 4px 6px 2px #ced8dd;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0 4px 6px 2px #ced8dd;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0 4px 6px 2px #ced8dd;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.border-wrap {
	border: 1px solid #00aeef;
}

.no-wrap {
	background: #fbfeff;
}

.white-wrap, .border-wrap, .no-wrap {
	border-radius: 6px;
	padding: 0px;
	margin: 50px 0;
}

.white-wrap .col, .border-wrap .col, .no-wrap .col {
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}

.white-wrap .col .btn, .border-wrap .col .btn, .no-wrap .col .btn {
	opacity: 0;
	margin-top: 20px;
}

.p1:hover, .p2:hover, .p3:hover, .p4:hover, .p1b:hover, .p2b:hover, .p3b:hover, .p4b:hover, .p1c:hover, .p2c:hover, .p3c:hover, .p4c:hover {
	background: #eff9fe;
}

.bg--lightblue {
	background: #eff9fe;
}

.white-wrap .col:hover .btn, .border-wrap .col:hover .btn, .no-wrap .col:hover .btn {
	opacity: 1;
}

.border-right {
	border-right: 1px solid #00aeef;
	border-bottom: none;
}

.border-right-option {
	border-right: 1px solid #00aeef;
}

.no-wrap .border-right, .no-wrap .border-right-option {
	border-right: 1px solid #ccdde7;
}

.price-title {
	text-align: center;
	padding: 30px 0;
}

.price-title h1.price {
	margin-top: 10px;
	font-size: 3.5em;
	font-weight: 300;
	line-height: 1em;
}

.price-title h1.price span {
	font-size: .4em;
	vertical-align: top;
	margin-right: 5px;
}

.price-title h2 {
	font-size: 1.625em;
	color: #727d84;
}

.options-display {
	display: none;
}

.view--detail {
	display: none;
}

.price-option {
	border-top: 1px solid #ccdde7;
	text-align: center;
	padding: 20px 0;
}

.price-option p {
	width: 90%;
	margin: 0 auto;
}

.price-full {
	width: 100%;
	float: left;
}

.price-full .col {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.price-full > .col-8 {
	width: 100%;
	display: flex;
}

.price-full > .col-8 > .price-option {
	width: 100%;
}

.price-full .btn {
	margin-bottom: 30px;
}

/* == Responsive == */

/* Large */
@media screen and (max-width: 1200px) {

	#header .col-3 {
		width: 25%;
	}

	#header .col-5 {
		width: 75%;
	}

	h4.tag {
		display: none;
	}

	.hero .col-1 {
		width: 18.75%;
	}

	.hero .col-6 {
		width: 62.5%;
	}

	.hero-title h1 {
		font-size: 2.75em;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.25em;
	}

	.card {
		padding: 30px;
	}

	.card p {
		font-size: 1em;
		bottom: 30px;
		left: 30px;
		right: 40px;
	}

	.boxed .col-2, .boxed-last .col-2 {
		width: 32.5%;
	}

	.stat h1 {
		font-size: 4em;
	}

	.stat h2 {
		font-size: 1.5em;
	}

	.cta .col-3 {
		width: 50%;
		margin: 60px 0 0 25%;
	}

	.footer .col-6 {
		width: 100%;
	}

}

/* Medium */
@media screen and (max-width: 992px) {

	.header-wrapper .logo {
		width: 123px;
		height: 25px;
		margin: 20px 3px 0 30px;
	}

	.fixed-wrapper .logo {
		width: 123px;
		height: 25px;
		margin: 7px 3px 0 0;
	}

	.header-wrapper ul.nav li div.main-nav {
		height: 80px;
	}

	.header-wrapper ul.nav li div.main-nav p {
		font-size: 1.1em;
		padding: 32px 20px 0 20px;
	}

	.header-wrapper div.user-icon {
		margin: 30px auto 0 auto;
	}

	.header-wrapper ul.nav li div.main-nav .arrow {
		top: 35px;
		right: 20px;
	}

	.header-wrapper ul.nav li:hover ul, .header-wrapper ul.nav li:active ul {
		padding: 10px 0;
	}

	.header-wrapper ul.nav li ul li {
		font-size: 0.85em;
		padding: 10px;
	}

	.fixed-wrapper ul.nav li div.main-nav p {
		font-size: 1.1em;
		padding: 0;
	}

	.fixed-wrapper ul.nav li ul li {
		font-size: 0.85em;
		padding: 6px 0;
	}

	.hero {
		height: 700px;
	}

	.hero-title {
		top: 140px;
	}

	.hero-title h1 {
		font-size: 2.5em;
		letter-spacing: -0.02em;
	}

	h1 {
		font-size: 1.825em;
	}

	h2 {
		font-size: 1.25em;
	}

	.cards .col-4 {
		width: 75%;
	}

	.cards .col-2 {
		width: 33.33%;
	}

	.cards .row > *:nth-child(3n+1) {
   		clear: both;
	}

	.card p {
		font-size: 1em;
		bottom: 30px;
		left: 30px;
		right: 40px;
	}

	.feat-lg-text {
		padding: 30px;
	}

	.boxed .col-2, .boxed-last .col-2 {
		width: 50%;
	}

	.stat h1 {
		font-size: 3.75em;
	}

	.stat h2 {
		font-size: 1.25em;
	}

	.cta .col-3 {
		width: 75%;
		margin: 60px 0 0 12.5%;
	}

	.row2-center .col-4 {
    	width: 49.7% !important;
	}

	.row-center .col-2 {
    	width: 33% !important;
	}

	.feature-text {
    	padding: 40px;
	}

	.col-2-5 {
		width: 100%;
	}

}

/* Small */
@media screen and (max-width: 768px) {

	#header .col-3 {
		width: 100%;
	}

	#header .col-5 {
		width: 100%;
		padding: 0;
	}

	.header-wrapper .logo {
		width: 148px;
		height: 30px;
		margin: 20px 0 15px 30px;
	}

	.header-wrapper ul.nav {
		padding-right: 0;
		height: 0;
	}

	.header-wrapper ul.nav.open {
		height: auto;
	}

	.nav-active {
		display: inline-block;
	}

	.header-wrapper ul.nav li {
		width: 100%;
	}

	.header-wrapper ul.nav li div.main-nav {
		height: 60px;
	}

	.header-wrapper ul.nav li div.main-nav p {
		font-size: 1.1em;
		padding: 20px 30px 0 30px;
	}

	.header-wrapper div.user-icon {
		margin: 20px auto 0 auto;
	}

	.header-wrapper ul.nav li div.main-nav .arrow {
		top: 25px;
		right: 30px;
	}

	.header-wrapper ul.nav li ul li {
		padding: 10px 30px;
	}

	.hero .col-1 {
		width: 50%;
	}

	.hero .col-6 {
		width: 100%;
		margin-bottom: 20px;
	}

	.hero-title {
    	top: 110px;
	}

	.hero-title h1 {
		font-size: 2.5em;
		line-height: 1.2em;
	}

	.bg--hero img, .bg--hero video {
    	-webkit-transform: translate(-50%,-62%);
        -moz-transform: translate(-50%,-62%);
        -ms-transform: translate(-50%,-62%);
        transform: translate(-50%,-62%);
	}

	h1 {
		font-size: 1.75em;
	}

	h2 {
		font-size: 1.25em;
	}

	.col-4, .col-5 {
		width: 100%;
	}

	.col-2 {
		width: 50%;
	}

	.cards .row > *:nth-child(3n+1) {
   		clear: none;
	}

	.cards .row > *:nth-child(2n+1) {
   		clear: both;
	}

	.cards .col-2, .circles .col-2, .stats .col-2, .footer-subnav .col-2 {
		width: 50%;
	}

	.circles .col-2, .stats .col-2 {
		margin-bottom: 60px;
	}

	.footer-subnav .col-2 {
		margin-bottom: 20px;
	}

	.footer-subnav > *:nth-child(2n+1) {
		clear: both;
	}

	.feat-lg-text {
		padding: 30px;
		margin-bottom: 60px;
	}

	.cta .col-4 {
		width: 75%;
	}

	.cta .col-3 {
		width: 75%;
		margin: 60px 0 0 12.5%;
	}

	.hero-main {
    	height: 580px;
	}

	.hero-main-image {
    	width: 75%;
	}

	.row2-center .col-4 {
    	width: 100% !important;
	}

	.row2-center .col-2, .row-center .col-2 {
    	width: 32% !important;
	}

	.row-center .col-6 {
		width: 100% !important;
	}

	.img-bottom {
    	height: 220px;
	}

	.platform .col-2 {
		width: 50%;
	}

	.platform .col-4 {
		display: none;
	}

	.sol-cat .col-2, .testimonial .col-4 {
    	margin-bottom: 60px;
	}

	.white-wrap, .border-wrap, .no-wrap {
		width: 100%;
		border-radius: 6px;
		padding: 0px;
		margin: 50px 0;
	}

	.white-wrap .col-2, .border-wrap .col-2, .no-wrap .col-2 {
		width: 100% !important;
	}

	.border-right {
		border-right: none;
	}

	.white-wrap .border-right, .border-wrap .border-right {
		border-bottom: 1px solid #00aeef;
	}

	.no-wrap .border-right {
		border-bottom: 1px solid #ccdde7;
	}

	.white-wrap .col .btn, .border-wrap .col .btn, .no-wrap .col .btn {
		opacity: 1;
	}

	.price-full {
		display: none;
	}

	.view--detail {
		display: inline;
	}

	.open-options:hover {
		cursor: pointer;
	}

}

/* Extra Small */
@media screen and (max-width: 480px) {

	.hero {
		min-height: 600px;
		height: 600px;
	}

	.hero .col-6 {
		width: 100%;
		margin-bottom: 30px;
	}

	.hero-title {
    	top: 120px;
	}

	.hero-title h1 {
		font-size: 2.5em;
	}

	.hero-footer h2 {
		margin-bottom: 15px;
	}

	.hero-main {
    	height: 480px;
	}

	.hero-main-image {
    	width: 90%;
	}

	.hero-title-solutions .hero-title {
    	top: 120px;
	}
	
	.hero-title-agency .hero-title {
    	top: 120px;
	}

	.hero-footer-solutions {
    	padding: 30px 0 10px 0;
	}

	.hero-footer-solutions .col-2 {
		margin-bottom: 20px !important;
	}

	.bg--hero {
    	display: none;
	}

	.col-2 {
    	width: 100%;
	}

	h1 {
		font-size: 1.75em;
	}

	h2 {
		font-size: 1.25em;
	}

	.cards .col-2, .circles .col-2, .stats .col-2, .footer-subnav .col-2, .cta .col-4 {
		width: 100%;
	}

	.card p {
		font-size: 1.2em;
	}

	.row2-center .col-2, .row-center .col-2 {
    	width: 100% !important;
    	margin-bottom: 60px;
	}

	.img-bottom {
    	height: 120px;
	}

	.platform .col-2 {
    	width: 100%;
	}

	.feature-text {
    	padding: 40px 0;
	}

	.border-wrap > .feature-text {
		padding: 40px 20px;
	}

}
