/*

Copyright (c) 2003-2009, CKSource - Frederico Knabben. All rights reserved.

For licensing, see LICENSE.html or http://ckeditor.com/license

*/



@media print

{

	.cke_path

	{

		display: none;

	}

}



.cke_skin_office2003 .cke_path

{

	padding: 3px 3px 0 3px;

	display: inline-block;

	float: left;

}



.cke_skin_office2003 .cke_rtl .cke_path

{

	float: right;

}



.cke_skin_office2003 .cke_path a,

.cke_skin_office2003 .cke_path .cke_empty

{

	display: inline-block;

	float: left;

	border: solid 1px #f7f8fd;

	background-color: #f7f8fd;

	padding-top: 1px;

	padding-bottom: 1px;

	padding-left: 4px;

	padding-right: 4px;

	margin-bottom : 3px;

}



.cke_skin_office2003 .cke_path .cke_empty

{

	visibility: hidden;

}



.cke_skin_office2003 .cke_rtl .cke_path a,

.cke_skin_office2003 .cke_rtl .cke_path cke_empty

{

	float: right;

}



.cke_skin_office2003 .cke_path a:hover,

.cke_skin_office2003 .cke_path a:focus,

.cke_skin_office2003 .cke_path a:active	/* IE */

{

	border: solid 1px #316ac5;

	background-color: #dff1ff;

	padding-top: 1px;

	padding-bottom: 1px;

	padding-left: 4px;

	padding-right: 4px;

	outline: none;

}



.cke_skin_office2003 .cke_browser_ie .cke_rtl .cke_path a,

.cke_skin_office2003 .cke_browser_ie .cke_rtl .cke_path .cke_empty

{

	float: none;

}

