/*

Copyright (c) 2003-2009, CKSource - Frederico Knabben. All rights reserved.

For licensing, see LICENSE.html or http://ckeditor.com/license

*/



.cke_skin_office2003 .cke_button_source .cke_icon

{

	background-position: 0 0;

}



.cke_skin_office2003 .cke_button_newpage .cke_icon

{

	background-position: 0 -48px;

}



.cke_skin_office2003 .cke_button_preview .cke_icon

{

	background-position: 0 -64px;

}



.cke_skin_office2003 .cke_button_cut .cke_icon

{

	background-position: 0 -96px;

}



.cke_skin_office2003 .cke_button_copy .cke_icon

{

	background-position: 0 -112px;

}



.cke_skin_office2003 .cke_button_paste .cke_icon

{

	background-position: 0 -128px;

}



.cke_skin_office2003 .cke_button_pastetext .cke_icon

{

	background-position: 0 -144px;

}



.cke_skin_office2003 .cke_button_find .cke_icon

{

	background-position: 0 -240px;

}



.cke_skin_office2003 .cke_button_replace .cke_icon

{

	background-position: 0 -256px;

}



.cke_skin_office2003 .cke_button_selectAll .cke_icon

{

	background-position: 0 -272px;

}



.cke_skin_office2003 .cke_button_removeFormat .cke_icon

{

	background-position: 0 -288px;

}



.cke_skin_office2003 .cke_button_bold .cke_icon

{

	background-position: 0 -304px;

}



.cke_skin_office2003 .cke_button_italic .cke_icon

{

	background-position: 0 -320px;

}



.cke_skin_office2003 .cke_button_underline .cke_icon

{

	background-position: 0 -336px;

}



.cke_skin_office2003 .cke_button_strike .cke_icon

{

	background-position: 0 -352px;

}



.cke_skin_office2003 .cke_button_subscript .cke_icon

{

	background-position: 0 -368px;

}



.cke_skin_office2003 .cke_button_superscript .cke_icon

{

	background-position: 0 -384px;

}



.cke_skin_office2003 .cke_button_table .cke_icon

{

	background-position: 0 -608px;

}



.cke_skin_office2003 .cke_button_horizontalrule .cke_icon

{

	background-position: 0 -624px;

}



.cke_skin_office2003 .cke_button_smiley .cke_icon

{

	background-position: 0 -640px;

}



.cke_skin_office2003 .cke_button_link .cke_icon

{

	background-position: 0 -528px;

}



.cke_skin_office2003 .cke_button_unlink .cke_icon

{

	background-position: 0 -544px;

}



.cke_skin_office2003 .cke_button_anchor .cke_icon

{

	background-position: 0 -560px;

}



.cke_skin_office2003 .cke_button_image .cke_icon

{

	background-position: 0 -576px;

}



.cke_skin_office2003 .cke_button_flash .cke_icon

{

	background-position: 0 -592px;

}



.cke_skin_office2003 .cke_button_specialchar .cke_icon

{

	background-position: 0 -656px;

}



.cke_skin_office2003 .cke_button_pagebreak .cke_icon

{

	background-position: 0 -672px;

}



.cke_skin_office2003 .cke_button_print .cke_icon

{

	background-position: 0 -176px;

}



.cke_skin_office2003 .cke_button_checkspell .cke_icon,

.cke_skin_office2003 .cke_button_scayt .cke_icon

{

	background-position: 0 -192px;

}



.cke_skin_office2003 .cke_button_pagebreak .cke_icon

{

	background-position: 0 -672px;

}



.cke_skin_office2003 .cke_button_textcolor .cke_icon

{

	background-position: 0 -704px;

}



.cke_skin_office2003 .cke_button_bgcolor .cke_icon

{

	background-position: 0 -720px;

}



.cke_skin_office2003 .cke_button_form .cke_icon

{

	background-position: 0 -752px;

}



.cke_skin_office2003 .cke_button_checkbox .cke_icon

{

	background-position: 0 -768px;

}



.cke_skin_office2003 .cke_button_radio .cke_icon

{

	background-position: 0 -784px;

}



.cke_skin_office2003 .cke_button_textfield .cke_icon

{

	background-position: 0 -800px;

}



.cke_skin_office2003 .cke_button_textarea .cke_icon

{

	background-position: 0 -816px;

}

.cke_skin_office2003 .cke_button_showblocks .cke_icon

{

	background-position: 0 -1136px;

}



.cke_skin_office2003 .cke_button_select .cke_icon

{

	background-position: 0 -832px;

}



.cke_skin_office2003 .cke_button_button .cke_icon

{

	background-position: 0 -848px;

}



.cke_skin_office2003 .cke_button_imagebutton .cke_icon

{

	background-position: 0 -864px;

}



.cke_skin_office2003 .cke_button_hiddenfield .cke_icon

{

	background-position: 0 -880px;

}



.cke_skin_office2003 .cke_button_undo .cke_icon

{

	background-position: 0 -208px;

}



.cke_skin_office2003 .cke_rtl .cke_button_undo .cke_icon

{

	background-position: 0 -224px;

}



.cke_skin_office2003 .cke_button_redo .cke_icon

{

	background-position: 0 -224px;

}



.cke_skin_office2003 .cke_rtl .cke_button_redo .cke_icon

{

	background-position: 0 -208px;

}



.cke_skin_office2003 .cke_button_templates .cke_icon

{

	background-position: 0 -80px;

}



.cke_skin_office2003 .cke_button_numberedlist .cke_icon

{

	background-position: 0 -400px;

}



.cke_skin_office2003 .cke_button_bulletedlist .cke_icon

{

	background-position: 0 -416px;

}



.cke_skin_office2003 .cke_button_outdent .cke_icon

{

	background-position: 0 -432px;

}



.cke_skin_office2003 .cke_button_indent .cke_icon

{

	background-position: 0 -448px;

}



.cke_skin_office2003 .cke_button_justifyleft .cke_icon

{

	background-position: 0 -464px;

}



.cke_skin_office2003 .cke_button_justifycenter .cke_icon

{

	background-position: 0 -480px;

}



.cke_skin_office2003 .cke_button_justifyright .cke_icon

{

	background-position: 0 -496px;

}



.cke_skin_office2003 .cke_button_justifyblock .cke_icon

{

	background-position: 0 -512px;

}



.cke_skin_office2003 .cke_button_blockquote .cke_icon

{

	background-position: 0 -1152px;

}



.cke_skin_office2003 .cke_button_flash .cke_icon

{

	background-position: 0 -592px;

}



.cke_skin_office2003 .cke_button_pastefromword .cke_icon

{

	background-position: 0 -160px;

}



.cke_skin_office2003 .cke_button_save .cke_icon

{

	background-position: 0 -32px;

}



.cke_skin_office2003 .cke_button_about .cke_icon

{

	background-position: 0 -736px;

}



.cke_skin_office2003 .cke_button_maximize .cke_icon

{

	background-position: 0 -1040px;

}

