/*

Copyright (c) 2003-2009, CKSource - Frederico Knabben. All rights reserved.

For licensing, see LICENSE.html or http://ckeditor.com/license

*/



@media print

{

	.cke_skin_office2003 .cke_toolbox

	{

		display: none;

	}

}



.cke_skin_office2003 a.cke_toolbox_collapser,

.cke_skin_office2003 a:hover.cke_toolbox_collapser

{

	background-image: url(images/sprites.png);

	_background-image: url(images/sprites_ie6.png);

	background-position: 3px -1026px; /* +3px +4px */

	background-repeat: no-repeat;

	width: 11px;

	height: 11px;

	float: right;

	border: outset 1px;

	margin: 11px 2px 2px;

	cursor: pointer;

}



.cke_skin_office2003 .cke_rtl a.cke_toolbox_collapser,

.cke_skin_office2003 .cke_rtl a:hover.cke_toolbox_collapser

{

	float: left;

}



.cke_skin_office2003 a.cke_toolbox_collapser_min,

.cke_skin_office2003 a:hover.cke_toolbox_collapser_min

{

	/* arrowleft.gif*/

	background-image: url(images/sprites.png);

	_background-image: url(images/sprites_ie6.png);

	background-position: 4px -1047px; /* +4px +3px */

	background-repeat: no-repeat;

	margin: 2px;

}



.cke_skin_office2003 .cke_rtl a.cke_toolbox_collapser_min,

.cke_skin_office2003 .cke_rtl a:hover.cke_toolbox_collapser_min

{

	/* arrowright.gif*/

	background-position: 4px -1068px; /* +2px +3px */

}



.cke_skin_office2003 .cke_toolbar

{

	background-color: #d6dff7;

	background-image: url(images/sprites.png);

	_background-image: url(images/sprites_ie6.png);

	background-position: 0 -962px;

	background-repeat: repeat-x;

	display: inline-block;

	float: left;

}



.cke_skin_office2003 .cke_rtl .cke_toolbar

{

	float: right;

}



.cke_skin_office2003 .cke_toolgroup

{

	display: inline-block;

	float: left;

	height: 28px;

}



.cke_skin_office2003 .cke_browser_ie .cke_toolgroup

{

	#float: none;

	#display: inline;

}



.cke_skin_office2003 .cke_rtl .cke_toolgroup

{

	float: right;

}



.cke_skin_office2003 .cke_browser_ie .cke_rtl .cke_toolgroup

{

	#float: none;

}



.cke_skin_office2003 .cke_separator

{

	display: inline-block;

	float: left;

	border-left: solid 1px #B2CBFF;

	margin: 6px 2px;

	height: 16px;

}



.cke_skin_office2003 .cke_browser_ie .cke_separator

{

	#float: none;

	#display: inline;

}



.cke_skin_office2003 .cke_rtl .cke_separator

{

	float: right;

}



.cke_skin_office2003 .cke_browser_ie .cke_rtl .cke_separator

{

	#float: none;

}



.cke_skin_office2003 .cke_break

{

	clear: left;

}



.cke_skin_office2003 .cke_rtl .cke_break

{

	clear: right;

}



.cke_skin_office2003 .cke_toolbar_start

{

	display: inline-block;

	background-image: url(images/sprites.png);

	_background-image: url(images/sprites_ie6.png);

	background-repeat: no-repeat;

	background-position: -27px -765px;

	width: 10px;

	height: 28px;

	float: left;

}



.cke_skin_office2003 .cke_browser_ie .cke_toolbar_start

{

	#float: none;

	#display: inline;

}



.cke_skin_office2003 .cke_rtl .cke_toolbar_start

{

    background-position: -27px -816px;

    float: right;

}



.cke_skin_office2003 .cke_browser_ie .cke_rtl .cke_toolbar_start

{

	#float: none;

}



.cke_skin_office2003 .cke_toolbar_end

{

	display: inline-block;

	background-image: url(images/sprites.png);

	_background-image: url(images/sprites_ie6.png);

	background-repeat: no-repeat;

	background-position: -29px -861px;

	width: 4px;

	height: 28px;

	float: left;

}



.cke_skin_office2003 .cke_browser_ie .cke_toolbar_end

{

	#float: none;

	#display: inline;

}



.cke_skin_office2003 .cke_rtl .cke_toolbar_end

{

    background-position: -29px -907px;

    float: right;

}



.cke_skin_office2003 .cke_browser_ie .cke_rtl .cke_toolbar_end

{

	#float: none;

}



.cke_skin_office2003 .cke_button a,

.cke_skin_office2003 .cke_button a:hover,

.cke_skin_office2003 .cke_button a:focus,

.cke_skin_office2003 .cke_button a:active,

.cke_skin_office2003 .cke_button a.cke_off

{

	border: solid 1px transparent;

	border-radius: 3px;

	outline: none;

	padding-top: 2px;

	padding-left: 4px;

	padding-right: 4px;

	padding-bottom: 2px;

	margin-top: 2px;

	height: 18px;

	vertical-align: top;



	_border: none;

	_margin: 3px 1px 1px 1px;

	cursor: default;

	display: inline-block;

}



.cke_skin_office2003 .cke_button a,

.cke_skin_office2003 .cke_button a.cke_off

{

	filter: alpha(opacity=70); /* IE */

	opacity: 0.70; /* Safari, Opera and Mozilla */

	-moz-border-radius: 3px;

	-webkit-border-radius: 3px;

}



.cke_skin_office2003 .cke_hc .cke_button a,

.cke_skin_office2003 .cke_hc .cke_button a.cke_off

{

	opacity: 1.0;

	filter: alpha(opacity=100);

}



.cke_skin_office2003 .cke_button a.cke_on

{

	border: solid 1px #316ac5;

	background-color: #c1d2ee;

	filter: alpha(opacity=100); /* IE */

	opacity: 1; /* Safari, Opera and Mozilla */



	_margin: 2px 0 0 0;

}



.cke_skin_office2003 .cke_hc .cke_button a.cke_on

{

	padding: 0 2px !important;

	border-width: 3px;

}



.cke_skin_office2003 .cke_button a.cke_disabled,

.cke_skin_office2003 .cke_button a:hover.cke_disabled,

.cke_skin_office2003 .cke_button a:focus.cke_disabled,

.cke_skin_office2003 .cke_button a:active.cke_disabled

{

	border: solid 1px transparent;

	filter: alpha(opacity=30); /* IE */

	opacity : 0.3; /* Safari, Opera and Mozilla */

	vertical-align: top;



	_border: none;

	_margin: 3px 1px 1px 1px;

}



.cke_skin_office2003 .cke_hc .cke_button a.cke_disabled,

.cke_skin_office2003 .cke_browser_ie.cke_hc a:hover.cke_button .cke_disabled

{

	filter: alpha(opacity=60);

	opacity: 0.6;

}



.cke_skin_office2003 .cke_button a:hover.cke_on,

.cke_skin_office2003 .cke_button a:focus.cke_on,

.cke_skin_office2003 .cke_button a:active.cke_on,	/* IE */

.cke_skin_office2003 .cke_button a:hover.cke_off,

.cke_skin_office2003 .cke_button a:focus.cke_off,

.cke_skin_office2003 .cke_button a:active.cke_off	/* IE */

{

	border: solid 1px #316ac5;

	background-color: #dff1ff;

	filter: alpha(opacity=100); /* IE */

	opacity: 1; /* Safari, Opera and Mozilla */

	vertical-align: top;



	_margin: 2px 0 0 0;

	padding: 2px 4px;

}



.cke_skin_office2003 .cke_hc .cke_button a:hover.cke_on,

.cke_skin_office2003 .cke_hc .cke_button a:focus.cke_on,

.cke_skin_office2003 .cke_hc .cke_button a:active.cke_on,	/* IE */

.cke_skin_office2003 .cke_hc .cke_button a:hover.cke_off,

.cke_skin_office2003 .cke_hc .cke_button a:focus.cke_off,

.cke_skin_office2003 .cke_hc .cke_button a:active.cke_off	/* IE */

{

	padding: 0 2px !important;

	border-width: 3px;

}



.cke_skin_office2003 .cke_button .cke_icon

{

	background-image: url(icons.png);

	background-position: 100px;

	background-repeat:no-repeat;

	margin-top:1px;

	width: 16px;

	height: 16px;

	display: inline-block;

}



.cke_skin_office2003 .cke_button .cke_label

{

	display: none;

	padding-left: 3px;

	vertical-align: 3px;

	cursor: default;



	_background-image: url(images/sprites_ie6.png);

	_background-position: 0 -970px;

	_background-repeat: repeat-x;

}



.cke_skin_office2003 .cke_button a:hover .cke_label

{

	_background-color: #dff1ff;

	_background-image: none;

}



.cke_skin_office2003 .cke_button a.cke_on .cke_label

{

	_background-color: #c1d2ee;

	_background-image: none;

}



.cke_skin_office2003 .cke_hc .cke_button .cke_label

{

	padding: 0;

	display: inline-block;

}



.cke_skin_office2003 .cke_hc .cke_button .cke_icon

{

	display: none;

}



.cke_skin_office2003 .cke_accessibility

{

	position: absolute;

	display: block;

	width: 0;

	height: 0;

	overflow: hidden;

}



.cke_skin_office2003 .cke_button .cke_buttonarrow

{

	display: inline-block;

	height: 18px;

	width: 8px;

	background-position: 2px -1004px;

	background-image: url(images/sprites.png);

	_background-image: url(images/sprites_ie6.png);

	background-repeat: no-repeat;

}



.cke_skin_office2003 .cke_rtl .cke_button .cke_buttonarrow

{

	background-position: 0 -1004px;

}



/*** Firefox 2 ***/



.cke_skin_office2003 .cke_browser_gecko18 .cke_toolbar,

.cke_skin_office2003 .cke_browser_gecko18 .cke_button a,

.cke_skin_office2003 .cke_browser_gecko18 .cke_button a.cke_off,

.cke_skin_office2003 .cke_browser_gecko18 .cke_button .cke_icon,

.cke_skin_office2003 .cke_browser_gecko18 .cke_button .cke_buttonarrow,

.cke_skin_office2003 .cke_browser_gecko18 .cke_separator,

.cke_skin_office2003 .cke_browser_gecko18 .cke_toolbar_start,

.cke_skin_office2003 .cke_browser_gecko18 .cke_toolbar_end

{

	display: block;

	float: left;

}



.cke_skin_office2003 .cke_browser_gecko18 .cke_hc .cke_button .cke_icon

{

	display: none;

}



.cke_skin_office2003 .cke_browser_gecko18 .cke_rtl .cke_toolbar,

.cke_skin_office2003 .cke_browser_gecko18 .cke_rtl .cke_button a,

.cke_skin_office2003 .cke_browser_gecko18 .cke_rtl .cke_button a.cke_off,

.cke_skin_office2003 .cke_browser_gecko18 .cke_rtl .cke_button .cke_icon,

.cke_skin_office2003 .cke_browser_gecko18 .cke_rtl .cke_button .cke_buttonarrow,

.cke_skin_office2003 .cke_browser_gecko18 .cke_rtl .cke_separator,

.cke_skin_office2003 .cke_browser_gecko18 .cke_rtl .cke_toolbar_start,

.cke_skin_office2003 .cke_browser_gecko18 .cke_rtl .cke_toolbar_end

{

	float: right;

}



.cke_skin_office2003 .cke_browser_gecko18 .cke_button .cke_label,

.cke_skin_office2003 .cke_browser_gecko18 .cke_break

{

	float: left;

}



.cke_skin_office2003 .cke_browser_gecko18 .cke_rtl span.cke_inline_label

{

	float: right;

}



.cke_skin_office2003 .cke_browser_gecko18 .cke_rtl .cke_button .cke_label,

.cke_skin_office2003 .cke_browser_gecko18 .cke_rtl .cke_break

{

	float: right;

}



.cke_skin_office2003 .cke_browser_gecko18 .cke_separator

{

	margin-top: 4px;

}



.cke_skin_office2003 .cke_browser_gecko18 .cke_button .cke_label

{

	padding-top: 3px;

}



/*** IE6 ***/



.cke_skin_office2003 .cke_browser_ie .cke_rtl .cke_toolgroup,

.cke_skin_office2003 .cke_browser_ie .cke_rtl .cke_separator,

.cke_skin_office2003 .cke_browser_ie .cke_rtl .cke_toolbar_start,

.cke_skin_office2003 .cke_browser_ie .cke_rtl .cke_toolbar_end

{

	float: none;

}



/*** IE8 ***/



.cke_skin_office2003 .cke_browser_ie8 .cke_toolbar,

.cke_skin_office2003 .cke_browser_ie8 .cke_toolgroup

{

	vertical-align: top;

}



.cke_skin_office2003 .cke_browser_iequirks.cke_browser_ie8 .cke_toolbar,

.cke_skin_office2003 .cke_browser_iequirks.cke_browser_ie8 .cke_toolgroup

{

	/* revert previous */

	vertical-align: baseline;

}

