<!doctype html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<style type="text/css">
		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, embed,
		figure, figcaption, footer, header, hgroup,
		menu, nav, output, ruby, section, summary,
		time, mark, audio, video {
			margin: 0;
			padding: 0;
			border: 0;
			font: inherit;
			font-size: 100%;
			vertical-align: baseline;
		}

		html {
			line-height: 1;
		}

		ol, ul {
			list-style: none;
		}

		table {
			border-collapse: collapse;
			border-spacing: 0;
		}

		caption, th, td {
			text-align: left;
			font-weight: normal;
			vertical-align: middle;
		}

		q, blockquote {
			quotes: none;
		}
		q:before, q:after, blockquote:before, blockquote:after {
			content: "";
			content: none;
		}

		a img {
			border: none;
		}

		article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
			display: block;
		}

		body {
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 300;
			font-size: 12px;
			margin: 0;
			padding: 0;
			color: #777777;
		}
		body a {
			text-decoration: none;
			color: inherit;
		}
		body a:hover {
			color: inherit;
			opacity: 0.7;
		}
		body .container {
			margin: 0 auto;
			padding: 0;
		}
		body .clearfix:after {
			content: "";
			display: table;
			clear: both;
		}
		body .left {
			float: left;
		}
		body .right {
			float: right;
		}
		body .helper {
			height: 100%;
		}

		header {
			height: 40px;
			margin-top: 20px;
			margin-bottom: 40px;
			padding: 0px 5px 0;
		}
		header figure {
			float: right;
			width: 220px;
		}
		header figure img {
			max-width:100%;
		}
		header .company-info {
			color: #000000;
			font-size: 14px;
		}
		section .details {
			margin-bottom: 40px;
			padding: 10px 35px;
			background-color: {{color}};
			color: #ffffff;
		}
		section .details .client {
			width: 50%;
			line-height: 16px;
		}
		section .details .client .name {
			font-weight: 600;
		}
		section .details .data {
			width: 50%;
			text-align: right;
		}
		section .details .title {
			margin-bottom: 15px;
			font-size: 18px;
			font-weight: 400;
			text-transform: uppercase;
		}
		section .table-wrapper {
			position: relative;
			overflow: hidden;
		}
		section .no-break {
			page-break-inside: avoid;
		}
		section table {
			width: 100%;
			margin-bottom: -20px;
			table-layout: fixed;
			border-collapse: separate;
			border-spacing: 5px 5px;
		}
		section table .desc {
			width: 55%;
		}
		section table .qty, 
		section table .vat,
		section table .discount,
		section table .unit, 
		section table .total {
			width: 15%;
		}
		section table tbody.head {
			vertical-align: middle;
			border-color: inherit;
		}
		section table tbody.head th {
			text-align: center;
			color: #ffffff;
			font-weight: 600;
			text-transform: uppercase;
			background: #BDB9B9;
			padding: 6px 0;
		}
		section table tbody.head th:first-child {
			background: transparent;
		}
		
		
		section table tbody.body td {
			padding: 10px 5px;
			background: #F3F3F3;
			text-align: center;
		}
		section table tbody.body h3 {
			margin-bottom: 5px;
			color: {{color}};
			font-weight: 600;
		}
		section table tbody.body .no {
			padding: 0px;
			background-color: {{color}};
			color: #ffffff;
			font-size: 1.66666666666667em;
			font-weight: 600;
			line-height: 50px;
		}
		section table tbody.body .desc {
			padding-top: 0;
			padding-bottom: 0;
			background-color: transparent;
			color: #777787;
			text-align: left;
		}
		section table tbody.body .total {
			color: {{color}};
			font-weight: 600;
		}
		section table tbody.body tr.total td {
			padding: 5px 10px;
			background-color: transparent;
			border: none;
			color: #777777;
			text-align: right;
		}
		section table tbody.body tr.total .empty {
			background: white;
		}
		section table tbody.body tr.total .total {
			font-size: 1.18181818181818em;
			font-weight: 600;
			color: {{color}};
		}
		
		section .grand-total td {
			padding:5px 10px;
			background-color: {{color}};
			color: #ffffff;
			font-weight: 400;
			text-align: right;
		}
		section .grand-total td.wide-cell {
			background-color: transparent;
		}

		footer {
			margin-bottom: 20px;
			padding: 0 5px;
		}
		footer .thanks {
			margin-bottom: 40px;
			color: {{color}};
			font-size: 1.16666666666667em;
			font-weight: 600;
		}
		footer .notice {
			margin-bottom: 25px;
		}
		.invoice_to {
			font-size:18px;
			text-decoration:underline;
			margin-bottom:10px;
		}
	</style>
</head>
<body>
	<header class="clearfix">
		<div class="container">
			<figure>
				<img alt="logo" id="logo" src="{{logo}}" width="235" />
			</figure>
			<div class="company-info">
				{{# from }}
					{{{.}}}<br>
				{{/ from }}
			</div>
		</div>
	</header>

	<section>
		<div class="details clearfix">
			<div class="client left">
				<p class="invoice_to">Account:</p>
				{{# to }}
					<p>{{{.}}}</p>
				{{/ to }}
			</div>
			<div class="data right">
				<div class="title">{{title}} <br /> {{reference}}</div>
				<div class="date">
					Proposal Date: {{invoice_date}}<br>
					Expired Date: {{due_date}}
				</div>
			</div>
		</div>
		<div class="container">
			<div class="table-wrapper">
				<table>
					<tbody class="head">
						<tr>
							<th class="desc">Description</th>
							<th class="qty">QTY</th>
							<th class="vat">Type</th>
							<th class="unit">Price</th>
							<th class="discount">Discount</th>
							<th class="total">Total</th>
						</tr>
					</tbody>
					<tbody class="body">
						{{# items }}
							<tr>
								<td class="desc">
									{{{item}}} <br /> <em>{{{description}}}</em>
								</td>
								<td class="qty">{{quantity}}</td>
								<td class="vat">{{type}}</td>
								<td class="unit">{{price}}</td>
								<td class="discount">{{discount}}</td>
								<td class="total">${{total}}</td>
							</tr>
						{{/ items }}
					</tbody>
					<tfoot class="grand-total">
						{{# totals }}
							<tr>
								<td colspan="3" class="wide-cell">j</td>
								<td colspan="2" class="unit"><strong>{{name}}</strong></td>
								<td class="total" {{# colored }} {{/ colored }} ><strong>{{value}}</strong></td>
							</tr>
						{{/ totals }}
                    </tfoot>
				</table>
			</div>
		</div>
	<footer>
		<div class="container">
			<div class="thanks">Thank you!</div>
			<div class="notice">
				{{# footer_details }}
					{{{.}}}
				{{/ footer_details }}
			</div>
			
			<div style="width:250px;float:right;text-decoration: none;text-align: center;padding: 15px 32px;background:#000000;color: white;display: inline-block;font-size: 16px;"><a href="{{proposallink}}" target="_blank">Accept Proposal</a></div>
		</div>
	</footer>

</body>

</html>