@charset "UTF-8";
#content h1 { font-family: Georgia; font-weight: normal; color: #666666; margin-bottom: 10px; white-space:nowrap; }
#content h2 { margin-top: 15px;margin-bottom: 10px; color: #666666; font-weight: normal;}
#camps { padding: 5px 15px 15px 15px;}
/* 
#camps ul { margin-left: 60px; list-style: disc; color: #3465a7; }
#camps ul li { padding: 6px; }
#camps ul li a { color: #3465a7; font-size: 1.5em; }
*/
.clear {clear:both;}
#camps form {float:left; width:625px;}
#camps input[type="text"] { width:450px; height:30px; line-height:25px; background:url('../img/input-bg.png') #fff repeat-x; border:1px solid #D6E3E9; padding:2px 8px 0px 8px; font-family: Georgia, "Times New Roman", Times, serif; color: #666666; font-size:16px; float:left;}
#camps input[type="submit"] { width: 116px; height: 35px; border: 0; padding: 0px 0px 0px 0px; margin-left:5px; background: url('../img/create-button.png') no-repeat; text-indent: -9000px; cursor: pointer;  }
#campaigns { padding-bottom:15px;  }
.icon {float:left; width:64px; padding-right:10px; }
.form-icon-wrapper {height:85px;}
.form-icon-wrapper h1 {padding-top:10px;}
.watch-video { float:right; width:150px; padding-top:5px;  }
.watch-video ul {margin:0px 0px 20px 0px; list-style:none;}
.watch-video ul li {padding:7px 0px 7px 0px;}
.watch-video ul li a {text-decoration:none; color:#3F3F3F; background:url('../img/rpanel-categories-list.jpg') no-repeat 8px 3px; padding-left:26px; display:block; }
.watch-video ul li a:hover {color:#6295AC; background:url('../img/rpanel-categories-list-hover.jpg') no-repeat 8px 3px;}
.block {  width:269px; float:left; border:1px solid #D6E3E9; padding:15px;  }
.block h3 {font-size:16px; font-weight:bold; color:#FFFEFE; text-align:center; background:url('../img/right-panel-title-bg.jpg') no-repeat; height:46px; line-height:32px;}
.block h4 {color:#6295AC; font-size:16px; font-weight:normal; margin-left:15px; border-bottom: 1px dashed #6295AC; padding-bottom:3px; width:235px; }
.block ul {margin:10px 0px 25px 25px; list-style:none;}
.block ul li {padding:7px 0px 0px 0px; font-size:14px;}
.block ul li a {text-decoration:none; color:#3F3F3F; background:url('../img/rpanel-categories-list.jpg') no-repeat 8px 3px; padding-left:26px; display:block; }
.block ul li a:hover {color:#6295AC; background:url('../img/rpanel-categories-list-hover.jpg') no-repeat 8px 3px;}
.block-right {  width:465px; float:right; border:1px solid #D6E3E9; padding:15px;  }
.block-right h4 {color:#6295AC; font-size:18px; font-weight:normal; /*margin-left:15px;*/ border-bottom: 1px dashed #6295AC; padding-bottom:3px; width:460px; }
.block-right p { padding:10px 15px 10px 15px; font-size:14px; color:#3F3F3F; }
.camp-blog { padding-top:15px; }
.block-right a.blog_title { padding:0px 15px 0px 15px; }
.block-right a.read_full_article { float:right; color:#999999; font-size:12px;  }
/* DASHBOARD */
#dash { width: 845px; }
#dash .headline { font-family: Verdana;}
#dash .headline h2 { font-family: Georgia; font-weight: normal; float: left; font-size: 1.5em; margin: 0;}
#dash .headline p { display: block; float: left; padding-top: 12px; padding-left: 10px; color: #333; font-size:.75em;}
#dash .headline p span {font-weight: bold; font-size: 1.25em;}
#dash .headline a {display: block; width: 149px; height: 25px; margin-top: 5px; float: right; background: url('../img/add-new.gif') no-repeat; text-decoration: none; cursor: pointer;}
#dash .headline a > p {font-size: .75em; color: #333; padding:5px 0 0 40px; cursor: pointer;}
#dash .dash-container { clear:both;}
#dash .container {clear:left;  padding: 10px; }
#dash .item { display: block; height: 41px; border-bottom: 1px solid #fff;}
#dash .item:hover { background:url('../img/dash-bg.png') top left no-repeat; }
#dash .item2 { display: block; height: 41px; border-bottom: 1px solid #fff;}
#dash .item2:hover { background:url('../img/dash-bg.png') top left no-repeat; }
#dash .graph { padding-right: 10px; width: 100px; height: 25px; display: inline; float: left;}
#dash .blogPost { padding-right: 10px; padding-top:10px; width: 100px; height: 25px; display: inline; float: left;}
#dash .icon { padding-right: 10px; padding-top:10px; width: 25px; height: 25px; display: inline; float: left;}
#dash .item a {color: #3465a7; text-decoration: none; display: block; padding-top:10px;}
#dash .item:hover a {text-decoration: underline;}
#dash .item2 a {color: #3465a7; text-decoration: none; display: block; padding-top:10px;}
#dash .item2:hover a {text-decoration: underline;}
/* Icons */
#dash .icons a span {display: none;}
#dash .icons { display:none; float:right; padding:7px 5px;}
#dash .item:hover .icons { display: block;}
#dash .item2:hover .icons { display: block;}
#dash .view, #dash .view2, #dash .edit, #dash .delete { background: url('../img/icons.gif') no-repeat; display: block; width: 29px; height: 26px; float: left; margin: 0 2px;}
#dash .edit { background-position:right top;}
#dash .delete {background-position:center top; cursor: pointer;}
#dash .duplicateHub { float:right; margin:0; padding:0; padding-top:-10px; background-origin:none; }
/* message container */
#message_cnt { float:right; width: 440px; height: 30px; margin-right: 200px; text-align: center; padding-top: 5px;}
/* Form Navigation */
ul#form-nav { list-style:none; }
#form-nav li { float:left; background:url('../img/nav-form-bg.png') repeat-x; width:125px; height:67px;/*border-left:1px solid #ebebeb; border-right:1px solid #a4a4a4;*/ }
#form-nav li.first { background:url('../img/nav-form-left.png') no-repeat top left; border-left:none; padding-left:10px;}
#form-nav li.last { background:url('../img/nav-form-right.png') no-repeat top right; border-right:none; padding-right:10px;}
#form-nav a { display:block; height:67px; padding:25px 10px 0px 0px; color:#f0e8de; text-decoration:none; font-size:16px; text-align:center;}
#form-nav a:hover, #form-nav a.current {color:#fff; background:url('../img/form-nav-hover-bg.png'); width:115px; height:42px; text-align:center;}
/* SUB Form Navigation */
ul#subform-nav { list-style:none;overflow:hidden; }
#subform-nav li { float:left; background:url('../img/sub-nav-form-bg.png') repeat-x; width:102px; height:57px;/*border-left:1px solid #ebebeb; border-right:1px solid #a4a4a4;*/ }
#subform-nav li.first { background:url('../img/sub-nav-form-left.png') no-repeat top left; border-left:none; padding-left:0px;}
#subform-nav li.last { background:url('../img/sub-nav-form-right.png') no-repeat top right; border-right:none; padding-right:10px;}
#subform-nav a { display:block; height:57px; padding:20px 0px 0px 0px; color:#f0e8de; text-decoration:none; font-size:12px; text-align:center;}
#subform-nav a:hover, #subform-nav a.current {color:#fff; background:url('../img/sub-form-nav-hover-bg.png'); width:102px; height:32px; text-align:center;}
/* Form styles */
#form_test {  float:left; width:500px; }
#form_test h2 {  float:left; width:500px; }
.jquery_form ul {list-style: none; margin-left: 10px;}
.upload_form {list-style: none; margin-left: 10px;}
label { padding:10px 10px 10px 0px; display:block; color:#6295AC; clear:left;}
.jquery_form input { width:450px; height:30px; line-height:25px; background:url('../img/input-bg.png') #fff repeat-x; border:1px solid #D6E3E9; padding:2px 8px 0px 8px; font-family: Georgia, "Times New Roman", Times, serif; color: #666666; font-size:16px; }
.jquery_form select { margin-bottom: 10px;}
.jquery_form textarea { border: 1px solid #74adcf; float:left; margin-bottom:10px; padding:5px; font-family: Georgia, "Times New Roman", Times, serif; color: #666666; font-size:12px; width:475px; }
.jquery_form input.error { width:434px; padding:2px 58px 0px 8px; background:url('../img/x-mark.png') no-repeat; }
.jquery_form input.approved { width:434px; padding:2px 58px 0px 8px; background:url('../img/check-mark.png') no-repeat;  }
.img_cnt { border:9px solid #D6E3E9; margin:10px 10px 10px 10px; background-color:#333333; }
/* random */
.hideMe { display:none; }
.big-information { border: 1px solid #74adcf; padding:15px; background: #ecf3f8; color:#144867; font-family: Verdana; font-size: 12px;}
a.tinymce { width: 154px;height: 37px; background: url('../img/easy-button.png') no-repeat; display: block; padding-bottom:5px;}
a.tinymce span { display: none;}
#wait { display: none; width: 300px; height: 66px; position: absolute; top:250px; left: 50%; margin-left: -150px; z-index: 999; background-color: #F0E8DE; text-align: center; padding-top:34px; border: 1px solid #463428; }
#trash h2 { clear: both; padding: 8px 0;}
.trash-item, .domain-item { clear: both; border-bottom: 1px dashed #ccc; overflow: auto; margin: 2px; padding: 2px;}
.trash-item p.title, .domain-item p.title { /*width: 150px; overflow: hidden;*/  float: left;}
.trash-item p.desc, .domain-item p.desc {width: 300px; overflow: hidden;  float: left; border-left: 1px solid #ccc; margin-left:10px;}
.trash-item p.restore { width: 100px; float: right;}
.trash-item p.permdelete { width: 120px; float: right;}
.domain-item p.remove { width: 100px; float: right;}
/* analytics */
.mini_graph { width: 280px; float: left; }
.big_graph { clear: left;}
/* prospects */
ul.prospects { list-style: none; border-bottom: 1px dotted #ccc; overflow: auto; padding-bottom: 2px; margin-bottom: 5px; color:#666; }
ul.prospects:hover { color: #000;}
ul.prospects li { float:left; display:block; padding: 4px; overflow: hidden; font-size:14px; font-weight:normal; }
ul.prospects .name, ul.prospects .name2, ul.prospects .name3 { background:url('../img/prospect_icon.png') no-repeat; padding-left:30px; }
ul.prospects .name { width: 170px; }
ul.prospects .name2 { width: 165px; }
ul.prospects .name3 { width: 230px; }
ul.prospects .email { width: 250px; }
ul.prospects .email2 { width: 350px; }
ul.prospects .page { width:190px; white-space:nowrap; overflow:hidden; display:inline-block; }
ul.prospects a { color:#a0cde1; }
ul.prospects .phone { width: 120px; }
ul.prospects .type { width: 100px; }
ul.prospects .date { width: 90px; }
ul.prospects .iconWrap { width: 90px; float:right;}
ul.prospects .delete { cursor: pointer; }
ul.prospects .details { cursor: pointer; }
ul.prospects .comment { clear: left; padding: 5px; display: none;}
ul.prospects .comment p { padding: 2px; }
ul.prospects .dashpros-name { width: 140px; }
ul.prospects .dashpros-cid { width: 75px; }
ul.prospects .dashpros-type { width: 120px; }
/* 24) APP RIGHT PANEL STYLE
=-----------------------*/
#app_right_panel {width:269px; float:right; margin:50px 10px 0px 0px;}
#app_right_panel h2 {font-size:16px; font-weight:bold; color:#FFFEFE; text-align:center; background:url('../img/right-panel-title-bg.jpg') no-repeat; height:46px; line-height:32px;}
.app_right_video { background:url('../img/video-holder-bg.png'); width:269px; height:174px; }
.app_right_links ul {margin:0px 0px 25px 0px; list-style:none;}
.app_right_links ul li {padding:7px 0px 7px 0px;}
.app_right_links ul li a {text-decoration:none; color:#3F3F3F; background:url('../img/rpanel-categories-list.jpg') no-repeat 8px 3px; padding-left:26px; display:block;}
.app_right_links ul li a:hover {color:#6295AC; background:url('../img/rpanel-categories-list-hover.jpg') no-repeat 8px 3px;}
.app_right_links ul li a.category_active {color:#6295AC; font-weight:bold; background:url('../img/rpanel-categories-list-hover.jpg') no-repeat 8px 3px;}
.app_right_links ul li ul {padding:4px 0px 0px 0px; margin:0px;}
.app_right_links ul li ul li {font-size:12px; background:none; line-height:12px; margin:0px 0px 0px 27px; padding:5px 0px 5px 0px;}
.app_right_links ul li ul li a {padding-left:12px;}
.app_right_links ul li ul li a:hover {color:#798C09;}
.app_right_links ul li ul li a.subcategory_active {color:#798C09;}
ul#popular_posts li a  {font-size:12px;}
ul#popular_posts li a:hover {color:#6295AC;}
ul#popular_posts li a.category_active {color:#6295AC; font-weight:bold;}
.sample_image_1 {padding:0px 1px 9px 5px;}
.sample_image_2 {padding:0px 0px 5px 4px;}
#app_adv { width:290px !important;width:270px; padding:0px; margin:0px;}
#app_adv ul li { float:left}
#app_adv ul { padding:0px; margin:0px;background:none}
#app_adv ul li a{ float:left; background:none}
#app_adv li a{ margin:0px 3px 0px 0px ;}
#app_adv .bloglistimg {border:9px solid #E6E6CE; float:left; margin:0px 10px 10px 0px}
#app_adv .diricon {width:108px;height:108px;background-position:center center;background-color:#fff;z-index:1;}
#createDir { padding: 15px;}
#createDir input[type="text"], #createPhone input[type="text"] { width:450px; height:30px; line-height:25px; background:url('../img/input-bg.png') #fff repeat-x; border:1px solid #D6E3E9; padding:2px 8px 0px 8px; font-family: Georgia, "Times New Roman", Times, serif; color: #666666; font-size:16px; float:left;}
#createDir input[type="submit"] { width: 116px; height: 35px; border: 0; padding: 0px 0px 0px 0px; margin-left:5px; background: url('../img/create-button.png') no-repeat; text-indent: -9000px; cursor: pointer;  }
#email-settings {float:left; width:500px;}
/*TRANSFER ITEMS FORM*/
#typeHolder li {list-style: none;color:#666666;padding:3px 0 0;}
#transferItemForm h3{font-weight:normal;color:#666666;margin:7px 0;}
#transferItemForm .campaignTrans{margin-top:15px;}
/*CREATE PHONE NUMBER STYLES*/
#createPhone .pnum_name,
#createPhone #forwardNumber{
	clear:both;
	float:none;
	margin-bottom:12px;
}
#createPhone select{
	clear:both;
	min-width:144px;
	display:block;
	margin-bottom:12px;
}
#createPhone input[type="submit"] { width: 116px; height: 35px; border: 0; padding: 0px 0px 0px 0px; margin-left:5px; background: url('../img/add.png') no-repeat; text-indent: -9000px; cursor: pointer;  }
/*DISPLAY CALL DETAILS STYLES*/
#phoneMessagesHeader,
#phoneMessages{
	color:#666666;
	width:100%;
	overflow:auto;
}
#phoneMessagesHeader, #editArea{
	clear:both;
	margin:20px 0 6px 0;
}
#phoneMessagesHeader li{
	list-style: none;
	float:left;	
	overflow: auto;
	font-weight:bold;
}
#phoneMessages span{
	display:block;
	float:left;
}
.message-row{width:100%;font-size:0.9em;}
.from{
	width:118px;
	padding-right:10px;
}
.messageType{width:140px;}
.dateRecorded{width:136px;}
.lengthOfCall{width:80px;}
.recordingStatus{width:164px;}
.recordingLink{width:132px;}
.recordingLink a{
	cursor:pointer;
	color:#639BB2;
	text-decoration:none;
}
.recordingLink a:hover{	text-decoration:underline; }
.recordingLink a.mp3{padding-right:12px;}
#phoneMessages li{
	list-style: none;
	padding:3px 0;
	overflow: auto;
}
.noBorder,
#editArea .noBorder{
	border:1px solid transparent;
	background:none;
}
#editArea input{
	font-size:0.9em;
	margin-right:10px;
	width:200px;
	color:#333333;
	padding:2px;
	border:1px solid #6295AC;
}
#editArea label {
	float:left;
	padding:4px 10px 10px 5px;
}
#editArea a{
	color:#6295AC;
	font-size:0.9em;
	padding:4px;
}
