@charset "UTF-8";
/* user mng bar */
#userBar {
	width:100%;
	height:40px;
	border-bottom:1px solid white;
	border-top:1px solid white;
	/*
	background:#c8c8c8 url('http://cory.dev.6qube.com/adminpanel/aquin/images/backgrounds/contentTop.png') repeat-x;
	#e2e1e1, #afafaf
	*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6f6f6), to(#d3d3d3));
	background: -webkit-linear-gradient(top, #f6f6f6, #d3d3d3);
	background: -moz-linear-gradient(top, #f6f6f6, #d3d3d3);
	background: -ms-linear-gradient(top, #f6f6f6, #d3d3d3);
	background: -o-linear-gradient(top, #f6f6f6, #d3d3d3);
	-moz-box-shadow: 0px 5px 5px #333;
	-webkit-box-shadow: 0px 5px 5px #333;
	box-shadow: 0px 5px 5px #333;
	left: 0;
	/*position: absolute;*/
    right: 0;
	top: 0;
}
#userBarNav {
	list-style:none;
	float:right;
}
#userBarNav li {
	float:left;
	border-right:1px solid #9e9d9d;
	padding-left:10px;
	padding-right:10px;
	height:40px;
}
#userBarNav li + li {
	border-left:1px solid #ededed;
	height:40px;
}
#userBarNav a {
	display:block;
	width:auto;
	height:40px;
}
#userSettings {
	background:url('../img/iconUserSettings-small.png') no-repeat center left;
	padding-left:50px;
	text-decoration:none;
	color:#393939;
	min-width:80px;
}
.userNameCnt {
	min-height:8px;
	display:block;
	background:url('../img/iconDownArrow-small.png') no-repeat center right;
	padding-right:15px;
	position:relative;
	top:10px;
}
#msgAlerts {
	text-decoration:none;
	background:#9e9e9e url('../img/iconAlert-small.png') no-repeat 10px 5px;
	color:#fff;
	height:36px !important;
	position:relative;
	top:5px;
	padding:4px 0px 4px 50px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: inset 0 0 5px 5px #888;
	-webkit-box-shadow: inset 0 0 5px 5px#888;
	box-shadow: inset 0 0 5px 5px #888;
}
#msgAlerts:hover {
	-moz-box-shadow: inset 0 0 5px 5px #666;
	-webkit-box-shadow: inset 0 0 5px 5px#666;
	box-shadow: inset 0 0 5px 5px #666;
}
.msgAlertsTxt {
	display:inline-block;
	font-size:12px;
	position:relative;
	top:0px;
}
.numberOfAlerts {
	margin:0 5px 0px 5px;
	font-size:24px;
	position:relative;
	top:0px;
}
.alertsTxt {
	display:inline-block;
	width:90px;
	height:30px;
	position:relative;
	top:3px;
	left:10px;
	font-family:verdana;
	color:#ccc;
}
#manageUsersSelect {
	height:30px !important;
	position:relative;
	top:5px;
	padding: 0 15px 0 52px;
	border:1px solid #868686;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-decoration:none;
	background:#c7c7c7;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e9e9e9), to(#9c9c9c));
	background: -webkit-linear-gradient(top, #e9e9e9, #9c9c9c);
	background: -moz-linear-gradient(top, #e9e9e9, #9c9c9c);
	background: -ms-linear-gradient(top, #e9e9e9, #9c9c9c);
	background: -o-linear-gradient(top, #e9e9e9, #9c9c9c);
	background-image:url('../img/iconMultiUser-small.png');
	background-repeat:no-repeat;
	background-position:5px center;
	-moz-box-shadow: inset 0 0 1px 1px #fff;
	-webkit-box-shadow: inset 0 0 1px 1px #fff;
	box-shadow: inset 0 0 1px 1px #fff;
	color:#3b3b3b;
}
#manageUsersSelect:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e9e9e9), to(#858585));
	background: -webkit-linear-gradient(top, #e9e9e9, #858585);
	background: -moz-linear-gradient(top, #e9e9e9, #858585);
	background: -ms-linear-gradient(top, #e9e9e9, #858585);
	background: -o-linear-gradient(top, #e9e9e9, #858585);
	background-image:url('../img/iconMultiUser-small.png');
	background-repeat:no-repeat;
	background-position:5px center;
}
.manageUsersTxt {
	min-height:8px;
	display:block;
	background:url('../img/iconDownArrow-small.png') no-repeat center right;
	padding-right:15px;
	position:relative;
	top:5px;
}
.chart, .bars, .updating, .pie {
	height: 250px;
	margin: 10px 0 0;
	width: 97%;
	z-index: 90;
}
.tooltip {
	background: -moz-linear-gradient(center top, #3B3B3B 0%, #1D1D1D 100%) repeat scroll 0 0 transparent;
	border-radius: 2px 2px 2px 2px;
	color: #FFFFFF;
	font-size: 11px;
	padding: 3px 8px;
}
.dropdown-menu {
	z-index: 1000;
	padding: 4px 0;
	margin: 1px 0 0;
	list-style: none;
	background-color: white;
	border: 1px solid #CCC;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.dropdown-menu li {
	padding: 0 5px;
}
.dropdown-menu li a {
	padding: 3px 20px 3px 8px;
	display:block;
	color:#333;
	text-decoration: none;
	font-size: 12px;
	border:1px solid transparent;
}
.dropdown-menu li a:hover {
	background:#333;
	border:1px solid #333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#fff;
}
.dropdown-menu li a.dropDownHighlight {
	background: #1e5799;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1e5799), to(#7db9e8));
	background: -webkit-linear-gradient(top, #1e5799, #7db9e8);
	background: -moz-linear-gradient(top, #1e5799, #7db9e8);
	background: -ms-linear-gradient(top, #1e5799, #7db9e8);
	background: -o-linear-gradient(top, #1e5799, #7db9e8);
	color:#fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0 );
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.dropdown-menu li a.dropDownHighlight:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1e5799), to(#7db9e8));
	background: -webkit-linear-gradient(top, #1e5799, #7db9e8);
	background: -moz-linear-gradient(top, #1e5799, #7db9e8);
	background: -ms-linear-gradient(top, #1e5799, #7db9e8);
	background: -o-linear-gradient(top, #1e5799, #7db9e8);
	color:#fff;
}
.dropdown-menu li a.userSelected {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9dd53a), to(#7cbc0a));
	background: -webkit-linear-gradient(top, #9dd53a, #7cbc0a);
	background: -moz-linear-gradient(top, #9dd53a, #7cbc0a);
	background: -ms-linear-gradient(top, #9dd53a, #7cbc0a);
	background: -o-linear-gradient(top, #9dd53a, #7cbc0a);
	color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.dropdown-menu .divider {
	height: 1px;
	margin: 8px 1px;
	overflow: hidden;
	background-color: #E5E5E5;
	border-bottom: 1px solid white;
}
.SQdropDownCnt {
	position: absolute;
	z-index:9999;
}
/*** boot STRAP ******/
.pull-right .dropdown-menu:after, .dropdown-menu.pull-right:after {
	left: auto;
	right: 13px;
}
.dropdown-menu:after {
	border-bottom: 6px solid #FFFFFF;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: "";
	display: inline-block;
	left: 10px;
	position: absolute;
	top: -4px;
}
.pull-right .dropdown-menu:before, .dropdown-menu.pull-right:before {
	left: auto;
	right: 12px;
}
.dropdown-menu:before {
	border-bottom: 7px solid rgba(0, 0, 0, 0.2);
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	content: "";
	display: inline-block;
	left: 9px;
	position: absolute;
	top: -5px;
}
.pull-right .dropdown-menu, .dropdown-menu.pull-right {
	left: auto;
	right: 0;
}
.bigGreyButton {
    background: url("../img/v3/btn-big-grey-fixed-width.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #5B5B5B;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 17px;
    font-weight: normal;
    height: 43px;
    line-height: 43px;
    margin-right: 15px;
    overflow: hidden;
    text-align: center;
    text-shadow: 1px 1px #FFFFFF;
    width: 167px;
}
.SQmodalWindowContainer fieldset {
	border:none;
}

.span3special {
    float: left;
    margin-left: 10px;
    text-align: center;
    width: 19%;
}

.span3special h4 {
    color: #777777;
    font-size: 11px;
    font-weight: bold;
}

.span3special .value {
    color: #111111;
    font-size: 56px;
    font-weight: bold;
    line-height: 1em;
}
.dynRight{
	margin-right:45px !important;
}
.dynRight + .dynRight {
	margin-right:10px !important;
}

.dynRight .icos-download3 {
	padding:0;
}
/* OV BOXES */
.ov_boxes {
    display: inline-block;
    list-style: none outside none;
    margin: 0 0 -20px;
    text-align: center;
}

.ov_boxes li {
    background: -moz-linear-gradient(center top , #F9F9F9 0%, #EDEDED 100%) repeat scroll 0 0 transparent;
    border: 1px solid #E2E2E2;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 0 #FFFFFF inset;
    display: inline-block;
    line-height: 18px;
    margin: 0 10px 10px;
    padding: 0 10px;
}
.ov_boxes .p_canvas {
    border-right: 1px solid #DCDCDC;
    box-shadow: 1px 0 0 0 #FFFFFF;
    float: left;
    margin-right: 12px;
    padding: 10px 14px 6px 4px;
}
.p_canvas {
    width: 100px;
    height:45px;
}
.ov_boxes .ov_text {
    float: left;
    font-size: 12px;
    padding: 9px 10px 7px 0;
    text-align: left;
    width: 150px;
}
.ov_boxes .ov_text, .dshb_icoNav li a, .table th, .fc thead th {
    text-shadow: 1px 1px 0 #FFFFFF;
}
.ov_boxes .ov_text strong {
    display: block;
    font-size: 16px;
}

.center [class^="icos-"], 
.center [class*="icos-"],
.center [class="icos-"]{ 
	margin-right:0;
}

.center > a + a{
	margin:0 4px;
}

.topPerforming > td{
    box-shadow: 0 1px 2px #E9F3FB inset, 0 1px 1px #DFDFDF;
    color: #4579AA;
    font-size:150%;
	/* background: -moz-linear-gradient(center top , #DEEDF9 0%, #CDE5F7 100%) repeat scroll 0 0 transparent; */
}

.prospect-image{float:left;}
.prospect-image + a {
	position: relative;
    top: 11px;
}

.prospect-data{
	position: relative;
    top: 11px;
}

table.prospTable td {
    padding: 0px 11px;
}

/** new CSS above this line **/
a:hover{text-decoration:underline;}
.right{float:right}
.left{float:left}
.clear{clear:both}
.clearLeft{clear:left;}
.clearRight{clear:right;}
.whead .right {margin-right: 5px; margin-top: 5px;}
.center{text-align: center;}