/** LogIn Page **/
body#login-page {
	font-family:Georgia, "Times New Roman", Times, serif;
}
body#login-page #wrapper {
	width: 463px;
	margin: 10px auto 0px auto;
	text-align: left;
}
#logo {
	text-align: center;
	margin-top: 100px;
}
body#login-page #wrapper #login_box {
	background:url('../img/login_box.png') no-repeat;
	width: 463px;
	height: 255px;
}
body#login-page #wrapper #login_box h2 {
	font-size: 22px;	
}
body#login-page #wrapper #login_box h2 span {
	font-size: 14px;
}
body#login-page #wrapper #login_box #inner-content {
	padding: 25px 60px 60px 60px;
}
body#login-page #login_box #inner-content p {
	overflow: hidden;
}
body#login-page #login_box #inner-content label {
	width: 85px;
	text-transform: lowercase;
	font-size: 14px;
}
body#login-page #login_box #inner-content input#name, body#login-page #login_box #inner-content input#password {
	width: 247px;
	border:1px solid #333;	
}
body#login-page #login_box #inner-content label, body#login-page #login_box #inner-content input {
	float: left;
}
body#login-page #login_box #inner-content input.input_checkbox, body#login-page #login_box #inner-content label#remember, body#login-page #login_box #inner-content input#submit {
	float: none;	
}
body#login-page #login_box #inner-content input#check {
	margin: 0px 4px 0px 0px;
	vertical-align: middle;
}
body#login-page #login_box #inner-content label#remember {
	font-size: 11px;
	color: #c2b0a4;	
	display: inline;
	margin: 0px;
	width: 100%;
}
body#login-page #login_box #inner-content input#submit {
	background: #333;
	border: 0px;
	color: #fff;
	font-size: 14px;
	padding:10px;
	font-weight: 700;
}
.alignright {float:right;}