*{margin:0; padding:0;}
body{background:#46372d url(../img/bodyBg.png) repeat-x; text-align:center;}
a{outline:none;}
.wrapper{width:980px;margin:0 auto; text-align:left;}
.brown { background:#efe8de url(../img/contentBg.png) repeat-x; }
#sub_nav { height:30px; margin-left:70px;}
#header{ height:75px; color:#FFFFCC;}
#header a {color:#90b4c4; }
#header h1{background:url(../img/6qube_marketing.gif);width:190px;height:34px; position:absolute; top:25px; left:50%; margin-left:-400px;}
#header span, #banner span{display:none;}
#nav{list-style:none; margin-left:70px; font-family:Georgia, "Times New Roman", Times, serif; display:block; height:42px; }
#nav li{float:left;}
#nav li a, #nav li p{display:block; text-decoration:none;padding:8px 25px;color:#90b4c4;font-size:18px;text-shadow:#392b23 1px 1px 1px; cursor:pointer;}
#nav li a:hover, #nav li p:hover{color:#fff;}
#banner{ background:url(../img/bannerBg.jpg) top center no-repeat;width:100%;height:299px;}
#banner a { color:#000; }
#content_top { padding-top:10px; width:980px; height:30px; background:url(../img/content_top.gif) bottom left no-repeat; }
#content{ background:#fff; font-family:Verdana, Arial, Helvetica, sans-serif; color:#5a493e; font-size:14px; padding:0 25px 25px 25px; border:1px solid #e1d3bf; border-bottom:0; border-top:0;}
#content h1 { font-size:2.5em; font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif; color:#2b1f17; text-shadow:#fff 1px 1px 1px;}
#footer{ background:#46372d url(../img/footerBg.png) repeat-x;}
#footer ul { list-style:none;}
#footer a {color:#90b4c4; text-shadow:#22150c 1px 1px 1px; }
#footer a:hover{color:#fff;}
#footer h4 { color:#fff; border-bottom:1px dashed #fff; margin:4px 0; padding:4px 0; }
#footer p { color:#dbbaa4;}
.one_col{ width:200px; float:left; padding:10px;}
.two_col{ width:450px; float:left; padding:10px;}
.clear { clear:both;}
.login_info { float:right; }
h2 { font-family:Georgia, "Times New Roman", Times, serif; font-size:2em; color:#333; font-weight:normal; margin:5px 0;}
h1 { margin-bottom:10px; }
/* 6qube logo */
#cube{background:url(../img/6qube_cube.png);width:139px;height:138px; position:absolute; top:17px; left:50%; margin-left:-570px;}
/* network */
#network_tab{background:url(../img/network_tab.png);width:230px;height:29px; float:right;  cursor:pointer;}
#network { display:none; width:231px; background:url(../img/networkBg.png) left bottom no-repeat; position:absolute; top:29px; left:50%; margin-left:260px; }
#network ul {list-style:none; text-align:left; }
#network ul li { }
#network ul li a {display:block; padding:10px;  color:#90b4c4; text-shadow:#22150c 1px 1px 1px;}
.close-network { background:url(../img/network_tab_close.png) no-repeat; }
/* Login Box */
#login_box { background:url(../img/loginBg.png); width:539px; height:38px; position:absolute; top:117px; left:50%; margin-left:-247px; text-align:left; display:none; }
#login_box input { border:0; width:156px; height:22px; outline:none; background-color:transparent; }
#login_box #username { position:absolute; top:9px; left:82px;}
#login_box #password{ position:absolute; top:9px; left:318px;}
#login_box input[type="submit"] { width:46px; height:22px; background:url(../img/submit.png); position:absolute; top:8px; left:483px; cursor:pointer; }
/* subnavs */
#subnav { list-style:none; }
#subnav li { float:left; padding:0 8px; }
a.subnav { display:block; height:30px; }
a.subnav span { display:none; }
.press a { background:url(../img/press_sub_nav.png) no-repeat; width:134px; }
#press_create:hover{ background-position:0 -30px;}
#press_view{ background-position:-135px 0; }
#press_view:hover{ background-position:-135px -30px; }
/* random styles */
p.error { padding:8px; background-color:#FFCCCC; border:1px solid #FF3333; margin:5px 0; color:#ff3333; }
.success { padding:8px; background-color:#B6FFA4; border:1px solid #339933; margin:5px 0; color:#339933; }
.left { float:left;  }
.right { float:right; }
.img-upload { background:url(../img/imgUpload.png) no-repeat; float:right; padding:15px; width:304px; height:122px; }
.date { font-size:80%; color:#999; }
.quotes { margin-bottom:10px; color:#333; }
.body, .website { background-color:#f0f0f0; border:1px solid #6e94ad; padding:15px; margin:10px 0; }
.body p { padding:5px 0; }
.body ul, .body ol { margin-left:30px; }
.preview { margin-bottom:10px; padding:10px; border-bottom:1px dashed #967d5a; clear:left; overflow:auto; }
.one { background:#F0F0F0; }
.two { background:#efe8de; }
.preview img { float:left; margin-right:10px; width:100px; height:75px; float:left; border:0; }
.edit strong { color:#40769a; font-size:16px; }
/* EDIT - STATS -  DELETE BUTTONS */
.editBtn, .statsBtn, .deleteBtn { display:block; width:108px; height:30px; background:url(../img/buttons.png) no-repeat;}
.statsBtn { background-position:0px -30px;  }
.deleteBtn { background-position:0px -60px;  }
.editBtn:hover { background-position:-107px 0; }
.statsBtn:hover { background-position:-107px -30px; }
.deleteBtn:hover { background-position:-107px -60px; }
.buttons { float:left; margin-right:20px; }
/* Advertising */
.press_body { float:left; width:672px; }
.advert3 { width:218px; float:right; }
.advert1, .advert2 { width:332px; float:right; }
.advert2 { clear:right; margin-top:10px; }
.advert3 p, .advert1 p, .advert2 { font-size:10px; color:#CCC; text-align:right; padding-top:20px; }
/* FORMS */
input[type="text"], input[type="password"], select, textarea { background:url(../img/inputBg.png) no-repeat; padding:6px 7px; width:543px; margin-bottom:15px; border:0;} 
select { width:557px; }
.loginForm { padding:10px; background:#eee; border:1px solid #999; }
#sign_up_news { border:0; width:264px; height:37px; background:url(img/newsletter_input.jpg) no-repeat; outline:none; margin:0; padding:0 0 0 10px; float:left; }
/* test forms */
label { padding-right:15px; display:block; color:#333;}
/* input { border:0; margin-bottom:10px; height:22px; width:368px; padding:0 34px 0 8px; background:url(../img/text_input.png) no-repeat; outline:none; background-position:0 -23px; }
input.error { background-position:0px -46px; }
input.approved { background-position:0px 0px; }
*/
input + p { font-size:80%; color:#990000; margin:0; padding:0; }
.hideMe { display:none; }
/* blog */
.blog-title { padding:10px; background:#000; color:#fff; }
.post{ overflow:auto; border-bottom:1px dashed #ccc; }
.title{ padding:10px;  float:left; width:75%; }
.views{  padding:10px; display:none; }
.edit{}
.jquery_form ul { list-style:none; }
/* Sub Form Navigation */
#side_nav { float:left; width:150px; border-right:1px solid #bababa; padding-bottom:100px; }
#side_nav ul { list-style:none; }
#side_nav ul li { }
#side_nav ul li a { display:block; padding:8px; background:url('../img/side-menu-bg.png') repeat-x; color:#333; text-decoration:none;  }
#side_nav ul li a:hover, #side_nav ul li a.current { background-position:0 -32px; }
#form_test { float:left; margin-left:20px; }
/* DASHBOARD */
#dash { width: 930px; }
#dash .headline { font-family: Verdana;}
#dash .headline h2 { font-family: Georgia; font-weight: normal; float: left; font-size: 1.75em;}
#dash .headline p { display: block; float: left; padding-top: 12px; padding-left: 10px; color: #333; font-size:.75em;}
#dash .headline p span {font-weight: bold; font-size: 1.25em;}
#dash .headline a {display: block; width: 149px; height: 25px; margin-top: 10px; float: right; background: url('../img/add_new.gif') no-repeat; text-decoration: none; cursor: pointer;}
#dash .headline a > p {font-size: .75em; color: #333; padding:5px 0 0 40px; cursor: pointer;}

#dash .dash-container { clear:both;}

#dash .container {clear:left; border: 1px solid #ccc; padding: 10px; }
#dash .item { display: block; height: 30px; }

#dash .graph { padding-right: 10px; width: 100px; height: 25px;}
#dash .item a {color: #3465a7; text-decoration: none; display: block; padding-top: 6px;}
#dash .item:hover a {text-decoration: underline;}
/* Icons */
#dash .icons a span {display: none;}
#dash .icons { display:none; float:right;}
#dash .item:hover .icons { display: block;}
#dash .view, #dash .view2, #dash .edit, #dash .delete { background: url('../img/icons.gif') no-repeat; display: block; width: 29px; height: 26px; float: left; margin: 0 2px;}
#dash .edit { background-position:right top;}
#dash .delete {background-position:center top; cursor: pointer;}

#message_cnt { float:right; width: 440px; height: 30px; margin-right: 200px; text-align: center; padding-top: 5px;}