@charset "UTF-8";
/* CSS Document */
*{margin:0; padding:0;}
a{outline:none;}
html,body {font-size:1em; font-family: Georgia, "Times New Roman", Times, serif; }
#wrapper {width:1024px; position:absolute; top:0; left:50%; margin-left:-512px;}
#admin-panel {height:25px; background-color:#2d1f16; text-align:center; color:#ffffff; font-family: Georgia, "Times New Roman", Times, serif; padding-top:5px;}
.userdropdown {display:inline;border:1px thick #ffffff;}
#header{width:100%; height:136px; background:url('../img/inner-header-background.jpg') no-repeat center top;}
#header .custom-logo {  }
#header .custom-logo img { border:none; }
#header h1 { display:block; width:139px; height:138px; background:url('../img/sixqube.png') no-repeat; position:absolute; top:15px; left:0;}
#header h1 span { display:none;}
#header p.slogan {width:305px; height:104px; background:url('../img/logo.png') no-repeat;  position:absolute; top:20px; left:150px;}
#header p.slogan span {display:none;}
#header #logo{}
#header #user-bar{height:69px; position:absolute; top:0; right:-36px; font-family: Georgia, "Times New Roman", Times, serif; font-size:.75em;}
#header #user-bar .top {width:51px; height:69px; background:url('../img/user-bar-left.png') no-repeat; float:left;}
#header #user-bar .middle { padding:5px; height:69px; text-align:center; background:url('../img/user-bar-middle.png') repeat-x; float:left;}
#header #user-bar .bottom {width:51px; height:69px; background:url('../img/user-bar-right.png') no-repeat; float:left;}
#header #user-bar p { color:#fff;}
#header #user-bar p a { color:#a0cde1;}
.header-nav { position:absolute; top:50px; right:0px; }
.header-nav ul { list-style:none; }
.header-nav li { float:left; background:url('../img/nav-form-bg.png') repeat-x; width:125px; height:67px;/*border-left:1px solid #ebebeb; border-right:1px solid #a4a4a4;*/ }
.header-nav li.first { background:url('../img/nav-form-left.png') no-repeat top left; border-left:none; padding-left:10px;}
.header-nav li.last { background:url('../img/nav-form-right.png') no-repeat top right; border-right:none; padding-right:10px;}
.header-nav a { display:block; height:67px; padding:25px 10px 0px 0px; color:#f0e8de; text-decoration:none; font-size:16px; text-align:center;}
.header-nav a:hover, .header-nav a.current {color:#fff; background:url('../img/form-nav-hover-bg.png'); width:115px; height:42px; text-align:center;}
#header #switch-user{}
#navigation{width:140px;}
#navigation ul.top li.hide {display:none;}
#navigation ul.top {list-style:none; font-size:1.1em; position:absolute; top:180px; left:0px; z-index:150; font-family: Georgia, "Times New Roman", Times, serif;}
#navigation ul.child { list-style:none; font-size:.7em; font-family: Georgia, "Times New Roman", Times, serif;}
#navigation ul.top li a {display:block; width:140px; height:35px; background:url('../img/nav-bg.png') no-repeat; color:#3f2709; text-decoration:none; text-shadow:#e5dbcc 1px 1px;}
#navigation ul.child li a {display:block; width:123px; margin-left:1px; height:25px; background-color:#5c4d43; background-image:none; text-shadow:none; border-bottom:1px dashed #fff; color:#fff;}
#navigation ul.child li a.last {border:0; background:#5c4d43 url('../img/nav-child-bottom.png') no-repeat bottom left}
#navigation ul.top li a.hover {background-position:bottom left; color:#fff; text-shadow:#333 1px 1px;}
#navigation ul.child li a:hover{ color:#fff; text-shadow:none;}
#navigation ul.top li a p {padding:8px 0 0 7px; letter-spacing:1px;}
#navigation ul.top li a p.small {font-size:1.1em;}
#navigation ul.child li a p {padding:4px;}
#content{width:900px; position:absolute; top:158px; right:0; z-index:149;}
#content .top, #content .bottom {width:900px; height:15px;}
#content .top {background:url('../img/content-top.png') no-repeat;}
#content .middle {background:#fff; min-height:400px;}
#content .bottom {background:url('http://6qube.com/admin/img/content-bottom.png') no-repeat;}
#content .middle>.padding { padding:0 25px; }
#footer { height:50px; }
