@charset "UTF-8";
/* CSS Document */
*{margin:0; padding:0;}
a{outline:none;}
html,body {font-size:1em; font-family: Georgia, "Times New Roman", Times, serif; background: url('../img/dark-bg.png'); }
#wrapper {width:100%; }
#admin-panel {height:25px; background-color:#000; text-align:center; color:#ffffff; font-family: Georgia, "Times New Roman", Times, serif; padding-top:5px;}
.userdropdown {display:inline;border:1px thick #ffffff;}
#header{width:100%; height:95px; }
#header .custom-logo {  }
#header .custom-logo img { border:none; }
#header h1 { display:none;}
#header h1 span { display:none;}
#header p.slogan {width:187px; height:64px; background:url('../img/v3/6qube_cube.png') no-repeat;  margin:15px 0 0 20px; float:left;}
#header p.slogan span {display:none;}
#header #logo{}
#header #user-bar{height:69px; float:right; font-family: Georgia, "Times New Roman", Times, serif; font-size:.75em;}
#header #user-bar .top {width:51px; height:69px; background:url('../img/v3/user-bar-left.png') no-repeat; float:left;}
#header #user-bar .middle { padding:5px; height:69px; text-align:center; background:url('../img/v3/user-bar-middle.png') repeat-x; float:left;}
#header #user-bar .bottom {width:51px; height:69px; background:url('../img/v3/user-bar-right.png') no-repeat; float:left;}
#header #user-bar p { color:#fff;}
#header #user-bar p a { color:#a0cde1;}

.clear {clear:both;}

.header-nav {  text-align:right; float:right; padding-right:25px; margin-top:-40px; /* -34 */}
.header-nav ul {margin:0px;padding:0px;border-right:1px solid #d0d0d0;}
.header-nav ul li {float:left; display:block;position: relative; margin-left:0px;}
.header-nav ul li a {display:block;text-decoration:none; padding-top:10px; padding-bottom:10px;padding-left:20px;padding-right:20px;color:#797979;font-size:16px;text-shadow: 1px 1px #ffffff; background: #efefef url(../img/v3/gradient-main-menu-tab-off.gif) no-repeat left bottom; border-left:1px solid #d0d0d0; border-top:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0;}
.header-nav ul li a:hover {display:block;text-decoration:none; font-size:16px; color:#ee8600; background: #efefef url(../img/v3/gradient-main-menu-tab-off.gif) no-repeat left bottom;}
.header-nav ul li a.current {display:block;text-decoration:none; font-size:16px; color:#ee8600; background: #ffffff url(../img/v3/gradient-main-menu-tab-on.gif) repeat-x top; border-left:1px solid #d0d0d0; border-top:1px solid #d0d0d0;border-bottom:1px solid #ffffff;}
.header-nav ul li a.current:hover {display:block;text-decoration:none; font-size:16px; color:#ee8600;  background: #ffffff url(../img/v3/gradient-main-menu-tab-on.gif) repeat-x top;}

#twoColContentArea {
    padding-left: 120px;
}
.mainNav {
    background: url("images/navBanner.png") no-repeat scroll 0 0 transparent;
    height: 559px;
    left: 205px;
    padding-top: 0 !important;
    position: absolute;
    top: 128px;
    width: 113px;
    z-index: 99;
}
.mainNav .nav {
    margin-top: 10px;
    text-align: center;
    padding-left: 5px;
}
.mainNav .nav li {
    position: relative;
}
.mainNav .nav li.noBorder {
    position: relative;
}
.mainNav .nav li a {
    color: #fff;
    display: block;
    font-size: 11px;
    padding: 14px 0 8px;
    width: 100px;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.nav li a img {
    opacity: 0.5;
}
.nav li a.active img, .nav li a:hover img {
    -moz-transition: opacity 0.3s ease-in-out 0s;
    opacity: 1;
}

.nav li a span {
    display: block;
    padding-top: 4px;
   text-shadow: 0 1px 0 #000;
}
.widgetpadding { margin-top:25px !important; }

#header #switch-user{}
#navigation{width:190px; float:left; }
#navigation ul.top li.hide {display:none;}
#navigation ul.top {list-style:none; font-size:1.2em; z-index:150; font-family: Georgia, "Times New Roman", Times, serif;}
#navigation ul.child { list-style:none; font-size:.8em; font-family: Georgia, "Times New Roman", Times, serif; }
#navigation ul.top li a {
    background: url("../img/v3/non-active-bg.png") no-repeat scroll 0 0 transparent;
    border-right: 1px solid #CCCCCC;
    color: #666666;
    display: block;
    height: 44px;
    text-decoration: none;
    text-shadow: 1px 1px #FFFFFF;
    width: 189px;
}
#navigation ul.child li a {
    background-color: #555555;
    background-image: none;
    border-bottom: 1px dashed #666666;
    border-right: 1px solid #CCCCCC;
    color: #FFFFFF;
    display: block;
    height: 34px;
    text-shadow: 1px 1px #000000;
    width: 189px;
}

.galleryActionsContainer {
    height: 26px;
    left: 50%;
    margin-left: -62px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 122px;
}

.gallery .selected {

	 border: 1px solid #333 !important;
	 background: #F08600 !important
}

.CodeMirror {
	border: 1px solid #eee;
}

.CodeMirror-scroll {
	height: auto !important;
	overflow-y: hidden !important;
	overflow-x: auto !important;
}

.editRegions .CodeMirror-scroll {
	  min-height: 270px;
}

#navigation ul.child li a.last {border-bottom:0;}
#navigation ul.top li a.hover {background-position:bottom left; color:#fff; text-shadow:#333 1px 1px;}
#navigation ul.child li a:hover{ background: #666; -moz-transition: background 0.25s ease-in-out 0s;}
#navigation ul.top li a img {float:left; border: none; clear:left;}
#navigation ul.top li a p {padding:8px 0 0 13px; letter-spacing:1px;}
#navigation ul.top li a p.small {font-size:1.1em;}
#navigation ul.child li a p {padding:8px 0 0 13px; letter-spacing:1px;}


#content{margin-left:190px;}
#content .top,
#content .bottom {height:15px; background:url('../img/white-textured.jpg');}
#content .middle {
    background: url("../img/white-textured.jpg") repeat scroll 0 0 #FFFFFF;
    float: left;
    min-height: 650px;
    min-width: 850px;
    width: 100%;
}

div.ibutton-label-on label,
div.ibutton-label-off label {
    color: #FFFFFF !important;
    text-shadow: 0 1px #808080;
}
div.ibutton-label-off { padding-right: 10px; }

#content .bottom {float:left; width:100%; -moz-border-radius-bottomleft: 15px; border-bottom-left-radius: 15px;}
#content .middle>.padding { padding:0 25px; }
#footer { height:50px; float:left; width:100%; }

#content h1 { font-family: Georgia; font-weight: normal; color: #666666; margin-top: 10px; white-space:nowrap; text-shadow: 1px 1px #fff; }
#content h2 { margin-top: 15px;margin-bottom: 10px; color: #666666; font-weight: normal;}
#camps { width:100%; }
/* 
#camps ul { margin-left: 60px; list-style: disc; color: #3465a7; }
#camps ul li { padding: 6px; }
#camps ul li a { color: #3465a7; font-size: 1.5em; }
*/
#camps form {float:left; width:100%;}

#camps input[type="text"] { width:60%; height:40px; line-height:35px; background:url('../img/input-bg.png') #fff repeat-x; border:1px solid #D6E3E9; padding:2px 8px 0px 8px; font-family: Georgia, "Times New Roman", Times, serif; color: #666666; font-size:16px; float:left; margin-right:15px;}

#camps input[type="text"].search { width:250px; height:25px; line-height:15px; font-size:12px; float:left;}

#camps input[type="submit"] { display:block;  height: 43px; line-height:43px; margin-right:15px;padding-right:10px; border: 0; padding-left:10px; font-family: Georgia, "Times New Roman", Times, serif; font-size:17px; font-weight:normal; width:167px;text-align:center;overflow:hidden; background: url('../img/v3/btn-big-grey-fixed-widthh.png') no-repeat;  cursor: pointer;  color:#5b5b5b; text-shadow: 1px 1px #ffffff; float:left;}
#camps input[type="submit"]:hover { display:block;  height: 43px; line-height:43px; margin-right:15px;padding-right:10px; border: 0; padding-left:10px; font-family: Georgia, "Times New Roman", Times, serif; font-size:17px; font-weight:normal; width:167px;text-align:center;overflow:hidden; background: url('../img/v3/btn-big-grey-fixed-width.png') no-repeat;  cursor: pointer;  color:#5b5b5b; text-shadow: 1px 1px #ffffff;}

#campaigns { padding-bottom:35px; width:100%; float:left; }
.icon {float:left; width:64px; padding-right:10px; }
.form-icon-wrapper {height:85px;}
.form-icon-wrapper h1 {padding-top:10px;}



.watch-video { float:left; width:150px; padding-top:5px;   }
.watch-video ul {margin:0px 0px 0px 0px; list-style:none;}
.watch-video ul li {padding:7px 0px 7px 0px;}
.watch-video ul li a {text-decoration:none; color:#3F3F3F; background:url('../img/rpanel-categories-list.jpg') no-repeat 8px 3px; padding-left:26px; display:block; }
.watch-video ul li a:hover {color:#6295AC; background:url('../img/rpanel-categories-list-hover.jpg') no-repeat 8px 3px;}
.bottomContent {width:100%;}
.block {  width:35%; float:left; background:#ebebeb; padding:15px; margin:0px 15px 15px 0px; border:1px solid #D6E3E9;  }
.block h3 {font-size:18px; font-weight:normal; color:#FFFEFE; text-align:center; background:url('../img/v3/title-bar.png') bottom left; border:#999999 solid 1px; height:42px; line-height:44px; margin-bottom:10px;}
.block h4 {color:#6295AC; font-size:16px; font-weight:normal; margin-left:15px; border-bottom: 1px dashed #6295AC; padding-bottom:8px; }
.block ul {margin:10px 0px 25px 25px; list-style:none;}
.block ul li {padding:7px 0px 0px 0px; font-size:14px;}
.block ul li a {text-decoration:none; color:#3F3F3F; background:url('../img/rpanel-categories-list.jpg') no-repeat 8px 3px; padding-left:26px; display:block; }
.block ul li a:hover {color:#6295AC; background:url('../img/rpanel-categories-list-hover.jpg') no-repeat 8px 3px;}
.block-right {  float:left; background:#ebebeb;  padding:15px; width:50%;  }
.block-right h4 {color:#666666; font-size:18px; font-weight:normal; /*margin-left:15px;*/ border-bottom: 1px dashed #6295AC; padding-bottom:8px;   }
.block-right p { padding:10px 15px 10px 15px; font-size:14px; color:#3F3F3F; }
.camp-blog { padding-top:15px; }
.block-right a.blog_title { padding:0px 15px 0px 15px; color:#6295AC; font-size:14px; }
.block-right a.blog_title:hover { padding:0px 15px 0px 15px; color:#ee8600; }
.block-right a.read_full_article { float:right; color:#999999; font-size:12px;  }

.titleSection {width:99%;}
.titleSection h2 {background:#ebebeb url('../img/v3/prospect-bg.png') repeat-x; padding:15px;  border:1px solid #CCCCCC;}
/* DASHBOARD */
#dash { width: 100%; float:left;  }
#dash .headline { font-family: Verdana;}
#dash .headline h2 { font-family: Georgia; font-weight: normal; float: left; font-size: 1.5em; margin: 0;}

#dash .headline p { display: block; float: left; padding-top: 12px; padding-left: 10px; color: #333; font-size:.75em;}
#dash .headline p span {font-weight: bold; font-size: 1.25em;}
#dash .headline a {display: block; width: 149px; height: 25px; margin-top: 5px; float: right; background: url('../img/add-new.gif') no-repeat; text-decoration: none; cursor: pointer;}
#dash .headline a > p {font-size: .75em; color: #333; padding:5px 0 0 40px; cursor: pointer;}
#dash .dash-container { clear:both;}
#dash .container {clear:left;  padding: 10px; }
#dash .item { display: block; height: 41px; border-bottom: 1px solid #fff; font-size:14px;}
#dash .item2 { display: block; height: 41px; border-bottom: 1px solid #fff; font-size:14px;}
#dash .item:hover { background:url('../img/v3/dash-hover.jpg') top left repeat-x; border:#ccc solid 1px;  }
#dash .item2:hover { background:url('../img/v3/dash-hover2.jpg') top left repeat-x; border:#ccc solid 1px; padding-left:5px;  }
#dash .graph { padding-right: 10px; width: 100px; height: 25px; display: inline; float: left;}
#dash .blogPost { padding-right: 10px; padding-top:10px; height: 25px; display: inline; float: left;}
#dash .icon { padding-right: 10px; padding-top:10px; width: 25px; height: 25px; display: inline; float: left;}
#dash .item a {color: #6295AC; text-decoration: none; display: block; padding-top:10px;}
#dash .item:hover a {text-decoration: underline; color:#ee8600; }
#dash .item2 a {color: #6295AC; text-decoration: none; display: block; padding-top:13px;}
#dash .item2:hover a {text-decoration: underline; color:#ee8600; }
/* Icons */
#dash .icons a span {display: none;}
#dash .icons { display:none; float:right; padding:7px 5px;}
#dash .item:hover .icons { display: block;}
#dash .item2:hover .icons { display: block;}
#dash .view, #dash .view2, #dash .edit, #dash .delete { background: url('../img/icons.gif') no-repeat; display: block; width: 29px; height: 26px; float: left; margin: 0 2px;}
#dash .edit { background-position:right top;}
#dash .delete {background-position:center top; cursor: pointer;}
#dash .duplicateHub { float:right; margin:0; padding:0; padding-top:-10px; background-origin:none; }
/* Contacts */
#dash .item3 { display: block; height: 41px; border-bottom: 1px dotted #ccc; font-size:12px;}
#dash .item3:hover { background:url('../img/v3/dash-hover2.jpg') top left repeat-x; border:#ccc solid 1px; padding-left:5px;  }
#dash .item3 a {color: #6295AC; text-decoration: none; display: block; padding-top:13px;}
#dash .item3:hover a {text-decoration: underline; color:#ee8600; }
#dash .item3:hover .icons { display: block;}
#dash .item3 .name { float:left; width:45%; overflow:hidden; }
#dash .item3 .company { float:left; width:20%;  }
#dash .item3 .company a {color:#666; }
#dash .item3 .phone { float:left; width:10%;   }
#dash .item3 .phone a { color:#666; }
#dash .item3 .email { float:left; width:25%; }
#dash .item3 .date { float:left; width:15%; }
#dash .item3 .type { float:left; width:15%; }
/* message container */
#message_cnt { float:right; width: 440px; height: 30px; margin-right: 200px; text-align: center; padding-top: 5px;}
/* Form Navigation */
ul#form-nav { list-style:none; }
#form-nav li { float:left; background:url('../img/nav-form-bg.png') repeat-x; width:125px; height:67px;/*border-left:1px solid #ebebeb; border-right:1px solid #a4a4a4;*/ }
#form-nav li.first { background:url('../img/nav-form-left.png') no-repeat top left; border-left:none; padding-left:10px;}
#form-nav li.last { background:url('../img/nav-form-right.png') no-repeat top right; border-right:none; padding-right:10px;}
#form-nav a { display:block; height:67px; padding:25px 10px 0px 0px; color:#f0e8de; text-decoration:none; font-size:16px; text-align:center;}
#form-nav a:hover, #form-nav a.current {color:#fff; background:url('../img/form-nav-hover-bg.png'); width:115px; height:42px; text-align:center;}
/* SUB Form Navigation */


ul#subform-nav  {  text-align:right; float:left;  }
#subform-nav  {margin:0px;padding:0px;border-right:1px solid #d0d0d0;}
#subform-nav  li {float:left; display:block;position: relative; margin-left:0px;}
#subform-nav li a {display:block;text-decoration:none; padding-top:10px; padding-bottom:10px;padding-left:20px;padding-right:20px;color:#797979;font-size:16px;text-shadow: 1px 1px #ffffff; background: #efefef url(../img/v3/gradient-main-menu-tab-off.gif) no-repeat left bottom; border-left:1px solid #d0d0d0; border-top:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0;}
#subform-nav  li a:hover {display:block;text-decoration:none; font-size:16px; color:#ee8600; background: #efefef url(../img/v3/gradient-main-menu-tab-off.gif) no-repeat left bottom;}
#subform-nav  li a.current {display:block;text-decoration:none; font-size:16px; color:#ee8600; background: #ffffff url(../img/v3/gradient-main-menu-tab-on.gif) repeat-x top; border-left:1px solid #d0d0d0; border-top:1px solid #d0d0d0;border-bottom:1px solid #ffffff;}
#subform-nav  li a.current:hover {display:block;text-decoration:none; font-size:16px; color:#ee8600;  background: #ffffff url(../img/v3/gradient-main-menu-tab-on.gif) repeat-x top;}

/* Form styles */
#form_test {  float:left; width:60%; }
#form_test h2 {  float:left; width:100%; }
.jquery_form ul {list-style: none; margin-left: 10px;}
.upload_form {list-style: none; margin-left: 10px;}
label { padding:10px 10px 10px 0px; display:block; color:#6295AC; clear:left;}
.jquery_form input { width:100%; height:30px; line-height:25px; background:url('../img/input-bg.png') #fff repeat-x; border:1px solid #D6E3E9; padding:2px 8px 0px 8px; font-family: Georgia, "Times New Roman", Times, serif; color: #666666; font-size:16px; }
.jquery_form select { margin-bottom: 10px;}
.jquery_form textarea { border: 1px solid #74adcf; float:left; margin-bottom:10px; padding:5px; font-family: Georgia, "Times New Roman", Times, serif; color: #666666; font-size:12px; width:100%; }
.jquery_form input.error { width:434px; padding:2px 58px 0px 8px; background:url('../img/x-mark.png') no-repeat; }
.jquery_form input.approved { width:434px; padding:2px 58px 0px 8px; background:url('../img/check-mark.png') no-repeat;  }
.jquery_form input[type="submit"] { display:block;  height: 43px; line-height:43px; margin-right:15px;padding-right:10px; border: 0; padding-left:10px; font-family: Georgia, "Times New Roman", Times, serif; font-size:17px; font-weight:normal; width:167px;text-align:center;overflow:hidden; background: url('../img/v3/btn-big-grey-fixed-widthh.png') no-repeat;  cursor: pointer;  color:#5b5b5b; text-shadow: 1px 1px #ffffff; float:left;}
.img_cnt { border:9px solid #D6E3E9; margin:10px 10px 10px 10px; background-color:#333333; }
/* random */
.hideMe { display:none; }
.big-information { border: 1px solid #74adcf; padding:15px; background: #ecf3f8; color:#144867; font-family: Verdana; font-size: 12px;}
a.tinymce { width: 163px;height: 53px; background: url('../img/v3/easy-editor.png') no-repeat; display: block; padding-bottom:5px;}
a.tinymce span { display: none;}
#wait { display: none; width: 218px; height: 96px; position: absolute; top:250px; left: 50%; margin-left: -150px; z-index: 999; background:url('../img/v3/ajax-loader-bg.png') no-repeat; text-align: center; padding-top:72px;  }
#trash h2 { clear: both; padding: 8px 0;}
.trash-item, .domain-item { clear: both; border-bottom: 1px dashed #ccc; overflow: auto; margin: 2px; padding: 2px;}
.trash-item p.title, .domain-item p.title { /*width: 150px; overflow: hidden;*/  float: left;}
.trash-item p.desc, .domain-item p.desc {width: 300px; overflow: hidden;  float: left; border-left: 1px solid #ccc; margin-left:10px;}
.trash-item p.restore { width: 100px; float: right;}
.trash-item p.permdelete { width: 120px; float: right;}
.domain-item p.remove { width: 100px; float: right;}
/* analytics */
.mini_graph { width: 48%; float: left; }
.big_graph { clear: left;}
/* prospects */
ul.prospects { list-style: none; overflow: auto; color:#666; background:#ebebeb url('../img/v3/prospect-bg.png') repeat-x; padding:15px;  border-bottom:1px solid #fff; width:98%;  }
ul.prospects:hover { color: #000; background:#ebebeb url('../img/v3/prospect-bg-hover.png') repeat-x;}
ul.prospects li { float:left; display:block; padding: 4px; overflow: hidden; font-weight:normal; font-size:12px;  }
ul.prospects .name, ul.prospects .name2, ul.prospects .name3 { background:url('../img/v3/prospect-list.png') no-repeat; padding-left:30px; }
ul.prospects .name4 { background:url('../img/v3/contact-list.png') no-repeat; padding-left:45px; }
ul.prospects .name { width: 18%; }
ul.prospects .name2 { width: 165px; }
ul.prospects .name3 { width: 230px; padding-right:10px; }
ul.prospects .name4 { width: 18%; }
ul.prospects .email { width: 28%; }
ul.prospects .email2 { width: 350px; padding-right:10px; }
ul.prospects .user-links { float:right; }
ul.prospects .page { width:190px; white-space:nowrap; overflow:hidden; display:inline-block; }
ul.prospects a { color:#a0cde1; }
ul.prospects .phone { width: 12.5%; }
ul.prospects .date { width: 12.5%; }
ul.prospects .type { width: 100px; }
ul.prospects .iconWrap { width: 15%; float:right; }
ul.prospects .details { width: 40px; cursor: pointer; }
ul.prospects .delete { width: 40px; cursor: pointer; }
ul.prospects .comment { clear: left; margin-top:10px; padding: 8px; display: none; border:1px solid #fff; }
ul.prospects .comment p { padding: 2px;    }
ul.prospects .dashpros-name { width: 140px; }
ul.prospects .dashpros-cid { width: 75px; }
ul.prospects .dashpros-type { width: 120px; }

ul.prospects .dateRecorded { width: 25%; }
ul.prospects .recordingStatus { width: 25%; }
ul.prospects .from { width: 25%; }
ul.prospects .lengthOfCall { width: 10%; text-align:center; }
ul.prospects .recordingLink { width: 10%; text-align:center;}

ul.prospects.rankings .name{ background:url('../img/ranking-icon-small.png') no-repeat; padding-left:36px; }

/* 24) APP RIGHT PANEL STYLE
=-----------------------*/
#app_right_panel {width:269px; float:right; margin:50px 10px 0px 0px;}
#app_right_panel h2 {font-size:18px; font-weight:normal; color:#FFFEFE; text-align:center; background:url('../img/v3/title-bar.png') bottom left; border:#999999 solid 1px; height:42px; line-height:44px; margin-bottom:10px;}
.app_right_video { background:url('../img/video-holder-bg.png'); width:269px; height:174px; }
.app_right_links ul {margin:0px 0px 25px 0px; list-style:none;}
.app_right_links ul li {padding:7px 0px 7px 0px;}
.app_right_links ul li a {text-decoration:none; color:#3F3F3F; background:url('../img/rpanel-categories-list.jpg') no-repeat 8px 3px; padding-left:26px; display:block;}
.app_right_links ul li a:hover {color:#6295AC; background:url('../img/rpanel-categories-list-hover.jpg') no-repeat 8px 3px;}
.app_right_links ul li a.category_active {color:#6295AC; font-weight:bold; background:url('../img/rpanel-categories-list-hover.jpg') no-repeat 8px 3px;}
.app_right_links ul li ul {padding:4px 0px 0px 0px; margin:0px;}
.app_right_links ul li ul li {font-size:12px; background:none; line-height:12px; margin:0px 0px 0px 27px; padding:5px 0px 5px 0px;}
.app_right_links ul li ul li a {padding-left:12px;}
.app_right_links ul li ul li a:hover {color:#798C09;}
.app_right_links ul li ul li a.subcategory_active {color:#798C09;}
ul#popular_posts li a  {font-size:12px;}
ul#popular_posts li a:hover {color:#6295AC;}
ul#popular_posts li a.category_active {color:#6295AC; font-weight:bold;}
.sample_image_1 {padding:0px 1px 9px 5px;}
.sample_image_2 {padding:0px 0px 5px 4px;}
#app_adv { width:290px !important;width:270px; padding:0px; margin:0px;}
#app_adv ul li { float:left}
#app_adv ul { padding:0px; margin:0px;background:none}
#app_adv ul li a{ float:left; background:none}
#app_adv li a{ margin:0px 3px 0px 0px ;}
#app_adv .bloglistimg {border:9px solid #E6E6CE; float:left; margin:0px 10px 10px 0px}
#app_adv .diricon {width:108px;height:108px;background-position:center center;background-color:#fff;z-index:1;}
#createDir { padding: 15px; width:93%; overflow: auto}
#createDir input[type="text"] { width:60%; height:40px; line-height:35px; background:url('../img/input-bg.png') #fff repeat-x; border:1px solid #D6E3E9; padding:2px 8px 0px 8px; font-family: Georgia, "Times New Roman", Times, serif; color: #666666; font-size:16px; float:left; margin-right:15px;}
#createDir input[type="submit"] { display:block;  height: 43px; line-height:43px; margin-right:15px;padding-right:10px; border: 0; padding-left:10px; font-family: Georgia, "Times New Roman", Times, serif; font-size:17px; font-weight:normal; width:167px;text-align:center;overflow:hidden; background: url('../img/v3/btn-big-grey-fixed-widthh.png') no-repeat;  cursor: pointer;  color:#5b5b5b; text-shadow: 1px 1px #ffffff; float:left;}
#createDir input[type="submit"]:hover { display:block;  height: 43px; line-height:43px; margin-right:15px;padding-right:10px; border: 0; padding-left:10px; font-family: Georgia, "Times New Roman", Times, serif; font-size:17px; font-weight:normal; width:167px;text-align:center;overflow:hidden; background: url('../img/v3/btn-big-grey-fixed-width.png') no-repeat;  cursor: pointer;  color:#5b5b5b; text-shadow: 1px 1px #ffffff;}
/*TRANSFER ITEMS FORM*/

.greyButton { display:block;  height: 43px; line-height:43px; border: 0; font-family: Georgia, "Times New Roman", Times, serif; font-size:17px; font-weight:normal; width:167px;text-align:center;overflow:hidden; background: url('../img/v3/btn-big-grey-fixed-widthh.png') no-repeat;  cursor: pointer;  color:#5b5b5b; text-shadow: 1px 1px #ffffff; float:left; text-decoration:none;}
.greyButton:hover { display:block;  height: 43px; line-height:43px; border: 0; font-family: Georgia, "Times New Roman", Times, serif; font-size:17px; font-weight:normal; width:167px;text-align:center;overflow:hidden; background: url('../img/v3/btn-big-grey-fixed-width.png') no-repeat;  cursor: pointer;  color:#5b5b5b; text-shadow: 1px 1px #ffffff; float:left; text-decoration:none;}


#typeHolder li {list-style: none;color:#666666;padding:3px 0 0;}
#transferItemForm h3{font-weight:normal;color:#666666;margin:7px 0;}
#transferItemForm .campaignTrans{margin-top:15px;}

.contactDetails {width:48%;}
.noteDetails {width:95%;}
.leadDetails {width:48%; float:right;}
#ajax-load .contactDetails h2 {color:#ee8600; font-size:32px; }
#ajax-load .contactDetails h4 {color: #333333; font-weight:normal; padding-bottom:10px;}
#ajax-load .contactDetails p {padding-bottom:10px;font-size:14px;color:#666666;}
#ajax-load .contactDetails a {color: #A8C0CA;}
#ajax-load .noteDetails h2 {color:#ee8600; font-size:32px; }
#ajax-load .noteDetails h4 {color: #333333; font-weight:normal; padding-bottom:10px;}
#ajax-load .noteDetails p {padding-bottom:10px;font-size:14px;color:#666666;}
#ajax-load .noteDetails a {color: #A8C0CA;}
#ajax-load .leadDetails h2 {color:#ee8600; font-size:22px; }
#ajax-load .leadDetails h4 {color: #333333; font-weight:normal; padding-bottom:10px;}
#ajax-load .leadDetails p {padding-bottom:10px;font-size:14px;color:#666666;}
#ajax-load .leadDetails a {color: #A8C0CA;}
.outer-rounded-box-bold {background:#ebebeb; padding:4px; margin-bottom:15px;}
.simple-rounded-box {padding:20px;border:1px solid #dddddd;background:#ffffff;}
.sugar_response {padding:10px; border:1px solid #009900;background:#00CC00; color:#FFFFFF;}

.error{color:red; font-weight: bold; padding: 15px;}
